{% extends "backend/template.twig" %}

{% block backend_css %}
    {{ parent() }}
    <!-- dataTables css -->
    {{ asset_css('daterangepicker/daterangepicker-bs3.css') | raw }}
    <style>
        .report{
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block backend_content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{# Set page title and subtitle manually #}
            Data Contact Us
            <small>Data Report</small>
        </h1>
        {# Also set breadcrumb manually #}
        <ol class="breadcrumb">
            <li><a href="{{ base_url() }}backend">Home</a></li>
            <li>Data Contact Us</li>
            <li class="active">Data Report</li>
        </ol>
    </section>
{% endblock %}

{% block backend_content %}

    {% if success_message | length > 0 %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ success_message | raw }}
        </div>
    {% endif %}

    {% if error_message | length > 0 %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error_message | raw }}
        </div>
    {% endif %}

    <form class="form-horizontal" accept-charset="utf-8" method="post" action="" role="form" name="frm_data_report" id="frm-data-report">
        <div class="form-group">
            <label for="data-from-to" class="col-sm-2 control-label">
                From - To
            </label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" name="data_from_to" id="data-from-to" class="form-control pull-right" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="button" class="btn btn-primary" id="get-registrant">Get Data</button>
            </div>
		</div>
    </form>
{% endblock %}

{% block backend_js %}
    {{ parent() }}
    <!-- DATA TABES SCRIPT -->
    {{ asset_js('plugins/daterangepicker/daterangepicker.js') | raw }}
    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $('#data-from-to').daterangepicker();
            $('#get-registrant').click(function(){
                $('#frm-data-report').submit();
            });
        } );
    </script>
{% endblock %}
