<!doctype html>
<html class="ie8">
<head>

    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/logo_aio.png" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/fa-icon/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        <link rel="stylesheet" href="{{ base_url() }}/assets/foundation-6.2.3/css/foundation.min.css">
        {{ asset_css('custom/style_new.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('vendor/jquery.min.js') | raw }}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <form style="margin-top: 50px; padding: 20px" action="{{ base_url()~current_lang }}/search">
                <div class="expanded row">
                    <input name="keyword" type="text" placeholder="Search">
                </div>
            </form>
            <!-- Menu -->
            <ul class="vertical dropdown menu" data-drilldown>
                <li><a class="{{ active_home }}" href="{{ base_url() }}"><i class="fa fa-home" style="font-size: 24px" aria-hidden="true"></i></a></li>
                <li>
                    <a class="{{ active_about }}" href="javascript:void(0);">{{ lang('menu_about') }}</a>
                    <ul class="vertical menu">
                        <li><a href="{{ base_url()~current_lang }}/about-us-new">{{ lang('menu_about') }}</a></li>
                        <li><a href="{{ base_url()~current_lang }}/about-us-new/history">{{ lang('menu_history') }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="{{ active_brand }}">Brand</a>
                    <ul class="vertical menu">
                        <li><a href="{{ base_url()~current_lang }}/brand-new/pocari-sweat">Pocari Sweat</a></li>
                        <li><a href="{{ base_url()~current_lang }}/brand-new/soyjoy">Soyjoy</a></li>
                        <li><a href="{{ base_url()~current_lang }}/brand-new/ionessence">Ionessence</a></li>
                    </ul>
                </li>
                <li><a href="{{ base_url()~current_lang }}/csr/shcb" class="{{ active_csr }}">CSR</a></li>
                <li><a href="{{ base_url()~current_lang }}/explorion-new">Explorion Tour</a></li>
                <li>
                    <a href="javascript:void(0);" class="{{ active_news }}" data-equalizer-watch="top-bar">{{ lang('menu_news') }}</a>
                    <ul class="vertical menu">
                        <li><a href="{{ base_url()~current_lang }}/news">{{ lang('menu_news') }}</a></li>
                        <li><a href="{{ base_url()~current_lang }}/press">{{ lang('menu_press') }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="{{ active_career }}">{{ lang('menu_career') }}</a>
                    <ul class="vertical menu">
                        <li><a href="{{ base_url()~current_lang }}/career-new">{{ lang('menu_join') }}</a></li>
                        <li><a href="{{ base_url()~current_lang }}/life-at-otsuka-new">Life at Amerta Indah Otsuka</a></li>
                    </ul>
                </li>
                <li><a href="{{ base_url()~current_lang }}/distributor-new" class="{{ active_dist }}">Distribution</a></li>
                <li><a href="{{ base_url()~current_lang }}/faq" data-equalizer-watch="top-bar" class="{{ active_faq }}">FAQ</a></li>
                <li><a href="{{ base_url()~current_lang }}/contact-us" data-equalizer-watch="top-bar" class="{{ active_contact }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="small-7 columns "><span class="title-bar-title"><a href="{{ base_url() }}"><img src="{{ base_url() }}/assets/css/images/logo-otsuka.jpg"/></a></span></div>
                <div class="small-5 columns">
                    <ul class="menu">
                        <li data-equalizer-watch="top-bar">
                            <ul class="lang">
                                {% for lang_item in valid_lang %}
                                    {% if(current_lang == lang_item.class) %}
                                        <li><a class="active" href="{{ lang_item.link }}"><img src="{{ base_url() }}{{ lang_item.icon }}"/></a></li>
                                    {% else %}
                                        <li><a href="{{ lang_item.link }}"><img src="{{ base_url() }}{{ lang_item.icon }}"/></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <label>{{ lang('menu_lang') }}</label>
                        </li>
                    </ul>
                    <button class="menu-icon" type="button" data-open="offCanvas"></button>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="top-bar show-for-large" data-equalizer="top-bar">
                <div class="top-bar-title" data-equalizer-watch="top-bar"><a href="{{ base_url() }}"><img src="{{ base_url() }}/assets/css/images/logo-otsuka.jpg" alt="Logo Otsuka"/></a></div>
                <div class="top-bar-left" data-equalizer-watch="top-bar">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a class="{{ active_home }}" href="{{ base_url() }}" data-equalizer-watch="top-bar"><i class="fa fa-home" style="font-size: 24px" aria-hidden="true"></i></a></li>
                        <li>
                            <a class="{{ active_about }}" href="javascript:void(0);" data-equalizer-watch="top-bar">{{ lang('menu_about') }}</a>
                            <ul class="menu">
                                <li><a href="{{ base_url()~current_lang }}/about-us-new">{{ lang('menu_about') }}</a></li>
                                <li><a href="{{ base_url()~current_lang }}/about-us-new/history">{{ lang('menu_history') }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="{{ active_brand }}" href="javascript:void(0);" data-equalizer-watch="top-bar">Brand</a>
                            <ul class="menu">
                                <li><a href="{{ base_url()~current_lang }}/brand-new/pocari-sweat">Pocari Sweat</a></li>
                                <li><a href="{{ base_url()~current_lang }}/brand-new/soyjoy">Soyjoy</a></li>
                                <li><a href="{{ base_url()~current_lang }}/brand-new/ionessence">Ionessence</a></li>
                            </ul>
                        </li>
                        <li><a class="{{ active_csr }} " href="{{ base_url()~current_lang }}/csr/shcb" data-equalizer-watch="top-bar">Csr</a></li>
                        <li><a class="{{ active_explorion}} " href="{{ base_url()~current_lang }}/explorion-new" data-equalizer-watch="top-bar">Explorion Tour</a></li>
                        <li>
                            <a class="{{ active_news}} " href="javascript:void(0);" data-equalizer-watch="top-bar">{{ lang('menu_news') }}</a>
                            <ul class="menu">
                                <li><a href="{{ base_url()~current_lang }}/news">{{ lang('menu_news') }}</a></li>
                                <li><a href="{{ base_url()~current_lang }}/press">{{ lang('menu_press') }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="{{ active_career }} " href="javascript:void(0);" data-equalizer-watch="top-bar">{{ lang('menu_career') }}</a>
                            <ul class="menu">
                                <li><a href="{{ base_url()~current_lang }}/career-new">{{ lang('menu_join') }}</a></li>
                                <li><a href="{{ base_url()~current_lang }}/life-at-otsuka-new">Life at Amerta Indah Otsuka</a></li>
                            </ul>
                        </li>
                        <li><a class="{{ active_dist }} " href="{{ base_url()~current_lang }}/distributor-new" data-equalizer-watch="top-bar">{{ lang('menu_distribution') }}</a></li>
                        <li><a class="{{ active_faq }} " href="{{ base_url()~current_lang }}/faq" data-equalizer-watch="top-bar">FAQ</a></li>
                        <li><a class="{{ active_contact }} " href="{{ base_url()~current_lang }}/contact-us" data-equalizer-watch="top-bar">{{ lang('menu_contact') }}</a></li>
                    </ul>
                </div>
                <div class="top-bar-right" data-equalizer-watch="top-bar">
                    <ul class="menu">
                        <li data-equalizer-watch="top-bar">
                            <ul class="lang">
                                {% for lang_item in valid_lang %}
                                    {% if(current_lang == lang_item.class) %}
                                        <li><a class="active" href="{{ lang_item.link }}"><img src="{{ base_url() }}{{ lang_item.icon }}"/></a></li>
                                    {% else %}    
                                        <li><a href="{{ lang_item.link }}"><img src="{{ base_url() }}{{ lang_item.icon }}"/></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <label>{{ lang('menu_lang') }}</label>
                        </li>
                        <li class="search" data-equalizer-watch="top-bar">
                            <button class="button float-left" type="button" data-toggle="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <label>{{ lang('menu_search') }}</label>
                            <div class="dropdown-pane bottom" id="search" data-dropdown data-auto-focus="true">
                                <form action="{{ base_url()~current_lang }}/search">
                                    <div class="expanded row">
                                        <input name="keyword" type="text" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% block frontend_content %}
            {% endblock %}
            <footer class="footer" data-equalizer="footer" data-equalize-on="large">
                <div class="row expanded">
                    <div class="large-3 large-push-5 columns social-media" data-equalizer-watch="footer">
                        <div class="row">
                            <p>{{ lang('foot_follow') }}</p>
                            <ul class="menu">
                                <li><a href="https://twitter.com/Otsuka_AIO"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/OtsukaAIOCompany/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/678286"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/otsuka_aio/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="large-4 large-push-5 columns foot-link" data-equalizer-watch="footer">
                        <div class="row">
                            <div class="menu-centered">
                                <ul class="menu">
                                    <li><a href="#">{{ lang('foot_pvp') }}</a></li>
                                    <li>|</li>
                                    <li><a href="">{{ lang('foot_tnc') }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="large-5 large-pull-7 columns copyright" data-equalizer-watch="footer">
                        <div class="row">
                            <p>Otsuka &copy; Copyright 2016. All Right Reserved.</p>
                            <p>Client Logos are copyright and trademark of the respective owners / companies.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

{% block frontend_js %}
    <script src="{{ base_url() }}/assets/foundation-6.2.3/js/vendor/foundation.min.js"></script>
    <script src="{{ base_url() }}/assets/foundation-6.2.3/js/app.js"></script>
    <script type="text/javascript">
        $(".cbp-hrmenu > li").hover(
                function(){
                    $(this).addClass("cbp-hropen");
                },function(){
                    $(this).removeClass("cbp-hropen");
                }
        );

    </script>
{% endblock %}
</body>
</html>
