<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ base_url() }}assets/css/images/logo_aio.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {% block frontend_css %}
        {{ asset_css('custom/normalize.css') | raw }}
        {{ asset_css('custom/foundation.css') | raw }}
        {{ asset_css('custom/motion-ui.css') | raw }}
        {{ asset_css('custom/foundation-icons/foundation-icons.css') | raw }}
        {{ asset_css('custom/style.css') | raw }}
    {% endblock %}
    {% block frontend_head_js %}
        {{ asset_js('vendor/jquery.min.js') | raw }}
        {{ asset_js('modernizr.js') }}
    {% endblock %}
    {% block frontend_meta_twitter %}
    {% endblock %}
    {% block frontend_meta_facebook %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="hide-for-small-only" data-sticky-container>
    <div class="sticky is-stuck">
        <div class="header">
            <div class="top-header" data-equalizer="top-item">
                <div class="large-7 small-7 columns" data-equalizer-watch="top-item">
                    <div data-equalizer="left-top">
                        <div class="small-3 columns" data-equalizer-watch="left-top">
                            <a href="{{ base_url() }}"><img class="main-logo" src="{{ base_url() }}/assets/css/images/logo-otsuka.png"/></a>
                        </div>
                        <div class="small-2 columns" data-equalizer-watch="left-top">
                            <ul class="vertical medium-horizontal menu top-menu">
                                <li>
                                    <ul class="dropdown menu lang" style="width: 66px!important;" data-dropdown-menu>
                                        <li>
                                            <a href="javascript:">{{ valid_lang[current_lang].label }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                            <ul class="menu">
                                                {% for main_menu in valid_lang  if not main_menu.active %}
                                                    <li><a href="{{ main_menu.link }}">{{ main_menu.label }}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="large-5 small-5 columns" data-equalizer-watch="top-item">
                    <ul class="vertical medium-horizontal menu top-menu">
                        <li><a href="https://www.facebook.com/OtsukaAIOCompany/" target="_blank"><img src="{{ base_url() }}assets/css/images/fb_icon.png"/></a></li>
                        <li><a href="https://twitter.com/Otsuka_AIO" target="_blank"><img src="{{ base_url() }}assets/css/images/twit_icon.png"/></a></li>
                        <li><a href="https://www.linkedin.com/company/pt-amerta-indah-otsuka" target="_blank"><img src="{{ base_url() }}/assets/css/images/in_icon.png"/></a></li>
                        <li><a href="https://www.instagram.com/otsuka_aio/" target="_blank"><img src="{{ base_url() }}/assets/css/images/insta-icon.png"></a> </li>
                        <li><a href="{{ base_url }}contact-us">Contact&nbsp;&&nbsp;Address</a></li>
                        <li>
                            <form class="navbar-form hidden-for-small-only" role="search" action="{{ base_url()~current_lang }}/search" id="form-search-product">
                                <div>
                                    <div class="row collapse">
                                        <input class="search" name="keyword" type="text" placeholder="Search" id="txt-search-keyword">
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="bottom-header" data-equalizer="bottom-item">
                <div class="large-7 small-7 columns" data-equalizer-watch="bottom-item">
                    <ul class="dropdown menu bottom-menu" data-dropdown-menu>
                        <li><a href="{{ base_url() }}{{ current_lang }}/home"><img src="{{ base_url() }}/assets/css/images/icon-home.jpg" class="menu-home"> </a> </li>
                        <li>
                            ABOUT
                            <ul class="menu">
                                <li><a href="{{ base_url() }}{{ current_lang }}/about-us">ABOUT US</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/awards-and-certificates">AWARDS & CERTIFICATES</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">HISTORY</a></li>
                            </ul>
                        </li>
                        <li>
                            BRAND
                            <ul class="menu">
                                <li><a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat">POCARI SWEAT</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy">SOYJOY</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/brand/ionessence">IONESSENCE</a></li>
                            </ul>
                        </li>
                        <li>
                            CSR
                            <ul class="menu">
                                <li><a href="{{ base_url() }}{{ current_lang }}/csr/cerdaskan-bangsa">SATU HATI CERDASKAN BANGSA</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/csr/peduli-lingkungan">SATU HATI PEDULI LINGKUNGAN</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/csr/sehatkan-bangsa">SATU HATI SEHATKAN BANGSA</a></li>
                            </ul>
                        </li>
                        <li>
                            EXPLORION TOUR
                            <ul class="menu">
                                <li><a href="{{ base_url() }}{{ current_lang }}/explorion-advanture">EXPLORION ADVENTURE</a></li>
                                <li><a href="{{ base_url() }}{{ current_lang }}/factory-tour">FACTORY TOUR</a> </li>
                            </ul>
                        <li><a href="{{ base_url() }}{{ current_lang }}/our-event">PRESS ROOM</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/career">CAREER</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/distribution">DISTRIBUTION</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="large-5 small-5 columns" data-equalizer-watch="bottom-item">
                    Otsuka-people creating new products<br/>
                    for better health worldwide
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <div class="logo-mobile">
                <a href="{{ base_url() }}">
                    <img src="{{ base_url() }}/assets/css/images/logo-otsuka.jpg"/>
                </a>
            </div>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="menu medium-horizontal">
                <li><a href="https://www.facebook.com/OtsukaAIOCompany/" target="_blank"><img src="{{ base_url() }}assets/css/images/fb_icon.png"/></a></li>
                <li><a href="https://twitter.com/Otsuka_AIO" target="_blank"><img src="{{ base_url() }}assets/css/images/twit_icon.png"/></a></li>
                <li><a href="https://www.linkedin.com/company/pt-amerta-indah-otsuka" target="_blank"><img src="{{ base_url() }}/assets/css/images/in_icon.png"/></a></li>
                <li><a href="https://www.instagram.com/otsuka_aio/" target="_blank"><img src="{{ base_url() }}/assets/css/images/insta-icon.png"></a> </li>
                <li><a href="{{ base_url }}contact-us">Contact&nbsp;&&nbsp;Address</a></li>
                <li>
                    <ul class="dropdown menu lang" style="width: 66px!important;" data-dropdown-menu>
                        <li>
                            <a href="javascript:">{{ valid_lang[current_lang].label }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <ul class="menu">
                                {% for main_menu in valid_lang  if not main_menu.active %}
                                    <li><a href="{{ main_menu.link }}">{{ main_menu.label }}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="vertical menu" data-drilldown>
                <li class="dropdown">
                    <a href="{{ base_url() }}{{ current_lang }}/about-us">ABOUT</a>
                    <ul class="vertical menu nested">
                        <li><a href="{{ base_url() }}{{ current_lang }}/about-us">ABOUT US</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/about-us/awards-and-certificates">AWARDS & CERTIFICATES</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">HISTORY</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ base_url() }}{{ current_lang }}/brand">BRAND</a>
                    <ul class="vertical menu nested">
                        <li><a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat">POCARI SWEAT</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy">SOYJOY</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/brand/ionessence">IONESSENCE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ base_url() }}{{ current_lang }}/csr">CSR</a>
                    <ul class="vertical menu nested">
                        <li><a href="{{ base_url() }}{{ current_lang }}/csr/cerdaskan-bangsa">SATU HATI CERDASKAN BANGSA</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/csr/peduli-lingkungan">SATU HATI PEDULI LINGKUNGAN</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/csr/sehatkan-bangsa">SATU HATI SEHATKAN BANGSA</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ base_url() }}{{ current_lang }}/explorion-advanture">EXPLORION TOUR</a>
                    <ul class="vertical menu nested">
                        <li><a href="{{ base_url() }}{{ current_lang }}/explorion-advanture">EXPLORION ADVENTURE</a></li>
                        <li><a href="{{ base_url() }}{{ current_lang }}/factory-tour">FACTORY TOUR</a> </li>
                    </ul>
                <li>
                
                <li><a href="{{ base_url() }}{{ current_lang }}/our-event">PRESS ROOM</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/career">CAREER</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/distribution">DISTRIBUTION</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/faq">FAQ</a></li>
            </ul>
            <div style="height: 20px;"></div>

        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar show-for-small-only">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="offCanvas"></button>
                    <span class="title-bar-title"><a href="{{ base_url() }}">Otsuka</a></span>
                </div>
                <form class="navbar-form hidden-for-small-only" role="search" action="{{ base_url()~current_lang }}/search" id="form-search-product">
                    <div>
                        <div class="row collapse">
                            <input class="search" name="keyword" type="text" placeholder="Search" id="txt-search-keyword">
                        </div>
                    </div>
                </form>
            </div>
            {#custom content#}
            <div class="custom-content">
                {% block frontend_content %}
                    {% block back_to_top %}
                        <div class="scroll-top-wrapper ">
                        <span class="scroll-top-inner">
                        </span>
                        </div>
                    {% endblock back_to_top %}
                {% endblock %}
            </div>
            {#end custom content#}
            <div data-equalizer="footer" data-equalize-on="medium">
                <div class="large-9 columns footer" data-equalizer-watch="footer">
                    PT Amerta Indah Otsuka &copy; Copyright {{ "now"|date("Y") }}. All rights reserved.<br/>
                    <span> Client Logos are copyright and trademark of the respective owners / companies.</span>
                </div>
                <div class="large-3 columns footer" data-equalizer-watch="footer">
                    <a href="{{ base_url() }}{{ current_lang }}/policy/">Privacy Policy</a> |
                    <a href="{{ base_url() }}{{ current_lang }}/term-of-use">Term Of Use</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% block frontend_js %}
    {{ asset_js('motion-ui.js') | raw }}
    {{ asset_js('foundation.js') | raw }}
    {{ asset_js('app.js') | raw }}
    <script type="text/javascript">
        {% block back_to_top_js %}
            $(function(){
                $(document).on( 'scroll', function(){
                    if ($(window).scrollTop() > 200) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });
                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
</body>
</html>

