{% extends "backend/template.twig" %}

{% block backend_css %}
    {{ parent() }}
    <!-- dataTables css -->
    {{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>{# Set page title and subtitle manually #}
        Newsletter
        <small>Broadcast List</small>
    </h1>
    {# Also set breadcrumb manually #}
    <ol class="breadcrumb">
        <li><a href="{{ base_url() }}backend">Home</a></li>
        <li><a href="{{ base_url() }}backend/newsletter/broadcast">Newsletter</a></li>
        <li class="active">Broadcast List</li>
    </ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ error_message | raw }}
</div>
{% endif %}
<div class="box box-solid">
    <div class="box-body text-right">
        <a href="{{ base_url() }}backend/newsletter/broadcast/add">
            <button class="btn btn-default">Create</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="table-newsletter-broadcasts" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for broadcast in broadcast_list %}
                <tr>
                    <td>{{ broadcast.id }}</td>
                    <td>{{ broadcast.email }}</td>
                    <td>{{ broadcast.title }}</td>
                    <td>{{ broadcast.date }}</td>
                    <td>{{ broadcast.content }}</td>
                    <td>{{ broadcast.get_status_name() }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ base_url() }}backend/newsletter/broadcast/send/{{ broadcast.id }}">Send</a></li>
                                <li><a href="{{ base_url() }}backend/newsletter/broadcast/edit/{{ broadcast.id }}">Edit</a></li>
                                <li><a class="btn-delete" data-url-delete="{{ base_url() }}backend/newsletter/broadcast/delete/{{ broadcast.id }}" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- custom script -->
	<script type="text/javascript">
		$(function() {
			$("#table-newsletter-broadcasts").dataTable( {
				"aoColumns": [ 
					null,
					null,
					null,
					null,
					{ "bSearchable": false, "bSortable": false }
				]
			} );
		} );
	</script>
	<!-- Dialog Confirmation Script -->
	{{ asset_js('backend-dialog.js') | raw }}
	<script type="text/javascript">
		jQuery('#table-newsletter-broadcasts').on('click', '.btn-delete', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-delete');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to delete this?', yes_callback);
		});
        jQuery('#table-newsletter-broadcasts').on('click', '.btn-rearrange', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-rearrange');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to rearrange from this?', yes_callback);
		});
	</script>
{% endblock %}