{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/csr.css') | raw }}
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    {% include "template_csr.twig" %}
    <div class="csr-content">
        <div class="padding-custom"></div>
            <div class="row" data-equalizer="csr-activity-list">
                {% for activity in activities %}
                <div class="large-6 small-12 columns csr-padding {{ loop.last ? 'end' : '' }}">
                    <div class="csr-item" data-equalizer-watch="csr-activity-list">
                        <img src="{{ base_url()~activity.get_image_path()~'media/csr/thumbnail/'~activity.image }}" alt="{{ activity.title }}" /><br/>
                        <div class="csr-content-item">
                            <span class="csr-date">{{ activity.date | date('d F Y') }}</span><br/>
                            <span class="csr-item-title">{{ activity.title }}</span><br/>
                            <div class="csr-text">{{ activity.highlight }}</div>
                            <div class="read-more"><a href="{{ base_url()~current_lang~'/csr/detail/'~activity.slug }}">Read more..</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {#<div class="padding-custom"></div>
            <div class="pagination">
                <ul class="csr-pagination">
                    <li class="first"><a href="#">&lt; First</a></li>
                    <li class="page"><a href="#">1</a></li>
                    <li class="page"><a href="#">2</a></li>
                    <li class="page"><a href="#">3</a></li>
                    <li class="page"><a href="#">4</a></li>
                    <li class="page active"><a href="#">5</a></li>
                    <li class="page"><a href="#">6</a></li>
                    <li class="page"><a href="#">7</a></li>
                    <li class="page"><a href="#">8</a></li>
                    <li class="page"><a href="#">9</a></li>
                    <li class="page"><a href="#">...</a></li>
                    <li class="page"><a href="#">20</a></li>
                    <li class="page"><a href="#">21</a></li>
                    <li class="last"><a href="#">Last &gt;</a></li> 
                </ul>                
            </div>
            <div class="padding-custom"></div>#}
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}