{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/csr.css') | raw }}
{% endblock %}
{% block frontend_meta_twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ meta_title }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
    <meta name="twitter:url" content="{{ current_url() }}" />
    <meta name="twitter:image" content="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" />
{% endblock %}
{% block frontend_meta_facebook %}
    <meta property="og:url"           content="{{ current_url() }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ meta_title }}" />
    <meta property="og:description"   content="{{ meta_desc }}" />
    <meta property="og:image"         content="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" />
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    <div class="csr-detail">
        <div class="row">
            <div class="large-12 columns">
                <h4 class="title">{{ detail_data.title }}</h4>
                <div class="posted">
                    Posted on {{ detail_data.date | date('F d, Y') }}
                </div>
                <div class="row">
                    <div class="large-10 large-centered columns banner">
                        <img src="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" />
                    </div>
                </div>
                <div class="csr-text-detail">
                    {{ detail_data.content }}
                </div>
                <div class="text-share">
                    Share this article...<br>
                    <div class="row">
                        <div class="large-2 large-centered columns">
                            <div class="small-6 columns">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ current_url() }}" data-text="{{ meta_title }} - {{ meta_desc }}">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                            <div class="small-6 columns fb">
                                <div id="fb-root"></div>
                                <script>
                                    (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                                <div class="fb-share-button" data-href="{{ current_url() }}" data-layout="button_count"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}