{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/csr_new.css') | raw }}
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    <div class="csr-content">
        {% include "template_csr_new.twig" %}
        <div class="row">
            <div class="columns csr-description">
            <p class="title">SATU HATI PEDULI LINGKUNGAN</p>
            <div style="border-bottom: 1px solid #ced2d6"></div>
                <div class="sub-title">
                    <p>Keadaan alam memberikan pengaruh yang besar pada kehidupan manusia. Melihat kenyataan ini, PT Amerta Indah Otsuka ikut memikul tanggung jawab dalam pelestarian lingkungan alam demi terbangunnya kehidupan yang lebih bermutu.</p>
                </div>
                <div class="banner-csr"><img src="{{ base_url() }}/assets/img/csr-new/satu-hati-peduli-lingkungan.jpg"/></div>
            </div>
            <div class="columns">
                <div class="desc-text">
                    <div class="sub-title-program">
                        <p>{{ lang('txt_csr01') }}</p>
                    </div>
                    <p>{{ lang('txt_csr02') }}</p>
                    <div class="sub-title-program">
                        <p>{{ lang('txt_csr03') }}</p>
                    </div>
                    <p>{{ lang('txt_csr04') }}</p>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}