{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/csr_new.css') | raw }}
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    <div class="csr-content">
        {% include "template_csr_new.twig" %}

        <div class="row">
            <div class="columns csr-description">
            <p class="title">SATU HATI CERDASKAN BANGSA</p>
            <div style="border-bottom: 1px solid #ced2d6"></div>
                <div class="sub-title">
                    <p>Pendidikan adalah pilar dasar pembangunan bangsa. PT Amerta Indah Otsuka berupaya untuk  turut meningkatkan kualitas hidup masyarakat melalui Yayasan Satu Hati Cerdaskan Bangsa.</p>
                </div>
                <div class="banner-csr"><img src="{{ base_url() }}/assets/img/csr-new/satu-hati-cerdaskan-bangsa.png"/></div>
            </div>
            <div class="columns">
                <div class="desc">
                    <div class="desc-text">
                        <p>Bagi PT Amerta Indah Otsuka pendidikan merupakan modal utama dalam pembentukan Sumber Daya Manusia (SDM) yang berkualitas dan memiliki daya saing global. Otsuka-people creating new products for better health worldwide merupakan filosofi perusahaan dimana kami selalu berkomitmen untuk menghasilkan produk inovatif yang memberikan manfaat  kesehatan bagi masyarakat. Hal ini menjadi landasan kegiatan Corporate Social Responsibility PT. Amerta Indah Otsuka untuk peduli di bidang kesehatan, pendidikan dan lingkungan masyarakat Indonesia.</p>
                        <div class="sub-title-program">
                            <p>Perpustakaan Satu Hati Cerdaskan Bangsa</p>
                        </div>
                        <p>PT Amerta Indah Otsuka berkontribusi dalam meningkatkan kualitas pendidikan di Indonesia dengan membangun 28 perpustakaan dengan lebih dari 124.000 buku yang tersebar mulai dari Sumatera hingga Papua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}