{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/csr_new.css') | raw }}
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    <div class="csr-content">
        {% include "template_csr_new.twig" %}

        <div class="row">
            <div class="columns csr-description">
            <p class="title">SATU HATI SEHATKAN BANGSA</p>
            <div style="border-bottom: 1px solid #ced2d6"></div>
            <div class="columns csr-description">
                <div class="sub-title">
                    <p>PT Amerta Indah Otsuka berkomitmen untuk mengembangkan program – program guna menciptakan kesehatan masyarakat yang lebih baik.</p>
                </div>
                <div class="banner-csr"><img src="{{ base_url() }}/assets/img/csr-new/demam-berdarah.png"/></div>
            </div>
            <div class="columns">
                <div class="desc-text">
                    <div class="sub-title-program">
                        <p>{{ lang('txt_csr05') }}</p>
                    </div>
                    <p>{{ lang('txt_csr06') }}</p>
                    <div class="sub-title-program">
                        <p>{{ lang('txt_csr07') }}</p>
                    </div>
                    <p>{{ lang('txt_csr08') }}</p>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}