{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/main.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <section class="herosub" style="background-image: url('{{ base_url() }}assets/img/banner-csr-shcb.jpg')">
        <div class="container">
            <h2 class="herosub-title"><span>{{ lang('csr_title') }} </span></h2>
        </div>

        <article class="herosub-text">
            <h2>SATU HATI </h2>
            <p>{{ lang('sh') }}</p>
        </article>

        <div class="csr-nav">
            <ul>
                <li>
                    <a href="{{ base_url()~current_lang }}/csr/shcb" class="active"><img src="{{ base_url() }}assets/img/icon-csr-1.png" alt=""></a>
                </li>
                <li>
                    <a href="{{ base_url()~current_lang }}/csr/shpl"><img src="{{ base_url() }}assets/img/icon-csr-2.png" alt=""></a>
                </li>
                <li>
                    <a href="{{ base_url()~current_lang }}/csr/shsb"><img src="{{ base_url() }}assets/img/icon-csr-3.png" alt=""></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- //hersub -->

    <div id="main" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 section-csr">
                    <h3 class="title-xs text-uppercase">{{ lang('shcb_main_title') }}</h3>
                    <p>{{ lang('shcb_first_paragraph') }}</p>
                    <p>{{ lang('shcb_second_paragraph') }}</p>
                    <div class="space45"></div>
                    <h4 class="title-xs text-uppercase">{{ lang('shcb_title') }}</h4>
                    <div class="space20"></div>
                {% for activity in activities %} 
                {% if activity.category == '0' %}
                    <article class="post-item">
                        <figure>
                            <img src="{{ base_url() }}media/csr/{{ activity.image }}" alt="">
                        </figure>
                        <div class="desc">
                            <h4 class="title-xs">{{ activity.title }}</h4>
                            <p>{{ activity.content }}</p>
                        </div>
                    </article>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/libs.min.js') | raw }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4b1bKwY-EX4Jl46J4eNz83Te-g8okhgY&callback=initMap"></script>
    {{ asset_js('custom/global.js') | raw }}
{% endblock %}
