<div class="columns no-padding banner animatedParent">
    <img src="{{ base_url() }}/media/csr/otsuka-csr.jpg">
    <div class="medium-4 small-8 columns banner-desc animated fadeInUp">
        <p class="title">Corporate<br/>social<br/>responsibility</p>
        <div style="border-bottom: 1px solid #bdbdbd; margin: 10px auto"></div>
        <p class="desc">{{ lang('txt_csr') }}</p>
    </div>
</div>
<div class="row">
    <div class="columns devider">
        <img src="{{ base_url() }}/assets/img/csr-new/icon-devider.jpg">
    </div>
    <div class="columns csr-menu">
        <div class="medium-4 small-4 columns each-menu {{ active_cerdaskan_bangsa }}">
            <a href="{{ base_url() }}{{ current_lang }}/csr/cerdaskan-bangsa">
                <img src="{{ base_url() }}/assets/img/csr-new/icon-satu-hati-cerdaskan-bangsa.jpg"/>
            </a>
            <div class="hr"></div>
        </div>
        <div class="medium-4 small-4 columns each-menu {{ active_peduli_lingkungan }}">
            <a href="{{ base_url() }}{{ current_lang }}/csr/peduli-lingkungan">
                <img src="{{ base_url() }}/assets/img/csr-new/icon-satu-hati-peduli-lingkungan.jpg"/>
            </a>
            <div class="hr"></div>
        </div>
        <div class="medium-4 small-4 columns each-menu {{ active_sehatkan_bangsa }}">
            <a href="{{ base_url() }}{{ current_lang }}/csr/sehatkan-bangsa">
                <img src="{{ base_url() }}/assets/img/csr-new/icon-satu-hati-sehatkan-bangsa.jpg"/>
            </a>
            <div class="hr"></div>
        </div>
    </div>
    <div class="columns csr-title">
        <div style="border-bottom: 1px solid #ced2d6"></div>
    </div>
</div>