<div class="csr">
    <div class="banner-csr">
        {{ csr_banner }}
        <div class="title-page">
                <p>CORPORATE<br/>
                    SOCIAL<br/>
                    RESPONSIBILITY</p>
                <hr/>
            {#<hr/>#}
            {#<div class="csr-lead">#}
                {#PT Amerta Indah Otsuka melalui yayasan <strong>Satu Hati</strong> mewujudkan kepedulian terhadap pendidikan dan lingkungan sebagai salah satu bentuk tanggung jawab sosial PT Amerta Indah Otsuka terhadap masyarakat dan alam.#}
            {#</div>#}
        </div>
    </div>
    {#<div class="sort-by">#}
        {#<div class="row">#}
            {#<div class="large-6 large-offset-3 columns csr-filter">#}
                {#<div class="large-2 small-3 columns sort">#}
                    {#Sort by:#}
                {#</div>#}
                {#<div class="large-2 small-3 columns sort">#}
                    {#View All#}
                {#</div>#}
                {#<div class="large-4 small-3 columns">#}
                    {#<a href="#"><img src="{{ base_url() }}assets/img/csr/satu-hati.png"/></a>#}
                {#</div>#}
                {#<div class="large-4 small-3 columns">#}
                    {#<a href="#"><img src="{{ base_url() }}assets/img/csr/satu-hati-peduli-lingkungan.png"/></a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>