{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/factory.css') | raw }}
{% endblock %}
 {% block frontend_head_js %}
     {{ parent() }}
 {% endblock %}
{% block frontend_content %}
    <div class="factory">
        <div class="banner animatedParent">
            <img data-interchange="[{{ base_url() }}assets/img/factory-tour/factory-banner-small.jpg, small], [{{ base_url() }}assets/img/factory-tour/factory-banner-medium.jpg, medium], [{{ base_url() }}assets/img/factory-tour/factory-banner.jpg, large]">
            <div class="banner-desc animated fadeInUpShort">
                <p>FACTORY TOUR</p>
                <hr/>
            </div>
        </div>
        <div class="row factory-detail" data-equalizer="factory-detail">
            <div class="medium-4 columns" data-equalizer-watch="factory-detail">
                <div class="medium-10 end columns">
                {% for sideimage in factory_sideimages %}
                    <div class="medium-12 columns factory-gallery"><img src="{{ base_url() }}media/factorytour/{{ sideimage.filename }}"> </div>
                {% endfor %}    
                </div>
            </div>
            <div class="medium-8 columns" style="padding-right: 1.875rem;">
                <div class="desc" data-equalizer-watch="factory-detail">
                {% for data in factory_data %}
                    <p>{{ data.title }}</p>
                    <p>{{ data.content }}</p>
                    <div class="youtube">
                        <iframe width="770" height="433" src="{{ data.link }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row explorion custom-padd animatedParent" data-sequence="500">
            <div class="medium-6 columns animated fadeInUp" data-id="1">
                <img src="{{ base_url() }}/assets/img/factory-tour/explorion-new.jpg">
            </div>
            <div class="medium-6 columns animated fadeInUp" data-id="2">
                <div class="title">
                    <p>EXPLORION<br/>
                    <span>Kunjungan pabrik interaktif dari PT Amerta Indah Otsuka</span></p>
                </div>
                <div style="border-bottom: 1px solid #657079; margin-bottom: 20px"></div>
                <div class="desc">
                    <p>PT. Amerta Indah Otsuka, memperkenalkan kembali konsep kunjungan pabrik terbarunya. Dengan konsep edutainment, menghadirkan pengalaman kunjungan pabrik yang inovatif dan interaktif bagi masyarakat dan juga menggunakan konsep factory tour yang berbeda dari program kunjungan pabrik pada umumnya yaitu dengan konsep digital dan teknologi terkini yang mengoptimalkan menggunakan peranti digital dan teknologi 4D</p>
                </div>
                <a href="http://explorion.aio.co.id/" class="button">Lihat Selengkapnya</a>
            </div>
        </div>
        <div class="row visiting-form custom-padd">
            <div  class="title">
                <hr/>
                <p>VISITING</p>
                <p>FORM</p>
            </div>
            <div class="visiting-detail">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title  is-active"><a href="#panel1" aria-selected="true">SYARAT & KETENTUAN</a></li>
                    <li class="tabs-title"><a href="#panel2">FORMULIR PENDAFTARAN</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel1">
                        <ol>
                            <li>Factory tour terbuka untuk sekolah, universitas, ataupun institusi lainnya, pengunjung minimum kelas 3 sekolah dasar.</li>
                            <li>Pengunjung sehat, tidak terkena penyakit dan suhu tubuh tidak melebihi 37.50C ketika berkunjung.</li>
                            <li>Proses produksi sewaktu-waktu dapat berhenti maka proses produksi tidak dapat diperlihatkan secara langsung namun hanya diperlihatkan melalui video. </li>
                            <li>Bus dapat dipersiapkan untuk grup dengan kapasitas 21 orang berdasarkan permintaan (jadwal disesuaikan).</li>
                            <li>Waktu berkunjung:</li>
                            <li>Pabrik Kejayan: Senin s/d Jum'at Pagi: pk. 09-00 - pk.12.00</li>
                            <li>Pabrik Sukabumi: Senin s/d Jum'at Pagi: pk. 09-00 - pk.12.00</li>
                            <li>Siang: pk. 13.00 - 15.00 (khusus Hari Senin hanya ada kunjungan siang)</li>
                            <li>(Sabtu/Minggu/Hari libur tidak menerima kunjungan).</li>
                            <li>Waktu yang diperlukan untuk berkunjung tidak lebih dari 90 menit.</li>
                            <li>Kapasitas pengunjung min 20 orang max 100 orang.</li>
                            <li>Pengunjung berpakaian rapi dan sopan dan tidak menggunakan sandal.</li>
                            <li>Ketersediaan tanggal dan jam kunjungan yang telah anda ajukan sebelumnya, akan kami konfirmasikan terlebih dahulu. Apa bila jam dan tanggal tidak tersedia, Anda bisa mengubah tanggal dan jam tersebut untuk menyesuaikan.</li>
                        </ol>
                        <p style="color: #ff6900;background: #263a54;display: inline-block;padding: 10px 20px 10px 60px;margin-left: -27px">Pada saat berkunjung, pengunjung di mohon untuk:</p>
                        <ol>
                            <li>Tidak merokok di dalam lingkungan pabrik.</li>
                            <li>Tidak membuang sampah di sembarangan tempat.</li>
                            <li>Tidak mengambil foto/video di koridor proses produksi.</li>
                            <li>Mengikuti petunjuk pemandu selama kunjungan demi menjamin keselamatan pengunjung.</li>
                            <li>Tidak membawa turun dari bus makanan dan minuman ke dalam lingkungan pabrik.</li>
                        </ol>
                    </div>
                    <div class="tabs-panel" id="panel2">
                        <div class="row">
                            <div class="medium-8 columns">
                                <form role="form" id="registration-form" enctype="multipart/form-data" action="" name="registration-form" method="POST">
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Kunjungan ke</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input type="radio" data-id="sukabumi"  name="registration_factory" value="pabrik-sukabumi" id="kunjungan-pabrik-sukabumi"><label for="kunjungan-pabrik-sukabumi">Pabrik Sukabumi</label>
                                            <input type="radio" data-id="kejayaan" name="registration_factory" value="pabrik-kejayaan" id="kunjungan-pabrik-kejayaan"><label for="kunjungan-pabrik-kejayaan">Pabrik Kejayaan</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Nama Lengkap</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input name="registration_name" type="text" placeholder="Nama Lengkap">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Nama Institusi</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input name="registration_institution" type="text" placeholder="Nama Institusi">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Jumlah Peserta</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input id="visitor" name="registration_registrant" type="number" placeholder="Jumlah peserta 20-100" min="20" max="100">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">Alamat</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <textarea name="registration_address" rows="2" name="alamat" class="large-12 columns" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">No Telephone & Hp</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <div class="small-6 columns no-padd">
                                                <input name="registration_landline" id="landline" type="tel" placeholder="Tel">
                                            </div>
                                            <div class="small-6 columns no-padd">
                                                <input name="registration_mobile" id="mobile" type="tel" placeholder="Hp" style="float: right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Email</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input name="registration_email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="yourname@yourdomain.com">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">Pesan & Keterangan</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <textarea rows="2" name="registration_message" class="large-12 columns" placeholder="Pesan & Keterangan"></textarea>
                                        </div>
                                    </div>
                                    <button>SEND</button>
                                </form>
                            </div>
                            <div class="medium-4 columns">
                                <div id="sukabumi" class="map">
                                    <p>Pabrik Sukabumi</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0061426754946!2d106.78043581436093!3d-6.262919963057403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1a626f1a6ad%3A0x29c9bb86aa9ebd5c!2sPT.+Amerta+Indah+Otsuka.+-+Head+Office!5e0!3m2!1sen!2sid!4v1455005532148" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div id="kejayaan" class="map">
                                    <p>Pabrik Kejayaan</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0061426754946!2d106.78043581436093!3d-6.262919963057403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1a626f1a6ad%3A0x29c9bb86aa9ebd5c!2sPT.+Amerta+Indah+Otsuka.+-+Head+Office!5e0!3m2!1sen!2sid!4v1455005532148" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-visit">
            <div class="row custom-padd">
                <div class="medium-3 columns no-padd animatedParent">
                    <div class="title animated fadeInUp">
                        <p>GALLERY</p>
                        <p>FACTORY<br/>TOUR</p>
                        <hr/>
                    </div>
                    <div class="see-gallery">
                        <a class="button" href="{{ base_url() }}{{ current_lang }}/gallery-detail">CLICK HERE<br/>TO SEE ALL GALLERY</a>
                    </div>
                </div>
                <div class="medium-9 columns">
                    <div id="container" class="medium-12 columns transitions-enabled large-centered clearfix">
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_02.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_04.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_06.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_09.jpg"></div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_11.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_17.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_20.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_24.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_26.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_27.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_32.jpg"></div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_34.jpg"> </div>
                        <div class="box col2"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/otsuka_factorythumbnail_35.jpg"> </div>
                    </div><!--/container -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    {{ asset_js('jquery.masonry.js') | raw }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        jQuery(function($){
            $("#landline").mask("(099)-999-9999?9");
            $("#mobile").mask("(0899)-9999-999?9");
        });
        
    $(window).load(function(){
        var $grid = $('.grid').masonry({
        });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    });

    var $containter = $('#container');
    $containter.imagesLoaded( function(){
    });
    $(':radio').change(function (event) {
        var id = $(this).data('id');
        $('#' + id).addClass('map').siblings().removeClass('map');
    });
    </script>
{% endblock %}
