{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/contact_us.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="columns contact-us">
        <div class="medium-12 columns columns-contact">
            <div class="medium-7 columns">
                <form role="form" id="contact-form" enctype="multipart/form-data" action="" name="contact-form" method="POST" class="contact-form">
                    <div class="row">
                        <div class="medium-12 columns">
                            <p class="font-email">Email Us!</p>
                        </div>
                        <div class="medium-6 columns">
                            <input id="name" type="text" placeholder="Name*" name="name" required>
                        </div>
                        <div class="medium-6 columns">
                            <input id="email" type="email" placeholder="Email*" name="email" required>
                        </div>
                        <div class="medium-6 columns">
                            <input id="phone" type="text" placeholder="Phone number" name="phone" required>
                        </div>
                        <div class="medium-6 columns">
                            <input id="fax" type="text" placeholder="Fax" name="fax" required>
                        </div>
                        <div class="medium-12 columns">
                            <textarea id="msg" name="msg" placeholder="Your message*" rows="15" required></textarea>
                        </div>
                        <div class="row">
                            <div class="medium-12 small-12 columns captcha">
                                <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                            </div>
                        </div>
                        <div class="fill columns" style="text-align: right">
                            <button onclick="contact_us();" class="send" type="send">SEND</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="medium-5 columns">
                <div class="contact-info">
                    <p>CONTACT INFORMATION</p>
                    <div class="info" style="font-size: 14px">
                        <p>HEAD OFFICE</p>
                        <p>Pondok Indah Office Tower 5th Floor. Jl. Sultan Iskandar Muda Kav. V-TA South Jakarta, DKI Jakarta 12310</p>
                        <p class="no-space">CUSTOMER CARE:</p>
                        <p>0800-1- OTSUKA (687852)</p>
                        <p class="no-space">TELEPHONES:</p>
                        <p>+62 21 7697475</p>
                        <p class="no-space">FAX:</p>
                        <p>+62 21 7697472</p>
                        <hr/>
                        <p>SUKABUMI OFFICE</p>
                        <p>Jl. Raya Siliwangi Km 28, Desa Kutajaya, Kecamatan Cicurug, Kab Sukabumi 43559</p>
                        <p>Phone : +62 – 266 – 733700</p>
                        <p>Fax : +62 – 266 – 733699</p>
                        <hr/>
                        <p>KEJAYAN FACTORY</p>
                        <p>Jl. Raya Pasuruan – Malang Km 11, Desa Pacarkeling, Kecamatan Kejayan, Kab Pasuruan 67172</p>
                        <p>Phone : +62 – 343 – 414200</p>
                        <p>Fax : +62 – 343 – 414201</p>
                        <hr/>
                        <p>GOOGLE MAPS</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0174245797575!2d106.77974331442877!3d-6.261434663043442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1a87085269f%3A0x55a6c33715ae5552!2sWisma+Pondok+Indah+2%2C+Jl.+Sultan+Iskandar+Muda!5e0!3m2!1sid!2sid!4v1454998911855" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="reveal" id="exampleModal1" data-reveal>
        <p>Terima kasih atas saran dan kritik</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        jQuery(function($){
            $("#phone").mask("(099)-999-9999?99");
            $("#fax").mask("(099)-999-9999?9");
        });
        
        function contact_us(){
            
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var phone = document.getElementById('phone').value;
            var fax = document.getElementById('fax').value;
            var message = document.getElementById('msg').value;
            //alert(fax);
            
                
            if(message.length > 0 ){
                    
                $.ajax({
                    type: "POST",
                    url: "{{ base_url() }}contact?email="+email,
                    data: {
                        'name': name,
                        'email': email,
                        'phone': phone,
                        'fax': fax,
                        'msg': message
                    },
                    success: function(){
                        document.getElementById('email').value = '';
                    },
                    error: function(){
                        event.preventDefault();
                    }
                });
                $('#contact-form').submit();
                $('#exampleModal1').foundation('open');

            }
                
        }
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
