{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/faq.css') | raw }}
{% endblock %}
{% block frontend_content %}
    {% include "template_faq.twig" %}
    
    <div class="large-9 columns qa">
    {% for category, detail in faq_pocarisweat %}
        <a name="{{ category }}"><h5 id="pocarisweat"  data-magellan-target="{{ category }}">{{ category }}</h5></a>
        <ul class="accordion" data-accordion data-options="allowAllClosed: true">
            {% for faq in detail %}
            <li class="accordion-item {{ loop.first ? 'is-active' : '' }}" data-accordion-item>
                <a href="#" class="accordion-title">{{ faq.seq }}. {{ faq.title }}</a>
                <div class="accordion-content" data-tab-content>
                    {{ faq.answer }}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}    
    </div>
    {% include "template_faq_bottom.twig" %}
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
