{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/home_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=387528301585839";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="expanded row homeslider">
        <div class="orbit" role="region" aria-label="Homebanner" data-orbit data-options="autoPlay: true;">
            <ul class="orbit-container">
            {% for banner in banner_detail %}
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="{{ base_url() }}media/homebanner/{{ banner.image }}" alt="{{ banner.title }}">
                    {% if banner.text_position == 'TOP' %}
                        {% if banner.title|length > 0 %}
                        <div class="medium-6 medium-offset-3 columns end desc-top">{{ banner.title }}<span>{{ banner.highlight }}</span></div>
                        {% endif %}
                    {% elseif banner.text_position == 'RIGHT' %}
                        {% if banner.title|length > 0 %}
                            <div class="medium-6 medium-offset-6 columns end desc-right">{{ banner.title }}<span>{{ banner.highlight }}</span></div>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            <div class="orbit-bullets-container">
            <nav class="orbit-bullets">
                {% set arr_length = banner_detail | length %}
                    {% for i in range(0, arr_length-1) %}
                        <button class="{{ loop.first ? 'is-active' : '' }}" data-slide="{{ i }}"><span class="show-for-sr">{{ i }} slide details.</span></button>
                    {% endfor %}
            </nav>
            </div>
        </div>
    </div>
    <div class="expanded row custom-left latest-news">
        <img class="medium-8 medium-offset-4 columns latest-bg" src="{{ base_url() }}/assets/img/home/new-bg.jpg"/>
        <div class="title">
            <h2>{{ lang('home_latest') }}</h2>
            <a href="{{ base_url() ~current_lang }}/news">{{ lang('home_news') }} <img src="{{ base_url() }}/assets/css/images/see-all.png"></a>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
            {% for news in press_detail %}
                    <div class="medium-12 small-12 small-nopadd columns each-wrapper">
                        <a href="{{ base_url() ~current_lang }}/news/detail/{{ news.slug }}">
                            <div class="row medium-collapse each-news" data-equalizer="news" data-equalize-on="large">
                                <div class="large-5 small-nopadd columns" data-equalizer-watch="news"><img src="{{ base_url() }}media/press-room/{{ news.image }}" alt="{{ news.title }}"></div>
                                <div class="large-7 small-nopadd columns list-news" data-equalizer-watch="news">
                                    <div class="post-category">
                                        {% if current_lang == 'id' %}
                                            Berita {{ news.category }}
                                        {% else %}
                                            {{ news.category }} News
                                        {% endif %}
                                    </div>
                                    <div class="columns post">
                                        <p class="post-title">{{ news.title }}</p>
                                        <p class="post-date">Posted on {{ news.date }}</p>
                                        <p class="post-detail">{{ news.highlight }}</p>
                                    </div>
                                    <div class="columns post-link">
                                        <a href="{{ base_url() ~current_lang }}/news/detail/{{ news.slug }}" class="button">
                                            {{ lang('home_detail') }} 
                                            <img src="{{ base_url() }}assets/css/images/read-more.png"/> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
            {% endfor %}    
            </div>
        </div>
    </div>
    <div class="expanded row custom-left life-at-otsuka">
        <div class="title">
            <h2>{{ lang('title_lao') }}</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content" data-equalizer="life-at-otsuka">
            <div class="row gallery">
                <div class="large-6 columns" data-equalizer-watch="life-at-otsuka">
                    <p class="subtitle">{{ lang('home_story2') }}</p>
                </div>
                <div class="large-6 columns" data-equalizer-watch="life-at-otsuka">
                    <div class="expanded row">
                        <div class="medium-6 columns">
                            <img src="{{ base_url() }}/assets/css/images/ornamen-lao-2.jpg" alt="life at otsuka gallery"/>
                        </div>
                        <div class="medium-6 columns">
                            <img src="{{ base_url() }}/assets/css/images/ornamen-lao-1.jpg" alt="life at otsuka gallery"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row story-at-otsuka">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="autoPlay:false;">
                                <ul class="orbit-container story-otsuka" data-equalizer="story-at-otsuka" data-equalize-on="large">
                                {% for lao in lao_detail %}
                                    <li class="{{ loop.first ? 'is-active' : '' }} orbit-slide">
                                        <div class="row">
                                            <div class="large-3 large-push-9 columns nopadd otsuka-staff" data-equalizer-watch="story-at-otsuka">
                                                <img class="orbit-image" src="{{ base_url() }}media/lao-photo/{{ lao.photo }}" alt="{{ lao.name }}">
                                                <div class="columns story-profile">
                                                    <p>{{ lao.name }}</p>
                                                    <span>{{ lao.job }}, {{ lao.location }}</span>
                                                </div>
                                            </div>
                                            <div class="large-9 large-pull-3 columns" data-equalizer-watch="story-at-otsuka">
                                                <p>{{ lang('home_story') }}</p>
                                                <img class="quote" src="{{ base_url() }}/assets/img/home/quote.jpg"/>
                                                <p>{{ lao.story }}</p>
                                                <div class="post-link">
                                                    <div class="small-9 columns">
                                                        <a href="#">{{ lang('home_detail_Story') }}</a>
                                                    </div>
                                                    <div class="small-3 columns">
                                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}    
                                </ul>
                                <nav class="orbit-bullets">
                                {% set arr_length = lao_detail | length %}
                                    {% for i in range(0, arr_length-1) %}
                                        <button class="{{ loop.first ? 'is-active' : '' }}" data-slide="{{ i }}"><span class="show-for-sr">{{ i }} slide details.</span></button>
                                    {% endfor %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row feeds-updates">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <h2>{{ lang('title_feed') }}</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="large-6 columns feeds-wrap" style="padding-left: 0;padding-right: 0">
                        <div class="row each-feed">
                            <div class="medium-6 large-6 columns nopadd fb-feed" style="margin-bottom: 10px; overflow: hidden;">
                                <div class="fb-page" data-href="https://www.facebook.com/OtsukaAIOCompany/" data-tabs="timeline"  data-adapt-container-width="true" data-small-header="false" data-hide-cover="true" data-show-facepile="false" data-hide-cta="true">
                                    <blockquote cite="https://www.facebook.com/OtsukaAIOCompany/" class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/OtsukaAIOCompany/">PT Amerta Indah Otsuka</a>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="medium-6 large-6 columns nopadd fb-image" style="margin-bottom: 10px; ">
                                {#<div class="fb-page" data-href="https://www.facebook.com/OtsukaAIOCompany/" data-tabs="events" data-width="286" data-height="261" data-small-header="none" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false" data-hide-cta="true">
                                    <blockquote cite="https://www.facebook.com/OtsukaAIOCompany/" class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/OtsukaAIOCompany/">PT Amerta Indah Otsuka</a>
                                    </blockquote>
                                </div>#}
                                <div class="fb-post" data-href="https://www.facebook.com/OtsukaAIOCompany/posts/1502623416431813:0" data-adapt-container-width="true" data-height="261" data-show-text="false">
                                    <blockquote cite="https://www.facebook.com/OtsukaAIOCompany/posts/1502623416431813:0" class="fb-xfbml-parse-ignore">
                                        <p>Akhir tahun adalah saat yang tepat untuk menelusuri kembali hal apa saja yang sudah kita raih sepanjang tahun dan...</p>Posted by 
                                        <a href="https://www.facebook.com/OtsukaAIOCompany/">PT Amerta Indah Otsuka</a> on&nbsp;
                                        <a href="https://www.facebook.com/OtsukaAIOCompany/posts/1502623416431813:0">Friday, December 30, 2016</a>
                                    </blockquote>
                                </div>
                            </div>
                            <a class="twitter-grid" data-chrome="nofooter" data-limit="2" data-partner="tweetdeck" href="https://twitter.com/Otsuka_AIO/timelines/813948001219530753"></a> 
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                    <div class="large-6 columns end instagram-wrapper" style="padding-right: 0">
                        <div class="instagram-feed">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <div class="col-md-4 col-sm-6 col-xs-12 item_box">
                                <div class="grid">
                                    <figure class="effect-zoe">
                                        <a href="{{ pic_link }}" target="_blank">
                                            <img class="img-responsive photo-thumb" src="{{ pic_src }}" alt="{{ pic_text }}">
                                            <figcaption>
                                                <p class="icon-links">
                                                    {{ pic_text }}
                                                </p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>

        $( window ).load(function() {
//        banner
            var banner = $('.orbit').height();
            var orbitButton = $('.orbit-bullets-container').height();
            var positionTop = ((banner - orbitButton) / 2);
            $('.orbit-bullets-container').css('top', positionTop);
//            $('.fb-page').css('width',$('.instagram-wrapper').width());
//        latest news
//            var maxHeight = $('.each-news > .medium-5').height();
//            var postLink = $('.each-news > .medium-7 > .post-link').height();
//            $('.each-news > .medium-7 > .post').css('height',maxHeight-postLink);
//            console.log(maxHeight);
//        update feed
            if($(window).width()>1024){
                var maxFeed = $('.instagram-feed').height();
                var eachHeight = (maxFeed / 2);
                console.log(maxFeed);
                console.log(eachHeight);
                $('.each-feed > .columns').css('height',eachHeight-19);
            }
            else if($(window).width() == 1024){
                $('.fb-wrap').css('height',$('.facebook-feed').height());
                $('.fb-page').attr('data-width','431');
                $('.fb-page').attr('data-height','431');
            }
            else if($(window).width()<641){
                
                $('.story-at-otsuka .orbit .orbit-bullets').css('top',$('.otsuka-staff').height()-40);
            }
            else if($(window).width()==640){

                $('.fb-page').attr('data-width','640');
                $('.fb-page').attr('data-height','431');
            }
            $('.story-at-otsuka .orbit-bullets button').click(function(){
                $("body, html").animate({
                    scrollTop: jQuery('.otsuka-staff img').offset().top
                });
            });
        });

    
    </script>

{% endblock %}
