{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/home_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row">
        <div class="orbit" role="region" aria-label="Homebanner" data-orbit data-options="autoPlay: false;">
            <ul class="orbit-container">
            {% for banner in banner_detail %}
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="{{ base_url() }}media/homebanner/{{ banner.image }}" alt="{{ banner.title }}">
                </li>
            {% endfor %}
            </ul>
            <div class="orbit-bullets-container">
            <nav class="orbit-bullets">
                {% set arr_length = banner_detail | length %}
                    {% for i in range(0, arr_length-1) %}
                        <button class="{{ loop.first ? 'is-active' : '' }}" data-slide="{{ i }}"><span class="show-for-sr">{{ i }} slide details.</span></button>
                    {% endfor %}
            </nav>
            </div>
        </div>
    </div>
    <div class="expanded row custom-left latest-news">
        <div class="title">
            <h2>Latest News</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
            {% for news in press_detail %}    
                <div class="medium-6 columns">
                    <div class="row medium-collapse  each-news">
                        <div class="medium-5 columns"><img src="{{ base_url() }}media/press-room/{{ news.image }}" alt="{{ news.title }}"></div>
                        <div class="medium-7 columns">
                            <div class="columns post">
                                <p class="post-date">Posted on {{ news.date }}</p>
                                <p class="post-title">{{ news.title }}</p>
                                <p class="post-detail">{{ news.highlight }}</p>
                            </div>
                            <div class="columns post-link">
                                <div class="medium-9 columns">
                                    <a href="#">Baca Selengkapnya</a>
                                </div>
                                <div class="medium-3 columns">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
            </div>
        </div>
    </div>
    <div class="expanded row custom-left life-at-otsuka">
        <div class="title">
            <h2>Life At Amerta Indah Otsuka</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content" data-equalizer="life-at-otsuka">
            <div class="row gallery">
                <div class="medium-6 columns" data-equalizer-watch="life-at-otsuka">
                    <p class="subtitle">Upaya untuk menjalankan visi terbaik dan mencapai kesuksesan bersama di dalam keberagaman</p>
                </div>
                <div class="medium-6 columns" data-equalizer-watch="life-at-otsuka">
                    <div class="expanded row">
                        <div class="medium-6 columns">
                            <img src="{{ base_url() }}/assets/css/images/life-at-otsuka-gallery-1.jpg" alt="life at otsuka gallery"/>
                        </div>
                        <div class="medium-6 columns">
                            <img src="{{ base_url() }}/assets/css/images/life-at-otsuka-gallery-1.jpg" alt="life at otsuka gallery"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row story-at-otsuka">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="autoPlay:false;">
                                <ul class="orbit-container" data-equalizer="story-at-otsuka">
                                {% for lao in lao_detail %}
                                    <li class="{{ loop.first ? 'is-active' : '' }} orbit-slide">
                                        <div class="row">
                                            <div class="medium-9 columns" data-equalizer-watch="story-at-otsuka">
                                                <p>Cerita Mereka</p>
                                                <p>{{ lao.story_lead }}</p>
                                                    <div class="medium-9 columns">
                                                        <a href="#">Lihat Cerita Lainnya</a>
                                                    </div>
                                                    <div class="medium-3 columns">
                                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                    </div>
                                            </div>
                                            <div class="medium-3 columns nopadd" data-equalizer-watch="story-at-otsuka">
                                                <img class="orbit-image" src="{{ base_url() }}media/lao-photo/{{ lao.photo }}" alt="{{ lao.name }}">
                                                <div class="columns story-profile">
                                                    <p>{{ lao.name }}</p>
                                                    <span>{{ lao.job }}, {{ lao.location }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}    
                                </ul>
                                <nav class="orbit-bullets">
                                {% set arr_length = lao_detail | length %}
                                    {% for i in range(0, arr_length-1) %}
                                        <button class="{{ loop.first ? 'is-active' : '' }}" data-slide="{{ i }}"><span class="show-for-sr">{{ i }} slide details.</span></button>
                                    {% endfor %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row feeds-updates">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <h2>Feeds Updates</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="medium-6 columns" style="padding-left: 0;padding-right: 0">
                        <div class="row each-feed">
                            <div class="medium-6 columns fb-wrap">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F588749284485902&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435"
                                    scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:600px; height:430px; background: white; float:left; " allowTransparency="true">
                                </iframe>
                            </div>
                            <div class="medium-6 columns nopadd">
                                <div class="facebook-feed">
                                    <img src="{{ base_url() }}/assets/css/images/update-feed-facebook.jpg" alt="feeds update facebook"/>
                                </div>
                            </div>
                                <a class="twitter-grid" data-limit="3" data-partner="tweetdeck" href="https://twitter.com/Otsuka_AIO/timelines/793347332691460096">New Collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
                            {#<div class="medium-6 columns tweet-wrap">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <div class="tweet-desc"><a class="twitter-grid" data-limit="3" data-partner="tweetdeck" href="https://twitter.com/Otsuka_AIO/timelines/793347332691460096">New Collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                            </div>
                            <div class="medium-6 columns tweet-wrap red">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <div class="tweet-desc">bb
                                    <div style="clear: both"></div>
                                </div>
                            </div>#}
                        </div>
                    </div>
                    <div class="medium-6 columns" style="padding-right: 0">
                        <div class="instagram-feed">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            {#<img src="{{ base_url() }}/assets/css/images/update-feed-instagram.jpg" alt="feeds update instagram"/>#}
                            <div class="col-md-4 col-sm-6 col-xs-12 item_box">        
                                <a href="{{ pic_link }}" target="_blank">
                                    <img class="img-responsive photo-thumb" src="{{ pic_src }}" alt="{{ pic_text }}">
                                </a>
                                <p>
                                    <p>
                                        <div style="color:#888">
                                            <a href="{{ pic_link }}" target='_blank'>{{ pic_created_time }}</a>
                                        </div>
                                    </p>
                                    <p>{{ pic_text }}</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('instafeed.min.js') | raw }}
    <script>
        
        var feed = new Instafeed({
            get: 'popular',
            //tagName: 'OtsukaAIO',
            clientId: '86beb1a6519e48e093e5fe0e958587a0'
        });
        feed.run();
        
        

        $( window ).load(function() {
//        banner
            var banner = $('.orbit').height();
            var orbitButton = $('.orbit-bullets-container').height();
            var positionTop = ((banner - orbitButton) / 2);
            $('.orbit-bullets-container').css('top', positionTop);
//        latest news
            var maxHeight = $('.each-news > .medium-5').height();
            var postLink = $('.each-news > .medium-7 > .post-link').height();
            $('.each-news > .medium-7 > .post').css('height',maxHeight-postLink);
//            console.log(maxHeight);
//        update feed
            var maxFeed = $('.instagram-feed').height();
            var eachHeight = (maxFeed / 2);
            console.log(maxFeed);
            console.log(eachHeight);
            $('.each-feed > .columns').css('height',eachHeight);
        });


    </script>

{% endblock %}
