{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/home.css') | raw }}
    <link href="{{ base_url() }}assets/foundation/foundation-icons/foundation-icons.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block frontend_content %}
    <div class="home-banner">
        <div class="row" data-equalizer="homeslide">
            <div class="large-9 medium-8 small-12 columns no-padding">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in;">
                    <ul class="orbit-container">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        {% for banner in banner_detail %}
                            <li class="is-active orbit-slide callout panel">
                                <img class="orbit-image" src="{{ base_url() }}/media/homebanner/{{ banner.image }}" data-equalizer-watch="homeslide">
                            </li>
                        {% endfor %}
                    </ul>
                    <nav class="orbit-bullets">
                        {% for banner in banner_detail %}
                            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                        {% endfor %}
                    </nav>
                </div>
            </div>
            <div class="large-3 medium-4 columns no-padding thumbs-panel" data-equalizer-watch="homeslide">
                <div class="callout" data-equalizer="bar">
                    {% for sideimage in sideimage_detail %}
                        <div class="callout thumbs" data-equalizer-watch="bar">
                            <a href="{{ base_url() }}{{ current_lang }}{{ sideimage.anchor }}">
                                <div class="thumbs-wrap">
                                    <p class="title">{{ sideimage.title }}</p>
                                    <p class="desc">{{ sideimage.teaser }}</p>
                                    <span class="read-more"><img src="{{ base_url() }}/assets/img/icon-thumbs.png"></span>
                                </div>
                                <div class="gap"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="life-at-otsuka" data-equalizer="life-at-otsuka">
        <div class="large-7 medium-7 small-12 columns about"  data-equalizer-watch="life-at-otsuka">
            {% for detail in president_detail %}
                <div class="about-content">
                    <div class="large-7 large-offset-2 medium-7 columns end">
                        <div class="about-us-title"><p>About us</p></div>
                        <div class="about-us">{{ detail.msg1 }}</div>
                        <div class="detail">{{ detail.msg2 }}</div>
                        <hr/>
                    </div>
                    <div class="large-6 large-offset-3 medium-6 medium-offset-2 small-10 small-offset-1 columns end">
                        <div class="sub-detail">{{ detail.msg3 }}</div>
                        <div class="quote">{{ detail.msg4 }}</div>
                        <div class="name-quote">{{ detail.name }}, {{ detail.job }} Amerta Indah Otsuka</div>
                        <a href="{{ base_url }}about-us" class="selengkapnya">{{ lang('txt_home07') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="large-5 medium-5 hide-for-small-only columns about-right">
            <div  data-equalizer-watch="life-at-otsuka">

            </div>
        </div>
        <div class="">
            <div class="large-7 large-offset-5 medium-8 medium-offset-4 small-12 columns index-top" data-equalizer="comment-otsuka">
                <div class="row comment-otsuka">
                    <div class="large-5 medium-6 small-12 columns comment-left animatedParent" data-equalizer-watch="comment-otsuka" data-sequence="500">
                        <div class="animated fadeInUpShort" data-id="1">
                            <div class="left-title">Life at Otsuka</div>
                            <hr/>
                            {% for loa in loa_detail %}
                                <div class="left-desc">
                                    {{ loa.story_lead | slice(0, 120)}}...
                                </div><br class="br"/>
                                <div class="name-quote">{{ loa.name }}, {{ loa.job }} Amerta Indah Otsuka {{ loa.location }}.</div>
                            {% endfor %}
                        </div>
                        <div>
                            <a href="{{ base_url }}lifeatotsuka" class="selengkapnya animated growIn" data-id="2">{{ lang('txt_home07') }}</a>
                        </div>
                    </div>
                    <div class="large-7 medium-6 small-12 columns comment-right" data-equalizer-watch="comment-otsuka">
                        <img src="{{ base_url() }}assets/img/home/life-at-otsuka-large.jpg">
                    </div>
                </div>
                <div class="new-vacancy animatedParent animateOnce" data-equalizer="new-vacancy">
                    <div class="large-7 medium-7 columns" data-equalizer-watch="new-vacancy">
                        <div class="comment-left">
                            <div class="animated fadeInUpShort">
                                <p class="title">NEW VACANCY</p>
                                <hr/>
                                <p class="sub-title">{{ lang('txt_home01') }}</p>
                                <p class="sub-title-bold">{{ lang('txt_home02') }}</p>
                                <ul>
                                    {% for detail in career_detail %}
                                        {% if(loop.index0 <= 2) %}
                                            <li>{{ detail.name }} - {{ detail.level }} ({{ detail.location }})</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <p style="text-align: right"><a href="{{ base_url }}career" class="link-other">>{{ lang('txt_home04') }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="large-5 medium-5 columns comment-right" data-equalizer-watch="new-vacancy">
                        <p class="title text-center">{{ lang('txt_home03') }}</p>
                        <div class="large-10 medium-10 columns no-padding join-us-content" data-equalizer="email">
                            <input id="email" type="email" style="padding: 2px;" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please input your email"/>
                            <div class="large-5 medium-5 small-6 columns no-padding join-us" data-equalizer-watch="email">
                                <button id="btn-join" class="selengkapnya-small" onclick="subscribe();">JOIN US</button>
                            </div>
                            <div class="large-7 medium-7 small-6 columns no-padding" data-equalizer-watch="email">
                                <img src="{{ base_url() }}assets/img/home/new-vacancy.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-12 medium-12 columns our-product">
        <div class="large-5 large-offset-7 medium-5 medium-offset-7 columns animatedParent containingBlock">
            <div class="animated fadeInUp containingBlock-desc">
                <p class="title">OUR<br/>PRODUCTS</p>
                <p class="sub-title">WE CREATE QUALITY PRODUCTS<br/> FOR YOUR BETTER HEALTH</p>
            </div>
        </div>
    </div>
    <div class="large-12 medium-12 small-12 columns thumb-product animatedParent animateOnce" data-sequence="300">
        <div class="large-4 medium-4 small-4 columns animated fadeInUpShort" data-id="1">
            <a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat">
                <img src="{{ base_url() }}assets/img/home/pocari-sweat.jpg">
            </a>
        </div>
        <div class="large-4 medium-4 small-4 columns animated fadeInUpShort" data-id="2">
            <a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy">
                <img src="{{ base_url() }}assets/img/home/soyjoy.jpg">
            </a>
        </div>
        <div class="large-4 medium-4 small-4 columns animated fadeInUpShort" data-id="3">
            <a href="{{ base_url() }}{{ current_lang }}/brand/ionessence">
                <img src="{{ base_url() }}assets/img/home/ionessence.jpg">
            </a>
        </div>
    </div>
    <div class="factory-visit grey">
        <div class="row">
            {#<div class="large-12 medium-12 columns">#}
            <div class="title">
                <p>EXPLORION TOUR</p>
            </div>
            <div class="factory-content">
                <div class="large-12 columns animatedParent">
                    <div class="large-5 medium-5 small-12 end columns animated fadeInUpShort">
                        {% for detail in factorytour_detail %}
                            <p class="sub-title">{{ detail.title }}</p>
                            <div class="description">{{ detail.content }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="columns" data-equalizer="factory-map">
                <div class="large-6 medium-12 small-12 columns factory-map aligner" data-equalizer-watch="factory-map">
                    <div class="large-7 medium-7 small-12 columns Aligner-item Aligner-item--fixed">
                        <div class="small-6 columns">
                            <img src="{{ base_url() }}/assets/img/home/factory-visit-1.jpg">
                        </div>
                        <div class="small-6 columns">
                            <img src="{{ base_url() }}/assets/img/home/factory-visit-2.jpg">
                        </div>
                    </div>
                    <div class="large-5 medium-5 small-12 columns description animatedParent" data-sequence="500">
                        <div class="animated fadeInUpShort" data-id="1">
                            <p class="title">{{ lang('txt_home05') }}</p>
                            <p class="sub-title">{{ lang('txt_home06') }}</p>
                        </div>
                        <a href="{{ base_url }}explorion-advanture" class="selengkapnya-small animated growIn" data-id="2">{{ lang('txt_home08') }}</a>
                    </div>
                </div>
                <div class="large-6 medium-12 small-12 columns gallery-tour">
                    <div data-equalizer="gallery-tour">
                        <div class="large-3 medium-3 small-12 columns gallery-tour-content"  data-equalizer-watch="factory-map">
                            <a href="#">
                                <div class="all aligner">
                                    <div class="Aligner-item Aligner-item--fixed">
                                        <p class="title">GALLERY<br/>EXPLORION TOUR</p>
                                        <a href="{{ base_url }}gallery-detail" class="see-all">SEE ALL ></a>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="large-9 medium-9 small-12 columns thumb" data-equalizer-watch="factory-map">
                            {% for image in factorytour_images %}
                                <div class="large-6 medium-6 small-6 columns thumb-gallery first">
                                    <a href="{{ base_url() }}{{ current_lang }}/gallery-detail">
                                        {% if image.seq < 3 %}
                                            <img src="{{ base_url() }}media/gallery/{{ 'thumb-'~image.filename }}">
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {#</div>#}
        </div>
    </div>
    <div class="csr" data-equalizer="csr">
        <div class="large-6 medium-12 columns csr-banner animatedParent">
            <img src="{{ base_url() }}assets/img/home/csr-banner.jpg" data-equalizer-watch="csr">
            <div class="large-12 medium-12 columns title-section animated fadeInUpShort">
                <p class="title">CORPORATE<br/>SOCIAL<br/>RESPONSIBILITY</p>
            </div>
        </div>
        <div class="large-6 medium-12 small-12 columns csr-thumb" data-equalizer-watch="csr">
            <div class="columns animatedParent animateOnce"  style="background: #fff" data-equalizer="csr-thumb" data-sequence="1000">
                {% for detail in csr_detail %}
                    <div class="columns" data-equalizer-watch="csr-thumb">
                        {#{% for detail in csr_detail %}#}
                        <div class="large-12 medium-12 columns aligner white">
                            <div class="large-6 medium-12 small-12 columns csr-desc aligner-item aligner-item--fixed">
                                <div class="animated fadeInUpShort" data-id="1">
                                    <div class="title">
                                        {{ detail.title }}
                                    </div>
                                    <div class="date">
                                        {{ detail.date }}
                                    </div>
                                    {% set highlight = detail.content | split('.') %}
                                    <div class="description">
                                        {{ highlight[0] }}.. <a href="{{ base_url() }}{{ current_lang }}/our-event/" class="red">Read more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="large-6 medium-6 small-12 columns csr-pic">
                                <img src="{{ base_url() }}media/csr/thumbnail/{{ detail.img }}">
                            </div>
                        </div>

                        {#{% endfor %}#}
                    </div>
                {% endfor %}
            </div>
            <div class="large-12 medium-12 columns">
                <a href="{{ base_url() }}{{ current_lang }}/our-event">
                    <p class="lain">{{ lang('txt_home04') }}</p>
                </a>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
    <div class="reveal" id="exampleModal1" data-reveal>
        <p>Terima kasih atas partisipasi Anda telah berlangganan newsletter kami</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="exampleModal2" data-reveal>
        <p>Mohon hanya masukkan alamat e-mail, dengan format: youremail@emailaddress.com </p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    {{ asset_js('css3-animate-it.js') }}
    <script>


        $(document).foundation({
            equalizer: {
                equalize_on_stack: true
            }
        });
        
        function subscribe(){

            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var email = document.getElementById('email').value;
            {#console.log(regex.test(email));#}

            if(regex.test(email) === true) {

                $('#exampleModal1').foundation('open');
                $.ajax({
                    type: "POST",
                    url: "{{ base_url() }}subscribe?email="+email, // get-city?id="+str,
                    data: {
                        'email': email
                    },
                    success: function(){
                        document.getElementById('email').value = '';
                    },
                    error: function(){
                        event.preventDefault();
                    }
                });

            }else {

                $('#exampleModal2').foundation('open');

            }


        }

        $('input').blur(function(evt) {
            evt.target.checkValidity();
        }).bind('invalid', function(event) {
            alert('Put in the correct email form: username@email.com');
        });
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>

{% endblock %}
