{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/policy.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="row policy">
        <div class="title custom-padd">
            <h2>{{ policy_detail.title }}</h2>
        </div>
        <div class="policy-list custom-padd">
            {{ policy_detail.content }}
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>
    {% block back_to_top_js %}
    {{ parent() }}
    {% endblock back_to_top_js %}
    </script>
{% endblock %}
