{% extends 'pages/views/template_frontend_new.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/search.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="search-content">
        <div class="row">
            <div class="columns title">
                <p>SEARCH RESULT</p>
                <div style="width: 100%; border-bottom: 2px solid #ced2d6; margin-bottom: 10px"></div>
            </div>
            <div class="columns search-bar">
                {% if (search_result_activity | length > 0) and (search_result_press | length > 0) and (search_result_career | length > 0) %}
                    <div class="medium-7 small-12 columns">
                    {% set size = search_result_activity | length + search_result_press | length + search_result_career | length %}
                        <a href="#"> About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b></a>
                    </div>
                {% elseif (search_result_activity | length > 0) and (search_result_career | length > 0) %}
                    <div class="medium-7 small-12 columns">
                    {% set size = search_result_activity | length + search_result_career | length %}
                        <a href="#"> About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b></a>
                    </div>
                {% elseif (search_result_activity | length > 0) and (search_result_press | length > 0) %}
                    <div class="medium-7 small-12 columns">
                    {% set size = search_result_activity | length + search_result_press | length %}
                        <a href="#"> About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b></a>
                    </div>
                {% elseif search_result_career | length > 0 %}
                    <div class="medium-7 small-12 columns">
                    {% set size = search_result_career | length %}
                        <a href="#"> About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b></a>
                    </div>
                {% elseif search_result_press | length > 0 %}
                    <div class="medium-7 small-12 columns">
                    {% set size = search_result_press | length %}
                        <a href="#"> About <b>{{ size }}</b> results for <b>'{{ keyword }}'</b></a>
                    </div>
                {% elseif keyword == '' %}
                    <div class="medium-7 small-12 columns">
                        <a href="#">The search keyword is either reset or not set!</a>
                    </div>
                {% endif %}
                
                <div class="medium-5 small-12 columns refine">
                    <form role="search" >
                        <div class="row">
                            <input name="keyword" type="text" placeholder="Refine Search" >
                            {#<button class="" type="send" style="position: absolute"><img src="{{ base_url() }}/assets/img/icon-search.png"></button>#}
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result_activity  %}
                <a href="{{ base_url()~current_lang~'/csr/'~res.slug }}">
                    <div class="columns title">
                        <p>{{ res.title }}</p>
                    </div>
                    <div class="medium-2 small-12 columns no-left-padd">
                        <img src="{{ base_url() }}media/csr/{{ res.image }}">
                    </div>
                    <div class="medium-10 small-12 columns">
                        <div class="desc">
                            <p>{{ res.highlight }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result_press %}
                
                <a href="{{ base_url()~current_lang~'/our-event/detail/'~res.slug }}">
                    <div class="columns title">
                        <p>{{ res.title }}</p>
                    </div>
                    <div class="medium-2 small-12 columns no-left-padd">
                        <img src="{{ base_url() }}media/press-room/{{ res.image }}">
                    </div>
                    <div class="medium-10 small-12 columns">
                        <div class="desc">
                            <p>{{ res.highlight }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="columns each no-left-padd">
            {% for res in search_result_career %}
                <a href="{{ base_url()~current_lang }}/career#list-of-vacancy">
                    <div class="columns title">
                        <p>{{ res.name }} - {{ res.level }} ({{ res.location }})</p>
                    </div>
                    {#<div class="medium-2 columns no-left-padd">
                        <img src="{{ base_url() }}/assets/img/search/search-each.jpg">
                    </div>#}
                    <div class="medium-10 small-12 columns">
                        <div class="desc">
                            <p>{{ res.req }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="columns title">
                <div style="width: 100%;border-bottom: 2px solid #ced2d6;margin-bottom: 50px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}