<div class="row faq">
    <div class="title custom-padd">
        <h2>FAQ</h2>
    </div>
    <div class="content">
        <div class="large-3 columns submenu">
            <div class="pocari-sweat" data-magellan>
                <div class="sub-title"><a href="{{ base_url() }}{{ current_lang }}/faq">POCARI</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq#General">Umum</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq#Health">Kesehatan</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq#Product">Produk</a></div>
            </div>
            <div class="soyjoy">
                <div class="sub-title"><a href="{{ base_url() }}{{ current_lang }}/faq-soyjoy">SOYJOY</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-soyjoy#General">Umum</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-soyjoy#Health">Kesehatan</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-soyjoy#Product">Produk</a></div>
            </div>
            <div class="ionesence">
                <div class="sub-title"><a href="{{ base_url() }}{{ current_lang }}/faq-ionessence">IONESSENCE</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-ionessence#General">Umum</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-ionessence#Health">Kesehatan</a></div>
                <div class="list"><a href="{{ base_url() }}{{ current_lang }}/faq-ionessence#Product">Produk</a></div>
            </div>
        </div>