{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/event.css" rel="stylesheet">
{% endblock %}

{% block frontend_content %}
    <div class="row event" data-equalizer>
        <div class="large-2 medium-2 small-12 columns sidebar-year" data-equalizer-watch>
            <ul class="accordion year" data-accordion="myAccordionGroup">
            {% for event_year, event_data in event_list %}
                <li class="accordion-navigation content-nav">
                    <a href="#panel1c{{ event_year }}">{{ event_year }}<span class="year-icon"></span></a>
                    <div id="panel1c{{ event_year }}" class="content {{ loop.first ? 'active' : '' }}">
                        <ul class="month">
                        {% for event_month, detail in event_data %}
                            <li class="month-detail"><a href="{{ base_url()~current_lang }}/event/{{ event_year }}/{{ event_month }}">{{ detail.month_display }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="large-9 medium-9 small-12 columns wrapper-content" data-equalizer-watch>
        {% for event_year, event_data in event_display  %}
            {% for data in event_data %}
            <div class="row" data-equalizer>
                <div class="large-3 medium-3 small-12 small-only-text-center columns m-displaypic" style="padding-right: 0" data-equalizer-watch>
                    <a href="{{ base_url()~current_lang }}/event/detail/{{ data.slug }}" class="th" style="border: none">
                        <img src="{{ base_url() }}media/event/{{ data.image }}">
                    </a>
                </div>
                <div class="large-9 medium-9 small-12 columns reset" data-equalizer-watch>
                    <p class="title-event">{{ data.title }}</p>
                    <p class="date-event">{{ data.date }}</p>
                    <hr class="hr-event">
                    <p class="detail-event">{{ data.teaser }} ...</p>
                    <div class="large-4 medium-5 small-12 columns m-readmore" style="padding: 0; margin-top: 0.585rem">
                        <a href="{{ base_url()~current_lang }}/event/detail/{{ data.slug }}" class="btn-readmore">READ MORE</a>
                    </div>
                    {#<div class="large-1 medium-2 small-2 columns shareto" style="margin-top: 1.5%">#}
                        {#Share to#}
                    {#</div>#}
                    {#<div class="large-7 medium-5 small-10 columns shareto">#}
                        {#<ul>#}
                            {#<li>#}
                                {#<div class="social-media facebook"></div>#}
                            {#</li>#}
                            {#<li>#}
                                {#<div class="social-media twitter"></div>#}
                            {#</li>#}
                            {#<li>#}
                                {#<div class="social-media gplus"></div>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                </div>
            </div>
            <hr class="hr-divider">
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}