{% block frontend_content %}
    Dear {{ name }},<br/>
    Terima kasih atas lamaran pekerjaan yang Anda kirimkan.<br/>
    Untuk ke tahap selanjutnya tim kami akan menyeleksi berkas-berkas sesuai dengan lamaran yang Anda kirimkan<br/><br/>
    Salam,<br/><br/><br/>
    Tim HRD PT Amerta Indah Otsuka
{% endblock %}