{% block frontend_content %}
<html>
    <body>
        <div>
            <p>Kepada Tim HRD PT Amerta Indah Otsuka,</p>
            <p>Berikut data yang masuk melalui form Career di website</p>      
            <p>Nama : {{ name }}</p>
            <p>Posisi : {{ position }}</p>
            <p>Email : {{ email }}</p>
            <p>Telepon : {{ phone }}</p>
            <p>Alamat : {{ address }}</p>
            <p>Kota : {{ city }}</p>
            <p>Negara : {{ country }}</p>
        </div>
    </body>
</html>
{% endblock %}