{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/about_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left about-us">
        <div class="title">
            <h2>{{ lang('about_title') }}</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
                <div class="medium-4 medium-centered columns logo-title">
                    <img src="{{ base_url() }}/assets/css/images/logo-otsuka-large.png" alt="about otsuka"/>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row custom-left about">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <p class="text-center title-section">Otsuka-people creating new products for better health worldwide</p>
            <div class="columns about-desc">
                {{ lang('about_desc') }}
            </div>
        </div>
    </div>
    <div class="expanded row custom-left direktur">
        <div class="medium-8 medium-offset-2 end columns custom-content" data-equalizer="direktur" data-equalize-on="large">
        {% for pres in president_msg %}
            <p class="text-center title-section">{{ lang('about_msg') }}</p>
            <div class="large-6 columns" data-equalizer-watch="direktur">
                <img src="{{ base_url() }}media/president/{{ pres.img }}" alt="presiden otsuka"/>
                {#<img src="{{ base_url() }}/assets/css/images/presiden-otsuka.jpg" alt="presiden otsuka"/>#}
            </div>
            <div class="large-6 columns presiden-quote" data-equalizer-watch="direktur" style="position: relative;background: #FFFFFF">
                <div>
                    <div class="quote-content">
                        <div class="content-detail hide-for-large">
                            {{ pres.msg }}
                            <span>-{{ pres.name }}, {{ pres.position }} </span>
                        </div>
                        <img class="show-for-large" src="{{ base_url() }}/assets/css/images/president-speech-{{ current_lang }}.png" alt="" title=""/>
                    </div>
                </div>
                {#<div class="ornamen" style=""></div>#}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="expanded row custom-left visi-misi" data-equalizer="visi" data-equalize-on="large">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="medium-12 columns">
                <p class="title-section" style="display:none;">{{ lang('about_visi') }}</p>
            </div>
            <div class="large-4 large-push-8 columns visi-ornamen"  data-equalizer-watch="visi">
                <div class="ornamen-wrapper">
                    <div class="ornamen-vision">
                        <img src="{{ base_url() }}/assets/css/images/visi-misi.jpg" alt="visi misi otsuka"/>
                    </div>
                </div>
            </div>
            <div class="large-8 large-pull-4 columns" data-equalizer-watch="visi">
            {% for about in about_detail %}
                <p style="display:none;">
                <!-- {{ about.obj }} -->
                </p>
                <div class="visi">
                    <p>{{ lang('txt_aboutus03') }}</p>
                    <p>{{ about.highlight }}</p>
                </div>
                <div class="misi">
                    <p>{{ lang('txt_aboutus04') }}</p>
                    {#<ol>
                        <li>Mengembangkan dan mempertahankan karyawan yang berkualitas tinggi untuk menghasilkan produk berkualitas tinggi.</li>
                        <li>Menjadikan kebutuhan dan kesejahteraan konsumen dan masyarakat sebagai prioritas utama.</li>
                        <li>Menangkap peluang di semua aspek secara tepat dan inovatif untuk kesejahteraan dan kepuasan konsumen serta perkembangan perusahaan.</li>
                        <li>Mengembangkan dan mempertahankan hubungan yang saling menguntungkan dengan rekan bisnis.</li>
                        <li>Menjadi perusahaan yang terpercaya</li>
                    </ol>#}
                    {{ about.detail }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="expanded row custom-left konsep-product">
        <div class="medium-8 medium-offset-2 end columns custom-content">

            <div class="medium-12 columns">
                <p class="text-center title-section">{{ lang('about_product') }}</p>
            </div>
            <div class="medium-12 columns">
                <div class="medium-up-3 small-up-3">
                    {% for prodconcept in product_concept %}
                    <div class="columns nopadd">
                        <img src="{{ base_url() }}media/productconcept/{{ prodconcept.img }}" alt=""/>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="medium-12 columns">
                <p class="subtitle">{{ lang('txt_nutrition') }}</p>
                <p class="konsep-desc">{{ lang('txt_nutrition_desc') }}</p>
            </div>

        </div>
    </div>
    <div class="expanded row custom-left penghargaan">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="medium-12 columns">
                <p class="text-center title-section">{{ lang('txt_about_awards') }}</p>
            </div>
            <div class="medium-12 columns penghargaan-desc">
                {{ lang('txt_about_awards_desc') }}
            </div>
            <div class="medium-12 columns">
                <div class="medium-8 medium-offset-2 end orbit" role="achievement"  data-orbit data-infinite-wrap="false" data-auto-play="false">

                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><img src="{{ base_url() }}/assets/css/images/arrow-achievement.png"/></button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><img src="{{ base_url() }}/assets/css/images/arrow-achievement.png"/></button>
                    <ul class="orbit-container">
                    {% for award in award_certificate %}
                        <li class="is-active orbit-slide">
                            <div class="title-orbit">{{ award.title }}</div>
                            <img class="ornamen-orbit" src="{{ base_url() }}/assets/css/images/shape-orbit.jpg"/>
                            <div class="image-award">
                                <div class="ia-wrap">
                                    <img class="orbit-image" src="{{ base_url() }}media/awardcertificate/{{ award.img }}" alt="{{ award.name }}" title="{{ award.name }}">
                                </div>
                            </div>
                            <figcaption class="orbit-caption">{{ award.desc }}</figcaption>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>
        $( window ).load(function() {
        });
    </script>

{% endblock %}
