{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/about.css') | raw }}
{% endblock %}
{% block frontend_content %}
    {% include "template_about_us.twig" %}
    {% for detail in about_detail %}
        <div class="about-content">
            <div class="about-logo">
                <div class="row">
                    <img src="{{ base_url() }}/assets/img/about-us/logo-about.jpg"/>
                </div>
            </div>
            <div class="row">
                <div style="border-bottom: 1px solid #bdbdbd"></div>
            </div>
            <div style="height: 40px;"></div>
            <div class="about-item">
                <div class="row" data-equalizer="hal">
                    <h5>{{ lang('txt_aboutus02') }}</h5>
                    <hr/>
                    <div class="small-12 columns" data-equalizer-watch="hal">
                        <p>
                            {{ detail.meaning }}
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="columns about-visi">
            <div class="row detail">
               <div class="title">
                   <p>{{ lang('txt_aboutus03') }}</p>
                   <div style="border-bottom: 6px solid #fff;width: 96px;margin-bottom: 26px;"></div>
               </div>
               <div class="desc">
                   {{ detail.highlight }}
               </div>
                <div class="title">
                    <p>{{ lang('txt_aboutus04') }}</p>
                    <div style="border-bottom: 6px solid #fff;width: 96px;margin-bottom: 26px;"></div>
                </div>
                <div class="desc">
                    {{ detail.detail }}
                </div>
            </div>
            <div class="show-for-small-only">
                {% block back_to_top %}
                    {{ parent() }}
                {% endblock back_to_top %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script type="text/javascript">
    {% block back_to_top_js %}
        {{ parent() }}
    {% endblock back_to_top_js %}
    </script>
{% endblock %}