{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {#{{ asset_css('custom/motion-ui.css') | raw }}#}
    <link href="{{ base_url() }}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    {{ asset_css('custom/about.css') | raw }}
{% endblock %}
{% block frontend_content %}
    {% include "template_about_us.twig" %}
    <div class="awards-and-certificates">
        <div class="description">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p>PT. Amerta Indah Otsuka berkomitmen untuk memberikan yang terbaik pada konsumen dan masyarakat sesuai dengan misinya untuk menjadi perusahaan yang brilian, dengan memberikan kontribusi yang signifikan dan terpercaya bagi konsumen serta masyarakat.                </p>
                </div>
                <div class="large-6 medium-6 columns">
                    <p>Komitmen tersebut diwujudkan dengan kegiatan operasional yang menjunjung tinggi kualitas dan standarisasi baik lokal maupun internasional yang telah diakui dunia. Komitmen dan kerja keras PT. Amerta Indah Otsuka telah diakui berbagai pihak melalui berbagai sertifikat sebagai berikut:</p>
                </div>
            </div>
        </div>
        <div class="large-12 medium-12 columns no-padd">
            <h1 class="title">AWARDS</h1>
        </div>
        <div class="large-12 medium-12 columns description">
            <div class="large-8 large-centered medium-8 medium-centered columns">
                <div class="slider">
                {% for award in award_detail %}
                    <div class="slide">
                        <a data-open="{{ award.id }}"><img src="{{ base_url() }}/media/awardcertificate/{{ award.image }}"></a>
                        <div class="title-slide">
                            <p>{{ award.desc }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% for award in award_detail %}
                   <div class="reveal" id="{{ award.id }}" data-reveal>
                        <img src="{{ base_url() }}/media/awardcertificate/{{ award.image }}">
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="large-12 medium-12 columns no-padd">
            <h1 class="title">CERTIFICATES</h1>
        </div>
        <div class="large-12 medium-12 columns description">
            <div class="large-8 large-centered medium-8 medium-centered columns">
                <div class="slider">
                    {% for certificate in certificate_detail %}
                        <div class="slide">
                            <a data-open="{{ certificate.id }}"><img src="{{ base_url() }}/media/awardcertificate/{{ certificate.image }}"></a>
                            <div class="title-slide">
                                <p>{{ certificate.desc }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% for certificate in certificate_detail %}
                    <div class="reveal" id="{{ certificate.id }}" data-reveal>
                        <img src="{{ base_url() }}/media/awardcertificate/{{ certificate.image }}">
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/bxslider/jquery.bxslider.min.js"></script>
    {#{{ asset_js('motion-ui.js') | raw }}#}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                slideWidth: 760,
                minSlides: 1,
                maxSlides: 1,
                slideMargin: 0,
                auto: true,
                autoHover: true
            });
        });
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}