{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/about.css') | raw }}
{% endblock %}
{% block menu_about_awards %}active{% endblock %}
{% block frontend_content %}
    {% include "template_about_us.twig" %}
    <div class="history">
        <div class="row">
            <div class="main-title">
                <p>{{ lang('txt_aboutus07') }}</p>
                <hr/>
            </div>

            <ul class="columns history-list animatedParent animateOnce" data-sequence='500'>
                {% for history in history_detail %}
                    {% set additional_class = '' %}
                    {% if loop.length%2 == 0 %}
                        {% if loop.index+1 == loop.length or loop.last %}
                            {% set additional_class = 'end' %}
                        {% endif %}
                    {% else %}
                        {% if loop.last %}
                            {% set additional_class = 'end' %}
                        {% endif %}
                    {% endif %}
                    {% if loop.index == 1 or loop.index == 2%}
                    <li class="medium-6 small-12 columns">
                    {% else %}
                    <li class="medium-6 small-12 columns animated fadeInUp {{ additional_class }}" data-id="{{ history.seq  }}">
                    {% endif %}
                        <div class="medium-3 small-12 columns history-year"><p style="color: #1a8c8d">{{ history.year }}<br><span>{{ history.month }}</span></p></div>
                        <div class="medium-9 small-12 columns history-content">
                            <div class="small-5 columns">
                                <img src="{{ base_url() }}media/history/{{ history.image }}">
                            </div>
                            <div class="small-7 columns">
                                <div class="title">
                                    <p>{{ history.title }}</p>
                                </div>
                                <p>{{ history.description }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% block back_to_top %}
            {{ parent() }}
        {% endblock back_to_top %}
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}