{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {#{{ asset_css('jquery.flipster.min.css') | raw }}#}
    {{ asset_css('jquery.flipster.css') | raw }}
    {{ asset_css('custom/history_new.css') | raw }}
{% endblock %}
  {% block frontend_head_js %}
      {{ parent() }}
      <script src="{{ base_url() }}/assets/js/jquery.flipster.min.js"/>
  {% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left about-us">
        <div class="title">
            <h2>Sejarah Kami</h2>
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="row">
                {#flipster#}
                <article id="demo-carousel" class="demo">
                    <div id="carousel">
                        <ul class="flip-items">
                            <li class="" data-flip-title="1921" data-flip-category="1921">
                                <div class="storyline">
                                    <p class="history-title">1921</p>
                                </div>
                                <div class="inner-border">
                                    <img src="{{ base_url() }}/assets/img/history/history-1921.jpg"/>
                                </div>
                                <div class="desc">
                                    <h3>AMERTA INDAH OTSUKA</h3>
                                    <p>PT. Kapal Indah Otsuka didirikan sebagai rumah dari Pocari Sweat Indonesia.</p>
                                    <div style="clear: both"></div>
                                </div>
                            </li>
                            <li class="" data-flip-title="1997" data-flip-category="1997">
                                <div class="storyline">
                                    <p class="history-title">1997</p>
                                </div>
                                <div class="inner-border">
                                    <img src="{{ base_url() }}/assets/img/history/history-1997.jpg"/>
                                </div>
                                <div class="desc">
                                    <h3>AMERTA INDAH OTSUKA</h3>
                                    <p>PT. Kapal Indah Otsuka didirikan sebagai rumah dari Pocari Sweat Indonesia.</p>
                                    <div style="clear: both"></div>
                                </div>
                            </li>
                            <li class="" data-flip-title="1922" data-flip-category="1922">
                                <div class="storyline">
                                    <p class="history-title">1922</p>
                                </div>
                                <div class="inner-border">
                                    <img src="{{ base_url() }}/assets/img/history/history-1921.jpg"/>
                                </div>
                                <div class="desc">
                                    <h3>AMERTA INDAH OTSUKA</h3>
                                    <p>PT. Kapal Indah Otsuka didirikan sebagai rumah dari Pocari Sweat Indonesia.</p>
                                    <div style="clear: both"></div>
                                </div>
                            </li>
                            <li class="" data-flip-title="1923" data-flip-category="1923">
                                <div class="storyline">
                                    <p class="history-title">1923</p>
                                </div>
                                <div class="inner-border">
                                    <img src="{{ base_url() }}/assets/img/history/history-1997.jpg"/>
                                </div>
                                <div class="desc">
                                    <h3>AMERTA INDAH OTSUKA</h3>
                                    <p>PT. Kapal Indah Otsuka didirikan sebagai rumah dari Pocari Sweat Indonesia.</p>
                                    <div style="clear: both"></div>
                                </div>
                            </li>
                        </ul>
                        <div style="clear: both"></div>
                    </div>

                </article>
                {#end flipster#}
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    <script>
        var carousel = $("#carousel").flipster({
            style: 'carousel',
            spacing: -0.8,
            nav: true,
            buttons:   false
        });
//        $( window ).load(function() {
//        });
    </script>

{% endblock %}
