{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('jquery.flipster.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left about-us">
        <div class="title">
            <h2>{{ lang('about_history') }}</h2>
        </div>
        <div class="medium-10 medium-centered custom-content">
            <div class="row">
                <div id="carousel">
                    <ul class="flip-items">
                        {% for y in years %}
                            {% if (months[y]|length > 1) %}
                                {% for m in months[y] %}
                                    <li data-flip-title="{{ m.get_field_by_lang('month', current_lang) }}" data-flip-category="{{ y }}">
                                        <div class="history-image">
                                            <img src="{{ base_url() }}media/history/{{ m.image }}">
                                        </div>
                                        <div class="history-title">
                                            <div class="history-year-title hide-for-large">{{ y }}</div>
                                            <span>{{ m.get_field_by_lang('month', current_lang) }}. </span>{{ m.get_field_by_lang('title', current_lang) }}
                                        </div>
                                        <div class="history-detail">
                                            {{ m.get_field_by_lang('description', current_lang) }}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for m in months[y] %}
                                    <li data-flip-title="{{ y }}">
                                        <div class="history-image">
                                            <img src="{{ base_url() }}media/history/{{ m.image }}">
                                        </div>
                                        <div class="history-title">
                                            <div class="history-year-title hide-for-large">{{ y }}</div>
                                            {{ m.get_field_by_lang('title', current_lang) }}
                                        </div>
                                        <div class="history-detail">
                                            {{ m.get_field_by_lang('description', current_lang) }}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.flipster.min.js') | raw }}
    <script>

        if( $(window).width() >=1024){
            var carousel = $("#carousel").flipster({
                style: 'carousel',
                spacing: -0.5,
                nav: true,
                loop: false,
                start: 0,
                scrollwheel: false,
                buttons: 'custom',
                buttonPrev: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                buttonNext: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">'
            });
        }
        else
        {
            var carousel = $("#carousel").flipster({
                style: 'flat',
                spacing: -0.5,
                nav: false,
                loop: true,
                scrollwheel: false,
                buttons: 'custom',
                buttonPrev: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                buttonNext: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                start: 0
            });
        }
        $( window ).resize(function() {
            if( $(window).width() >=1024){
                var carousel = $("#carousel").flipster({
                    style: 'carousel',
                    spacing: -0.5,
                    nav: true,
                    loop: false,
                    start: 0,
                    scrollwheel: false,
                    buttons: 'custom',
                    buttonPrev: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                    buttonNext: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">'
                });
            }
            else
            {
                var carousel = $("#carousel").flipster({
                    style: 'flat',
                    spacing: -0.5,
                    nav: false,
                    scrollwheel: false,
                    loop: true,
                    buttons: 'custom',
                    buttonPrev: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                    buttonNext: '<img src="{{ base_url() }}/assets/css/images/history-arrow.png">',
                    start: 0
                });
            }
        });
    </script>

    {{ asset_css('custom/history_new.css') | raw }}
{% endblock %}
