<div class="about-us">
    <div class="banner-about">
        {% for banner in banner_detail %}
            <img class="banner" data-interchange="[{{ base_url() }}media/about/{{ banner.image_s }}, small], [{{ base_url() }}media/about/{{ banner.image_m }}, medium], [{{ base_url() }}/media/about/{{ banner.image }}, large]">
        {% endfor %}
    </div>
    <div class="about-headline">
        <div class="row">
            <h1>Otsuka-people creating new products for better health worldwide</h1>
            <div style="height: 20px;"></div>
            <div class="highlight-line">
                <img src="{{ base_url() }}/assets/css/images/highlights-line.png"/>
            </div>
        </div>
    </div>
    <div class="about-menu">
        <div class="row" data-equalizer="about-menu">
            <div class="small-4 columns sub-menu {{ active_about }}" data-equalizer-watch="about-menu">
                {#<div class="{% block about_menu_us %}{% endblock about_menu_us %}"></div>#}
                <a href="{{ base_url() }}{{ current_lang }}/about-us">About Us</a>
                <div class="hr"></div>
            </div>
            <div class="small-4 columns sub-menu {{ active_award }}" data-equalizer-watch="about-menu">
                <a href="{{ base_url() }}{{ current_lang }}/about-us/awards-and-certificates">AWARDS & CERTIFICATES</a>
                <div class="hr"></div>
            </div>
            <div class="small-4 columns sub-menu {{ active_history }}" data-equalizer-watch="about-menu">
                <a href="{{ base_url() }}{{ current_lang }}/about-us/history">HISTORY</a>
                <div class="hr"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
</div>