{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/main.css') | raw }}
{% endblock %}
{% block frontend_meta_facebook %}
    {% if (list_detail.category == '0') or (list_detail.category == '1') %}
        <meta property="og:url" content="{{ base_url()~current_lang }}/news/detail/{{ list_detail.slug }}" />
    {% endif %}
    {% if list_detail.category == '2' %}
        <meta property="og:url" content="{{ base_url() }}/press/detail/{{ list_detail.slug }}" />
    {% endif %}
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ list_detail.title }}" />
    <meta property="og:description"        content="{{ list_detail.highlight }}" />
    <meta property="fb:app_id" content="387528301585839" />
    <meta property="og:image"              content="{{ base_url() }}media/press-room/{{ list_detail.image }}" />
{% endblock %}
{% block frontend_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=387528301585839";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="main" role="main">
        <div class="space60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 section-csr">
                {% for detail in details %}
                    <article>
                        <header class="post-header">
                            <h2 class="title-lg">{{ detail.title }}</h2>
                            <span class="meta-date">Posted on {{ detail.date | date('F d, Y') }}</span>
                        </header>

                        <div class="post-content">
                            <figure class="img-center">
                                <img src="{{ base_url() }}media/press-room/{{ detail.image }}" alt="{{ detail.title }}">
                            </figure>
                            <p>{{ detail.content }}</p>
                        </div>

                        <div class="post-social">
                            <strong>{{ lang('news_share') }}</strong>
                            <ul>
                                <li>
                                    <a href="{{ base_url()~current_lang }}/press/detail/{{ detail.slug }}" title="{{ detail.title }}" class="tweet" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a data-href="{{ base_url()~current_lang }}/press/detail/{{ detail.slug }}" class=" share-button-fb fa fa-facebook"></a>
                                </li>
                            </ul>
                        </div>
                    </article>
                {% endfor %}            
                    <div class="related-post">
                        <h3 class="title-xs-line">{{ lang('news_more') }}</h3>
                        <div class="rel-post-item">
                            <ul>
                            {% for article in articles %}
                                <li>
                                    <a href="{{ base_url()~current_lang~'/news/detail/'~article.slug }}">
                                        <figure>
                                            <img src="{{ base_url()~article.get_image_path()~'media/press-room/thumbnail/'~article.image }}" alt="{{ article.title }}">
                                        </figure>
                                        <div class="desc">
                                            <h4>{{ article.title }}</h4>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/libs.min.js') | raw }}
    {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4b1bKwY-EX4Jl46J4eNz83Te-g8okhgY&callback=initMap"></script>#}
    {{ asset_js('custom/global.js') | raw }}
    <script>
        //facebook
        $('.share-button-fb').click(function(e){
            e.preventDefault();
            FB.ui(
                    {
                        method: 'feed',
                        link: $(this).data('href')
                    });
        });
        
        // twitter
       $('a.tweet').click(function(e){
            e.preventDefault();
            var loc = $("link[rel=canonical]").attr("href");
            
            var title  = encodeURIComponent($(this).attr('title'));
            window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            
        });
    </script>
{% endblock %}
