{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/main.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <section class="herosub" style="background-image: url('{{ base_url() }}assets/img/bg-news.jpg')">
        <div class="container">
            {% if (flag == 1) %}
                <h2 class="herosub-title"><span>{{ lang('news_title2') }}</span></h2>
            {% else %}
                <h2 class="herosub-title"><span>{{ lang('news_title') }}</span></h2>
            {% endif %}
        </div>
    </section>
    <!-- //hersub -->

    <div id="main" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <section class="news-posts">
                    {% for article in articles %}
                        <article class="news-post-item">
                            <figure>
                                <a href="{{ base_url()~current_lang~'/news/detail/'~article.slug }}"><img src="{{ base_url()~article.get_image_path()~'media/press-room/'~article.image }}" alt="{{ article.title }}"></a>
                            </figure>
                            <div class="desc">
                                <header>
                                    <span class="post-category"><a href="#">{{ article.category }}</a></span>
                                    <h3>
                                        <a href="{{ base_url()~current_lang~'/news/detail/'~article.slug }}">{{ article.title }}</a>
                                    </h3>
                                    <span class="post-date">Posted on {{ article.date | date('F d, Y') }}</span>
                                </header>
                                <p>{{ article.highlight }}</p>
                                <div class="link-more">
                                    <a href="{{ base_url()~current_lang~'/news/detail/'~article.slug }}">{{ lang('news_detail') }}</a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    </section>
                    {% if (flag == 1) %}
                        <div class="other-news row">
                            <article class="col-md-5">
                                <h5 class="title-xs">NARA HUBUNG MEDIA</h5>
                                <p>
                                    Idayatih (Corporate Communication Department)<br> Idayatih@aio.co.id
                                </p>
                            </article>

                            <div class="btn-otherpost">
                                <a href="javascript:void(0);" id="loadMore">{{ lang('news_more2') }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="btn-otherpost">
                            <a href="javascript:void(0);" id="loadMore">{{ lang('news_more2') }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/libs.min.js') | raw }}
    {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4b1bKwY-EX4Jl46J4eNz83Te-g8okhgY&callback=initMap"></script>#}
    {{ asset_js('custom/global.js') | raw }}
    <script>

        var last_id = {{ last_id }};
        var totals = {{ list_total }};
        var flag = {{ flag }};

        console.log(last_id);
        console.log(totals);

        $('#loadMore').click(function(){
            $.post('{{ base_url()~ current_lang }}/get-list',{'last_id' : last_id, 'flag' : flag},function(result){
                var datas = $.parseJSON(result);
                {#var content = "";
                var per_page = '4';#}
                console.log(datas.length);
                last_id = datas[datas.length-1].id;

                for(i=0; i< datas.length; i++){
                            var output = "<article class='news-post-item'>" +
                                    "<figure>" +
                                    "<a href='{{ base_url()~current_lang~'/news/detail/'}}"+datas[i].slug+"'><img src='{{ base_url() }}media/press-room/"+ datas[i].image +"' alt='"+datas[i].title+"'></a>" +
                                    "</figure>" +
                                    "<div class='desc'>" +
                                    "<header>" +
                                    "<span class='post-category'><a href='#'>"+datas[i].category+"</a></span>" +
                                    "<h3>" +
                                    "<a href='{{ base_url()~current_lang~'/news/detail/'}}"+datas[i].slug+"'>"+datas[i].title+"</a>" +
                                    "</h3>" +
                                    "<span class='post-date'>Posted on "+ datas[i].date +"</span>" +
                                    "</header>" +
                                    "<p>"+datas[i].highlight+"</p>" +
                                    "<div class='link-more'>" +
                                    "<a href='{{ base_url()~current_lang~'/news/detail/'}}"+datas[i].slug+"'>{{ lang('news_detail') }}</a>" +
                                    "</div>" +
                                    "</div>" +
                                    "</article>";

                            $('.news-posts').append(output);
                }

                totals++;

                if ($('.news-post-item').length >= totals) {
                    $('#loadMore').remove();
                }

            }).fail(function(xhr, ajaxOptions, thrownError) { //any errors?
                console.log(thrownError); //alert with HTTP error
                $(".load_more").show(); //bring back load more button
            });
        });
    </script>
{% endblock %}
