{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/press.css') | raw }}
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    {% include "template_press_room.twig" %}
    
    <div class="press-content">
        <div class="padding-custom"></div>
            <div class="row">
                {% for press_item in press_list %}
                <div class="columns press-item">
                    <div class="large-3 columns press-item-photo">
                        <img src="{{ base_url()~press_item.get_image_path()~'media/press-room/thumbnail/'~press_item.image }}" alt="{{ press_item.title }}" />
                    </div>
                    <div class="large-9 columns press-item-content">
                        <span class="press-item-title">{{ press_item.title }}</span><br/>
                        <span class="press-date">Posted on {{ press_item.date | date('F d, Y') }} - {{ press_item.get_category_name() }}</span><br/>
                        <div class="press-text">{{ press_item.highlight }}</div>
                        <a href="{{ base_url()~current_lang~'/our-event/detail/'~press_item.slug }}"><div class="read-more"><img src="{{base_url()}}assets/img/press/right.png"/>&nbsp;Read More</div></a>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
    
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}