{# empty Twig template #}
{% extends 'pages/views/template_frontend.twig' %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/press.css') | raw }}
{% endblock %}
{% block frontend_meta_twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ meta_title }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
    <meta name="twitter:url" content="{{ current_url() }}" />
    <meta name="twitter:image" content="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" />
{% endblock %}
{% block frontend_meta_facebook %}
    <meta property="og:url"           content="{{ current_url() }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ meta_title }}" />
    <meta property="og:description"   content="{{ meta_desc }}" />
    <meta property="og:image"         content="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" />
{% endblock %}
{% block about_menu_us %}.test{% endblock about_menu_us %}
{% block frontend_content %}
    <div class="press-detail">
        <div class="row">
            <div class="large-12 columns">
                <h4 class="title">{{ detail_data.title }}</h4>
                <div class="posted">
                    Posted on {{ detail_data.date | date('F d, Y') }}
                </div>
                <div class="row">
                    <div class="large-10 large-centered columns banner">
                        <img src="{{ base_url()~detail_data.get_image_path()~detail_data.image }}" alt="{{ detail_data.title }}" />
                    </div>
                </div>
                <div class="text-detail">
                    {{ detail_data.content }}
                </div>
                <div class="text-share">
                    Share this article...<br>
                    <div class="row">
                        <div class="large-2 large-centered columns">
                            <div class="small-6 columns">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ current_url() }}" data-text="{{ meta_title }} - {{ meta_desc }}" target="_blank" data-popup="true"><img src="{{ base_url() }}assets/img/press/twitter.png"/> </a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                            <div class="small-6 columns">
                                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ current_url() }}&amp;p[images][0]={{ base_url()~detail_data.get_image_path()~detail_data.image }}&amp;p[title]={{ meta_title }}&amp;p[summary]={{ meta_desc }}"><img src="{{ base_url() }}assets/img/press/fb.png"></a>
                                {#<div id="fb-root"></div>
                                <script>
                                    (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                                <div class="fb-share-button" data-href="http://athena.microad.co.id/aio.co.id/id/press-room/detail" data-layout="button_count"></div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}