<div class="press-room">
    <div class="banner-press-room">
        {{ press_room_banner }}
        <div class="banner-desc animated fadeInUpShort">
            <p> NEWS &amp;<br/>
                PRESS RELEASE</p>
            <hr/>
        </div>
    </div>
    <div class="padding-custom"></div>
    <div class="press-cat">
        <div class="row" data-equalizer="press-menu">
            <div class="small-4 columns sub-menu {{ active_corporate }}" data-equalizer-watch="press-menu">
                <div class="{% block about_menu_us %}{% endblock about_menu_us %}"></div>
                <a href="{{ base_url()~current_lang~'/our-event' }}">CORPORATE NEWS</a>
                <div class="hr"></div>
            </div>
            <div class="small-4 columns sub-menu {{ active_brand }}" data-equalizer-watch="press-menu">
                <a href="{{ base_url()~current_lang~'/brand-news' }}">BRAND NEWS</a>
                <div class="hr"></div>
            </div>
            <div class="small-4 columns sub-menu {{ active_press }}" data-equalizer-watch="press-menu">
                <a href="{{ base_url()~current_lang~'/press-release' }}">PRESS RELEASE</a>
                <div class="hr"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="padding-custom"></div>
</div>