{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ parent() }}
    <link href="{{ base_url() }}assets/css/custom/distribution.css" rel="stylesheet">
{% endblock %}

{% block frontend_content %}
    <div class="distribution">
        <img class="banner" data-interchange="[{{ base_url() }}assets/img/distribution/distribution-map-s.jpg, small], [{{ base_url() }}assets/img/distribution/distribution-map-m.jpg, medium], [{{ base_url() }}assets/img/distribution/distribution-map.jpg, large]">
        <div class="blue-bar"></div>
        <div class="row">
            <div class="distribution-title columns">
                <div class="large-1">
                DISTRIBUTION<br>MAP
                <hr/>
                </div>
            </div>
            <div class="location">
                <div class="large-4 columns">
                    <select id="province" class="select-box" name="province">
                        <option></option>
                        {% for prov in provinces %}
                        <option value="{{ prov.id }}">{{ prov.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="large-4 columns">
                    <select id="city" class="select-box" name="location">
                        <option></option>
                    </select>
                    {#<ul id="city" class="vertical menu" data-accordion-menu>
                        <li>
                            <a href="#">BOGOR</a>
                                <ul class="menu vertical nested">
                                    <li><a href="#">PT TULUS MAJU BOGOR</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="#">BANDUNG</a>
                                <ul class="menu vertical nested">
                                    <li><a href="#">BANDUNG BRANCH</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="#">SUKABUMI</a>
                                <ul class="menu vertical nested">
                                    <li><a href="#">PT TULUS MAJU SUKABUMI</a></li>
                                </ul>
                        </li>
                    </ul>#}
                </div>
                <div class="large-4 columns">
                    <div class="address">
                        <p class="title">ALAMAT</p>
                        Jl. Raya Pemda No. 188<br>
                        Pasir Jambu Pangkalan III<br>
                        Bogor 16710<br>
                        (021) 866-6669
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock frontend_content %}

{% block frontend_js %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $('.location').on('change', '#province', function(){
            var id = parseFloat($(this).val());
            if (isNaN(id)) { id = 0; }
            $.ajax({
                method: "POST",
                url: "{{ base_url()~current_lang }}/distribution/get_city",
                data: {id_province: id}
            }).done(function( res ) {
                $('#city').html('<option></option>');
                var data = $.parseJSON(res);
                
                for(idx=0;idx<data.length;idx++) {
                    if (data[idx].id_province == id) {
                        $('#city').append('<option value="'+data[idx].id+'">'+data[idx].name+'</option>');
                    }
                }
                
            });
        });
    </script>
{% endblock %}