{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/distribution.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="columns distribution">
        <div class="banner">
            <img data-interchange="[{{ base_url() }}/assets/img/distribution/distribution-map-s.jpg, small], [{{ base_url() }}/assets/img/distribution/distribution-map-m.jpg, medium], [{{ base_url() }}/assets/img/distribution/distribution-map.jpg, large]">
            <div style="width: 100%; height: 110px;background: #3e5172;margin-bottom: 50px"></div>
        </div>
        <div class="row address-list">
            <p class="title">DISTRIBUTION<br/>MAP</p>
            <div style="width: 194px;border-bottom: 6px solid #4d5a64;margin-bottom: 60px"></div>
            <div class="row address-detail" id="address-detail">
                <div class="medium-3 small-12 columns provinsi">
                    <select id="province-list" class="medium-12 small-12 columns list-provinsi">
                        {% for prov in provinces %}
                            <option value="{{ prov.id }}">{{ prov.name }}</option>
                        {% endfor %}
                    </select>
                    <select id="city-list" class="medium-12 small-12 columns list-city-name"></select>
                    <input type="checkbox" id="type-branch" value="branch" checked hidden> {#Branch<br>#}
                    <input type="checkbox" id="type-distributor" value="distributor" checked hidden> {#Distributor<br>#}
                </div>
                <div class="medium-5 end columns address" id="city">
                    <div class="small-12 columns list-address">
                        <div class="columns title">DISTRIBUTOR</div>
                        <div class="columns list-branch" id="branch"></div>
                        <div class="columns list-distributor" id="distributor"></div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') | raw }}
    <script type="text/javascript">
        var data_dist;
        
        function render_dist_city_list(idx) {
            var list_branch = $('.list-branch');
            var list_distributor = $('.list-distributor');
            list_branch.html('');
            list_distributor.html('');
            var _is_checked_branch = $('#type-branch').prop('checked');
            var _is_checked_distributor = $('#type-distributor').prop('checked');
            
            var counter = data_dist.length;
            var mark = 0;
            console.log(data_dist);
            for(var n = 0; n < counter; n++ ){
                var check = data_dist[n].distributors;
                if(check){
                    //console.log(data_dist[idx].distributors);
                    
                    for (var idy=0; idy<data_dist[n].distributors.length; idy++) {
                        
                        var curr_dist_type = data_dist[n].distributors[idy].type.toLowerCase();
                        if((curr_dist_type == "branch" && _is_checked_branch)){
                            var branch_name = $('<div />');
                            var data = data_dist[n].distributors[idy];
                            branch_name.addClass('columns branch-name');
                            branch_name.attr('data-dist-idx', idx);
                            branch_name.attr('data-dist-idy', idy);
                            branch_name.html('<b>'+data.name+'</b>'+'<hr/>'+data.address);
                            branch_name.appendTo(list_branch);
                        }

                        if((curr_dist_type == "distributor" && _is_checked_distributor)){
                            var distributor_name = $('<div />');
                            var data = data_dist[n].distributors[idy];
                            distributor_name.addClass('columns distributor-name');
                            distributor_name.attr('data-dist-idx', idx);
                            distributor_name.attr('data-dist-idy', idy);
                            distributor_name.html('<b>'+data.name+'</b>'+'<hr/>'+data.address);
                            distributor_name.appendTo(list_distributor);
                        }

                    }

                    
                }else{ mark++; }
                
            }
            
            //console.log(mark);
        }
        function check_distribution_city(idx) {
            var retval = false;
            var _is_checked_branch = $('#type-branch').prop('checked');
            var _is_checked_distributor = $('#type-distributor').prop('checked');
            for (var idy=0; idy<data_dist[idx].distributors.length; idy++) {
                var curr_dist_type = data_dist[idx].distributors[idy].type.toLowerCase();
                if((curr_dist_type == "branch" && _is_checked_branch) || (curr_dist_type == "distributor" && _is_checked_distributor)){
                    retval = true;
                }
            }
            return retval;
        }
        function render_dist_city() {
            var list_city = $('#city-list');
            list_city.html('');
            $('.dist-address-detail').html('');//$('.list-branch').html('');
            for (var idx=0;idx<data_dist.length;idx++){
                if (typeof data_dist[idx].distributors !== 'undefined') {
                    if (check_distribution_city(idx)) {
                        var new_opt = $('<option />');
                        new_opt.attr('value', idx).text(data_dist[idx].name);
                        list_city.append(new_opt);
                    }
                }
            }
            $('#city-list').trigger('change');
            //new Foundation.Equalizer($('.address-list'));
        }
        $('.distribution').on('change', '#province-list', function(){
            var id = parseFloat($(this).val());
            if (isNaN(id)) { id = 0; }
            $.ajax({
                method: "POST",
                url: "{{ base_url()~current_lang }}/distribution/get_city",
                data: {
                        id_province: id
                      }
            }).done(function( res ) {
                data_dist = $.parseJSON(res);
                render_dist_city();
            });
        });
        $('.distribution').on('change', '#city-list', function(){
            var idx = parseFloat($(this).val());
            if (isNaN(idx)) { idx = 0; }
            render_dist_city_list(idx);
        });
        $('.distribution').on('change', '#type-branch', function(){
            render_dist_city();
        });
        $('.distribution').on('change', '#type-distributor', function(){
            render_dist_city();
        });
        $('#province-list').trigger('change');
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
