{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/main.css') | raw }}
{% endblock %}
{% block frontend_content %}
{% set cities = distributor.city %}
{% set distributors = distributor %}
{% set provinsi = province %}
    <section class="hero-map-wrap">
        <header>
            <div class="container">
                <h2 class="herosub-title"><span>{{ lang('txt_distri_1') }}</span></h2>
            </div>
        </header>
        <!-- <div class="hero-map">
        <img src="assets/img/distribution.jpg" alt="">
      </div> -->
        <div id="map" class="g-map"></div>
    </section>
    <!-- //hersub -->

    <div id="main" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="row">
                        <aside class="aside-dist col-sm-4">
                            <ul class="distribList">
                                <li>
                                    <a href="#" class="active">{{ lang('txt_distri_2') }}</a>
                                </li>
                                <li>
                                <li>
                                    <a class="distribListTitle" data-filter="*" href="#">All List</a>
                                    <ul class="distribSubList">
                                        <li><a href="#"  data-filter="*">All List</a></li>
                                        {% for provinces in provinsi %}
                                        <li><a href="{{provinces.name}}" id="provinsi" data-filter=".{{provinces.names}}" data="{{provinces.id}}">{{provinces.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </aside>

                        <div class="content-rt col-sm-8">
                            <div class="distribution">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/vue.min.js') | raw }}
    {{ asset_js('custom/libs.min.js') | raw }}
    {#{{ asset_js('isotope.pkgd.js') | raw }}#}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4b1bKwY-EX4Jl46J4eNz83Te-g8okhgY&callback=initMap"></script>

    {{ asset_js('custom/global.js') | raw }}
    <script>
        // init Isotope
//        var $grid = $('.distribution ul').isotope({
//            itemSelector: '.distrib-item'
//        });
//
//        $title = $(".distribListTitle");
//
//        $(".distribSubList a").click(function(){
//            $title.text(this.innerHTML);
//            $title.attr("data-filter",$(this).data("filter"));
//            var filterValue = $( this ).attr('data-filter');
//            $grid.isotope({ filter: filterValue });
//        });
    </script>
    <script>
      $(document).ready(function(){
            var postData = $(this).attr('href');
            $.ajax({
          					url: 'get-data-distributor',
          					data: 'province=#',
          					method: 'post',
          					dataType: 'json',
          					success: function(response) {
                        var d = $.parseJSON(JSON.stringify(response));
                              var output="<ul>";
                              for (var i in d)
                              {
                                  output+="<li class='distrib-item "+d[i].province+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a onclick='focusToMarker("+d[i].latitude+","+d[i].longitude+")' href='#map' class='link'>Lihat Lokasi</a></li>";
                                i++;
                              }
                              output+="</ul>";

                              $('.distribution').append(output);
          				  }
                });
          // });
          $('.distribSubList').find('a').click(function(e){
//              e.preventDefault();
              var postData = $(this).attr('href');
              $.ajax({
        					url: 'get-data-distributor',
        					data: 'province='+postData,
        					method: 'post',
        					dataType: 'json',
        					success: function(response) {
                      var d = $.parseJSON(JSON.stringify(response));
                        if(postData == '#'){
                            window.location.reload();
                              // var output="<ul>";
                              // for (var i in d)
                              // {
                              //     output+="<li class='distrib-item "+d[i].province+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a target='_map'  onclick='focusToMarker("+d[i].latitude+","+d[i].longitude+")' href='#map' class='link'>Lihat Lokasi</a></li>";
                              //   i++;
                              // }
                              // output+="</ul>";
                              //
                              // $('.distribution').html(output);
                        }{
                          var output="<ul>";
                          for (var i in d)
                          {
                                output+="<li class='distrib-item "+d[i].province+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a class='link' onclick='focusToMarker("+d[i].latitude+","+d[i].longitude+")' href='#map'>Lihat Lokasi</a></li>";
                              i++;
                          }
                          output+="</ul>";
                          $('.distribution').html(output);
                        }
        				  }
              });
          });


            //         $('.distribution').find('a').click(function(e){
            //           e.preventDefault();
            //           var postData = $(this).attr('href');
            //           alert(postData);
            //           console.log('1');
            //
            //           var latLng = new google.maps.LatLng(rowBranch.latitude, rowBranch.longitude);
            //
            //           var mapOptions = {
            //               zoom: 14,
            //               center: latLng,
            //               mapTypeId: google.maps.MapTypeId.ROADMAP,
            //               scrollwheel: false,
            //               navigationControl: false,
            //               mapTypeControl: false,
            //               scaleControl: true,
            //               draggable: true,
            //               styles: this.styleArray
            //           };
            //
            //           this.googleMap = new google.maps.Map(document.getElementById('map'), mapOptions);
            //
            //           // Apply All Markers and Info Windows
            //
            //           googleMarker = new google.maps.Marker({
            //               position: latLng,
            //               map: this.googleMap,
            //               icon: this.markerIcon,
            //           });
            //
            //           googleMarker.setMap(this.googleMap);
            //
            //           var infowindow = new google.maps.InfoWindow({
            //               content: rowBranch.nama + "<br>" +
            //                   'Phone Number: ' + rowBranch.phone_number + "<br>" +
            //                   'Address: ' +
            //                   "<b>" + rowBranch.alamat + '-' + rowBranch.lokasi + "</b>",
            //           });
            //
            //           var googleMap = this.googleMap;
            //           infowindow.open(googleMap, googleMarker);
            //
            //           google.maps.event.addListener(googleMarker, 'click', function(marker) {
            //               infowindow.open(googleMap, this);
            //           });
            // //                    setTimeout(this.moveMapToCenter.bind(this), 1000);
            //         });
            //
            //     function moveMapToCenter() {
            //         this.googleMap.setCenter(this.latLngActive);
            //     };
      });

      function focusToMarker(lat,lng){
                  var latLng = new google.maps.LatLng(lat, lng);

                  var mapOptions = {
                      zoom: 14,
                      center: latLng,
                      mapTypeId: google.maps.MapTypeId.ROADMAP,
                      scrollwheel: false,
                      navigationControl: false,
                      mapTypeControl: false,
                      scaleControl: true,
                      draggable: true,
                      styles: this.styleArray
                  };

                  this.googleMap = new google.maps.Map(document.getElementById('map'), mapOptions);

                  googleMarker = new google.maps.Marker({
                               position: latLng,
                               map: this.googleMap,
                               icon: this.markerIcon,
                           });
                           googleMarker.setMap(this.googleMap);
                           var infowindow;
                           var googleMap;
                           $.ajax({
                           		url: 'get-data-province',
                           		data: 'latitude='+lat+'&longitude='+lng,
                           		method: 'post',
                           		dataType: 'json',
                           		success: function(response) {
                           					var d = $.parseJSON(JSON.stringify(response));
                          					for (var i in d)
                          					{
                                        infowindow = new google.maps.InfoWindow({
                                        content: d[0].kota + "<br>" +
                                            'Address: ' +
                                            "<b>" + d[0].address + "</b>"
                                      });
                                    };
                                      googleMap = this.googleMap;
                                      infowindow.open(googleMap, googleMarker);
                                  }
                                });

                           google.maps.event.addListener(googleMarker, 'click', function(marker) {
                               infowindow.open(googleMap, this);
                           });

                               this.googleMap.setCenter(latLng);
                              $('html, body').animate({scrollTop:$('.hero-map-wrap').position().top}, 'slow');
      };
    </script>
    {{ asset_js('custom/jquery.mousewheel.min.js') | raw }}
    {{ asset_js('custom/jquery.jscrollpane.min.js') | raw }}
{% endblock %}
