{# {% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {#{ asset_css('custom/vendor/font-awesome.css') | raw }#}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/vendor/jquery.jscrollpane.css') | raw }}
    {{ asset_css('custom/main.css') | raw }}
{% endblock %}

{% block frontend_content %}
              <div id="map-app">
                <section class="hero-map-wrap">
                    <header>
                        <div class="container">
                            <h2 class="herosub-title"><span>PETA DISTRIBUSI</span></h2>
                        </div>
                    </header>
                    <!-- <div class="hero-map">
            <img src="assets/img/distribution.jpg" alt="">
          </div> -->
                    <div id="map" class="g-map"></div>
                </section>
                <!-- //hersub -->

                <div id="main" role="main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <div class="row">
                                    <aside class="aside-dist col-sm-4">
                                        <ul class="distribList">
                                            <li>
                                                <a href="#" class="active">Daerah Distribusi</a>
                                            </li>
                                            <li>
                                                <a href="#">All List</a>
                                                <ul>
                                                    <li v-for="(row, index) in rs" :value="(index + 1)">
                                                        <a @click="selectArea" href="javascript:" :data-value="(index + 1)">{{ row.area }}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </aside>

                                    <div class="content-rt col-sm-8">
                                        <div class="area-distribution">

                                            <!-- <ul class="distribList-content">
                                                <li v-for="(row, index) in rs" class="distrib-item" data-lat="{{row.latitude}}" data-lang="{{row.longitude}}">
                                                    <h5>{{ row.area }}</h5>
                                                    <!-- <p>{{ row.alamat }} <br>Telp : {{ row.phone_number }}</p> -->
                                                    <!-- <a @click="selectArea" href="javascript:" :data-value="(index + 1)" class="link">Lihat Lokasi</a> -->
                                                <!-- </li> -->
                                            <!-- </ul> -->
                                        </div>

                                        <div class="distribution">

                                            <!-- <ul class="distribList-content">
                                                <li v-for="(row, index) in rowActive.branch" class="distrib-item" data-lat="{{row.latitude}}" data-lang="{{row.longitude}}">
                                                    <h5>{{ row.nama }}</h5>
                                                    <p>{{ row.alamat }} <br>Telp : {{ row.phone_number }}<br>Fax : {{ row.fax }}</p>
                                                    <a @click="renderBranch(index)" href="javascript:" class="link">Lihat Lokasi</a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //main -->
            </div>
{% endblock %}


{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/vue.min.js') | raw }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeoapI9ADlHQTMhOd-H3XWaLAUQSlG8AU" type="text/javascript"></script>

    <script>
    $.ajax({
            url: 'get-data-distributor',
            data: 'province=#',
            method: 'post',
            dataType: 'json',
            success: function(response) {
                var d = $.parseJSON(JSON.stringify(response));
                  // console.log(d);
                      var output="<ul class='distribList-content'>";
                      for (var i in d)
                      {
                          //output+="<li class='distrib-item "+d[i].province+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a href='"+d[i].latitude+", "+d[i].longitude +"' class='link'>Lihat Lokasi</a></li>";
                          output+="<li  v-for='(row, index) in rs' class='distrib-item' data-lat='"+d[i].latitude+"' data-lang='"+d[i].longitude+"'><h5>"+d[i].province+"</h5><a  @click='selectArea' href='javascript:':data-value='(index + 1)' class='link'>Lihat Lokasi</a></li>";
                        i++;
                      }
                      output+="</ul>";

                      $('.area-distribution').append(output);
                      var output="<ul class='distribList-content'>";
                      for (var i in d)
                      {
                          //output+="<li class='distrib-item "+d[i].province+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a href='"+d[i].latitude+", "+d[i].longitude +"' class='link'>Lihat Lokasi</a></li>";
                          output+="<li  v-for='(row, index) in rowActive.branch' class='distrib-item' data-lat='"+d[i].latitude+"' data-lang='"+d[i].longitude+"'><h5>"+d[i].kota+"</h5><p>"+d[i].address+"</p><a @click='renderBranch(index)' href='javascript:' class='link'>Lihat Lokasi</a></li>";
                        i++;
                      }
                      output+="</ul>";

                      $('.distribution').append(output);
            }
        });
    // console.log({{province}});
        var mapApp = new Vue({
            el: '#map-app',

            data: {
                googleMap: {},
                markerIcon: '{{ base_url() }}assets/img/pin-map.png',

                area: '',
                slideSection: true,
                styleArray: [{
                    elementType: 'geometry',
                    stylers: [{
                        color: '#e3e9dd'
                    }]
                }, {
                    elementType: 'labels.text.stroke',
                    stylers: [{
                        color: ''
                    }]
                }, {
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#000000'
                    }]
                }, {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#262626'
                    }]
                }, {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#d59563'
                    }]
                }, {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#263c3f'
                    }]
                }, {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#6b9a76'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#38414e'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{
                        color: '#212a37'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#9ca5b3'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#746855'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{
                        color: '#1f2835'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#f3d19c'
                    }]
                }, {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#2f3948'
                    }]
                }, {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#d59563'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#335197'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#ffffff'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{
                        color: '#17263c'
                    }]
                }],
                rs: {{province}}
                // rs: [{
                //     "area": "JAKARTA",
                //     "area_latitude": "-6.197131",
                //     "area_longitude": "106.851912",
                //     alamat: '',
                //     phone_number: '',
                //
                //     "branch": [{
                //         "nama": "SUNTER",
                //         "lokasi": "Jakarta",
                //         "latitude": "-6.118394",
                //         "longitude": "106.868297",
                //         "alamat": "Jl. Raya Narogong km 22,5 Cileungsi Kidul.",
                //         "phone_number": "430-6420 / 439 03 453",
                //         "fax": "(021) 439-03439"
                //     }, {
                //         "nama": "PASAR REBO",
                //         "lokasi": "Jakarta",
                //         "latitude": "-6.307988",
                //         "longitude": "106.874029",
                //         "alamat": "Jl. TB Simatupang,Ciracas Jakarta Timur.",
                //         "phone_number": "021 - 8778-3145/47"
                //     },{
                //         "nama": "PULO GADUNG",
                //         "lokasi": "Jakarta",
                //         "latitude": "-6.196637",
                //         "longitude": "106.912350",
                //         "alamat": "Jl. Rawa Gelam I No. 2 Kawasan Industri Pulo Gadung.",
                //         "phone_number": "021 - 4682-4494",
                //         "fax": "(021) 460-3980"
                //     }]
                // },
                // {
                //     "area": "BOGOR",
                //     "area_latitude": "-6.601221",
                //     "area_longitude": "106.809926",
                //     alamat: '',
                //     phone_number: '',
                //
                //     "branch": [{
                //         "nama": "CILEUNGSI DEPO",
                //         "lokasi": "Bogor",
                //         "latitude": "-6.415091",
                //         "longitude": "106.963944",
                //         "alamat": "JL. Laksana RE Martadinata Tanjung Priok Jakarta Utara 14310 ",
                //         "phone_number": "0812 - 8249 6990",
                //         "fax": "-"
                //     }, {
                //         "nama": "PT. TULUS MAJU BOGOR",
                //         "lokasi": "Bogor",
                //         "latitude": "-6.415091",
                //         "longitude": "106.963944",
                //         "alamat": "Jl. Raya Pemda No. 188 Pasir Jambu Pangkalan III Bogor 16710.",
                //         "phone_number": "0812 - 8249 6990",
                //         "fax": "251 - 866-6669 "
                //     }]
                // },{
                //     "area": "DEPOK",
                //     "area_latitude": "-6.403538",
                //     "area_longitude": "106.799255",
                //     alamat: '',
                //     phone_number: '',
                //     "branch": [{
                //         "nama": "SAWANGAN DEPO",
                //         "lokasi": "Depok",
                //         "latitude": "-6.371894",
                //         "longitude": "106.747005",
                //         "alamat": "Pergudangan Sawangan Indah Blok B 10 - Pergudangan Sawangan Indah Blok B 10",
                //         "phone_number": "021 - 2944-6213",
                //         "fax": "-"
                //     }]
                // }, {
                //     "area": "TANGERANG",
                //     "area_latitude": "-6.201600",
                //     "area_longitude": "106.645911",
                //     alamat: '',
                //     phone_number: '',
                //     "branch": [{
                //         "nama": "TANGERANG",
                //         "lokasi": "Tangerang",
                //         "latitude": "-6.201600",
                //         "longitude": "106.645911",
                //         "alamat": "Komplek VIVO Business Park Jl. Pembangunan 3 Blok B No. 2 Kelurahan Karanganyar, Kecamatan Neglasari Kota Tangerang.",
                //         "phone_number": "021 - 296-62611 / 021 296-62537",
                //         "fax": "(021) 296-62615"
                //     }]
                // }, {
                //     "area": "BEKASI",
                //     "area_latitude": "-6.238546",
                //     "area_longitude": "106.986593",
                //     alamat: '',
                //     phone_number: '',
                //     "branch": [{
                //         "nama": "BEKASI",
                //         "lokasi": "Bekasi",
                //         "latitude": "-6.238546",
                //         "longitude": "106.986593",
                //         "alamat": "Jl. Cut Mutiah Km.102 No.25 Kel. Sepanjang Jaya Rawa Lumbu Bekasi Timur - 17144. ",
                //         "phone_number": "021 - 8241-4815 / 82416613",
                //         "fax": "(021) 824-33954"
                //     }, {
                //         "nama": "CIKARANG",
                //         "lokasi": "Bekasi",
                //         "latitude": "-6.299982",
                //         "longitude": "107.150778",
                //         "alamat": "Jababeka Innovation Center - Jl. Samsung I Blok A001 - Jababeka Cikarang ",
                //         "phone_number": "021 - 29082971/72",
                //         "fax": "-"
                //     }]
                // }]
            },

            created: function() {
                google.maps.event.addDomListener(window, 'load', this.initializeMap);
            },

            computed: {

                rowActive: function() {
                    if (!this.area)
                        return '';

                    var row = this.rs[this.area - 1];
                    return row;
                },

                latLngActive: function() {
                    var latLngActive = new google.maps.LatLng(this.rowActive.area_latitude, this.rowActive.area_longitude);
                    return latLngActive;
                },

            },

            methods: {

                initializeMap: function() {

                    var latLng = new google.maps.LatLng(-2.609450, 121.289063);

                    var mapOptions = {
                        zoom: 5,
                        center: latLng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false,
                        navigationControl: false,
                        mapTypeControl: false,
                        scaleControl: true,
                        draggable: true,
                        styles: this.styleArray
                    };

                    this.googleMap = new google.maps.Map(document.getElementById('map'), mapOptions);


                    // Apply All Markers and Info Windows

                    $.each(this.rs, function(index, row) {

                        var latLng = new google.maps.LatLng(row.area_latitude, row.area_longitude);

                        googleMarker = new google.maps.Marker({
                            position: latLng,
                            map: this.googleMap,
                            icon: this.markerIcon,
                        });

                        googleMarker.customInfo = row.area;

                        googleMarker.setMap(this.googleMap);

                        var infowindow = new google.maps.InfoWindow({
                            content: "<b>" + row.area + "</b>",
                        });

                        var googleMap = this.googleMap;
                        var self = this;

                        google.maps.event.addListener(googleMarker, 'click', function(marker) {
                            infowindow.open(googleMap, this);
                            console.log(marker);
//                            self.selectAreaById(this.customInfo);
                        });

                    }.bind(this));

                    // Forcing Render Bug & Map Initialize Position

                },

                selectArea: function(event) {

                    this.area = $(event.currentTarget).data('value');

                    $('.area-distribution').hide();

                    this.renderArea();

                    this.slideSection = false;
                    setTimeout(function() {
                        this.slideSection = true;
                    }.bind(this), 500);
                },

                selectAreaById: function(area) {

                    this.area = area;

                    $('.area-distribution').hide();

                    this.renderArea();

                    this.slideSection = false;
                    setTimeout(function() {
                        this.slideSection = true;
                    }.bind(this), 500);
                },

                renderArea: function() {

                    var mapOptions = {
                        zoom: 12,
                        center: this.latLngActive,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false,
                        navigationControl: false,
                        mapTypeControl: false,
                        scaleControl: true,
                        draggable: true,
                        styles: this.styleArray
                    };

                    this.googleMap = new google.maps.Map(document.getElementById('map'), mapOptions);

                    // Apply All Markers and Info Windows

                    $.each(this.rowActive.branch, function(iBranch, rowBranch) {

                        var latLng = new google.maps.LatLng(rowBranch.latitude, rowBranch.longitude);

                        googleMarker = new google.maps.Marker({
                            position: latLng,
                            map: this.googleMap,
                            icon: this.markerIcon,
                        });

                        googleMarker.setMap(this.googleMap);

                        var infowindow = new google.maps.InfoWindow({
                            content: rowBranch.nama + "<br>" +
                                'Phone Number: ' + rowBranch.phone_number + "<br>" +
                                'Address: ' +
                                "<b>" + rowBranch.alamat + '-' + rowBranch.lokasi + "</b>",
                        });

                        var googleMap = this.googleMap;
                        google.maps.event.addListener(googleMarker, 'click', function(marker) {
                            infowindow.open(googleMap, this);
                        });

                    }.bind(this));

                    // Forcing Render Bug & Map Initialize Position

                    google.maps.event.addDomListener(window, "resize", function() {
                        google.maps.event.trigger(this.googleMap, "resize");
                        this.moveMapToCenter();
                    }.bind(this));
                    setTimeout(this.moveMapToCenter.bind(this), 1000);
                },

                renderBranch: function(index) {

                    var rowBranch = this.rowActive.branch[index];
                    var latLng = new google.maps.LatLng(rowBranch.latitude, rowBranch.longitude);

                    var mapOptions = {
                        zoom: 14,
                        center: latLng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false,
                        navigationControl: false,
                        mapTypeControl: false,
                        scaleControl: true,
                        draggable: true,
                        styles: this.styleArray
                    };

                    this.googleMap = new google.maps.Map(document.getElementById('map'), mapOptions);

                    // Apply All Markers and Info Windows

                    googleMarker = new google.maps.Marker({
                        position: latLng,
                        map: this.googleMap,
                        icon: this.markerIcon,
                    });

                    googleMarker.setMap(this.googleMap);

                    var infowindow = new google.maps.InfoWindow({
                        content: rowBranch.nama + "<br>" +
                            'Phone Number: ' + rowBranch.phone_number + "<br>" +
                            'Address: ' +
                            "<b>" + rowBranch.alamat + '-' + rowBranch.lokasi + "</b>",
                    });

                    var googleMap = this.googleMap;
                    infowindow.open(googleMap, googleMarker);

                    google.maps.event.addListener(googleMarker, 'click', function(marker) {
                        infowindow.open(googleMap, this);
                    });
//                    setTimeout(this.moveMapToCenter.bind(this), 1000);
                },

                moveMapToCenter: function() {
                    this.googleMap.setCenter(this.latLngActive);
                },

            },

        });
    </script>
    {{ asset_js('custom/vue.min.js') | raw }}
    {{ asset_js('custom/libs.min.js') | raw }}
    {{ asset_js('custom/jquery.mousewheel.min.js') | raw }}
    {{ asset_js('custom/jquery.jscrollpane.min.js') | raw }}
    {{ asset_js('custom/global.js') | raw }}
{% endblock %} #}
