{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	<!-- dataTables css -->
	{{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
		Factory Tour
		<small>Schedule List</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}backend">Home</a></li>
		<li><a href="{{ base_url() }}backend/factorytour">Factory Tour</a></li>
		<li class="active">Schedule List</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive">
					<table id="table-factorytour-schedules" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Factory</th>
							<th>Institution Name</th>
							<th>Visit Date</th>
							<th>Shift</th>
						</tr>
					</thead>
					<tbody>
						{% for schedule in schedule_list %}
						<tr>
							<td>{{ schedule.get_factory_name () }}</td>
							<td>{{ schedule.institution_name }}</td>
							<td>{{ schedule.visit_date }}</td>
							<td>{{ schedule.shift }}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- custom script -->
	<script type="text/javascript">
		$(function() {
			$("#table-factorytour-schedules").dataTable( {
				"aoColumns": [ 
					null,
					null,
					null,
					null,
					{ "bSearchable": false, "bSortable": false },
					{ "bSearchable": false, "bSortable": false }
				]
			} );
		} );
	</script>
	<!-- Dialog Confirmation Script -->
	{{ asset_js('backend-dialog.js') | raw }}
	<script type="text/javascript">
		jQuery('#table-factorytour-schedules').on('click', '.btn-delete', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-delete');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to delete this?', yes_callback);
		});
        jQuery('#table-factorytour-schedules').on('click', '.btn-rearrange', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-rearrange');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to rearrange from this?', yes_callback);
		});
	</script>
{% endblock %}