{% block frontend_content %}
    <p>Dear {{ name }},</p>
    <p>Terima kasih atas kesediaan Anda mengisi data untuk kunjungan ke pabrik PT Amerta Indah Otsuka.</p>
    <p>Tim Factory Visit kami akan menginfokan kembali atas permohonan jadwal kunjungan yang sudah Anda buat.</p>
    <br/><br/>
    <p>Salam,</p>
    <br/>
    <p>Tim Factory Visit PT Amerta Indah Otsuka</p>
{% endblock %}