{% block frontend_content %}
    <html>
    <body>
    <div>
        <p>Kepada PT Amerta Indah Otsuka,</p>
        <p>Berikut data yang masuk melalui form Factory Tour di website</p>
        <p>Nama : {{ name }}</p>
        <p>Kunjungan ke : {{ factory }}</p>
        <p>Tanggal Kunjungan : {{ visit_date_full }}</p>
        <p>Waktu Kunjungan : Shift {{ visit_shift }}</p>
        <p>Nama Institusi : {{ institution }}</p>
        <p>Alamat : {{ address }}</p>
        <p>Jumlah Pengunjung : {{ visitor }}</p>
        <p>HP : {{ mobile }}</p>
        <p>Telepon : {{ landline }}</p>
        <p>Email: {{ email }}</p>
        <p>Pesan & Keterangan : {{ message }}</p>
    </div>
    </body>
    </html>
{% endblock %}