/*about*/
.about-us > .title {
    margin-top: 50px;
    margin-bottom: 60px;
}
.logo-title {
    margin-bottom: 60px;
}
.title-section {
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 60px;
}
.about {
    background: #185190;
    color: #FFFFFF;
}
.about-desc {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin-bottom: 55px;
}
.about-desc .first-letter {
    float: left;
    font-size: 100px;
    line-height: 80%;
    font-weight: 700;
}
/*presiden*/
.direktur .title-section {
    color: #31476d;
}

.presiden-quote{
    position: relative;
}

.presiden-quote > div:first-child{
    position: relative;
    height: 100%;
}



.presiden-quote > .ornamen {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #1e66a8;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.visi-ornamen {
    position: relative;
}
.visi-ornamen > img {
    position: absolute;
    right: -100px;
}
.quote-content {
    font-weight: 600;
    font-size: 16px;
    color: #677088;
    padding: 0 16px 16px 0;
    line-height: 4;
}
.quote-content span {
    font-weight: 400;
    font-size: 14px;
}

.quote-content p{
    font-size: 20px;
}

.quote-content img{
    position: absolute;
    bottom: 0;
}

/*visi misi*/
.visi-misi {
    font-size: 18px;
    color: #677088;
}
.visi-misi .title-section {
    color: #31476d;
    margin-top: 50px;
    margin-bottom: 40px;
}
.visi >p:first-child , .misi >p:first-child {
    font-weight: 700;
    font-style: italic;
}
/*konsep product*/
.konsep-product {
    font-size: 16px;
    color: #677088;
}
.konsep-product .title-section {
    color: #31476d;
    margin-top: 70px;
    margin-bottom: 30px;
}
.konsep-product .subtitle {
    font-weight: bold;
}
.konsep-desc {
    margin-bottom: 80px;
}
/*penghargaan*/
.penghargaan {
    background: #e9edf4;
    color: #677088;
}
.penghargaan .title-section {
    color: #31476d;
    margin-top: 75px;
    margin-bottom: 10px;
}
.penghargaan-desc {
    margin-bottom: 15px;
}
.orbit {
    margin-bottom: 20px;
}

.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover{
    background: transparent;
}

.orbit-next img{
    transform:rotate(180deg);
}

ul.orbit-container {
    height: auto !important;
}
li.orbit-slide {
    text-align: center;
    max-height: none !important;
}
.orbit-image {
    width: auto;
    max-width: 500px;
    display: block;
    padding: 5px 0 30px 0;
    margin: auto;
}
.orbit-slide {
    background: #FFFFFF;
}
.orbit-container button , .orbit-container button:hover , .orbit-container button:focus {
    background: transparent;
}
.orbit-next, .orbit-previous {
    color: #1c609f;
}
.orbit-caption {
    position: relative;
    background: #1c619f;
    padding: 1rem 2rem;
}
.title-orbit {
    font-size: 14px;
    color: #1c609f;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    padding-bottom: -15px;
}
.ornamen-orbit {
    text-align: center;
}

.ornamen-wrapper{
    display: table;
    height: 100%;
}

.ornamen-vision{
    display: table-cell;
    vertical-align: middle;
}

@media screen and  (max-width: 1366px) {
    .quote-content {
        font-size: 16px;
    }
    .quote-content {
        font-size: 16px;
        line-height: 4;
    }

    .quote-content p {
        font-size: 16px;
    }

    .quote-content {
        padding: 0 30px 16px 0;
    }
    .visi-misi .title-section {
        margin-bottom: 20px;
    }
    .misi {
        padding-top: 20px;
    }

    .visi{
        padding-top: 40px;
    }

    .misi ul {
        font-size: 16px;
    }
    .visi-misi p {
        font-size: 16px;
    }
    .konsep-product .title-section {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .visi-misi ol li{
        font-size: 16px;
    }

    .penghargaan .title-section {
        margin-bottom: 35px;
    }

    .penghargaan-desc {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 1024px) {
    .quote-content{
        line-height: 1;
    }

    .quote-content p {
        font-size: 14px;
    }

    .quote-content span {
        font-size: 12px;
        top: 0;
    }
}

@media screen and (max-width: 63.9375em){
    .presiden-quote > div:first-child{
        position: relative;
    }

    .quote-content{
        padding: 20px 0;
        border-bottom: 1px solid #1e66a8;
    }

    .quote-content p {
        font-size: 20px;
    }

    .quote-content span {
        font-size: 14px;

    }

    .presiden-quote > .ornamen{
        display: none;
    }

    .presiden-quote > div:first-child{
        width: 100%;
        margin-right: 0;
    }

    .ornamen-wrapper{
        display: block;
    }

    .ornamen-vision{
        display: block;
        text-align: center;
    }

    .penghargaan .orbit-image {
        width: 70%;
        padding: 0;
        margin-bottom: 10px;
    }

    .image-award{
        display: table;
    }

    .image-award .ia-wrap{
        display: table-cell;
        vertical-align: middle;
    }
}

@media screen and  (max-width: 640px) {
    .title-section {
        text-align: center;
        padding: 0 15px;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .about-desc {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        font-size: 12px;
    }
    .direktur .title-section {
        text-align: center;
    }
    [data-equalizer-watch="direktur"] {
        height: auto!important;
    }
    .presiden-quote > div:first-child {
        position: relative;
        margin-right: 0;
    }
    .presiden-quote > .ornamen {
        display: none;
    }
    .visi-ornamen > img {
        display: none;
    }

    .quote-content{
        line-height: 1;
        padding: 0 0 16px 0;
        font-size: 12px;
        margin-top: 2rem;
    }

    .quote-content p {
        font-size: 12px;
        margin-top: 2rem;

    }

    .quote-content span {
        font-size: 10px;
    }

    .visi-misi {
        font-size: 18px;
        color: #677088;
        padding: 0 0.9375rem;
    }

    .visi-misi p {
        font-size: 12px;
    }

    .visi-misi .title-section {
        color: #31476d;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .visi >p:first-child, .misi >p:first-child {
        font-weight: 700;
        font-size: 16px;
        font-style: italic;
    }

    .visi-misi ol li {
        font-size: 12px;
    }

    .konsep-desc {
        margin-bottom: 40px;
        font-size: 12px;
    }

    .penghargaan .title-section {
        margin-bottom: 25px;
        margin-top: 35px;
    }

    .penghargaan-desc {
        margin-bottom: 30px;
        font-size: 12px;
    }

    .orbit-caption {
        font-size: 12px;
    }

}
