/* About Us */

.about-us {
    background: #e5eaee;
}

.about-headline h1 {
    font-size: 30px;
    color: #4d5a64;
    font-weight: bold;
    letter-spacing: 5px;
}

.about-headline .highlight-line img{
    width: 100%;
}
.banner-about {
    margin-bottom: 45px;
}
.about-menu .columns{
    border: 1px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
}

.about-menu a{
    color: #898989;
    padding-bottom: 20px;
}
.about-menu .sub-menu {
    position: relative;
}
.about-menu .sub-menu .hr {
    display: none;
    border-bottom: 5px solid #007dc6;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.about-menu .sub-menu.active .hr , .about-menu .sub-menu:hover .hr {
    display: block;
}
.highlight-line {
    margin-bottom: 30px;
}
.about-content{
    background: #ffffff;
    box-shadow: 0px 10px 5px -7px #b3b7ba;
    padding: 10px 0;
}
.about-logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.about-item{
    color: #3f4951;
    margin-bottom: 60px;
}

.about-item h5{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.history hr{
    width: 97px!important;
    border-bottom: 8px solid #4d5a64;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.about-item p{
    font-size: 14px;
}

/**about visi**/
.about-visi {
    background: #e5eaee;
    padding-top: 60px;
}
.about-visi > .detail {
    background: #1c8db2;
    color: #fff;
    padding: 40px 30px;
    margin-bottom: 64px;
}
.about-visi > .detail > .title > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-visi .detail > .desc > p , .about-visi .detail > .desc > ol > li {
    font-size: 14px;
}
/**end about visi**/
/*end about us*/
/*awards and certificates*/
.awards-and-certificates p,.awards-and-certificates h1 {
}
.awards-and-certificates .no-padd {
    padding: 0;
}
.awards-and-certificates .title {
    font-size: 36px;
    font-weight: bold;
    color: #3f4951;
    text-align: center;
    background: #ffffff;
    padding: 15px;
}
.awards-and-certificates .description {
    background-color: #e5eaee;
    padding: 40px 0px;
}
.awards-and-certificates .description p {
    font-size: 14px;
    font-weight: bold;
    color: #3f4951;
}
.awards-and-certificates .container-display {
    background-color: #57a7c7;
    text-align: center;
}
.awards-and-certificates .award-certificate {
    max-width:600px;
    max-height: 430px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.awards-and-certificates .desc-awards {
    clear: both;
}
.aligner {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
.Aligner-item--fixed {
    flex: 0 0 auto;
    max-width: 100%;
}
.Aligner-item {
    flex: 1 1 0%;
}
.bx-wrapper img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
}
.title-slide {
    background: #2b4252;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.title-slide p {
    color: #55aac6!important;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
.slide {
    background: #55aac6;
    padding-top: 50px;
    padding-bottom: 100px;
}
.bx-wrapper .bx-viewport {
    border: none;
    background-color: #55aac6;
    box-shadow: 1px -4px 25px 8px #9C9899;
}
.bx-wrapper .bx-controls-direction a {
    width: 45px;
    height: 45px;
}
.bx-wrapper .bx-next {
    right: -75px;
    width: 45px;
    height: 45px;
    background: url(../../bxslider/images/control-bx-next.png) no-repeat;
    background-color: rgba(255,255,255,0.8);
}
.bx-wrapper .bx-prev {
    width: 45px;
    height: 45px;
    left: -75px;
    background: url(../../bxslider/images/control-bx-prev.png) no-repeat;
    background-color: rgba(255,255,255,0.8);
}
.bx-wrapper .bx-next:hover , .bx-wrapper .bx-prev:hover  {
    background-color: rgba(63,73,81,0.8);
    background-position: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #62adcc;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #2b4252;
}
/*end awards and certificates*/
/*history*/
.history {
    background-color: #e5eaee;
}
.history .main-title {
    margin-top: 70px;
    margin-bottom: 65px;
}
.history .main-title > p {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: #3f4951;
}
.history hr{
    width: 100%;
}
.history ul.history-list {
    list-style: none;
}
.history ul.history-list .columns {
    padding: 0;
}
.history-content {
    float: right;
}

.history ul.history-list>li {
    position: relative;
    margin-bottom: 100px;
}
.history .history-content {
    height: 125px;
    padding: 10px!important;
    background: #FFFFFF!important;
}
.history .history-year p {
    text-align: right;
    font-size: 48px;
    line-height: 0.7;
    margin-bottom: 0;
    margin-right: 30px;
}
.history .history-year p > span {
    font-size: 24px;
    color: #6a7883;
}
.history-content p {
    font-size: 12px;
    color: #3f4951;
}
.history-content .title p {
    font-size: 14px;
    font-weight: bold;
}
.history ul.history-list>li:nth-child(4n+3) > .history-content {
    background: green;
    position: relative;
    z-index: 1;
}
.history ul.history-list>li:nth-child(4n+3):after {
    content: '';
    width: 0;
    height: 225px;
    position: absolute;
    border: 3px solid #FFFFFF;
    top: 0;
    left: 65%;
}
.history ul.history-list>li:nth-child(4n+2) > .history-content{
    background: #808080;
    position: relative;
    z-index: 1;
}
.history ul.history-list>li:nth-child(4n+2):before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 5px solid white;
    top: 60%;
    left: -15px;
    width: 100%;
}
.history ul.history-list>li:nth-child(4n+2):after {
    content: '';
    width: 0;
    height: 225px;
    position: absolute;
    border: 3px solid #FFFFFF;
    top: 0;
    left: 65%;
}
.history ul.history-list>li:nth-child(4n+1) > .history-content {
    background: yellow;
    position: relative;
    z-index: 1;
}

.history ul.history-list>li:nth-child(4n+0) > .history-content {
    background: #ff0000;
    position: relative;
    z-index: 1;
}
.history ul.history-list>li:nth-child(4n+0):before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 5px solid white;
    top: 60%;
    left: -15px;
    width: 100%;
}
.history ul.history-list>li.end:after {
    height: 0px;
}
.history .history-content img {
    max-width: 141px;
    max-height: 102px;
    width: 100%;
}
/*end history*/
@media screen and (max-width : 1366px) {
    .history .history-year p {
        margin-right: 20px;
    }
    .about-headline h1 {
        letter-spacing: 2px;
    }
    .awards-and-certificates .title {
        font-size: 28px;
    }
}
@media screen and (max-width: 979px) {
    .history .history-content {
        padding: 20px 10px 10px !important;
    }
    .history .history-year p {
        font-size: 28px;
    }
    .history .history-year p > span {
        font-size: 14px;
    }
    .history-content .title p {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .history-content p {
        font-size: 10px;
        line-height: 1.3;
        padding-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .history .history-content {
        height: 150px;
    }
}
@media screen and (max-width: 640px) {
    .history .history-year p {
        text-align: center;
        line-height: 1;
    }
    .about-item h5 , .about-item hr {
        margin-left: 0.9375rem;
    }
    .about-headline h1 {
        font-size: 18px;
        padding: 0 10px;
        letter-spacing: 1;
    }
    .about-menu .columns {
        font-size: 12px;
    }
    .history-list {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .history .main-title > p {
        font-size: 18px;
    }
    .history .history-year p {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .history ul.history-list > li {
        margin-bottom: 0;
    }
    .history .history-year p {
        margin: 0 auto;
    }
    .history ul.history-list > li:nth-child(4n+2)::before {
        content: none;
    }
    .history ul.history-list > li:nth-child(4n+2)::after {
        content: none;
    }
    .history ul.history-list > li:nth-child(4n+3)::after {
        content: none;
    }
    .history ul.history-list > li:nth-child(4n)::before {
        content: none;
    }
}