.no-padding{
    padding: 0;
}

.career .banner {
    background: #1c3166;
}
.banner {
    position: relative;
}
.banner > .banner-desc {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 34px;
    color: #ffffff;
    text-transform: uppercase;
}
.banner > .title {
    position: absolute;
    top: 60px;
    border-color: #FFFFFF;
    padding-left: 0;
}
.banner > .title > h2 {
    color: #ffffff;
}
.banner > .title > h2:before {
    border-color: #ffffff;
}

.daftar-lowongan .lowongan-detail{
}

.form-section {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 23px 0px rgba(129,164,186,0.3);
    -moz-box-shadow: 0px 1px 23px 0px rgba(129,164,186,0.3);
    box-shadow: 0 1px 23px 0 rgba(129,164,186,0.3);
    margin-top: 0;
}
.form-section .title-section {
    background: #f4f7fb;
    padding: 16px 16px 0px 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #677088;
}
.daftar-lowongan > .row > .columns:first-child {
    background: rgb(11,24,61);
    background: -moz-linear-gradient(left,  rgba(11,24,61,1) 0%, rgba(50,61,92,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(11,24,61,1) 0%,rgba(50,61,92,1) 100%);
    background: linear-gradient(to right,  rgba(11,24,61,1) 0%,rgba(50,61,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b183d', endColorstr='#323d5c',GradientType=1 );
    background: #263150;
    color: #FFFFFF;
}

.daftar-lowongan > .lowongan-detail > .row > .columns:first-child{

    -webkit-box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
    box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
}

.daftar-lowongan .daftar-title {
    font-weight: 700;
    font-size: 26px;
    padding: 60px 30px;
}
.tabs.vertical {
    padding-bottom: 200px;
}
.daftar-lowongan .tabs {
    background: transparent;
    border: none;
    position: relative;
    -webkit-box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
    box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
}
.daftar-lowongan .tabs-title {
    padding-left: 10px;
    padding-right: 10px;
}
.daftar-lowongan .tabs-title.is-active {
    padding-left: 10px;
    padding-right: 0;
}
.daftar-lowongan .tabs-title.is-active > a {
    background: #ffffff;
    color: #1d61a0;
}
.daftar-lowongan .tabs-title > a {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}
.daftar-lowongan .tabs-title:hover > a , .daftar-lowongan .tabs-title:focus > a {
    background: #FFFFFF;
    color: #1d61a0;
}
.daftar-lowongan > .row > .columns:first-child.formulir-title {
    position: relative;
    z-index: 7;
    background: #ffffff;
}
.daftar-lowongan > .row > .columns:first-child.formulir-title > .daftar-title {
    background: -moz-linear-gradient(left,  rgba(164,34,54,1) 0%, rgba(182,62,80,0.8) 100%);
    background: -webkit-linear-gradient(left,  rgba(164,34,54,1) 0%,rgba(182,62,80,0.8) 100%);
    background: linear-gradient(to right,  rgba(164,34,54,1) 0%,rgba(182,62,80,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a42236', endColorstr='#ccb63e50',GradientType=1 );

    position: relative;
    height: 100%;
    z-index: 6;
}
.daftar-lowongan > .row > .columns:first-child.formulir-title > img {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.career-title {
    border-top: 1px solid #1c619f;
    border-bottom: 1px solid #1c619f;
}
.career-title > .columns:first-child {
    padding: 20px 40px;
}
.career-title > .columns:first-child > p:first-child {
    font-weight: 700;
    color: #1d61a0;
    margin-bottom: 0;
}
.career-title > .columns:first-child > p:nth-child(2) {
    font-size: 16px;
    font-weight: 700;
    color: #141d54;
    margin-bottom: 0;
}
.career-title > .columns:nth-child(2) > p {
    font-size: 16px;
    color: #b01c33;
    padding-top: 30px;
    text-align: right;
}
.tabs-desc {
    font-size: 18px;
    color: #141d54;
}
.tabs-desc > .tabs-content {
    border: none;
    position: relative;
    -webkit-box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
    box-shadow: 0 6px 20px 1px rgba(129,164,186,.3);
}
.career-req {
    padding: 40px;
}
.career-req > span:first-child {
    font-weight: 700;
    font-style: italic;
}
.career-req > .email {
    font-weight: 700;
}
.formulir {
    background: #f4f7fb;
    padding-bottom: 60px;
    margin-bottom: 150px;
}
.form-desc form {
    position: relative;
    padding: 50px 0;
}
.form-desc form > button {
    position: relative;
    font-size: 14px;
    /* font-weight: 700; */
    background: #b01c32;
    text-transform: uppercase;
    padding: 0 0 0 15px;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #e5244d;
    margin: 0;
}
.form-desc form label > .columns:nth-child(2) {
    padding: 0;
}
.form-desc form > button .submit-form {
    padding: 0;
}
.form-desc form > button .submit-form > .columns:nth-child(2) {
    background: #FFFFFF;
}
.form-desc form > button .submit-form i {
    color:#b3253a;
    padding-top: 16px;
}
.form-desc form > button .submit-form > .columns:first-child {
    text-align: left;
    padding: 10px 30px;
}
.form-desc form a {
    color: #FFFFFF;
    text-transform: uppercase;
}
.form-desc form label {
    font-size: 14px;
    font-weight: 700;
    color: #141d54;
}
.form-desc form label span {
    color:#b3253a;
    font-weight: normal;
    font-style: italic;
}
.form-desc input , .form-desc select , .form-desc textarea , .form-desc input:focus , .form-desc select:focus , .form-desc textarea:focus {
    background-color: #f4f7fb;
    font-size: 12px;
    color: #1d61a0;
}
.form-desc form .select {
    position: relative;
}
.form-desc form .select > .columns {
    position: absolute;
    top: 1px;
    right: 17px;
    background: #1c619f;
    padding-top: 2px;
    padding-bottom: 2px;
}
.form-desc form select {
    font-size: 14px;
    color: #1d61a0;
    background-image: url('../images/dropdown.png') ;
    background-size: 53px 38px;
    background-position: right 0 center;
    padding: 0 0 0 5px;
}
.form-desc form .select i {
    color: #FFFFFF;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 68px;
}
#uploadFile {
    width: calc(100% - 54px);
    position: absolute;
    height: 68px;
    background: #f4f7fb;
    border: none;
    color: #b7bbc1;
    border: 1px solid #c4cedb;
}

.fake-file input{
    background-color: #f4f7fb;
    font-size: 12px;
    color: #1d61a0;
    border: 1px solid #cacaca;
}

.career .sosmed {
    padding: 10px 0 10px 1.5em;
    margin-left: 0;
}
.career .sosmed li {
    display: inline-block;
}

.career .sosmed-wrapper{
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.career-button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.career-button .button {
    position: relative;
    font-size: 14px;
    /*font-weight: 700;*/
    background: #b01c32;
    text-transform: uppercase;
    padding: 0 0 0 15px;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #e5244d;
    margin: 0;
}
.career-button .button img {
    background: white;
    padding: 10px;
    color: #b01c32;
    margin-left: 15px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #cacaca;
    background-color: #f4f7fb;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #cacaca;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    /*padding: 0.625rem 1.25rem;*/
    /* 10px 20px */
}

.form-desc form .inputfile-6 + label span {
    width: 230px;
    min-height: 2em;
    display: inline-block;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 12px;
    color: #b7bbc1;
    line-height: 1;
    font-weight: normal;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

.upload-file span{
    color: #b3253a;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

@media screen and (max-width: 1366px) {
    .tabs-desc {
        font-size: 16px;
    }
    .banner > .title {
        top: 30px;
    }
    .banner > .banner-desc {
        font-size: 28px;
    }
    .form-desc form label {
        font-size: 12px;
    }
    .custom-content.form-section {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .form-desc form select {
        font-size: 12px;
    }
    .form-section .title-section {
        font-size: 16px;
    }

    .formulir {
        margin-bottom: 60px;
    }

}

@media screen and (width: 64em){
    .banner > .banner-desc{
        font-size: 20px;
    }

    .form-desc form .inputfile-6 + label span{
        width: auto;
    }

}

@media screen and (max-width: 63.9375em){
    .banner > .banner-desc {
        font-size: 14px;
    }

    .form-desc form .inputfile-6 + label span{
        width: auto;
        min-height: auto;
        white-space: normal;
        overflow: auto;
    }

    .daftar-lowongan .daftar-title{
        padding: 10px;
        font-size: 20px;
    }

    .daftar-lowongan .tabs-title > a{
        font-size: 14px;
        padding: 0.7rem 0.5rem;
    }

    .career-title > .columns:first-child{
        padding: 0.9375rem;
    }

    .career-title > .columns:nth-child(2) > p{
        padding-top: 25px;
    }

    .g-recaptcha{
        transform: scale(0.68);
    }




}

@media screen and (max-width: 640px) {
    .banner {
        position: relative;
    }

    .banner > .banner-desc {
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        top: auto;
        bottom: 15px;
    }
    .banner > .banner-desc > div {
        line-height: 1.2;
    }

    .form-desc form > button {
        position: relative;
        margin-left: calc((100% - 214px) / 2);
    }
    .career-req {
        padding: 0;
        margin-top: 1rem;
    }
    .daftar-lowongan > .row > .columns.formulir-title:first-child > img {
        display: none;
    }
    .daftar-lowongan > .row > .columns.formulir-title:first-child > .daftar-title {
        height: auto!important;
    }

    .form-section .title-section {
        margin-top: 0;
    }

    .daftar-lowongan .tabs-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .daftar-lowongan .tabs-title.is-active {
        padding-left: 10px;
        padding-right: 10px;
    }

    .daftar-lowongan .tabs{
        padding-bottom: 0;
    }

    .career .sosmed-wrapper{
        position: relative;
        padding-top: 20px;
    }

    .daftar-lowongan .tabs-panel{
        padding: 3rem 0.5rem;
        font-size: 12px;
    }

    .form-desc form .inputfile-6 + label span {
        padding: 15px;
        font-size: 10px;
    }

    .custom-left .title {
        margin-left: 30px;
    }

    .banner-desc p{
        font-size: 12px;
    }

    .career .sosmed {
        padding: 10px 0;
    }

    .career .sosmed li {
        margin-right: 5px;
    }

    .career-title > .columns:nth-child(2) > p {
        text-align: left;
        font-size: 14px;
    }

    .formulir {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    .daftar-lowongan .daftar-title {
        font-size: 16px;
    }

    .daftar-lowongan .daftar-title br {
        display: none;
    }

}