.career ,  .socmed , .career-description {
    clear: both;
}
.career p , .vacancy-and-apply a {
}
.career .banner , .career .columns {
    padding: 0;
}
.career .banner {
    margin-bottom: 50px;
}
.career .socmed {
    margin-bottom: 25px;
}
.career .socmed iframe.twitter-share-button {
    margin-top: 4px;
}
.career .career-description {
    margin-bottom: 45px;
}
.career .list-desc p {
    color: #4d5a64;
}
.career .list-desc > .title > p {
    font-weight: bold;
    font-size: 16px;
}
.career .list-desc > .detail > p {
    font-size: 14px;
}
.icon-bottom {
    background-image: url("../../img/career/icon-to-bottom.png");
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.vacancy-and-apply a {
    font-size: 18px;
    color: #898989;
}
.vacancy-and-apply a p {
    margin-bottom: 0;
}
.vacancy-and-apply .menu .left , .vacancy-and-apply .menu .right {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #898989;
}
.vacancy-and-apply .menu .left {
    border-right:1px solid #898989 ;
}
.vacancy-and-apply .menu .right {
    border-left:1px solid #898989 ;
}
.vacancy-and-apply .left .title > p {
    font-size: 36px;
    color: #000000;
    line-height: 1;
}
.vacancy-and-apply .left .title > p > span {
    font-size: 50px;
    font-weight: bold;
}
.vacancy-and-apply .right p {
    color: #4b5760;
}
.vacancy-and-apply .right .desc p {
    font-size: 18px;
}
.vacancy-and-apply .right .desc-2 p {
    font-size: 24px;
    font-weight: bold;
}
/*list of vacancy*/
.list-of-vacancy {
    border: none;
}
.list-of-vacancy .accordion-title {
    display: block;
    padding: 10px 1rem 5px;
}
.accordion-title::before {
    content: url('../../img/career/icon-accordion.png');
    position: absolute;
    right: -1rem;
    top: 50%;
    margin-top: -0.5rem;
}
.is-active > .accordion-title::before {
    content: url('../../img/career/icon-accordion-open.png');
}
.list-of-vacancy li .title-vacancy p  {
    font-size: 16px;
    font-weight: bold;
    color: #4d5a64;
}
.list-of-vacancy .accordion-content {
    color: #4d5a64;
    font-size: 14px;
    padding-bottom: 40px;
  }
.list-of-vacancy li .title-vacancy p > span {
    font-weight: normal;
}
.list-of-vacancy li .sub-title-vacancy p {
    font-size: 11px;
    font-weight: bolder;
    color: #6c6c6c;
    font-style: italic;
}
.list-of-vacancy li .sub-title-vacancy p > span {
    color: #ff0303;
}

.btn-apply{
    background: #1c8db2;
    padding: 0 10px;
    color: #ffffff !important;
}

/*end list of vacancy*/
/*applying form*/
.applying-form .right {
    background-color: #B4DCED;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 150px;
}
.applying-form label {
    font-size: 14px;
    color: #ffffff;
}
.applying-form .fill {
    margin-bottom: 15px;
}
.applying-form .fill > .send {
    background-color: #677f89;
    color: #FFFFFF;
    padding: 10px 15px;
}
.applying-form select , .applying-form input , .applying-form textarea , .applying-form input[type=tel] , .applying-form input[type=email] {
    background-color: #04486F;
    border: none;
}
.applying-form select {
    border: none;
    height: auto;
    background-image: url("../../img/career/icon-select.png");
    background-size: 30px 22px;
    background-position: right 0 center;
}
.applying-form select.datetime {
    border: none;
    height: auto;
    background-image: url("../../img/career/icon-select-up-down.png");
    background-size: 27px 22px;
    background-position: right 0 center;
}
.applying-form .fill select {
    margin-right: 6px ;
}
.applying-form .fill select , .applying-form .fill select > option , .applying-form .fill input , .applying-form .fill textarea {
    padding: 0px 5px ;
    font-size: 12px;
    color: #ffffff;
}
.applying-form .fill input {
    height: 22px;
}
/*upload*/
.custom-upload {
    position: relative;
    height: 40px;
}
.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height:100%;
}
.custom-upload .fake-file
{
    background:url("../../img/career/browse.jpg") center right no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 215px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
}
.custom-upload .fake-file input
{
    font-size:14px;
    height:22px;
    width: 150px;
}

@media screen and (max-width: 1500px) {
    .career .list-desc > .title > p {
        font-size: 14px;
    }
    .career .list-desc > .detail > p {
        font-size: 14px;
    }
    .vacancy-and-apply .left .title > p {
        font-size: 26px;
    }
    .vacancy-and-apply .left .title > p > span {
        font-size: 40px;
    }
    .vacancy-and-apply .right .desc p {
        font-size: 14px;
    }
    .vacancy-and-apply .right .desc-2 p {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .career .socmed , .career-description , .vacancy-and-apply{
        padding: 0 15px!important;
    }
    .applying-form .fill > .send {
        margin-right: 15px;
    }
}

@media screen and (max-width: 640px) {
    .vacancy-and-apply .left .title > p {
        font-size: 20px;
    }
    .vacancy-and-apply .left .title > p > span {
        font-size: 28px;
    }
    .vacancy-and-apply .right .desc-2 p {
        font-size: 18px;
    }
    .applying-form > .right {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 480px) {
    .vacancy-and-apply {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .applying-form > .right {
        padding: 20px 5px;
    }
}