/* Contact Us */
.contact-us{
    background: #e5eaee;
}

.send{
    background-color: #677f89;
    color: #FFFFFF;
    padding: 10px 15px;
    font-style: normal;
}

.font-email, .contact-info > p{
    font-size:20px;
    font-weight: bold;
    font-style: normal;
}

.info{
    padding: 2% 17%;
    background-color: #2f92d9;
}

.info > p{
    color:#FFFFFF;
}

.no-space{
    margin-bottom: 0;
}

.g-recaptcha.position-captcha{
    float: right;
}

.columns-contact{
    padding-bottom: 6%;
    padding-top: 8%;
    background-color: white;
}

.contact-form{
    font-style: italic;
}

@media screen and (max-width: 640px) {
    .columns-contact {
        padding-left: 0;
        padding-right: 0;
    }
    .g-recaptcha.position-captcha {
        float: none!important;
        transform:scale(0.90);
        -webkit-transform:scale(0.90);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .captcha {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}

@media screen and (max-width: 320px) {
    .g-recaptcha.position-captcha {
        transform:scale(0.76, 0.76);
        -webkit-transform:scale(0.76, 0.76);
    }
}