/* CSR */

.csr {
    background: #e5eaee;
}

.clear{
    clear: both;   
}

.padding-custom{
    height:20px;   
}

.banner-csr{
    position:relative;
}

.title-page{
    display: inline-block;
    padding: 50px;
    position: absolute;
    right: 10%;
    background-color: #ffffff;
    bottom: 110px;
}
.title-page p {
    font-size: 46px;
    font-weight: bold;
    color: #2a4352;
    margin-bottom: 0px;
    line-height: 1.1;
}
.title-page hr {
    float: left;
    width: 200px;
    border-width: 0px 0px 5px;
    border-color: rgb(42, 67, 82);
    margin-top: 10px;
}
.title-csr{
    font-size: 34px;
    font-weight: bold;
    color: #2a4352;
}

.csr-lead{
    font-size: 14px;
    text-align: left;
    padding-bottom: 20px;
    color: #2a4352;
}

.sort-by{
    font-size: 14px;
}

.csr-filter{
    padding:20px;
    background: #ffffff;
}
.csr-filter .sort {
    padding-top:12px ;
}
.csr-content{
    background: #e5eaee;
}

.csr-padding{
    margin-bottom:30px;
}

.csr-item{
    background: #ffffff;
}

.csr-item img{
    width:100%;
}

.csr-content-item{
    padding:10px 30px 40px 30px;
}

.csr-item-title{
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

.csr-item-photo{
    text-align:center;
}

.csr-date{
    font-size: 12px;
    color: #e00000;
}

.csr-text{
    font-size: 14px;
    text-align: justify;
}

.read-more{
    font-size:14px;
    float:right;
    color: #2199e8;
    text-decoration: underline;
    font-style: italic;
}

.read-more a:visited{
    color: #2199e8;
}

.pagination{
    background: #e5eaee;
}

.csr-pagination{
    text-align: center;
    color: #ffffff;
}

.csr-pagination li{
    list-style-type: none;
    margin:0;
    padding:0;
}

.csr-pagination .first a{
    background: #a2d3f6;
    color: #ffffff;
}

.csr-pagination .page a{
    background: #2199e8;
    color: #ffffff;
}

.csr-pagination .active a{
    background: #1566a0;
    color: #ffffff;
}

.csr-pagination .last a{
    background: #a2d3f6;
    color: #ffffff;
}

/*csr-detail*/

.csr-detail{
    color: #111111;
}

.csr-detail .title{
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 48px;
    font-family: open-sans,sans-serif;
}

.csr-detail .posted{
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: #555555;
    font-family: "Open Sans",sans-serif;
}

.csr-detail .banner{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.csr-detail .text-detail{
    font-size: 16px;
    margin-bottom: 60px;
    font-family: "myriad pro",sans-serif;
}

.csr-detail .title-small{
    font-size: 28px;
    margin-bottom: 40px;
    font-family: "myriad pro",sans-serif;
}

.text-csr-detail{
    font-size: 16px;
    font-family: "myriad pro",sans-serif;
}

.csr-detail .img-csr{
    margin-top: 30px;
    margin-bottom: 65px;
}

.csr-detail .text-share{
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 130px;
    font-weight: bold;
    font-family: 'Open Sans';
}

.csr-detail .icon-share{
    display: inline;
    margin-top: 15px;
}

.csr-detail .icon-share img:first-child{
    margin-left: 0px;
}

.csr-detail .icon-share img{
    margin-left: 15px;
}
.fb{
    margin-top:-4px;
}

@media screen and (max-width : 1366px) {
    .csr-detail .title{
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
    }
    .title-page p {
        font-size: 36px;
        line-height: 1.1;
    }
    .title-page hr {
        width: 103px;
    }
}
@media screen and (max-width: 979px) {
    .csr-detail .title{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px) {
    .csr-detail .title{
        font-size: 18px;
    }
}
@media screen and (max-width: 640px) {
    .csr-detail .title{
        font-size: 18px;
    }
    .title-csr{
        font-size: 14px;
        font-weight: bold;
    }
    
    .csr-lead{
        display: none;
    }
    
    .title-page{
        position:absolute;
        background: #ffffff;
        width:200px;
        padding:10px;
        color: #707070;
        top:5%;
        left:10%
    }
    
    .csr-item-title{
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
    }
    
    .csr-text{
        font-size: 12px;
        text-align: justify;
    }
    
    .read-more{
        font-size:12px;
        float:right;
        color: #2199e8;
        text-decoration: underline;
        font-style: italic;
    }
    
@media screen and (max-width: 480px) {
        .title-page{
            position:absolute;
            background: #ffffff;
            width:130px;
            padding:5px;
            color: #707070;
            top:5%;
            left:10%
        }
        
        .title-csr{
            font-size: 14px;
            font-weight: bold;
        }
}

}