.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.csr-content, .csr-menu {
    background: #e5eaee;
}
.csr-content .banner {
    position: relative;
}
.csr-content .banner-desc {
    position: absolute;
    bottom: 20%;
    background: #ffffff;
    left: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.csr-content .banner .title {
    font-size: 48px;
    font-weight: bold;
    color: #3f4951;
    text-transform: uppercase;
    line-height: 1.1;
}
.csr-content .banner .desc {
    font-size: 14px;
    color: #3f4951;
    padding-top: 0px;
}
.csr-content .banner .desc > span {
    font-weight: bold;
}
.csr-content .csr-menu {
    margin-bottom: 30px;
}
.csr-content .csr-menu > .each-menu {
    border-top: 2px solid #898989;
    border-bottom: 2px solid #898989;
    border-left: 2px solid #898989;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.csr-content .csr-menu > .each-menu > .hr {
    display: none;
    border-bottom: 5px solid #007dc6;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.about-menu .sub-menu .hr {
}
.csr-content .csr-menu .each-menu.active .hr , .csr-content .csr-menu .each-menu:hover .hr {
    display: block;
}
.csr-content .csr-menu > div.each-menu:nth-last-of-type(1) {
    border-right: 2px solid #898989;
}
.csr-content .csr-menu > .each-menu {
    text-align: center;
}
.csr-content .devider > img {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}
.csr-content .csr-title {
    font-size: 36px;
    color: #4d5a64;
}
.csr-content .csr-title .title {
    padding-top: 110px;
}
.csr-content .csr-description {
    padding-top: 30px;
}
.csr-content .csr-description .title {
    font-size:24px;
    color:#4d5a64;
}
.csr-content .csr-description > .sub-title p {
    font-size: 30px;
    color: #4d5a64;
    line-height: 1.1;
}
/*.csr-content .desc , .csr-content .desc-text {*/
    /*float: left;*/
/*}*/
.csr-content .desc-text p {
    font-size: 20px;
    line-height: 1.5;
    color: #666d70;
}
.csr-content .desc-text .sub-title p {
    font-size: 24px;
}
.csr-content .desc {
    padding-top: 90px;
}
.csr-content .desc ul {
    margin-left: 0;
    display: inline-block;
}
.csr-content .desc ul > li {
    list-style: none;
    margin-bottom: 30px;
}
.banner-csr{
    text-align:center;
}
.sub-title{
    margin-top:20px;
    margin-bottom: 40px;
}
.sub-title-program{
    margin-top:20px;
    margin-bottom: 15px;
}
@media  screen and (max-width:1366px) {
    .csr-content .banner .title {
        font-size: 28px;
    }
    .csr-content .banner .desc {
        font-size: 12px;
    }
    .csr-content .devider > img {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .csr-content .csr-menu {
        margin-bottom: 15px;
    }
    .csr-content .csr-title {
        font-size: 26px;
    }
    .csr-content .csr-title .title {
        padding-top: 55px;
    }
    .csr-content .csr-description {
        padding-top: 15px;
    }
    .csr-content .csr-description .sub-title p {
        font-size: 18px;
    }
    .csr-content .desc {
        padding-top: 45px;
        padding-bottom: 30px;
    }
    .csr-content .desc-text p {
        font-size: 14px;
        line-height: 1.6;
    }
    .csr-content .desc-text .sub-title p {
        font-size: 20px;
    }
}
@media screen and (max-width: 640px) {
    .csr-content .banner {
        position: relative;
        overflow: hidden;
    }
    .csr-content .banner > img {
        height: 300px;
        min-width: 1200px;
        margin-left: -40%;
    }
    .csr-content .banner-desc {
        bottom: 5%;
    }
    .csr-content .banner .title {
        font-size: 18px;
    }
    .csr-content .csr-description .title {
        font-size: 18px;
    }
    .csr-content .desc-text .sub-title p {
        font-size: 18px;
    }
    .csr-content .csr-description .sub-title p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .csr-content .banner-desc {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .csr-content .banner .desc {
        padding-bottom: 0px;
        margin-bottom: 0;
    }
}