@charset "utf-8";
/* CSS Document */

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
#ui-datepicker-div {
    display: none;
}
a {
	color:#3679B5;
	text-decoration:none;
}

#content {
	margin:0 auto;
}

#content .title_h1 {
	text-align:center;
	padding-top:30px;
	height:120px;
	
}

#content h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:12px;
	text-transform:uppercase;
	font-weight:normal;
    margin-left: calc((100% - 78px) / 2);
}

#calendar {
	float:left;
}

.txt_description {
	float:right; width:400px; line-height:150%;
}

.ul_demo_examples li {
	width:200px;
	float:left;
}

.clear { clear:both; }

.shift {
    font-size: 12px;
    color: #4d5a64;
    text-align: center;
}

.slot , .slot a {
    text-align: center;
    color: #5dc369;
    font-size: 14px;
    position: relative;
    font-weight: bold;
}
.slot a:before {
    content: url(../../img/icon-event.png);
    width: 12px;
    height: 12px;
    left: -15px;
    bottom: 4px;
}
.node {
    bottom: 0;
    width: 40px;
    margin-left: calc((100% - 40px)/2);
}
.node-sign {
    width: 7px;
    height: 7px;
    border-radius: 15px;
    background: #5dc369;
    margin: 0px 2px 0 2px;
    position: relative;
    float: left;
}
.node-sign.pilih {
    background: #ff0000;
}
.node-sign.libur {
    background: #000000;
}
.available , .notavailable {
    font-size: 12px;
    color: #060606;
    margin-top: 5px;
}
.available {
    text-align: right;
}
.notavailable {
    text-align: left;
}
.available > p , .notavailable > p {
    display: inline-block;
    position: relative;
    color: #4d5a64;
}
.available > p:before , .notavailable > p:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5dc369;
    position: absolute;
    left: -15px;
    top: 5px;
}
.notavailable > p:before {
    background: #ff0000;
}