.distribution{
    font-family: 'Open sans', sans-serif;
}

.distribution-title{
    font-family: 'Open sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.blue-bar{
    background-color: #415677;
    width:100%;
    height:50px;
    margin-bottom:30px;
}

.columns.distribution {
    padding: 0;
}
.distribution .address-list p.title {
    font-size: 46px;
    color: #4d5a64;
    line-height: 1.2;
    margin-bottom: 0;
}
.distribution .address-detail {
    margin-bottom: 60px;
}
#city-list{
    display: none;
}
.distribution .list-provinsi , .distribution .list-city-name{
    background-color: #23252b;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
}
.distribution select {
    border: none;
    height: auto;
    background-image: url("../../img/distribution/icon-select.png");
    background-size: 32px 36px;
    background-position: right 0 center;
}
.distribution .list-distributor , .distribution .list-distributor a , .distribution .list-branch , .distribution .list-branch a {
    background-color: #444953;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px 0px;
    height: inherit;
}

.distribution .list-city , .distribution .city-name , .distribution .distributor-name , .distribution .branch-name{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #393e46;
}
.distribution .city.address {
    background: #444953;
    border-radius: 5px;
    padding: 0;
}
.distribution .city-name {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    border-bottom: 3px solid #2f92d9;
    font-weight: bold;
    background: #33363f;
}
.distribution .distributor-name {
    padding: 25px;
    position: relative;
    font-size: 14px;
}
.distribution .branch-name {
    padding:25px;
    position: relative;
    font-size: 14px;
}
.distribution .distributor-name a {
    display: block;
}
.distribution .distributor-name a.is-active {
    background-image: url('../../img/distribution/icon-active.png');
    background-repeat: no-repeat;
    background-position: 95% 0%;
    padding-right: 40px;
}
.list-address {
    padding: 0;
    background-color: #444953;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 35px;
    font-size:14px;
}

.address .title{
    font-size:18px;
    font-weight: bold;
}

.address .list-address {
    padding: 5px 0px;
}
.address .list-address .title , .city .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    background: #33363f;
}
.address .list-address .dist-address-detail {
    color: #ffffff;
    font-family: "Myriad Pro", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 2;
    padding: 25px 10px;
}
@media screen and (max-width : 1366px) {
    .distribution .address-list p.title {
        font-size: 36px;
        font-family: 'Open Sans', sans-serif;
    }
}
@media screen and (max-width: 640px) {
    .distribution .address-list p.title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .distribution .address-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    .distribution .city.address {
        background: #ffffff;
        border-radius: 0;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}