.dp_calendar .clear { clear:both; }

.dp_calendar {
    width: 100%;
	min-height:300px;
	text-align:left;
	background: #f5f6f7;
	border:1px solid #dbdbdb;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#272727;
	line-height: 1;
	padding:1px;
}

.dp_calendar .div_main_date {
	padding:10px 20px 35px;
	text-align:center;
	/*background: #ffffff;*/
    border-bottom: 1px solid #f5f6f7;
}

.dp_calendar .main_date {
	font-size:24px;
    color: #2c3e50;
	position:relative;
}

.dp_calendar .main_date a {
	color:inherit;
	text-decoration:none;
	text-transform:uppercase;
}

.dp_calendar .main_date a#next_month {
	position:absolute;
	right:20px;
        font-size:40px;
}

.dp_calendar .main_date a#prev_month {
	position:absolute;
	left:20px;
        font-size:40px;
}

.dp_calendar .div_dates {
	text-align:center;
}

.dp_calendar .div_dates ul {
	list-style:none;
	margin: 0 auto;
	padding: 0 10px;
}

.dp_calendar li {
    margin:0;
    padding:0;
    background:none;
}

.dp_calendar .div_dates li {
	background:none;
	padding:5px;
	line-height:3;
	width:14.28%;
	font-size:15px;
	color: #929292;
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top:10px;
	list-style: none;
}

.dp_calendar .div_dates li:hover, .dp_calendar .div_dates li.active {
    -webkit-box-shadow:inset 0px 0px 0px 2px #00b2e5;
    -moz-box-shadow:inset 0px 0px 0px 2px #00b2e5;
    box-shadow:inset 0px 0px 0px 2px #00b2e5;
	color:#2c3e50;
	cursor:pointer;
}

.dp_calendar .div_dates li.has_events {
	color:#3679B5 !important;
}
.dp_calendar .div_dates .day_name {
	text-align:left;
	margin:40px 20px 0px ;
        border-bottom: 1px solid #a7a7a7;
        padding: 0px 55px 0px 0px;
}

.dp_calendar .div_dates .day_name h1 {
	font-size:12px;
    color: #3f4951;
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
    margin-left: calc((100% - 78px) / 2);
	font-weight:bold !important;
	color:inherit;
}

.dp_calendar .div_dates .day_name .div_month {
	width:50px;
	float:left;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
	padding-top:7px;
}

.dp_calendar .div_dates .day_name .span_month {
	font-size:12px;
	text-transform:uppercase;
}

.dp_calendar .div_dates .day_name .span_day {
	font-size:12px;
}

.dp_calendar .calendar_list {
	min-height: 100px;
	background:#ffffff;
	text-align:center;
	padding:20px;
}

.dp_calendar .calendar_list h2 {
	font-size:18px;
	float:left;
	text-transform:uppercase;
	margin:0;
	padding:0;
	line-height:100%;
	font-weight:normal;
	color: inherit;
}

.dp_calendar .calendar_list ul#cl_sort_by {
	margin: 0;
	padding: 0;
}

.dp_calendar .calendar_list ul#cl_sort_by li {
	font-size:18px;
	color: #929292;
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left:10px;
	text-transform:uppercase;
	line-height:100%;
	padding:0;
	background:none;
	display:block;
}

.dp_calendar .calendar_list ul#cl_sort_by li:hover, .dp_calendar .calendar_list ul#cl_sort_by li.active {
	text-decoration:underline;
	cursor:pointer;
	color:#272727;
}

.dp_calendar .calendar_list #list {
	list-style:none;
	margin:20px 0 0 0;
}

.dp_calendar .calendar_list #list li {
	background:none;
	line-height:normal;
	list-style:none;
}

.dp_calendar .calendar_list #list li h1 {
	font-size:12px;
	margin: 0 0 0 10px;
	float:left;
	font-weight:normal;
	color:inherit;
	clear: none;
	line-height:100%;
}

.dp_calendar .calendar_list #list li .time {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #ccc;
	color:#F6F6F6;
	font-size:20px;
	padding:10px;
	float:left;
	font-weight:bold;
	line-height: 100%;
}

.dp_calendar .calendar_list #list li p{
	font-size:13px;
	line-height:100%;
    color: #4d5a64;
    font-weight: bold;
}

.dp_calendar .calendar_list #list li.urgent .time {
	background:#d44d45;
	border:1px solid #b8413a;
}

.dp_calendar .calendar_list #list li.medium .time {
	background:#f8b356;
	border:1px solid #ecab52;
}

.dp_calendar .calendar_list #list li.low .time {
	background:#c6cf52;
	border:1px solid #b9c14c;
}
.week-day li {
    font-size: 14px;
    font-weight: bold;
    color: #2c3e50!important;
}
.week-day li:hover {
    box-shadow: none!important;
    cursor: default!important;
}
