.factory {
    background-color: #e5eaee;
}
.factory p , .visiting-detail form label {
}
.factory .banner {
    position: relative;
}
.factory .banner .banner-desc {
    display: inline-block;
    padding: 50px;
    position: absolute;
    right: 10%;
    background-color: #ffffff;
    bottom: 110px;
}
.factory .banner-desc p {
    font-size: 46px;
    font-weight: bold;
    color: #2a4352;
    margin-bottom: 0px;
    line-height: 1.1;
}
.factory .banner-desc hr {
    float: left;
    width: 200px;
    border-width: 0px 0px 5px;
    border-color: rgb(42, 67, 82);
    margin-top: 10px;
}
.factory-detail {
    margin-bottom : 25px ;
    margin-top: 40px;
}
.factory-detail .desc p {
    font-size: 14px;
    color: #6c6c6c;
}
.factory-detail p:first-of-type{
    font-weight: bold;
    margin-top: 30px;
}
.factory-detail .youtube {
    position: relative;
    padding-bottom: 55.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100% !important;
}
.factory-detail .youtube iframe,
.factory-detail .youtube object,
.factory-detail .youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.factory-gallery {
    padding-left: 1px;
    padding-right: 1px;
}
.custom-padd {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.no-padd {
    padding-left: 0px;
    padding-right: 0px;
}

.captcha-factory{
    margin-bottom: 15px;
}
.g-recaptcha.position-captcha {
    float: right;
}
/*explorion*/
.factory .explorion {
    border: 1px solid #bec1c4;
    padding-top: 30px;
    padding-bottom: 30px;
}
.factory .explorion .title > p {
    font-size: 24px;
    font-weight: bold;
    color: #393e46;
    line-height: 1;
}
.factory .explorion .title > p > span {
    font-size: 18px;
    color: #4d5a64;
}
.factory .explorion .desc > p {
    font-size: 14px;
    color: #3f4951;
    line-height: 1.2;
}
/*end explorion*/
.visiting-form .title hr {
    width: 150px;
    float: left;
    border-color: #000000;
}
.visiting-form .title p {
    clear: both;
    font-size: 36px;
    color: #000000;
    line-height: 1;
}
.visiting-form .title p:last-of-type{
    font-weight: bold;
}
.visiting-detail {
    margin-bottom: 100px;
}
.visiting-detail .tabs {
    margin: 0px;
    list-style-type: none;
    background: transparent;
    border: 1px solid #E6E6E6;
}
.visiting-detail .tabs-title.is-active a:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    margin-left: 50px;
    margin-top: 7px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #00b2e5;
    position: absolute;
}
.visiting-detail .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
    position: relative;
    background: #007dc6!important;
}
.tabs-title > a:hover {
    background: #007dc6;
}
.visiting-detail .tabs-title >a {
    background: #01b2e5;
}
.visiting-detail .tabs-title > a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.visiting-detail .tabs-content {
    background: #1c8db2;
    border-width: 12px;
    border-color: #00b2e5;
    border-style: solid;
    /*position: relative;*/
}
.visiting-detail ol >li , .visiting-detail p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.visiting-detail form button {
    background: #677f89;
    padding: 10px 15px;
    float: right;
    margin-left: 10px;
}
.visiting-detail form , .visiting-detail form label {
    font-size: 14px;
    color: #ffffff;
}
.visiting-detail form label {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
.visiting-detail form input {
    height: 22px;
    padding: 0px 10px;
}
.visiting-detail form input , .visiting-detail form textarea  , .visiting-detail form input:focus{
    background: #04486F;
    border: none;
}
.visiting-detail form input[type='text'] , .visiting-detail form input[type='tel'], .visiting-detail form input[type='email'], [type="number"], .visiting-detail form textarea  {
    font-size: 12px;
    color: #ffffff;
}
.visiting-detail form input[type='tel'] {
    width: 98%;
}
.visiting-detail .map {
    display: none;
}
.visiting-detail .map p {
    font-size: 16px;
    color: #ffffff;
    background: #4d5a64;
    margin-bottom: 0px;
    display: inline-block;
    padding: 10px;
}
.visiting-detail iframe {
    width: 100%;
    max-height: 180px;
}
.gallery-visit {
    background: #ffffff;
}
.gallery-visit .title p {
    font-size: 36px;
    color: #000000;
    line-height: 1;
    margin-bottom: 0px;
}
.gallery-visit .title p:last-of-type {
    font-size: 50px;
    font-weight: bold;
}
.gallery-visit .custom-padd {
    padding-top: 60px;
    padding-bottom: 60px;
}
.gallery-visit .title hr {
    width: 150px;
    float: left;
    border-color: #000000;
}
.gallery-visit .see-gallery {
    clear: both;
    display: inline-block;
    text-align: center;
}
.gallery-visit .see-gallery a.button {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background: #0064b9;
}

/*new masonry*/
#container {
    float:none;
    background: #ffffff;
    padding: 0;
    margin:0 auto;
    margin-bottom:30px;
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

.box {
    margin: 5px;
    float: left;
    /* optional */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.box img, { display: block; width: 100%; }

.col1 { width: 115px; }
.col2 { width: 180px; }
.col3 { width: 220px; }
.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 220px; }

/* animations for the transition/reordering */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.transitions-enabled.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.transitions-enabled.masonry  .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

div#container {
    position:relative;

}
/*end new masonry*/
/*factory dummy*/
.menu-factory {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 1rem;
    background: transparent;
}
.menu-factory > div > div {
    position: relative;
    border: 2px solid #898989;
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu-factory > div > div:nth-child(1) {
    border-right: none;
}
.menu-factory .tabs-title {
    background: #FFFFFF;
}
.menu-factory .tabs-title > a[aria-selected="true"] .active {
    border-bottom: 10px solid #00aeef;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.factory-detail .banner > img {
    width: 100%;
}
.desc .detail {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}
.desc .detail p:first-of-type {
    font-weight: normal;
    margin-top: 0;
}
.visiting-form {
    clear: both;
}
.menu-factory .tabs-title > a {
    background: #fff!important;
    padding: 10px 0;
}
.main-tab {
    background: transparent;
    border: none;
}
/*end factory dummy*/
/*calendar*/
.main {
    padding: 0;
    text-align: center;
}
.fc-calendar-container {
    background: #FFFFFF;
    padding: 30px 30px 0px 30px;
}
.custom-header {
    border-top: none;
    position: relative;
}
.main button {
    padding: 10px 30px;
    color: rgb(51, 177, 215);
    background: rgb(9, 80, 103) none repeat scroll 0% 0%;
    border-radius: 5px;
    border-top: 4px solid;
}
.custom-calendar-wrap {
    margin: 15px auto;
}
.custom-header h2 {
    margin-left: -110px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.custom-header h3 {
    display: inline-block;
    position: absolute;
    left: calc(50% + 30px);
    top: calc(50% + -30px);
    font-size: 25px;
    font-weight: normal;
}
.custom-inner {
    border-bottom: 6px solid #2f6f8a;
}
.fc-calendar .fc-row > div.fc-content::after {
    display: none;
}
.fc-calendar .fc-row > div > div span.node {
    display: inline-block;
}
.node-sign {
    width: 7px;
    height: 7px;
    border-radius: 15px;
    background: #5dc369;
    margin: 45px 2px 0 2px;
}
.node-sign.lock {
    background: #ff0000;
}
.available {
    position: relative;
}
.available .node-sign {
    position: absolute;
    bottom: 8px;
    margin-left: -15px;
}
.calendar-event {
    color: #4d5a64;
    font-size: 12px;
    padding: 20px 0px 40px;
}
.current-date {
    padding-bottom: 9px;
}
.daily-shifts {
    padding-top: 9px;
}
.each-shift {
    color: #5dc369;
}
.fc-calendar .fc-row > div.fc-today {
    background: #FFFFFF;
    border: 2px solid #00b2e5;
}
.fc-calendar .fc-row .fc-future.fc-content:hover {
    border: 2px solid #00b2e5;
}
.fc-calendar .fc-row > div.fc-today > span.fc-date {
    color: #2c3e50;
    text-shadow: none;
}
.fc-calendar .fc-head {
    color: #2c3e50;
}
.sub-desc {
    font-size: 12px!important;
    margin-bottom: 5px;
    font-style: italic;
}
/*end calendar*/
@media screen and  (max-width: 1366px) {
    .factory .banner-desc p {
        font-size: 36px;
        line-height: 1.1;
    }
    .factory .banner-desc hr {
        width: 103px;
    }
    .factory .banner .banner-desc {


    }
}

@media screen and (max-width: 640px) {
    .factory .banner {
        overflow: hidden;
    }
    .factory .banner > img {
        min-width: 1024px;
    }
    .factory .banner .banner-desc {
        bottom: 10%;
    }
    .factory-gallery {
        padding: 0;
    }
    .factory-gallery img {
        max-height: 134px;
    }
    .factory-detail > .columns {
        height: auto!important;
    }
    .factory .explorion .title {
        margin-top: 16px;
    }
    .visiting-form .title p {
        font-size: 20px;
    }
    .tabs-title > a {
        padding: 1.25rem 1rem;
    }
    .gallery-visit .title p {
        font-size: 20px;
    }
    .gallery-visit .title p:last-of-type {
        font-size: 24px;
    }
    .visiting-detail form, .visiting-detail form label {
        font-size: 12px;
    }
    .gallery-visit .title hr {
        width: 90px;
    }
}

@media screen and (max-width: 480px) {
    .visiting-form {
        padding: 0;
    }
    .visiting-detail .tabs-title > a {
        font-size: 10px;
        padding: 1.25rem 0.5rem;
    }
    .visiting-detail ol > li, .visiting-detail p {
        font-size: 12px;
    }
    .gallery-visit > .custom-padd {
        padding: 60px 0;
    }
    .gallery-visit img {
        padding-left: 15px;
        width: 90%;
    }
    .desc .detail {
        -moz-column-count: 1;
        -moz-column-gap: 20px;
        -webkit-column-count: 1;
        -webkit-column-gap: 20px;
    }
}
@media screen and (max-width: 320px) {
    .g-recaptcha.position-captcha {
        float: none;
        transform:scale(0.90);
        -webkit-transform:scale(0.90);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .visiting-detail .tabs-content {
        border-width: 10px;
    }
}
