@font-face {
    font-family: 'gothamroundedmedium';
    src: url('../../fonts/gothamroundedmedium.eot');
    src: url('../../fonts/gothamroundedmedium.eot') format('embedded-opentype'),
    url('../../fonts/gothamroundedmedium.woff2') format('woff2'),
    url('../../fonts/gothamroundedmedium.woff') format('woff'),
    url('../../fonts/gothamroundedmedium.ttf') format('truetype'),
    url('../../fonts/gothamroundedmedium.svg#gothamroundedmedium') format('svg');
}


.factory-tour{
    position: relative;
}

.factory-tour > .title {
    margin-top: 50px;
    margin-bottom: 60px;
    position: absolute;
    width: 100%;
}

.factory-tour .background{
    text-align: center;
}

.principal{
    color: #677088;
    padding-bottom: 110px;
}

.principal .sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 45px;
}

.principal .detail{
    text-align: center;
}

.explorion {
    background: #f4f7fb;
}

.explorion .title{
    font-family: 'Tahoma',sans-serif;
    font-weight: 700;
    color: #31476d;
    font-size: 26px;
    border: 0;
    padding: 35px 0 20px;
}

.explorion .sub-title{
    color: #677088;
}

.explorion .middle-content{
    position: relative;
    margin: 25px 0;
}

.explorion .banner{
    height: 420px;
    width: 100%;
}

/*.explorion-adventure .banner{
    background: url("../images/explorion-adventure.jpg") center no-repeat;
}

.explorion-tour .banner{
    background: url("../images/exploration-tour.jpg") 40% 0 no-repeat;
}*/

.explorion-button{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -16px;
}

.explorion .button{
    height: 44px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    background: #b01c32;
    text-transform: uppercase;
    padding: .85em 6.5em .85em 2em;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #e5244d;
}

.explorion .button span{
    position: absolute;
    background: white;
    height: 42px;
    right: 0;
    top: 0;
    display: table;
    padding: 10px;
}

.explorion .bottom-content .large-8{
    color: #677088;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.explorion-adventure:first-child .bottom-content .large-8{
    border-bottom: 1px solid #b2c0e2;
}

.explorion-adventure:last-child .title{
    padding: 25px 0 20px;
}

#form-title{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #316b9f;
    padding: 70px 10px 10px;
}

#form-title-tabs{
    border: 1px solid #ffffff;
}

#tnc-tab-label{
    font-weight:bold;
}

#reg-tab-label{
    font-weight:bold;
}

#visiting-form{
    text-align: center;
}

#ui-datepicker-div {
    display: none;
}

.no-padding{
    padding: 0;
}

.explorion-gallery img{
    width: 100%;
}

.gallery{
    padding: 50px 0;
}

.explain .sub-title{
    font-family: "Tahoma",sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #31476d;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9ddef;
}

.explaination{
    padding-top: 20px;
    color: #677088;
    line-height: 27px;
}

.calendar .tabs-content{
    background: transparent;
    border: 0;
}

#calendar .large-9{
    position: relative;
}

.calendar-wrapper{
    position: relative;
}

.calendar-wrapper .tabs{
    position: absolute;
    width: 63%;
    margin: auto;
    top: 95px;
    left: 60px;
    z-index: 5;
    border: 3px solid #316b9f;
    border-radius: 5px;
}

.calendar-wrapper .tabs-title {
    width: 50%;
    text-align: center;
}

.calendar-wrapper .tabs-title>a{
    padding: 0.5rem 0.75rem;
    color: #31476d;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
}

.calendar-wrapper .tabs-title>a:focus, .calendar-wrapper .tabs-title>a[aria-selected=true] {
    background: #316b9f;
    color: white;
    font-weight: bold;
}

.dp_calendar .main_date{
    padding-bottom: 80px;
    border-bottom: 1px solid #d6dcec;
}

.dp_calendar .main_date a{
    font-family: 'gothamroundedmedium',sans-serif;
}

#toggleDP{
    font-size: 24px;
    color: #6a7783;
}

#prev_year, #next_year{
    color: #ff7f66;
    font-size: 16px;
}

.div_dates{
    position: relative;
}

#prev_month{
    position: absolute;
    left: 0;
    top:400px;
}

#next_month{
    position: absolute;
    top:400px;
    right: 20px;
    z-index: 1;
}

.div_main_date{
    position: relative;
}

.div_main_date .fa{
    color: #ff7f66;
    font-size: 40px;
}

.dp_calendar .div_dates li{
    text-transform: uppercase;
    font-family: 'gothamroundedmedium',sans-serif;
    color: #3e454c;
    font-size: 22px;
}

.dp_calendar .div_dates li:first-child {
    color: #dd173d !important;
}

.dp_calendar .div_dates li:nth-last-child {
    color: #dd173d !important;
}

.node{
    padding: 0 8px;
}

.node-sign {
    width: 5px;
    height: 5px;
    border-radius: 15px;
    background: #44e633;
    margin: 0 2px;
    position: relative;
    float: left;
}

.node-sign.libur {
    background: transparent;
}

.node-sign.pilih {
    background: #ff0000;
}

.dp_calendar .div_dates ul#list_days li{
    font-size:16px;
    color: #3e454c;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    margin: 17px;
    line-height: 2;
    padding: 0;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;

}

.dp_calendar .div_dates ul#list_days li:hover, .dp_calendar .div_dates ul#list_days li.active{
    border: 2px dashed #285987;
    box-shadow: none;
    background: rgba(48,105,157,0.2);
}

.available > p:before , .notavailable > p:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5dc369;
    position: absolute;
    left: 0;
    top: 5px;
}

.notavailable > p:before {
    background: #ff0000;
}

.available > p , .notavailable > p {
    display: inline-block;
    position: relative;
    color: #8191ae;
    font-size: 12px;
    padding-left: 15px;
}

.div_main_date .available, .div_main_date .notavailable{
    text-align: left;
}

.calendar .large-3{
    height: 100%;
    background: #1c619f;
}

.dp_calendar .calendar_list{
    background: transparent;
}

.calendar_title{
    padding: 60px 0.9725rem 0;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.dp_calendar .calendar_list #list li{
    text-align: left;
    color: white;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 60px;
    padding-top: 20px;
}

.dp_calendar .calendar_list #list li .shift{
    font-family: 'gothamroundedmedium',sans-serif;
    font-size: 15px;
    padding: 15px 0;
}

.dp_calendar .calendar_list #list {
    margin: 0;
}

.dp_calendar .calendar_list #list li a, .dp_calendar .calendar_list #list li p{
    font-size: 14px;
    color: #4cee6a;
    margin-bottom: 0;
}
.dp_calendar .calendar_list #list li a .fa{
    background: #4cee6a;
    color: #1c619f;
    border-radius: 15px;
    padding: 2px 4px;
    margin-right: 15px;
}

.calendar form .large-3{
    background: #1c619f;
}

.calendar form .large-3 label{
    padding: .5625rem 1.75rem;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid #5f95c6;
    text-align: left;
}

.view-data label{
    display: inline-block;
    font-size: 16px;
    color: #b02336;
    margin-bottom: 0;
    font-weight: 600;
}

.address-wrapper{
    height: 88px;
}

.calendar form .address-wrapper label{
    padding: 1.5625rem 1.75rem;
}

form{
    -moz-box-shadow:    0px 0px 10px 0px #ccc;
    -webkit-box-shadow: 0px 0px 10px 0px #ccc;
    box-shadow:         0px 0px 10px 0px #ccc;
}

form input[type=text], form input[type=email], form input[type=tel], form input[type=number], form textarea{
    -moz-box-shadow:    inset 0 0 2px #4e8ac4;
    -webkit-box-shadow: inset 0 0 2px #4e8ac4;
    box-shadow:         inset 0 0 2px #4e8ac4;
    border: 2px solid #4e8ac4;
    border-radius: 5px;
    resize: none;
}

form .button{
    height: 44px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    background: #b01c32;
    text-transform: uppercase;
    padding: .85em 6.5em .85em 2em;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #e5244d;
}

form .button span{
    position: absolute;
    background: white;
    height: 42px;
    right: 0;
    top: 0;
    display: table;
    padding: 10px;
}

form .back-button{
    padding: .85em 2em .85em 6.5em;
    background: #abb6cc;
    border-top: 2px solid #7d8aa4;

}

form .back-button span{
    left: 0;
    right: auto;
    transform: rotate(180deg);
}

form .back-button span img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

form .button:hover{
    background: #b01c32;
}

form .back-button:hover{
    background: #7d8aa4;
}

.form-wrap{
    text-align: right;
}

.form-button{
    display: inline-block;
    margin-left: 20px;
}

.odd-item{
    padding-right: 10px;
    padding-bottom: 10px;
}

.odd-item .gallery-item{
    background-size: 150%;
}

.gallery-item {
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.gallery-item a{
    display: table-cell;
    vertical-align: middle;
}

.gallery-item .fa-instagram {
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 10px;
}

.calendar p{
    margin-bottom: 0;
}

.calendar{
    background: url(../images/background-calendar.jpg) center no-repeat;
}

.notavailable{
    margin-bottom: 10px;
}

.dp_calendar{
    -webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px 1px rgba(0,0,0,.2);
    background: rgba(243,243,243,1);
}

.dp_calendar .div_main_date{
    padding: 30px 20px 35px;
}


.tabs-explore{
    border: none;
    background: transparent;
}

.tabs-explore .tabs-title>a{
    font-size: 14px;
    background: transparent;
    color: #8191ae;
    font-weight: 400;
}

.tabs-explore .tabs-title>a:focus, .tabs-explore .tabs-title>a[aria-selected=true]{
    background: transparent;
    color: #2c669f;
    text-decoration: underline;
    font-weight: bolder;
}

.calendar-terms{
    min-height: 300px;
    text-align: left;
    background: #f5f6f7;
    border: 1px solid #dbdbdb;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #31476d;
    line-height: 1;
    font-size: 14px;
    box-shadow: 0 5px 10px 1px rgba(0,0,0,.2);
    background: rgba(243,243,243,1);
    padding: 30px;
}

.calendar-terms ol li{
    padding-bottom: 10px;
}

.calendar-terms .terms-title{
    padding-bottom: 20px;
    text-decoration: underline;
    font-size: 18px;
}

.tabs-panel{
    padding: 0;
}


.principal .sub-title br {
    display: none;
}

@media screen and (max-width: 1366px) {
    .calendar-wrapper{
        width: 70%;
    }

    .principal .sub-title {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .principal .detail {
        padding-left: 8px;
    }

    .principal {
        padding-bottom: 50px;
    }

    .factory-tour .background img{
        width: 80%;
        margin: auto;
    }

}

@media screen and  (width: 64em){
    .dp_calendar .div_dates li {
        font-size: 16px;
    }

    .dp_calendar .div_dates ul#list_days li{
        width: 47px;
        height: 47px;
        margin: 8px;
    }

    .principal .large-6{
        width: 80%;
    }
}

@media screen and (max-width: 63.9375em) {
    .calendar-wrapper .tabs{
        width: 84%;
    }

    .dp_calendar .div_dates ul#list_days li {
        width: 48px;
        height: 48px;
        margin: 24px;
        font-size: 24px;
    }

    .calendar-wrapper {
        width: 100%;
    }

    .explorion{
        padding: 0 20px;
    }

    .top-content{
        padding: 0 0.9375rem;
    }

    form input[type=text], form input[type=email], form input[type=tel], form input[type=number], form textarea {
        margin: 15px 0;
    }

    .form-wrap {
        padding: 15px;
    }

    .calendar_title {
        padding: 40px 0.9725rem 0;
    }

    .dp_calendar .calendar_list {
        padding: 10px 20px;
    }

    .dp_calendar .calendar_list #list {
        margin: 0;
    }

}

/* Small only */
@media screen and (max-width: 39.9375em) {

    .calendar-wrapper .tabs{
        top: 35px;
        left: 40px;
        width: 70%;
    }

    .calendar-wrapper{
        width: 100%;
        max-width: 288px;
        margin: auto;
    }

    .dp_calendar .div_main_date{
        padding: 0;
    }

    #toggleDP {
        font-size: 12px;
    }

    #prev_year, #next_year {
        font-size: 9px;
    }

    .dp_calendar .div_dates li {
        font-size: 10px;
    }

    .dp_calendar .div_dates ul#list_days li {
        font-size: 14px;
        width: 23px;
        height: 23px;
        margin: 5px;
        line-height: 1;
        padding: 0;
    }

    .node {
        padding: 0;
    }

    .node-sign {
        width: 3px;
        height: 3px;
        margin: 0 2px;
    }

    #prev_month, #next_month {
        top: 200px;
    }

    .div_main_date .fa{
        font-size: 20px;
    }

    #next_month {
        right: -8px;
    }

    #prev_month {
        left: -8px;
    }

    .dp_calendar .calendar_list #list {
        margin: 0 0 0 0;
    }

    .calendar_title {
        padding: 40px 0.9725rem 0;
        font-size: 16px;
    }

    .calendar .large-3 {
        padding-bottom: 30px;
    }

    .calendar form .large-3 {
        padding-bottom: 0;
        font-size: 12px;
    }

    .calendar form .large-3 label{
        font-size: 12px;
        padding: .5625rem 0;
    }

    .view-data{
        padding: .9375rem;
    }

    .tabs-panel form .row{
        background: white;
    }

    .view-data label{
        font-size: 12px;
    }

    .view-data label span{
        display: none;
    }

    .calendar-wrapper .tabs-title>a{
        padding: 0.2rem 0.75rem;
    }

    .explorion .middle-content {
        position: relative;
        margin: 30px 0 5px;
    }
    .explorion .bottom-content .large-9 {
        font-size: 12px;
    }

    .explorion .sub-title {
        font-size: 12px;
        color: #677088;
    }

    .explorion .title {
        font-family: 'Tahoma',sans-serif;
        font-weight: 700;
        color: #31476d;
        font-size: 18px;
        border: 0;
        padding: 20px 0;
    }

    .explorion-adventure:first-child .title{
        padding: 40px 0 20px;
    }

    .explorion-button {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        bottom: 0;
    }

    .explorion .button {
        height: 30px;
        font-size: 10px;
    }

    .explorion .button span {
        height: 28px;
        padding: 5px;
    }

    .factory-tour > .title {
        margin-top: 50px;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }

    .bottom-content .detail{
        font-size: 12px;
    }

    .principal .sub-title {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 30px;
    }

    .principal .sub-title br {
        display: block;
    }


    .principal .detail {
        font-size: 14px;
        padding: 0 .9375rem;
    }

    .principal {
        padding-bottom: 30px;
    }

    .dp_calendar .main_date {
        padding-bottom: 40px;
        border-bottom: 1px solid #d6dcec;
    }

    .dp_calendar .div_dates ul#list_days li{
        border: none;
    }

    .dp_calendar .div_dates ul#list_days li:hover, .dp_calendar .div_dates ul#list_days li.active{
        border: none;
        color: #285987 !important;
        background: none;
    }

    .calendar-wrapper .tabs-panel{
        padding: 0;
    }

    #form-title {
        padding: 30px 10px 10px;
        font-size: 18px;
    }

    .calendar-terms {
        font-size: 12px;
    }

    .calendar-terms .terms-title {
        font-size: 16px;
    }


    .explain .sub-title {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .explain .sub-title br{
        display: none;
    }

    .explaination {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .form-button {
        display: block;
        margin-left: 0;
    }

    form .back-button {
        padding: 0;
    }

    form .button{
        padding: 0;
        width: 100%;
    }

}