.no-padd {
    padding-left: 0;
    padding-right: 0;
}
.custom-content {
    background: #e5eaee;
    /*font-family: "myriad pro", sans-serif;*/
}
.faq {
    color: #e5e5e5;
}
.faq .custom-padd {
    padding-left: 95px;
    padding-right: 158px;
}
.faq .title {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f92d9;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    margin-bottom: 36px;
}
.faq .title h2 {
    font-size: 24px;
    margin-bottom: 0;
    color: #ffffff;
}

.faq .title h2:before{
    display: none;
}

.faq .submenu {
    padding-left: 0;
}
.faq .pocari-sweat {
    background: #1566a0;
}
.faq .pocari-sweat div , .faq .soyjoy div , .faq .ionesence div {
    border-bottom: 1px solid #fff;
    padding: 0 20px;
}
.faq .pocari-sweat .sub-title {
    background: #2f92d9;
}
.faq .sub-title a {
    display: block;
    color: #fff;
    padding: 20px;
}
.faq .list > a {
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    padding: 5px 20px;
}
.faq .soyjoy {
    background: #b51219;
}
.faq .soyjoy .sub-title {
    background: #ed1c24;
}
.faq .ionesence {
    background: #019dcb;
}
.faq .ionesence .sub-title {
    background: #01b2e6;
}

.faq .submenu > .pocari-sweat , .faq .submenu > .soyjoy , .faq .submenu > .ionesence {
    margin-bottom: 20px!important;
}
.faq .qa > h5 {
    font-size: 16px;
    color: #a0a5a9;
}
.faq .accordion {
    border: 0;
}
.faq .accordion .accordion-item a{
    font-size: 16px;
    color: #1566a0;
    border-bottom: 4px solid #e5eaee;
}
.faq .accordion .accordion-title:focus , .faq .accordion .accordion-title:hover , .faq .accordion .accordion-title:active {
    background: #FFFFFF;
}
.faq .accordion .accordion-content {
    font-size: 14px;
    color: #979797;
    border-bottom: 4px solid #e5eaee;
    letter-spacing: 0.5px;
}
.accordion-title::before {
    content: url("../../img/icon-acc.png");
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.5rem;
}
.is-active > .accordion-title::before {
    content: url("../../img/icon-acc-open.png");
}

.faq .accordion .accordion-item.is-active a {
    border-bottom: 0;
}

@media only screen and (max-width: 640px) {
    .faq .submenu {
        padding-left: 0.9375rem;
    }
}