.gallery-detail, .gallery-detail .banner, .gallery-detail .banner .columns  {
    padding: 0;
}
.gallery-detail .banner {
    background: #ffffff;
}
.gallery-detail .banner .icon-banner {
    position: absolute;
    margin-left: 11%;
    margin-top: 10px;
}
.gallery-detail .banner .banner-title {
    padding-top: 20%;
}
.gallery-detail .banner .banner-title p {
    font-size: 48px;
    line-height: 1;
    color: #222328;
}
.gallery-detail .banner .banner-title .lead-title{
    font-size: 24px;
}
.gallery-detail .gallery-view .title p {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}
.gallery-detail .gallery-view .title p > span {
    font-size: 32px;
}
.testimonial , .gallery-detail {
    background: #e5eaee;
}
.testimonial p {
    color: #4f5362;
}
.testimonial p.title {
    font-size: 38px;
    color: #222328;
    margin-bottom: 0;
    margin-top: 53px;
}
.testimonial .gallery-view {
    background: #ffffff;
}
.gallery-detail .gallery-view {
    background: #ffffff;
}
.gallery-detail .gallery-view .twitter-share {
    position: relative;
    margin-top: 4px;
}
.gallery-detail .gallery-comment {
    margin-bottom: 125px;
}
.gallery-detail .gallery-comment .detail {
    background: #ffffff;
    margin-top: 30px;
}
.gallery-detail .gallery-comment .detail .textarea {
    padding-left: 0px;
}
.gallery-detail .gallery-comment textarea {
    background: #c6d9e2;
    font-size: 12px;
    border: transparent;
    box-shadow: none;
}

.gallery-detail .gallery-comment input {
    background: #c6d9e2;
    font-size: 12px;
    border: transparent;
    box-shadow: none;
}

.gallery-detail .gallery-comment .detail .title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
.gallery-detail .gallery-comment .comment-name p {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.gallery-detail .gallery-comment .comment-name p span {
    font-size: 12px;
    color: #21b3f7;
    font-style: italic;
}
.gallery-detail .gallery-comment .comment-detail p {
    font-size: 12px;
    font-weight: normal;
    color: #929292;
}
.gallery-detail .gallery-comment .comment-each {
    margin-bottom: 35px;
}
.gallery-detail .gallery-comment .comment-pic {
    position: relative;
}
.gallery-detail .gallery-comment .comment-pic.second:before {
    position: absolute;
    content: url(../../img/gallery/icon-comment.png);
    width: 47px;
    height: 84px;
    left: -40px;
    top: -35px;
}
 .gallery-from-slide .gallery-content {
    position: relative;
     padding: 0px;
 }
 .gallery-from-slide .gallery-content > .title {
     position: absolute;
     bottom: 0px;
     background-color: rgba(34,40,79,0.8);
 }
 .gallery-view-detail {
     margin-top: 37px;
 }
.gallery-from-slide .gallery-content > .title p {
    font-family: "myriad pro";
    font-size: 38px;
    color: #ffffff;
    line-height: 1;
    padding: 5px;
    margin-bottom: 0;
}
/*testimonial slider*/
.testimonial .bx-wrapper .bx-viewport {
    height: 300px!important;
    /*box-shadow: 0 0 5px #ccc;*/
    box-shadow: none;
    border: none;
}
.bx-wrapper .bx-prev {
    left: -50px;
    background: url(../../bxslider/images/controls-custom.png) no-repeat 0 -8px;
}
.bx-wrapper .bx-prev:hover {
    background-position: 0 -8px;
}
.bx-wrapper .bx-next:hover {
    background-position: -56px -8px;
}
.bx-wrapper .bx-next {
    right: -50px;
    background: url(../../bxslider/images/controls-custom.png) no-repeat -56px -8px;
}
.bx-wrapper .bx-controls-direction a {
    width: 45px;
    height: 45px;
    top: 40%;
}
.bx-wrapper .bx-viewport {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    /*box-shadow: 0 0 5px #ccc;*/
}
.gallery-testimonial-slide .slide .gallery-content, .gallery-testimonial-slide .slide .gallery-content .gallery-pic {
    padding: 0;
}
.gallery-testimonial-slide .slide .gallery-content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    height: 228px;
    box-shadow: 5px 15px 15px #5d5f61;
    margin-left: -5px;
}
.gallery-testimonial-slide .slide .gallery-content .title p {
    font-family: 'Optima' , 'Open Sans', sans-serif;
    font-size: 18px;
    color: #4f5362;
    font-weight: bold;
}
.gallery-testimonial-slide .slide .gallery-content .from p {
    font-family: "myriad pro", sans-serif;
    font-size: 12px;
    color: #4f5362;

}
.gallery-testimonial-slide .slide .gallery-content .comment p {
    font-size: 12px;
}
/*end testimonial slider*/
/*gallery-from-slide slider*/
.gallery-view-detail .bx-wrapper {
    margin-bottom: 0px;
}
.gallery-view-detail .bx-wrapper .bx-viewport {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
}
.gallery-view-detail .bx-wrapper .bx-prev {
    left: 15px;
    background: url(../../bxslider/images/controls-2.png) no-repeat -97px -87px;
}
.gallery-view-detail .bx-wrapper .bx-prev:hover {
    background-position: -97px -87px;
}
.gallery-view-detail .bx-wrapper .bx-next:hover {
    background-position: -97px -8px;
}
.gallery-view-detail .bx-wrapper .bx-next {
    right: 30px;
    background: url(../../bxslider/images/controls-2.png) no-repeat -97px -8px;
}
.gallery-view-detail .bx-wrapper .bx-controls-direction a {
    width: 82px;
    height: 71px;
    top: auto;
    bottom: 0!important;
}
.gallery-view-detail .display-gallery , .gallery-view-detail .display-gallery .gallery-from-detail , .gallery-view-detail .gallery-from-detail > li {
    padding: 0;
    margin:0;
}
.gallery-view-detail #bx-pager img {
    padding-bottom: 0.9375rem;
}
.g-recaptcha {
    position: relative;
    margin-left: 65px;
}
.gallery-content:hover{
   cursor: pointer; 
}
/*end gallery-from-slide slider*/
@media screen and (max-width: 1366px) {
    .gallery-from-slide .gallery-content > .title p {
        font-size: 24px;
        font-family: sans-serif;
    }
}
@media screen and (max-width: 1024px) {
    .bx-wrapper {
        width: 80%;
    }
    .gallery-detail .banner .banner-title p {
        font-size: 28px;
    }
    .gallery-detail .banner .banner-title .lead-title {
        font-size: 18px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 640px) {
    .display-gallery {
        margin-bottom: 20px!important;
    }
    .gallery-detail .banner {
        position: relative;
        overflow: hidden;
    }
    .gallery-detail .banner .banner-img {
        min-width: 420px;
    }
    .gallery-detail .banner > .banner-text {
        position: absolute;
        background: rgba(255,255,255,0.8);
        bottom: 20%;
        right: 10%;
    }
    .gallery-detail .banner .banner-title p {
        font-size: 28px;
        color: #222328;
        line-height: 1;
    }
    .gallery-detail .banner .banner-title {
        padding: 40px;
    }
    .gallery-testimonial-slide .slide .gallery-content {
        height: auto;
        padding: 5px;
    }
    .testimonial .bx-wrapper .bx-viewport {
        height: 100%;
    }
    /*.g-recaptcha {*/
        /*margin-left: 0px;*/
    /*}*/
    .g-recaptcha.position-captcha {
        float: none!important;
        transform:scale(0.90);
        -webkit-transform:scale(0.90);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        margin-left: 0;
    }
    .captcha {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .gallery-detail .gallery-view .title p {
        /*margin-bottom: 2px;*/
    }
    [data-equalizer-watch="gallery-view-title"] {
        height: 50px!important;
        float: none;
    }
    .gallery-view-detail .bx-wrapper .bx-prev {
        left: -5px;
    }
    .gallery-view-detail .bx-wrapper .bx-next {
        right: 0px;
    }
}
@media screen and (max-width: 320px) {
    .testimonial .bx-viewport {
        min-height: 400px;
    }
    .gallery-testimonial-slide .slide .gallery-content .comment p {
        max-height: 135px;
        overflow: hidden;
    }
    .testimonial.gallery-group .bx-wrapper .bx-viewport {
        height: 200px!important;
        min-height: 200px;
    }
    .gallery-detail .gallery-comment {
        padding-left: 0;
        padding-right: 0;
    }
    .s-no-padd {
        padding-left: 0;
        padding-right: 0;
    }
    /*.g-recaptcha {*/
        /*float: none;*/
        /*transform:scale(0.85);*/
        /*-webkit-transform:scale(0.85);*/
        /*transform-origin:0 0;-webkit-transform-origin:0 0;*/
    /*}*/
    .g-recaptcha.position-captcha {
        transform:scale(0.85);
        -webkit-transform:scale(0.85);
    }
}