.about-us > .title {
    margin-top: 50px;
    margin-bottom: 0;
}

.history-year-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.history-year{
    display: none;
    /*-webkit-transition: all 350ms;-moz-transition: all 350ms;-ms-transition: all 350ms;-o-transition: all 350ms;transition: all 350ms;*/
}

.flipster__item--current .history-year{
    display: block;
}

.history-year{
    width: 129px;
    height: 38px;
    line-height: 38px;
    font-family: 'Open Sans',sans-serif;
    color: #005ca9;
    font-weight: 700;
    font-size: 28px;
    margin: auto;
    background: white;
}

.flipster__nav__link{
    z-index: 2;
    color: #8293b1;
    text-align: center;
    text-align: -webkit-center;
}

.flipster__nav__link:hover{
    z-index: 2;
    color: #8293b1;
}

.flipster{
    padding: 20px 0 150px;
}

.flipster__nav{
    width: 88%;
    text-align: -webkit-center;
    margin: 4em auto;
}

.flipster__nav::before{
    content: " ";
    background: #669dcb;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    margin: auto;
    bottom: 6px;
}

.flipster__nav__item{
    position: relative;
}

.flipster__nav__item::after{

    content: " ";
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #005ca9;
    line-height: 10px;
    display: block;
    font-size: 38px;
    padding: 1px 12px 12px 0;
}

.flipster__nav__item:hover, .flipster__nav__item--current{
    position: relative;
    top: 23px;
}

.flipster__nav__link::before {
    transform: translateY(0);
}

.flipster__nav__link:hover::before {
    transform: translateY(0);
}

.flipster__nav__item:hover::after{
    content: "\2022";
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #005ca9;
    line-height: 10px;
    display: block;
    font-size: 38px;
    color: #005ca9;
}

.flipster__nav__link::after{
    display: none;
}

.flipster__nav__item--current::after{

    color: #005ca9;
    content: "\2022";
}

.history-title, .history-detail{
    text-align: center;
    opacity: 0;
}

.history-title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    color: #2e4773;
    font-size: 26px;
    padding: 30px 0 5px 0;
}

.flipster__item--current{
    background: #FFFFFF;
}

.flipster__item--current .history-detail, .flipster__item--current .history-title{
    opacity: 1;
}

.history-detail{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #677088;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
    position: absolute;
}


.flipster__button{
    top: 158px;
}

.flipster__button--prev {
    left: 0;
}

.flipster__button--next {
    right: 0;
    transform: rotate(180deg);
}

.history-stone{
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: 5;
}

.flipster__item--current .history-stone{
    opacity: 0;
}

.flipster--carousel .flipster__item--future-1 .history-stone{
    left: auto;
    right: 35%;
}

#carousel::before{
    content: " ";
    background: #669dcb;
    position: absolute;
    left: 0;
    width: 100%;
    top: 53.8%;
    height: 2px;
    margin: auto;
    display: none;
}

.flipster--carousel .flipster__item--past-1, .flipster--carousel .flipster__item--future-1{
    -ms-filter: blur(5px);filter: blur(5px);
}

.flipster--carousel .flipster__item--past-2, .flipster--carousel .flipster__item--future-2{
    -ms-filter: blur(5px);filter: blur(5px);
}

.flipster__item--past-1 .history-image img, .flipster__item--future-1 .history-image img{
    width: 50%;
}

.flipster__item--future-1 .history-image{
    text-align: right;
}

.flipster__item{
    vertical-align: middle;
}

.flipster__nav__item--current > .flipster__nav__link, .flipster__nav__link:hover, .flipster__nav__link:focus{
    font-weight: 700;
    background: #005ca9;
    border-radius: 5px;
    color: white;
}

.flipster__nav__item--current .flipster__nav__child{
    background:transparent;
    width: 500px;
    margin: 0;
    text-align: left;
}


.flipster__nav__item--current .flipster__nav__child .flipster__nav__item::after{
    display: none;
}

.flipster__nav__item--current .flipster__nav__child .flipster__nav__item{
    top: 0;
}


.flipster__nav__item--current .flipster__nav__child .flipster__nav__item .flipster__nav__link{
    color: white;
    width: 122px;
    border-radius: 0;
    background: #4794d5;
    -webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s;transition: all .5s;
}

.flipster__nav__item--current .flipster__nav__child .flipster__nav__item .flipster__nav__link:hover, .flipster__nav__item--current .flipster__nav__child .flipster__nav__item--current .flipster__nav__link{
    background: #005ca9;
}

@media screen and (max-width: 1366px){
    /*.flipster__nav__link::before {*/
        /*content: " ";*/
        /*background: white;*/
        /*width: 14px;*/
        /*height: 14px;*/
        /*border-radius: 14px;*/
        /*border: 1px solid #005ca9;*/
        /*transform: translateY(0);*/
        /*line-height: 10px;*/
        /*display: block;*/
        /*font-size: 36px;*/
        /*padding: 1px 12px 12px 0;*/
    /*}*/

    .flipster__item--current .history-title{
        padding: 20px 0 10px;
    }

    .flipster__nav {
        width: 85%;
        text-align: -webkit-center;
        margin: 0 auto 4em;
    }

    .flipster__button {
        top: 89px;
    }

    .history-stone {
        top: 41%;
        left: 45%;
    }

    .flipster--carousel .flipster__item--future-1 .history-stone {
        left: auto;
        right: 45%;
    }
}

@media screen and (max-width: 1024px) {
    .flipster__nav {
        width: 80%;
    }
    .flipster__button--prev {
        left: 0;
    }
    .flipster__button--next {
        right: 0;
    }

    .flipster__nav__item--current .flipster__nav__child .flipster__nav__item .flipster__nav__link{
        width: 80px;
    }
}

@media screen and (max-width: 63.9375em){
    #carousel::before{
        display: none;
    }

    .flipster__button {
        top: 40%;
        opacity: 1;
    }


    .flipster__item--current .history-stone{
        display: none;
    }

    .flipster__nav {
        display: none;
    }

    .history-detail {
        position: relative;
    }
}

@media screen and (max-width: 640px) {
    .custom-content {
        width: 100%;
        margin: auto;
    }
    .flipster__item{
        text-align: center;
    }

    #carousel::before{
        display: none;
    }


    .flipster__item--current .history-stone{
        display: none;
    }

    .flipster--flat .flipster__container, .flipster--flat .flipster__item, .flipster--flat .flipster__item__content{
        width: 95%;
        margin: auto;
    }

    .flipster__button {
        top: 41%;
        width: 10%;
    }

    .flipster__button--prev {
        left: -15px;
    }

    .flipster__button--next {
        right: -15px;
    }

    .history-title{
        font-size: 16px;
    }

    .history-detail {
        font-size: 12px;
    }

    .flipster {
        padding: 20px 0 0;
    }

    .flipster__item {
        vertical-align: top;
    }

}