.orbit {
    position: relative;
}
.orbit .orbit-bullets-container {
    position: absolute;
    top: 0;
    left: 50px;
    display: inline-block;
    width: 4px;
}
.orbit .orbit-bullets > button {
    width: 4px;
    border-radius: 5px;
    height: 30px;
}
.orbit .orbit-bullets > button.is-active {
    background: #31476d;
}
.desc-top {
    font-weight: 700;
    font-size: 38px;
    color: #2e4773;
    position: absolute;
    top: 10px;
    text-align: center;
    line-height: 1.2;
    padding: 25px 10px;
    background: rgba(255,255,255,0.6);
}
.desc-top > span {
    font-weight: 300;
    font-size: 18px;
    display: block;
}
.desc-right {
    font-weight: 700;
    font-size: 38px;
    color: #272868;
    position: absolute;
    top: 30%;
    text-align: left;
    line-height: 1.2;
    padding: 50px 45px;
    /*background: rgba(255,255,255,0.6);*/
}
.desc-right > span {
    font-weight: 300;
    font-size: 18px;
    font-style:normal;
    display: block;
}
/*latest news*/
.latest-news .title {
    margin-top: 45px;
    margin-bottom: 45px;
}

.latest-news .title a{
    float: right;
    padding-top: 10px;
    color: #b01c33;
    padding-right: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.latest-news {
    position: relative;
}
.latest-news .latest-bg {
    position: absolute;
    top: 40%;
    z-index: 4;
}
.latest-news .custom-content {
    position: relative;
    z-index: 5;
}

.each-wrapper{
    margin-bottom: 30px;
}

.each-wrapper:last-child{
    margin-bottom: 45px;
    padding: 0;
}

.each-wrapper:first-child{
    border-bottom: 1px solid #b6cce0;
    padding: 0 0 40px;
}

.each-news > a > .medium-5{
    padding: 0;
}

.each-news > a > .medium-5 > img {
    width: 100%;
}
.each-news > .medium-7 {
    /*border: 1px solid #cddbe8;*/
}

.post-category{
    padding: 0 50px;
    font-weight: 700;
    font-size: 14px;
    color: #1a3065;
    text-transform: uppercase;
    -webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s;transition: all .5s;
}

.each-news:hover .post-category{
    color: #b01c33;
}

.list-news{
    position: relative;
}

.post {
    padding: 0 50px;
}
.post-date {
    font-size: 12px;
    font-weight: 400;
    color: #aab6ca;
    margin-bottom: 12px;
}
.post-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #1d283d;
    line-height: 1.3;
}
.post-detail {
    font-weight: 400;
    color: #1d283d;
}
.latest-news .post-link {
    padding: 0 50px;
    position: absolute;
    bottom: 0;

}

.story-at-otsuka .post-link {
    border-top: 2px solid #e3244c;
    padding: 0;
}
.post-link > .columns:first-child {
    background: #b3253a;
    position: relative;
}

.post-link > .columns > a{
    color: white;
    font-size: 14px;
}

.post-link > .columns {
    padding: 25px;
    color: #b3253a;
    background: #f9f9fb;
    text-align: center;
}

.post-link a.button {
    font-size: 14px;
    color: #1c3066;
    background: transparent;
    border-bottom: 2px solid #e62d54;
    padding: .85em 0;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.post-link a.button img{
    padding:0 10px;
}

/*life at otsuka*/
.life-at-otsuka {
    padding-bottom: 40px;
}
.life-at-otsuka > .title {
    margin-top: 0;
    margin-bottom: 6px;
}
.life-at-otsuka .gallery {
    margin-bottom: 12px;
}
.life-at-otsuka .gallery > .columns:nth-child(2) {
    padding: 0;
}
.life-at-otsuka .gallery > .columns:nth-child(2) > .row > .columns:first-child {
    padding-right: 6px;
}
.life-at-otsuka .gallery > .columns:nth-child(2) > .row > .columns:nth-child(2) {
    padding-left: 6px;
}
.life-at-otsuka .subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: #8293b1;
}
.life-at-otsuka .gallery img {
    /*border: 1px solid #aab5c8;*/
    border: none;
}
.life-at-otsuka .custom-content > .row > .columns:first-child {
    display: table;
}
.life-at-otsuka .custom-content > .row > .columns:first-child > p {
    display: table-cell;
    vertical-align: middle;
}
.story-at-otsuka > .row > .columns > .row {
    border: 1px solid #b9c6dc;
}
.story-at-otsuka .orbit .orbit-bullets {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50px;
}
.story-at-otsuka .orbit .orbit-bullets > button {
    width: 30px;
    border-radius: 5px;
    height: 4px;
    background: #b2e4fe;
}

.story-at-otsuka .orbit .orbit-bullets > button.is-active{
    background: #31476d;
}

.story-at-otsuka .orbit-slide > .row > .columns:last-child {
    /*position: relative;*/
    padding: 50px;
}
.story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:first-child {
    font-weight: 700;
    font-size: 28px;
    color: #8293b1;
}
.story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:not(:first-child) {
    font-weight: 400;
    font-size: 16px;
    color: #1d283d;
    position: relative;
    z-index: 7;
}
.story-at-otsuka .orbit-slide > .row > .columns:last-child  > .quote {
    position: absolute;
    z-index: 2;
}
.story-at-otsuka .orbit-slide > .row > .columns:last-child  > .post-link {
    position: absolute;
    right: 0;
    bottom: 0;
}
.story-profile {
    padding: 1rem;
    text-align: center;
}
.story-profile p{
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
    color: #1c619f;
    margin-bottom: 0;
}
.story-profile span {
    font-weight: 400;
    font-size: 12px;
    color: #8e9fb5;
}
.story-otsuka > li {
    /*border: 1px solid #b9c6dc;*/
}

.otsuka-staff img {
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
}

/*feed update*/
.feeds-updates {
    background: #f4f7fb;
}
.feeds-updates > .columns:nth-child(2) {
    padding-bottom: 80px;
}
.feeds-updates h2 {
    font-weight: 700;
    font-size: 28px;
    color: #31476d;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fb-wrap {
    position: relative;
    background: #1c609f;
    color: white;
    padding: 90px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.fb-wrap a{
    color: white;
    text-decoration: underline;
}

.fb-wrap .update-status{
    position: absolute;
    bottom: 10px;
}

.each-feed > .columns:nth-child(2) {
    overflow: hidden;
}
.tweet-wrap {
    position: relative;
    display: table;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 5px;
}
.tweet-wrap > .tweet-desc {
    display: table-cell;
    background: #00aeef;
}
.tweet-wrap.red {
    padding-left: 5px;
    padding-right: 0;
}
.tweet-wrap.red > .tweet-desc {
    background: #e6284b;
}
.instagram-feed {
    position: relative;
}
.fb-wrap i , .tweet-wrap i {
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 20px;
}
.instagram-feed i {
    font-size: 36px;
    color: #FFFFFF;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
}

.grid-Footer {
    display: none !important;
}

.feeds-updates{
    margin-bottom: 60px;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

.grid {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    background: #3085a3;
    text-align: left;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.2;
}

figure{
    margin: 0;
}

figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: auto;
    background: rgba(255,255,255,.8);
    color: #1c619f;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
    float: left;
}

figure.effect-zoe p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
    color: #252d31;
}

figure.effect-zoe p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'feathericons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
    content: '\e000';
}

.icon-paper-clip::before {
    content: '\e001';
}

.icon-heart::before {
    content: '\e024';
}

figure.effect-zoe h2 {
    display: inline-block;
}

figure.effect-zoe:hover p.description {
    opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.fb-feed, .fb-post{
    height: auto;
}

@media screen and (max-width: 1366px) {
    /*banner desc*/
    .desc-top {
        font-size: 28px;
    }
    .desc-top > span {
        font-size: 14px;
    }
    .desc-right {
        font-size: 28px;
    }
    .desc-right > span {
        font-size: 14px;
    }
    /*latest news*/
    .post-title {
        font-size: 24px;
    }
    .post-detail {
        font-size: 16px;
    }
    .post-link a {
        font-size: 14px;
    }
    .post-link > .columns {
        padding: 10px 30px;
    }
    /*life at otsuka*/
    .life-at-otsuka .subtitle {
        font-size: 24px;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:not(:first-child){
        font-size: 14px;
    }

}
@media screen and (max-width: 1366px) {
    .story-at-otsuka .orbit-slide > .row > .columns:first-child > p:not(:first-child) {
        font-size: 14px;
    }
}

@media screen and (width: 64em){
    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:not(:first-child){
        font-size: 12px;
    }

    .story-at-otsuka .orbit .orbit-bullets {
        bottom: 0;

    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child{
        padding: 0.9375rem;
    }

    .post-link > .columns {
        padding: 10px 30px;
    }

    .feeds-updates .feeds-wrap{
        width: 100%;
    }

    .fb-wrap{
        padding: 40px 20px;
        font-size: 12px;
    }

    .fb-wrap i, .tweet-wrap i{
        font-size: 16px;
        top: 15px;
        left: 15px;
    }

    .instagram-wrapper{
        padding-left: 0;
    }
}

@media screen and (max-width: 63.9375em){
    .post-category , .post, .latest-news .post-link{
        padding: 0;
    }

    .latest-news .post-link{
        position: relative;
    }

    .each-news .small-nopadd{
        padding: 20px 0;
    }

    .life-at-otsuka > .title{
        margin-top: 10px;
    }

    .each-wrapper{
        padding: 0;
    }

    .life-at-otsuka .gallery {
        padding-top: 15px;
    }

    .life-at-otsuka .subtitle {
        font-size: 16px;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:not(:first-child) {
        font-size: 14px;
    }

    .otsuka-staff{
        text-align: center;
    }

    .otsuka-staff img{
        width: auto;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child{
        padding: 0.9375rem;
    }

    .post-link > .columns {
        padding: 10px 30px;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > .post-link{
        position: relative;
    }

    .story-at-otsuka .orbit .orbit-bullets{
        position: relative;
        bottom: 0;
    }

    .facebook-feed img{
        width: 100%;
    }

    .feeds-updates .instagram-wrapper{
        padding-left: 0;
    }

    .fb-feed{
        height: 350px;
    }
}

@media screen and (max-width: 640px) {
    .homeslider .orbit-image {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .desc-top {
        font-size: 16px;
        top: 0;
        padding: 15px 10px;
    }

    .desc-right {
        font-size: 12px;
        text-align: right;
        width: 55%;
        margin-right: auto;
        /* float: none; */
        position: absolute;
        right: 0;
        padding: 0;
    }

    .orbit .orbit-bullets-container {
        left: 15px;
    }
    .latest-news > .custom-content > .row > .columns {
        margin-bottom: 20px;
    }
    .latest-news .each-news {
        /*-webkit-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
        /*-moz-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
        /*box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
    }

    .latest-news .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .latest-news .title a{
        padding-top: 3px;
        padding-right: 10px;
        font-size: 12px;
    }

    .each-wrapper {
        padding: 20px 0;
    }

    .each-wrapper:first-child{
        border-bottom: none;
    }

    .list-news {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .post, .post-category, .latest-news .post-link {
        padding: 0 20px;
    }

    .latest-news .latest-bg{
        display: none;
    }

    .life-at-otsuka .subtitle {
        font-size: 20px;
    }
    [data-equalizer-watch="life-at-otsuka"] , [data-equalizer-watch="story-at-otsuka"] {
        height: auto!important;
    }
    [data-equalizer-watch="life-at-otsuka"] {
        padding: 20px 15px;
    }
    .life-at-otsuka .gallery > .columns:nth-child(2) > .row > .columns:first-child , .life-at-otsuka .gallery > .columns:nth-child(2) > .row > .columns:nth-child(2) {
        padding-left: .9375rem;
        padding-right: .9375rem;
        margin-bottom: 20px;
        text-align: center;
    }
    .story-at-otsuka .orbit .orbit-bullets {
        margin-top: 20px;
        /*left: calc((100% - 220px) / 2);*/
        position: absolute;
        bottom: auto;
        top: 43%;
        width: 100%;
        left: 0;
    }

    .post {
        height: auto!important;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:not(:first-child){
        font-size: 12px;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child  > p:first-child{
        font-size: 16px;
    }

    .story-at-otsuka .orbit-slide > .row > .columns:last-child {
        padding: 2rem 0.9375rem;
    }

    .each-wrapper:first-child {
        border-bottom: 1px solid #b6cce0;
        padding: 0 0 30px;
    }

    .each-wrapper:last-child {
        padding: 0 0 40px;
    }

    .otsuka-staff img {
        padding-left: 0;
    }

    .story-otsuka{
        height: auto !important;
    }

    .story-otsuka > li {
        max-height: none !important;
    }

    .feeds-updates h2 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 18px;
    }

    .fb-wrap {
        margin-bottom: 2px;
    }

    .feeds-updates > .columns:nth-child(2) {
        padding-bottom: 45px;
    }

    .feeds-updates {
        margin-bottom: 40px;
    }

}