/*homebanner*/
.orbit-container {
    position: relative;
}
.orbit-bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.orbit-bullets button {
    width: 15px;
    height: 15px;
    background-color: #2f92d9;
}
.orbit-bullets button.is-active {
    background-color: #1376bd;
}
.gap {
    width: 90%;
    border-bottom: 1px solid #6a7883;
    margin: 0 auto;
}
.thumbs-panel .callout.thumbs:last-child .gap {
    border-bottom: none;
}
/*end homebanner*/
/*life at otsuka*/
.life-at-otsuka {
    clear: both;
    position: relative;
}
.life-at-otsuka .index-top {
    position: absolute;
    top: 0;
    padding-top: 5%;
}
.life-at-otsuka .about-content hr {
    border-style: dashed;
}
.about {
    background-color: #3e5172;
    padding-top: 96px;
    padding-bottom: 200px;
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
}
.about-right {
    background-color: #eeeef4;
}
.about-us-title p {
    font-size: 14px;
    font-weight: bold;
    color: #01aeff;
}
.about-us p {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.about .detail p {
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    color: #ffffff;
    padding-bottom: 1rem;
}
.about .sub-detail p {
    font-size: 12px;
    color: #ffffff;
}
.about .quote p {
    font-size: 14px;
    color: #FFFFFF;
}
.about .name-quote {
    font-style: italic;
    font-size: 10px;
    color: #FFFFFF;
    padding-bottom: 1rem;
}
.selengkapnya {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(232,183,12,0.8);
    color: #685206;
    padding: 20px;
}
.comment-otsuka {
    margin-bottom: 40px;
    border-bottom: 5px solid #017ab6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.comment-otsuka > .comment-left {
    padding: 0 0.9375rem;
}
.comment-otsuka > .comment-left , .new-vacancy .comment-left {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0 0.9375rem;
}
.comment-otsuka > .comment-left .selengkapnya {
    /*margin: 0rem 0.9375rem 1rem 0.9375rem;*/
}
.new-vacancy .comment-left {
    border-top: 5px solid #ff0000;
    border-bottom: 5px solid #e1e1e5;
}
.new-vacancy .comment-left .link-other {
    font-size: 14px;
    color: #00a8ff;
    /*float: right;*/
}
.comment-otsuka> .comment-right {
    padding-left: 0;
    padding-right: 0;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.comment-otsuka > .comment-right > img {
    /*min-height: 362px;*/
    height: 100%;
    border-radius: 0px 5px 0px 0px;
}
.comment-otsuka .left-title {
    font-size: 36px;
    color: #3e5072;
    padding: 0.9375rem 0.9375rem 0px;
}
.comment-otsuka .left-desc {
    font-size: 14px;
    color: #3e5072;
    padding: 0rem;
}
.comment-otsuka .name-quote {
    font-size: 12px;
    color: #3E5072;
    font-weight: bold;
    margin-bottom:20px;
    /*padding: 0rem 0.9375rem 1rem 0.9375rem;*/
}
.about-info {
    border-bottom: 5px solid black;
}
.new-vacancy .title {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: #3e5072;
    top: 13px;
}
.new-vacancy .sub-title {
    font-size: 12px;
    color: #3e5072;
}
.new-vacancy .sub-title-bold {
    font-weight: bold;
    font-size: 12px;
    color: #3e5072;
}
.new-vacancy ul > li {
    font-size: 14px;
    color: #3e5072;
}
.new-vacancy .comment-right .title {
    font-weight: bold;
    font-size: 18px;
    color: #3e5072;
}
.new-vacancy .join-us {
    background-color: #0399d1;
    text-align: center;
}
.new-vacancy .join-us > button {
    margin-top:35%;
}
.new-vacancy .comment-right {
    border: dashed 1px #d6d6db;
    border-radius: 5px;
}
.selengkapnya-small {
    font-size: 14px;
    font-weight: bold;
    background-color: #e8b70c;
    color: #685206;
    padding: 10px;
}
.join-us-content {
    float: none!important;
    margin: 0 auto;
}
/*end life at otsuka*/
/*our product*/
.our-product {
    clear: both;
    height: 320px;
    background-color: #0e3044!important;
    /*background: url(../../img/home/our-product-left.jpg) left top no-repeat, url(../../img/home/our-product-right.jpg) right top no-repeat;*/
}
.our-product .containingBlock {
    height: 320px;
}
.our-product p {
    line-height: 1;
}
.our-product .title {
    font-size: 48px;
    color: #01b2e5;
}
.our-product .sub-title {
    font-size: 28px;
    color: #FFFFFF;
}

/*end our product*/
/*thumb products*/
.thumb-product, .thumb-product > .columns {
    padding: 0;
}
/*end thumb products*/
/*factory visit*/
.factory-visit .factory-content .columns {
    padding: 0;
}
.factory-visit {
    clear: both;
}
.grey {
    background-color: #eeeef4;
}
.white {
    background-color: #FFFFFF;
}
.factory-visit p {
    margin-bottom: 45px;
}
.factory-visit .title {
    font-size: 60px;
    font-weight: bold;
    color: #010101;
    margin-top: 100px;
}
.factory-visit .sub-title {
    font-size: 36px;
    color: #3e5072;
    /*line-height: 1;*/
}
.factory-visit .description {
    font-size: 18px;
    color: #3e5072;
    margin-bottom: 90px;
    line-height: 1.6;
}
.factory-map {
    margin-bottom: 95px;
    background-color: #007dc6;
}
.factory-map .containingBlock {
    height: 166px;
}
.factory-map-content {

}
.factory-map .description p {
    margin-bottom: 25px;
}
.factory-map p.title {
    font-size: 28px;
    color: #fbfcff;
    margin-top: 0;
}
.factory-map p.sub-title {
    font-family: "Myriad Pro", Helvetica, sans-serif;
    font-size: 18px;
    color: #fbfcff;
}
.factory-map .selengkapnya-small {
    background-color: rgba(207,2,2,0.8);
    color: #FFFFFF;
}
.factory-map .p {
    margin-bottom: 5px;
}
.factory-map .description {
    margin: 20px auto;
}
.gallery-tour {
    padding-right: 0px;

}
.gallery-tour .thumb {
    padding: 0;
}
.gallery-tour .thumb .thumb-gallery {
    margin-right: 0;
    padding-left: 0.4688rem;
    padding-right: 0.4688rem;
}
.gallery-tour .thumb .thumb-gallery.first {
    padding-left: 0;
}
.gallery-tour .thumb .thumb-gallery.second {
    padding-right: 0;
}
.gallery-tour .gallery-tour-content {
    padding-left: 0;
    background-color: #cf0202;
}
.gallery-tour .all.aligner {
    background-color: #cf0202;
    justify-content: center!important;
}
.gallery-tour .all.aligner .Aligner-item.Aligner-item--fixed {
    max-width: 85%!important;
}
.gallery-tour .all p {
    margin-bottom: 0;
}
.gallery-tour .all p.title {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}
.gallery-tour .all .see-all {
    font-size: 18px;
    color: #FFFFFF;
}
.factory-visit .row {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}
/*end factory visit*/
/*csr*/
.csr .columns{
    padding: 0;
}
.csr .csr-banner {
    position: relative;
}
.csr .csr-banner img {
    height: 100%;
}
.csr .csr-banner > .title-section {
    position: absolute;
    top: 0;
}
.csr .csr-banner p.title {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    background-color: rgba(0,125,198,0.8);
    padding: 2%;
}
.csr .csr-thumb {
    background-color: #007dc6;
}
.csr .csr-thumb .csr-desc {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
}
.csr .csr-thumb .title {
    font-family: 'robotomedium';
    font-size: 24px;
    color: #475055;
    line-height: 1;
    max-height: 65px;
    overflow-y: hidden;
}
.csr .csr-thumb .date {
    font-family: 'robotothin';
    font-size: 14px;
    color: #a3abaf;
    padding-bottom: 2rem;
}
.csr .csr-thumb .description p {
    font-family: 'robotothin';
    font-size: 15px;
    color: #475055;
    max-height: 72px;
    overflow-y: hidden;
}
.csr .csr-thumb .description .red {
    color: #ea6060;
}
.csr .csr-thumb .lain {
    font-family: 'robotomedium';
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 3%;
}
.csr .csr-pic > img {
    height: 100%;
    /*max-width: 520px;*/
    overflow: hidden;
}
/*hover*/
.selengkapnya:hover , .selengkapnya-small:hover {
    background-color: #e8b70c;
}
.factory-map .selengkapnya-small:hover {
    background-color: #cf0202;
}
button:hover, button:focus, button:active {
    -webkit-animation-duration: 1s;-moz-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-delay: 0.5s;-moz-animation-delay: 0.5s;-o-animation-delay: 0.5s;animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinate;-moz-animation-iteration-count: infinate;-o-animation-iteration-count: infinate;animation-iteration-count: infinate;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);*/
}
/*end hover*/
/*end csr*/
/*vertival equalizer*/
.no-padding {
    padding: 0;
}
.home-banner .row {
    max-width: 100%;
    background: #3a4d69;
}
.callout {
    margin: 0;
    padding: 0;
    background: #3a4d69;
    border: none;
}
.thumbs a{
    color: #ffffff;
}
.thumbs .thumbs-wrap {
    padding: 15px 10px;
}
.thumbs .title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
}
.thumbs .desc {
    font-size: 12px;
}
.thumbs-panel {
    background: #3a4d69;
}
.read-more img{
    background: #185095;
}
.thumbs a:hover .read-more img{
    background: #02aedf;
}
/*end vertical equaliser*/
@media screen and (max-width: 1920px) {
    /*life at otsuka*/
    .comment-otsuka > .comment-right {
        max-height: 469px;
    }
    /*end life at otsuka*/
}
@media screen and (max-width: 1500px) {
    /*homebanner*/
    .thumb-desc > p.title {
        font-size: 18px;
    }
    /*end homebanner*/
    /*factory visit*/
    .factory-visit .title {
        font-size: 50px;
        margin-top: 23px;
    }
    .factory-visit .sub-title {
        font-size: 26px;
    }
    .factory-visit .description {
        font-size: 12px;
    }
    .factory-visit p {
        margin-bottom: 25px;
        /*line-height: 1;*/
    }
    .factory-map .description {
        margin: 30px auto;
    }
    .factory-map .description p {
        margin-bottom: 10px;
    }
    .factory-map p.title {
        font-size: 18px;
    }
    .factory-map p.sub-title {
        font-size: 14px;
    }
    .gallery-tour .all p.title {
        font-size: 24px;
    }
    .gallery-tour .all .see-all {
        font-size: 10px;
    }
    /*end factory visit*/
    /*csr*/
    .csr .csr-thumb .date {
        padding-bottom: 12px;
    }
    .csr .csr-banner .title p {
        font-size: 38px;
    }
    .csr .csr-thumb .title , .csr .csr-thumb .title p {
        font-size: 21px;
    }
    .csr .csr-thumb .date {
        font-size: 12px;
    }
    .csr .csr-thumb .description p {
        font-size: 12px;
        max-height: 58px;
        overflow-y: hidden;
    }
    .csr .csr-banner {
        max-height: 720px;
    }
    /*end csr*/
}
@media screen and (max-width:1366px) {
    /*new homebanner*/
    .thumbs .title {
        font-size: 20px;
    }
    .thumbs .desc {
        font-size: 11px;
    }
    .thumbs .read-more img {
        width: 30px;
    }
    /*end new homebanner*/
    /*life at otsuka*/
    .about {
        padding-top: 68px;
        padding-bottom: 130px;
    }
    .about .detail p {
        font-size: 14px;
    }
    .about-us p {
        font-size: 24px;
        color: #FFF;
        margin-bottom: 2rem;
        line-height: 1.4;
    }
    .comment-otsuka> .comment-right {
        max-height: 300px;
    }
    .comment-otsuka .left-desc {
        font-size: 12px;
    }
    .comment-otsuka .name-quote {
        font-size: 10px;
    }
    .selengkapnya {
        font-size: 12px;
        padding: 15px;
    }
    .comment-otsuka> .comment-left hr {
        margin: 0.5rem auto;
    }
    /*end life at otsuka*/
    /*our product*/
    .our-product .title {
        font-size: 36px;
    }
    /*end our product*/
    /*factory visit*/
    .factory-visit .title p {
        font-size: 36px;
    }
    .factory-visit .sub-title {
        font-size: 22px;
    }
    /*end factory visit*/
    /*csr*/
    .csr .csr-banner {
        max-height: 675px;
    }
    .csr .csr-pic > img {
        height: auto;
        max-width: 100%;
        overflow: hidden;
    }
    .csr .csr-banner p.title {
        font-size: 38px;
    }
    /*end csr*/

}
@media screen and (max-width: 1280px) {
    /*csr*/
    .csr .csr-thumb .date {
        padding-bottom: 1rem;
    }
    .csr .csr-banner {
        max-height: 683px;
    }
    /*end csr*/
}
@media screen and (max-width: 1024px) {
    .comment-otsuka .left-title {
        font-size: 26px;
    }
    .br {
        display: none;
    }
    .selengkapnya {
        padding: 10px;
    }
    [data-equalizer-watch="csr"] {
        height: auto!important;
    }
    .comment-otsuka .name-quote {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 640px) {
    .life-at-otsuka .index-top {
        position: relative;
        top: auto;
        padding-top: 5%;
    }
    .about .name-quote {
        padding-bottom: 2rem;
    }
    .comment-otsuka .name-quote {
        margin-bottom: 2rem;
    }
    .csr .csr-thumb .csr-desc {
        padding: 2%;
    }
    .orbit-bullets {
        position: absolute;
        margin-top: -15.2rem;
        margin-left: 45%;
    }
    .banner-desc {
        bottom: 0px;
    }
    .orbit-image {
        height: auto!important;
    }
    .comment-right , .comment-left {
        height: auto!important;
    }
    .comment-left {
        margin-bottom: 20px;
    }
    .comment-otsuka > .comment-right > img {
        height: auto!important;
    }
    .gallery-tour .thumb {
        height: auto!important;
    }
    .our-product .title {
        font-size: 26px;
    }
    .our-product .sub-title {
        font-size: 18px;
    }
    .factory-visit .title p {
        font-size: 26px;
    }
    .factory-visit .sub-title {
        font-size: 18px;
    }
    .gallery-tour .gallery-tour-content {
        height: auto!important;
    }
    .gallery-tour .all p.title {
        font-size: 18px;
    }
    .csr .csr-banner p.title {
        font-size: 22px;
    }
    .csr-banner > img {
        height: auto!important;
    }
    .csr .csr-thumb .title, .csr .csr-thumb .title p {
        font-size: 14px;
    }
    .csr .csr-thumb .title {
        max-height: 60px;
    }
    .csr-thumb > .columns > .columns {
        height: auto!important;
    }
    .factory-map , .gallery-tour {
        height: auto!important;
        padding-left: 0;
    }
    .aligner {
        display: block;
        padding: 25px 0;
    }
    .factory-map , .gallery-tour {
        margin-bottom: 20px;
    }
    .factory-map .description {
        text-align: center;
    }
    .factory-visit .title {
        margin-top: 0px;
    }
    .gallery-tour .gallery-tour-content {
        padding-left: 0.9375rem;
    }
    .csr-pic , .csr-desc {
        text-align: center;
    }
    /* instagram style */
    .item_box{
        height:500px;
    }

    .photo-thumb{
        width:100%;
        height:auto;
        float:left; 
        border: thin solid #d1d1d1;
        margin:0 1em .5em 0;
        float:left; 
    }
}