.title {
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 0;
}
.title > h2 {
    margin-top: 0;
}
h2 {
    font-weight: 700;
    font-size: 28px;
    color: #31476d;
    text-transform: uppercase;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 35px;
}

.sub-title h2{
    text-align: left;
}

.banner > .columns {
    position: relative;
}
.banner-desc {
    position: absolute;
    top: 25%;
    right: 20%;
    font-size: 34px;
    color: #2e4773;
    background: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    height: 50%;
}
.presiden-quote {
    position: relative;
}
.presiden-quote > div:first-child {
    position: absolute;
    z-index: 4;
    background: #FFFFFF;
    left: 0;
    margin-right: 12px;
    width: 98%;
    height: 97%;
}
.quote-content {
    font-weight: 600;
    font-size: 20px;
    color: #677088;
    padding: 0 16px 16px 0;
}

.quote-content {
        font-size: 16px;
        line-height: 4;
    }
    
.presiden-quote > .ornamen {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #1e66a8;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.quote-content p{
    font-size: 20px;
}

.quote-content span {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 20px;
}
.title-section {
    font-weight: 400;
    font-size: 18px;
    color: #677088;
    text-align: center;
}
.caption {
    font-weight: 700;
    font-size: 18px;
    color: #677088;
    text-align: center;
    padding-top: 20px;
}
.desc {
    font-size: 16px;
    color: #677088;
    margin-top: 24px;
    text-align: center;
}

.lao-filosofi h2{
    margin-top: 50px;
    margin-bottom: 35px;
}

.cerita-mereka {
    position: relative;
    background: #f4f7fb;
    margin-bottom: 220px;
    /*background: #ffff00;*/
}
.cerita-mereka .title {
    font-size: 18px;
    font-weight: 700;
    color: #8293b1;
    border: none;
    margin-top: 70px;
    margin-bottom: 40px;
}
.testimoni {
    background: #ffffff;
    padding: 350px 30px 88px 30px;
    position: relative;
    z-index: 6;
    margin-top: 155px;
    -webkit-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
    -moz-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
    box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
}
.testimoni > .columns:nth-child(2) {
    position: absolute;
    top: -153px;
    left: 0;
}
.bio {
    padding: .9375rem;
    color: #1c619f;
}
.bio p {
    margin-bottom: 0;
}
.bio > p:first-child {
    font-weight: 700;
    font-size: 18px;
}
.bio > p:nth-child(2) {
    font-size: 13px;
    color: #8e9fb5;
}
.cerita-mereka > .bergabung {
    background: #FFFFFF;
    position: absolute;
    z-index: 5;
    padding-top: 250px;
    padding-bottom: 118px;
    bottom: -210px;
}
.each-story:hover {
    -webkit-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
    -moz-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
    box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);
}
/*new*/
.cerita {
    background: #f4f7fb;
}
.cerita .title {
    font-size: 28px;
    font-weight: 700;
    color: #8293b1;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cerita .tabs-content {
    font-size: 16px;
    color: #677088;
    background: #ffffff;
    padding: 0px 30px 40px 30px;
    /*-webkit-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
    /*-moz-box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
    /*box-shadow: 10px 10px 17px -8px rgba(237,242,245,1);*/
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
    box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
    margin-bottom: 80px;
}
.cerita .tabs {
    border: none;
    padding: 0 30px;
}

.cerita .tabs .medium-3{
    padding-left: .3rem;
    padding-right: .3rem;
}

.tabs-panel {
    position: relative;
}
.tabs-panel .quote {
    position: absolute;
    z-index: 4;
}
.tabs-panel p {
    position: relative;
    z-index: 5;
}
.tabs-title > a {
    background: #ffffff;
    padding: 0;
}
.tabs-title img {
    width: 100%;
    -ms-filter: grayscale(100%);filter: grayscale(100%);
}

.tabs-title.is-active img{
    -ms-filter: grayscale(0%);filter: grayscale(0%);
}

.tabs-title:hover > a , .tabs-title.is-active > a {
    -webkit-box-shadow: 1px 1px 21px -6px rgba(46,71,115,1);
    -moz-box-shadow: 1px 1px 21px -6px rgba(46,71,115,1);
    box-shadow: 1px 1px 21px -6px rgba(46,71,115,1);
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
    background: #ffffff;
}
.cerita-wrap {
    position: relative;
    margin-top: 90px;
    background: #ffffff;
    z-index: 1;
}
.cerita-wrap > ul {
    position: relative;
    margin-top: -90px;
    background: transparent;
    margin-bottom: 20px;
}

.lao-button{
    text-align: center;
}

.lao-button .button{
    height: 44px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    background: #b01c32;
    text-transform: uppercase;
    padding: .85em 6.5em .85em 2em;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #e5244d;
}
.lao-button .button span{
    position: absolute;
    background: white;
    height: 42px;
    right: 0;
    top: 0;
    display: table;
    padding: 10px;
}

.desc-content{
    display: table;
    height: 100%;
    padding: 20px 18%;
}

.desc-content span{
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}

@media screen and (max-width: 1366px) {
    .custom-content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%;
    }
    .banner-desc {
        font-size: 32px;
        font-weight: 800;
        padding: 0;
        line-height: 1.2;
    }
}

@media screen and (max-width: 1024px) {
    .banner-desc {
        font-size: 20px;
    }

    .quote-content p {
        font-size: 14px;
    }

    .quote-content span {
        font-size: 12px;
        top: 0;
    }

    .desc-content {
        padding: 10px 10%;
    }

    .desc-content span {
        display: table-cell;
        vertical-align: middle;
        font-size: 26px;
    }

}

@media screen and (max-width: 63.9375em){
    .presiden-quote > div:first-child{
        position: relative;
    }

    .quote-content{
        padding: 20px 0;
        border-bottom: 1px solid #1e66a8;
    }

    .quote-content p {
        font-size: 20px;
    }

    .quote-content span {
        font-size: 14px;
    }

    .presiden-quote > .ornamen{
        display: none;
    }

    .presiden-quote > div:first-child{
        width: 100%;
        margin-right: 0;
    }

    .desc-content {
        padding: 20px 10%;
    }

    .desc-content span{
        font-size: 18px;
    }

}

@media screen and (max-width: 640px) {
    .career .banner img {
        min-width: 700px;
    }
    .banner-desc {
        font-size: 20px;
        right: 11%;
        width: 76%;
    }

    .desc-content{
        padding: 5px 5%;
    }

    .desc-content span{
        font-size: 20px;
    }

    .cerita .tabs-content {
        padding: 0;
    }

    .quote-content{
        line-height: 1;
    }

    .quote-content p {
        font-size: 12px;
    }

    .quote-content span {
        font-size: 10px;
    }

    .title-section{
        font-size: 12px;
    }

    .desc {
        font-size: 12px;
    }

    .tabs-panel{
        font-size: 12px;
    }

    .lao-button .button{
        font-size: 12px;
    }

    .title > h2 {
        font-size: 14px;
    }

    .lao-filosofi h2 {
        margin-top: 30px;
        font-size: 16px;
    }

    .caption {
        padding-bottom: 20px;
        padding-top: 5px;
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        margin-top: 35px;
    }

    .accordion-title{
        padding: .9375rem;
        color: #1c619f;
        font-size: 16px;
    }

    .lao-story{
        padding-top: 20px;
        color: #677088;
        font-size: 12px;
    }


}