.lifeatotsuka{
    background-color: #e5eaee;
}
.lifeatotsuka .banner-lifeatotsuka {
    position: relative;
}
.lifeatotsuka .banner-lifeatotsuka > p {
    margin-bottom: 0;
}
.lifeatotsuka .title-page {
    display: inline-block;
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    color: #3f4951;
    background: #ffffff;
    padding: 50px;
    top: 18%;
    left: 14%;
    line-height: 1.2;
}
.lifeatotsuka .line-desc {
    width: 200px;
    border-bottom: 5px solid rgb(42, 67, 82);
    padding-top: 15px;
}
.lifeatotsuka-desc{
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    color: #6c747a;
}

.lifeatotsuka-load{
    font-size: 14px;
    color: white;
    float: right;
    line-height: 1.7;
    position: relative;
    padding-right: 25px;
    padding-top: 16px;
    font-family: 'Open sans', sans-serif;
}

.lifeatotsuka-box-blue div{
    background-color: #2f92d9;
}

.lifeatotsuka-box-blue .title:after{
    content: url("../../img/lifeatotsuka/button-stories.png");
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 5px;
    right: -7px;
}

.lifeatotsuka-wrapper-testimony{
    background-color: white!important;
    height: auto;
    float: right;
    padding-top: 15px;
}

.lead-content{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
}

.lao-content p{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.line-hr{
    padding-bottom: 2%;
}

.top-border-desc{
    line-height:1.0;
    border-top: 30px solid #4d5a64;
}

.line-colour{
    width: 100%;
}

.hour{
    float: right;
    font-size: 11px;
}

.colour-lifeatotsuka-load{
   background-color: #2f92d9;
}

.wrapper-img-testimony{
    position: relative;
}

.text-testimony{
    position: absolute;
    border: 1px solid rgba(79,37,117,0.1);
    bottom: 0;
    width: 100%;
    padding-left: 5%;
    padding-top: 3%;
    background-color: rgba(23,33,62,0.5);
}

.name-testimony{
    color: #1fb4d4;
    font-size: 24px;
}

.address-testimony{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 2%;
}

.img-testimony-lifeatotsuka{
    width: 100%;
}

@media screen and (max-width: 1366px) {
    .lifeatotsuka .title-page {
        font-size: 38px;
    }
    .lifeatotsuka .line-desc {
        width: 103px;
    }
}
@media screen and (max-width: 1024px) {
    .name-testimony{
        font-size: 20px;
    }

    .address-testimony{
        font-size: 12px;
    }
    .lifeatotsuka .title-page {
        font-size: 28px;
        padding: 25px 80px 45px 25px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper-img-testimony{
        position: relative;
        max-width: 263px;
        margin: 0 auto;
    }

    .name-testimony{
        font-size: 18px;
    }

    .address-testimony{
        font-size: 11px;
    }
    .banner-lifeatotsuka {
        overflow: hidden;
    }
    .banner-lifeatotsuka img {
        min-width: 850px;
    }
}

@media screen and (max-width: 340px) {
    .name-testimony{
        font-size: 16px;
    }

    .address-testimony{
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .name-testimony{
        font-size: 14px;
    }

    .address-testimony{
        font-size: 9px;
    }
}