/**
 * Variables and Bootstrap overrides
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
body {
  background: #fff;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #677088;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*headings(){
	font-weight:normal;
	line-height:1.3em;
}*/
*:focus, *:active {
  outline: none;
}

a {
  transition: all 0.3s linear;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper {
  width: 100%;
  position: relative;
}

.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.wrapper .wrapper-inner {
  transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
  position: relative;
  width: 100%;
  display: block;
  margin-right: 0;
}

.wrapper .mask-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
  opacity: 0;
  transition: all 350ms ease;
}

.wrapper .wrapper-active {
  margin-right: -60%;
  float: right;
}

.wrapper .wrapper-active .mask-wrapper {
  opacity: 1;
  z-index: 11;
}

.wrapper .on-active-right .mask-wrapper {
  opacity: 1;
  z-index: 11;
}

#main .row{
    max-width: none;
    margin-bottom: 20px;
}

.tabs-content {
    background: transparent;
    border: none;
}

table tbody, table tfoot, table thead {
    border: none;
    background-color: transparent;
}

table tbody tr:nth-child(even) {
    background-color: transparent;
}

@media screen and (min-width: 1299px) {
  .container {
    width: 1268px;
  }
}

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%;
}

.space20 {
  height: 20px;
  display: block;
  width: 100%;
}

.space30 {
  height: 30px;
  display: block;
  width: 100%;
}

.space45 {
  height: 45px;
  display: block;
  width: 100%;
}

.space60 {
  height: 60px;
  display: block;
  width: 100%;
}

/** FLEXWRAP
===================================*/
.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.flex .flex-item {
  /*flex-grow: 1;
      flex-basis: 30%;*/
}

/** BTN AND LINK
===================================*/
.btn-otherpost {
  text-align: center;
  margin-bottom: 30px;
}

.btn-otherpost a {
  display: inline-block;
  background-color: #b01c34;
  width: 100%;
  max-width: 480px;
  padding: 11px 25px;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s linear;
}

.btn-otherpost a:hover {
  background-color: #0c2b3f;
  text-decoration: none;
}

/** TITLE AND TEXT
===================================*/
.title-xs {
  font-weight: bold;
  font-size: 18px;
  color: #1d283d;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.4em;
}

.text-uppercase {
  text-transform: uppercase;
}

.title-lg {
  margin: 0;
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  color: #1d283d;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (min-width: 48em) {
  .title-lg {
    font-size: 48px;
  }
}

.title-xs-line {
  margin: 0;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #1d283d;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  border-bottom: 1px solid #b1b7d5;
}

.title-xss {
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1d283d;
}

.img-center {
  text-align: center;
  margin-bottom: 25px;
  max-width: 790px;
  margin: 0 auto 30px;
}

.scroll-pane {
  height: 150px;
  overflow: auto;
  margin-bottom: 10px;
}

.scroll-pane .jspVerticalBar {
  width: 6px;
  background-color: #eeecec;
  border-radius: 20px;
}

.scroll-pane .jspTrack {
  background: #eeecec;
  border-radius: 20px;
}

.scroll-pane .jspDrag {
  background-color: #b01c33;
  border-radius: 20px;
}

.horizontal-only {
  height: auto;
  max-height: 200px;
}

/*==== CHECKBOX DAN RADIO ======*/
.checkbox, .radio {
  font-size: 13px;
}

.checkbox label, .radio label {
  padding-left: 0;
}

.checkbox input[type="checkbox"], .radio input[type="checkbox"] {
  margin-top: 7px;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

/*====== CHECKBOX ======*/
input[type="checkbox"] + label span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: -4px 7px 0 0;
  vertical-align: middle;
  background: image-url("checkbox.png") left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: image-url("checkbox.png") right top no-repeat;
}

/*====== RADIO ======*/
input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 10px 0 0;
  vertical-align: middle;
  background: image-url("radio_fill.png") 0 0 no-repeat;
  cursor: pointer;
  float: left;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto;
}

input[type="radio"]:checked + label span {
  background: image-url("radio_empty.png") 0 0 no-repeat;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto;
}

/** HEADER
===================================*/
#header {
  padding: 0;
  border-bottom: 3px solid #b01c33;
  position: relative;
  z-index: 11;
  /*@media screen and (min-width: 75em) {
		.container {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-align: center;
			align-items: center;
		}
	}*/
}

#header:before, #header:after {
  content: " ";
  display: table;
}

#header:after {
  clear: both;
}

.logo {
  text-align: center;
  padding: 11px 20px;
}

@media screen and (min-width: 72em) {
  .logo {
    text-align: left;
    float: left;
    margin-right: 20px;
  }
}

.language {
  text-align: center;
  display: inline-block;
  padding: 0 12px;
  margin-right: 15px;
}

.language a {
  display: inline-block;
  width: 26px;
  height: 30px;
  overflow: hidden;
  border-radius: 9999px;
  margin: 0 1px;
  transition: transform 0.5s ease;
}

.language a:hover {
  webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.language a img {
  width: 26px;
  height: 26px;
  border-radius: 9999px;
  border: 2px solid #b3c3e5;
}

.language .text {
  display: block;
  font-size: 10px;
  font-weight: 300;
  color: #8a8da5;
  text-transform: uppercase;
}

.head-rt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 62em) {
  .head-rt {
    float: right;
    width: auto;
    height: 93px;
    padding-right: 20px;
  }
}

.search-box-btn {
  text-align: center;
  display: inline-block;
}

.search-box-btn .btn-src {
  width: 32px;
  height: 31px;
  margin-right: 4px;
  background: none;
  border: none;
  background: transparent url("../img/src.png") 0 0 no-repeat;
  background-size: 30px auto;
}

.search-box-btn .text {
  display: block;
  font-size: 10px;
  font-weight: 300;
  color: #8a8da5;
  text-transform: uppercase;
}

.search-box {
  position: absolute;
  bottom: -63px;
  left: 0;
  padding: 13px 0;
  width: 100%;
  background-color: #f1f1f1;
  display: none;
}

.search-box .form-control {
  border-radius: 0;
  border: 1px solid #c7c7c7;
}

/** MAIN NAV
===================================*/
.nav {
  display: none;
  text-align: left;
  float: left;
  width: auto;
}

@media screen and (min-width: 50em) {
  .nav {
    display: table;
  }
}

.nav ul {
  zoom: 1;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.mainMenu {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (min-width: 62em) {
  ul.mainMenu {
    display: -ms-flexbox;
    display: flex;
  }
}

ul.mainMenu li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 4px;
}

ul.mainMenu li a {
  padding: 12px 6px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #1c619f;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  /*&:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -52px;
          margin: auto;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #b01c33;
        }*/
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  ul.mainMenu li a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

ul.mainMenu li a:before, ul.mainMenu li a:after {
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: all 0.4s linear;
}

@media screen and (min-width: 78em) {
  ul.mainMenu li a:before, ul.mainMenu li a:after {
    display: block;
  }
}

ul.mainMenu li a:before {
  content: '';
  height: 6px;
  background-color: #b01c33;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

ul.mainMenu li:first-child a .fa {
  font-size: 23px;
}

ul.mainMenu li:hover > a, ul.mainMenu li:focus > a, ul.mainMenu li:active > a, ul.mainMenu li.active > a {
  color: #1c619f;
  text-decoration: none;
  text-shadow: 0 0 .65px #1c619f, 0 0 .65px #1c619f;
}

ul.mainMenu li:hover > a:before, ul.mainMenu li:hover > a:after, ul.mainMenu li:focus > a:before, ul.mainMenu li:focus > a:after, ul.mainMenu li:active > a:before, ul.mainMenu li:active > a:after, ul.mainMenu li.active > a:before, ul.mainMenu li.active > a:after {
  opacity: 1;
  visibility: visible;
}

ul.mainMenu li:hover:first-child > a, ul.mainMenu li:focus:first-child > a, ul.mainMenu li:active:first-child > a, ul.mainMenu li.active:first-child > a {
  text-shadow: none;
}

ul.mainMenu li ul {
  height: auto;
  border: 0;
  position: absolute;
  max-width: 250px;
  z-index: 80;
  display: none;
  margin: 0;
  padding: 0;
  background: #1b6097;
}

ul.mainMenu li ul a {
  padding: 10px;
  _height: 10px;
  /*IE6 only*/
  display: block;
  float: none;
  text-transform: none;
  font-size: 0.8em;
}

ul.mainMenu li ul a:hover {
  background-color: #0c5996;
  color: #ffffff;
}

ul.mainMenu li li {
  float: none;
  display: block;
  border: 0;
  border-bottom: 1px solid #2771ad;
  text-align: left;
}

ul.mainMenu li li:last-child {
  box-shadow: none;
}

/*arrow*/
ul.mainMenu ul li:first-child > a {
  /*@include border-radius(8px 8px 0 0)*/
}

ul.mainMenu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444444;
}

/*====== HUMBERBER BUTTON ======*/
.btn-rwd-sidebar {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #50555a;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 50em) {
  .btn-rwd-sidebar {
    display: none;
  }
}

/*====== RESPONSIVE MENU ======*/
.btn-mobileNav {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #50555a;
  color: white;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}

@media screen and (min-width: 50em) {
  .btn-mobileNav {
    display: none;
  }
}

.close-sidebar {
  text-align: right;
  margin-bottom: 30px;
}

.mobile-nav {
  z-index: 9999;
  width: 60%;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  background-color: #0c2b3f;
  color: white;
  animation-duration: 0.8s;
  margin-left: -100%;
}

.mobile-nav.show {
  margin-left: 0;
}

.mobile-nav ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.mobile-nav ul li {
  position: relative;
}

.mobile-nav ul li .fa {
  font-size: 24px;
}

.mobile-nav ul li a, .mobile-nav ul li span {
  font-size: 0.9em;
  text-transform: capitalize;
  padding: 8px 15px;
  display: block;
  font-weight: 600;
  padding-left: 13px;
  color: white;
  line-height: 1.4em;
}

.mobile-nav ul li a:hover, .mobile-nav ul li a:focus {
  color: white;
  background-color: #313131;
  text-decoration: none;
}

.mobile-nav ul ul.sub-menuNav {
  margin: 0;
  display: block;
  visibility: visible;
  margin-bottom: 20px;
  margin-left: 20px;
  display: none;
}

.mobile-nav ul.sub-menuNav li {
  position: relative;
}

.mobile-nav ul.sub-menuNav li a {
  padding-left: 13px;
}

.mobile-nav .btn-hide {
  margin-left: 30px;
  margin-top: 20px;
  height: 42px;
  width: 42px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  background-color: #2d9fe8;
  color: white;
}

.mobile-nav .btn-hide:hover, .mobile-nav .btn-hide:focus {
  background-color: transparent;
  color: #c1c1c1;
}

.nav-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/** TABS
===================================*/
#tabs_wrapper {
  width: 422px;
}

#tabs_container {
  border-bottom: 1px solid #ccc;
}

#tabs {
  list-style: none;
  padding: 5px 0 4px 0;
  margin: 0 0 0 10px;
  font: 0.75em arial;
}

#tabs li {
  display: inline;
}

#tabs li a {
  border: 1px solid #ccc;
  padding: 4px 6px;
  text-decoration: none;
  background-color: #eeeeee;
  border-bottom: none;
  outline: none;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#tabs li a:hover {
  background-color: #dddddd;
  padding: 4px 6px;
}

#tabs li.active a {
  border-bottom: 1px solid #fff;
  background-color: #fff;
  padding: 4px 6px 5px 6px;
  border-bottom: none;
}

#tabs li.active a:hover {
  background-color: #eeeeee;
  padding: 4px 6px 5px 6px;
  border-bottom: none;
}

#tabs li a.icon_accept {
  background-image: url(accept.png);
  background-position: 5px;
  background-repeat: no-repeat;
  padding-left: 24px;
}

#tabs li a.icon_accept:hover {
  padding-left: 24px;
}

#tabs_content_container {
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  width: 400px;
}

.tab_content {
  display: none;
}

/** HEROES
===================================*/
.herosub {
  padding: 40px 0 20px;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #314a86;
  color: white;
  margin-bottom: 40px;
  height: auto;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  .herosub {
    min-height: 400px;
  }
}

@media screen and (min-width: 62em) {
  .herosub {
    min-height: 500px;
  }
}

.herosub-title {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 48em) {
  .herosub-title {
    font-size: 28px;
  }
}

.herosub-title span {
  display: inline-block;
  border-bottom: 5px solid white;
  padding-bottom: 12px;
}

.hero-map-wrap header {
  background-color: #ffffff;
  padding: 40px 0 10px;
  box-shadow: inset 0px 5px 10px rgba(50, 76, 127, 0.2);
}

.hero-map-wrap .herosub-title {
  color: #2d4c7b;
  border-color: #1b619d;
  margin-bottom: 10px;
}

.hero-map-wrap .herosub-title span {
  border-color: #1b619d;
}

.hero-map {
  /*	min-height: 480px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #314a86;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.herosub-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.4em;
  text-transform: uppercase;
  max-width: 1200px;
  padding: 0 15px;
  margin: 70px auto 50px;
}

@media screen and (min-width: 48em) {
  .herosub-text {
    font-size: 20px;
  }
}

.herosub-text h2 {
  margin: 0;
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 48em) {
  .herosub-text h2 {
    font-size: 36px;
  }
}

.csr-nav {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto 20px;
  padding: 15px;
}

.csr-nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: flex-end;
}

.csr-nav ul li {
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  border-bottom: 5px solid white;
  padding: 0 10px;
}

.csr-nav ul li a {
  display: block;
  padding: 18px 0;
  position: relative;
}

.csr-nav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -11px;
  width: 0;
  height: 11px;
  background-color: white;
  transition: all 0.5s ease;
}

.csr-nav ul li a:after {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  bottom: -64px;
}

.csr-nav ul li a:hover img, .csr-nav ul li a.active img {
  transform: scale(1.1);
}

.csr-nav ul li a:hover:before, .csr-nav ul li a.active:before {
  width: 66%;
}

.csr-nav ul li a:hover:after, .csr-nav ul li a.active:after {
  display: block;
}

.csr-nav ul li img {
  width: auto;
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 48em) {
  .csr-nav ul li img {
    width: 220px;
  }
}

/** NEWS
===================================*/
.news-post-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #b5cbe0;
  overflow: hidden;
}

.news-post-item figure {
  max-width: 350px;
  overflow: hidden;
  margin-bottom: 25px;
  transition: all 0.3s linear;
  margin: 0 auto 25px;
}

@media screen and (min-width: 42em) {
  .news-post-item figure {
    float: left;
    margin: 0;
    margin-right: 25px;
  }
}

.news-post-item figure:hover {
  opacity: 0.8;
}

.news-post-item .desc {
  overflow: hidden;
}

.news-post-item header {
  margin-bottom: 10px;
}

.news-post-item h3 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #1d283d;
  line-height: 1.4em;
  margin-bottom: 8px;
}

.news-post-item h3 a {
  color: #1d283d;
}

.news-post-item h3:hover {
  color: #e62d54;
}

.news-post-item h3:hover a {
  color: #e62d54;
  text-decoration: none;
}

.news-post-item .link-more a {
  display: inline-block;
  background: transparent url("../img/arrow-next.png") 100% 50% no-repeat;
  background-size: 32px auto;
  padding-right: 42px;
  font-size: 13px;
  color: #1c3066;
  border-bottom: 2px solid #e62d54;
  text-transform: uppercase;
  transition: all 0.3s linear;
  font-weight: 600;
}

.news-post-item .link-more a:hover {
  padding-right: 46px;
  color: #e62d54;
  text-decoration: none;
}

.post-category {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #1a3065;
  display: block;
}

.post-category a {
  color: #1a3065;
}

.post-category:hover {
  color: #e62d54;
}

.post-category:hover a {
  color: #e62d54;
  text-decoration: none;
}

.post-date {
  display: block;
  font-size: 11px;
  color: #7b879b;
}

/*====== NEWS DETAIL ======*/
.post-header {
  margin-bottom: 40px;
  text-align: center;
}

.post-header .meta-date {
  display: block;
}

.meta-date {
  font-size: 11px;
  color: #7b879b;
  display: inline-block;
}

.post-social {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.post-social strong {
  display: block;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 700;
  margin-bottom: 10px;
}

.post-social ul li {
  display: inline-block;
  padding: 0 15px;
}

.post-social ul li a {
  font-size: 28px;
  transition: all .3s linear;
}

.post-social ul li a.fa-twitter {
  color: #3fc0f0;
}

.post-social ul li a.fa-facebook {
  color: #245388;
}

.post-social ul li a:hover {
  color: #b9c3cf;
  text-decoration: none;
}

.rel-post-item {
  text-align: center;
}

.rel-post-item ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: flex-start;
}

@media screen and (min-width: 62em) {
  .rel-post-item ul {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.rel-post-item ul li {
  padding: 0 10px;
  margin-bottom: 20px;
  transition: all .3s linear;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

@media screen and (min-width: 48em) {
  .rel-post-item ul li {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
  }
}

.rel-post-item ul li:hover {
  opacity: 0.7;
}

.rel-post-item ul li a {
  color: #1d283d;
}

.rel-post-item ul li figure {
  margin-bottom: 15px;
}

.rel-post-item ul li h4 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #1d283d;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.4em;
}

@media screen and (min-width: 62em) {
  .other-news .btn-otherpost {
    float: right;
    margin-top: 20px;
    width: 100%;
    max-width: 420px;
  }
}

/** DISTRIBUTION
===================================*/
.distribution {
  color: #404c63;
}

@media screen and (min-width: 62em) {
  .distribution {
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 50px;
    /* Firefox */
    column-gap: 50px;
    /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid #bac0ce;
    /* Firefox */
    column-rule: 2px solid #bac0ce;
  }
}

.distrib-item {
  margin-bottom: 30px;
  color: #677088;
}

.distrib-item h5 {
  margin: 0;
  font-size: 18px;
  color: #404c63;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.distrib-item .link {
  display: inline-block;
  text-decoration: underline;
  color: #376bc0;
  font-size: 14px;
  transition: all 0.2s ease;
}

.distrib-item .link:hover {
  color: #b01c33;
}

/*====== GMAP ======*/
.g-map {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.iw_container {
  line-height: 1.4em;
}

.iw_container .iw_area {
  font-size: 16px;
  margin-bottom: 4px;
}

.iw_container p {
  margin-bottom: 0;
  line-height: 1.4em;
}

/** BRAND
===================================*/
.brand-banner {
  text-align: center;
  padding: 30px 20px 0;
  margin: 0 auto;
  /*	&.brand-ban-ionessence {
		@media screen and (min-width: 40em) {
			margin-bottom: -180px;
		}
	}*/
}

@media screen and (min-width: 62em) {
  .brand-banner {
    padding-bottom: 70px;
    max-width: 974px;
    padding: 30px 0px 50px;
  }
}

.brand-box-banner {
  margin-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-box-banner:before, .brand-box-banner:after {
  content: " ";
  display: table;
}

.brand-box-banner:after {
  clear: both;
}

@media screen and (min-width: 48em) {
  .brand-box-banner {
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 62em) {
  .brand-box-banner {
    padding-top: 30px;
  }
}

.brand-box-banner article {
  font-weight: 600;
  font-size: 20px;
  color: #007bc4;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .brand-box-banner article {
    float: left;
    width: 58.33333%;
  }
}

@media screen and (min-width: 48em) {
  .brand-box-banner article {
    text-align: left;
    line-height: 1.7em;
    padding-top: 35px;
  }
}

.brand-box-banner article.text-blue-light {
  color: #01b8f1;
}

@media screen and (min-width: 62em) {
  .brand-box-banner article.text-blue-light {
    line-height: 2em;
  }
}

.brand-box-banner figure {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .brand-box-banner figure {
    float: left;
    width: 41.66667%;
  }
}

@media screen and (min-width: 48em) {
  .brand-box-banner figure {
    text-align: right;
  }
}

.brand-box-banner.red article {
  color: #dc1d2a;
}

.hero-showbrand {
  color: white;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 30px 0 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
  z-index: 10;
  background-color: #1a2f64;
  min-height: 300px;
}

.hero-showbrand .container {
  position: relative;
}

.hero-showbrand .col-centered {
  min-height: 300px;
}

.hero-showbrand.brand-soyjoy {
  background-color: #d01f29;
  padding: 30px 0 20px;
}

@media screen and (min-width: 62em) {
  .hero-showbrand.brand-soyjoy .col-centered {
    min-height: 345px;
  }
}

@media screen and (min-width: 62em) {
  .hero-showbrand.brand-soyjoy .small-notif {
    margin-top: 165px;
  }
}

.hero-showbrand.brand-soyjoy .prod-brand {
  bottom: 10px;
}

@media screen and (min-width: 62em) {
  .hero-showbrand.brand-soyjoy .prod-brand ul li img {
    max-width: 68px;
  }
}

.hero-showbrand .prod-brand-soyjoy {
  position: initial;
}

.hero-showbrand.brand-ionessence {
  background-color: #00abdf;
  padding: 20px 0 20px;
}

@media screen and (min-width: 62em) {
  .hero-showbrand.brand-ionessence .col-centered {
    min-height: 345px;
  }
}

.hero-showbrand.brand-ionessence .prod-brand {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 0px;
}

@media screen and (min-width: 62em) {
  .hero-showbrand.brand-ionessence .prod-brand {
    padding-top: 55px;
  }
}

.hero-showbrand.brand-ionessence .prod-brand li {
  margin-left: 10px;
    cursor: pointer;
}

.brand-logo {
  width: 180px;
  overflow: hidden;
  margin: 0 auto 20px;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 62em) {
  .brand-logo {
    width: 212px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
}

.small-notif {
  display: block;
  font-size: 9px;
  color: #f1f1f1;
}

@media screen and (min-width: 62em) {
  .small-notif {
    margin-top: 90px;
  }
}

.brand-logo-soyjoy {
  width: 180px;
  overflow: hidden;
  margin: 0 auto 30px;
  text-align: center;
}

@media screen and (min-width: 62em) {
  .brand-logo-soyjoy {
    text-align: left;
    margin: 0;
    margin-left: 127px;
    margin-bottom: 30px;
  }
}

.brand-logo-ionessence {
  width: 180px;
  overflow: hidden;
}

@media screen and (max-width: 62em) {
  .brand-logo-ionessence {
    margin: 0 auto 30px;
    text-align: center;
  }
    .prod-brand-desc {
        padding-right: 5px;
        padding-left: 5px;
    }

    body {
        font: 14px "Open Sans", Helvetica, Arial, sans-serif;
    }

}

.prod-brand {
  margin: 30px 0;
}

table.table.tb-brand-default tr td a {
    color: white;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
}

.soyjoy-item{
    padding: 8px;
    line-height: 1.42857;
}

@media screen and (min-width: 62em) {
  .prod-brand {
    padding-top: 60px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.prod-brand ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: bottom;
  align-items: flex-end;
}

@media screen and (min-width: 62em) {
  .prod-brand ul {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.prod-brand ul li {
  display: inline-block;
  position: relative;
  margin-right: 18px;
  transition-duration: 0.3s;
  transition-property: transform, opacity;
  opacity: 0.6;
}

.prod-brand ul li:last-child {
  margin-bottom: 0;
}

.prod-brand ul li:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
}

.prod-brand ul li img {
  transition: all 0.5s ease;
}

.prod-brand ul li:hover, .prod-brand ul li:active, .prod-brand ul li:focus, .prod-brand ul li.active {
  transform: translateY(-5px);
  opacity: 1;
}

.prod-brand ul li:hover:before, .prod-brand ul li:active:before, .prod-brand ul li:focus:before, .prod-brand ul li.active:before {
  content: '';
  opacity: 1;
  transform: translateY(5px);
}

.prod-brand ul li:hover img, .prod-brand ul li:active img, .prod-brand ul li:focus img, .prod-brand ul li.active img {
  transform: scale(1.1);
}

@media screen and (min-width: 62em) {
  .prod-brand ul li {
    margin-right: 21px;
  }
}

.prod-brand ul.default li {
  opacity: 1;
}

.prod-brand .small-notif {
  display: block;
  width: 100%;
  font-size: 0.7em;
  color: #006fbc;
  margin-top: 8px;
}

.prod-brand.prod-brand-ionessence {
  position: relative;
}

.prod-brand-desc {
  padding-bottom: 0px;
}

@media screen and (min-width: 62em) {
  .prod-brand-desc {
    float: right !important;
  }
}

.prod-content h4 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 18px;
}

.prod-content h4 span {
  border-bottom: 1px solid;
}

.prod-content h4.no-line span {
  border-bottom: none;
}

@media screen and (min-width: 62em) {
  .prod-content.soyjoy-prod-content {
    padding-top: 0;
  }
}

.tb-nutrient {
  font-size: 13px;
}

.tb-nutrient .tb-global-nutrient {
  margin-bottom: 15px;
}

.tb-nutrient .tb-global-nutrient td {
  border: none;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 2px;
}

.tb-nutrient .tb-global-nutrient td:first-child {
  padding-left: 0;
}

.tb-nutrient .tb-global-nutrient td:last-child {
  text-align: right;
}

.tb-nutrient .tb-detail-nutrient {
  margin-bottom: 15px;
}

.tb-nutrient .tb-detail-nutrient th {
  font-weight: normal;
  font-size: 1em;
  border: none;
  padding-top: 0;
  padding-bottom: 4px;
}

.tb-nutrient .tb-detail-nutrient td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.tb-nutrient .tb-detail-nutrient td:first-child {
  padding-left: 0;
}

.tb-nutrient .tb-detail-nutrient td.deep {
  padding-left: 30px;
}

.tb-composition {
  font-size: 10px;
  line-height: 1.3em;
}

.tb-composition small {
  display: block;
  font-size: 0.8em;
}

table.table.tb-brand-default {
  font-size: 0.9em;
}

table.table.tb-brand-default tr td {
  border: none;
}

table.table.tb-brand-default tr td:first-child {
  padding-left: 0;
}

.tb-default .col-xs-6 a {
  color: white;
  position: relative;
  left: 0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.tb-default .col-xs-6 a:hover {
  left: 4px;
}

.btn-visit-prod {
  text-align: center;
  margin: 50px 0 30px;
}

.btn-visit-prod.red a {
  background-color: #bb1f25;
}

.btn-visit-prod.red a:hover {
  background-color: #3f291e;
}

.btn-visit-prod.blue-light a {
  background-color: #01a7d9;
}

.btn-visit-prod.blue-light a:hover {
  background-color: #0188b0;
}

.btn-visit-prod a {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  padding: 13px 25px 26px;
  box-shadow: 5.5px 9.526px 18px 0px rgba(85, 103, 114, 0.106);
  background-color: #0071bd;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 48em) {
  .btn-visit-prod a {
    font-size: 20px;
  }
}

.btn-visit-prod a:hover {
  background-color: #0b2b3e;
  text-decoration: none;
}

.btn-visit-prod a span {
  display: inline-block;
  background-image: url("../img/plus.png");
  background-size: 13px auto;
  background-position: 0 6px;
  background-repeat: no-repeat;
  padding-left: 19px;
  padding-bottom: 8px;
  position: relative;
}

.btn-visit-prod a span:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
}

.btn-visit-prod a span:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -7px;
  z-index: 1;
  left: 20px;
  height: 8px;
  width: 148px;
  background-color: white;
}

@media screen and (max-width: 38em) {
  .btn-visit-prod a {
    padding: 8px 18px 20px;
    font-size: 14px;
  }
}

/** TABS BRAND
===================================*/
.tabs-content-container .tabs-content {
  display: none;
}

.post-item {
  margin-bottom: 50px;
  overflow: hidden;
  line-height: 1.8em;
}

.post-item figure {
  max-width: 300px;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 10px;
  float: left;
}

/** SIDEBAR
===================================*/
.aside-dist {
  margin-bottom: 30px;
}

.aside-dist ul li {
  background-color: #e7ebf6;
  display: block;
}

.aside-dist ul li a {
  display: block;
  padding: 8px 15px;
  padding-right: 47px;
  color: #485c82;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background-position: 94% 50%;
  background-repeat: no-repeat;
  background-size: 12px auto;
  transition: all 0.2s linear;
  background-image: url("../img/dd-icon.png");
  background-position: 96% 50%;
}

.aside-dist ul li a:hover, .aside-dist ul li a:active, .aside-dist ul li a.active {
  background-color: #1c609f;
  text-decoration: none;
  color: white;
}

.aside-dist ul li:first-child {
  background-size: 25px auto;
}

.aside-dist ul li:first-child a {
  background-image: url("../img/arrow-next-wt.png");
  background-color: #1c609f;
}

.aside-dist ul li ul {
  padding-left: 15px;
  border-top: 1px solid #d0d6e4;
  display: none;
}

.aside-dist ul li ul li a {
  padding: 6px 15px;
  background-color: transparent;
  background-image: none;
  text-transform: none;
}

.aside-dist ul li ul li a:hover, .aside-dist ul li ul li a:active, .aside-dist ul li ul li a.active {
  background-color: #1c609f;
}

.aside-dist ul li ul li:first-child a {
  background-color: transparent;
}

.aside-dist ul li ul li:first-child a:hover, .aside-dist ul li ul li:first-child a:active, .aside-dist ul li ul li:first-child a.active {
  background-color: #1c609f;
}

/** FOOTER
===================================*/
#footer {
  background-color: #0c2b3f;
  margin-top: 50px;
  padding: 30px 0;
  color: white;
}

#footer .copyright {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 45em) {
  #footer .copyright {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 62em) {
  #footer .copyright {
    padding-right: 0;
  }
}

#footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.social {
  text-align: center;
}

@media screen and (min-width: 62em) {
  .social {
    text-align: right;
    font-size: 10px;
  }
}

.social h4 {
  margin: 0;
  font-size: 11px;
  color: #c9cdd0;
  margin-bottom: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 62em) {
  .social h4 {
    text-indent: 70px;
  }
}

.social ul li {
  display: inline-block;
  width: 36px;
  overflow: hidden;
  margin: 0 4px;
  transition: all .4s ease;
}

.social ul li:hover {
  opacity: 0.7;
}

@media screen and (min-width: 48em) {
  .foo-menu {
    text-align: right;
  }
}

.foo-menu ul li {
  display: inline-block;
  color: #c9cdd0;
}

.foo-menu ul li a {
  color: #c9cdd0;
  font-size: 12px;
  padding: .7rem 0.8rem;
  line-height: 1;
  display: block;
}

@media screen and (min-width: 48em) {
  .foo-menu ul li a {
    padding: .7rem 0.2rem;
  }
}

@media screen and (min-width: 72em) {
  .foo-menu ul li a {
    padding: .7rem 1rem;
  }
}

.foo-menu ul li:last-child a {
  border: none;
}
