.no-padd {
    padding-left: 0;
    padding-right: 0;
}
.policy {
    /*font-family: "Myriad Pro";*/
    color: #e5e5e5;
}
.policy .custom-padd {
    padding-left: 95px;
    padding-right: 158px;
}
.policy .title {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #2f92d9;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}
.policy .title h2 {
    font-family: 'open_sans', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}
.policy .policy-list {
    background: #1566a0;
    font-size: 14px;
    padding-top: 27px;
    padding-bottom: 18px;
}
.subtitle {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and  (max-width: 640px) {
    .policy .title {
        padding : 30px 5px;
        text-align : center;
    }
    .policy .policy-list {
        padding: 30px 25px;
    }
}