/* Press Room */

.press-room {
    background: #e5eaee;
}

.clear{
    clear: both;   
}

.padding-custom{
    height:20px;   
}

.banner-press-room{
    position:relative;
}
.banner-press-room > p {
    margin-bottom: 0;
}
.banner-press-room .banner-desc {
    position: absolute;
    display: inline-block;
    padding: 50px;
    right: 10%;
    background-color: #ffffff;
    bottom: 110px;
}
.banner-press-room .banner-desc p {
    font-size: 46px;
    font-weight: bold;
    color: #2a4352;
    margin-bottom: 0px;
    line-height: 1.1;

}
.banner-press-room .banner-desc hr {
    float: left;
    width: 200px;
    border-width: 0px 0px 5px;
    border-color: rgb(42, 67, 82);
    margin: 0px;
    padding-top: 10px;
}
.press-cat .columns{
    border: 1px solid #A0A0A0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.press-cat a{
    color: #707070;
    padding-bottom: 20px;
}

.press-cat a:hover{
    color: #A0A0A0;
    padding-bottom: 20px;
}

.press-content{
    background: #e5eaee;
}

.press-item{
    margin-bottom: 30px;
    margin-top: 20px;
}

.press-item-title{
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.press-item-photo{
    text-align:center;
}

.press-date{
    font-size: 12px;
    color: #e00000;
}

.press-text{
    font-size: 14px;
    text-align: justify;
}

.read-more{
    font-size:14px;
    font-weight: bold;
    padding-top: 10px;
}

.pagination{
    background: #e5eaee;
}

.press-pagination{
    text-align: center;
}

.press-pagination li{
    list-style-type: none;
    margin:0;
    padding:0;
}

.press-pagination .first a{
    background: #a2d3f6;
    color: #ffffff;
}

.press-pagination .page a{
    background: #2199e8;
    color: #ffffff;
}

.press-pagination .active a{
    background: #1566a0;
    color: #ffffff;
}

.press-pagination .last a{
    background: #a2d3f6;
    color: #ffffff;
}


/*press-detail*/

.press-detail{
    color: #111111;
}

.press-detail .title{
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 48px;
    font-family: 'Open Sans',sans-serif;
}

.press-detail .posted{
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: #555555;
    font-family: "Open Sans",sans-serif;
}

.press-detail .banner{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.press-detail .text-detail{
    font-size: 16px;
    margin-bottom: 60px;
    font-family: "Open Sans",sans-serif;
}

.press-detail .title-small{
    font-size: 22px;
    margin-bottom: 25px;
    font-family: "myriad pro",sans-serif;
}

.text-press-detail{
    font-size: 16px;
    font-family: "myriad pro",sans-serif;
}

.press-detail .img-press{
    margin-top: 30px;
    margin-bottom: 65px;
}

.press-detail .text-share{
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 130px;
    font-weight: bold;
    font-family: "Open Sans";
}

.press-detail .icon-share{
    display: inline;
    margin-top: 15px;
}

.press-detail .icon-share img:first-child{
    margin-left: 0px;
}

.press-cat .columns {
    border: 1px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
}
.press-cat .sub-menu {
    position: relative;
}
.press-cat .sub-menu .hr {
    display: none;
    border-bottom: 5px solid #007dc6;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.press-cat .sub-menu.active .hr , .press-cat .sub-menu:hover .hr {
    display: block;
}
@media screen and (max-width : 1366px) {
    .press-detail .title{
        font-size: 38px;
    }
    .banner-press-room .banner-desc p {
        font-size: 36px;
    }
    .banner-press-room .banner-desc hr {
        width: 103px;
    }
}
@media screen and (max-width: 979px) {
    .press-detail .title{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px) {
    .press-detail .title{
        font-size: 18px;
    }
}
@media screen and (max-width: 640px) {
    .banner-press-room {
        overflow: hidden;
    }
    .banner-press-room > img {
        min-width: 1024px;
    }
    .banner-press-room .banner-desc {
        padding: 25px;
        right: 15%;
        background-color: rgba(255,255,255,0.8);
        bottom: 20%;
    }
    .press-cat .columns {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
        .title-csr{
            font-size: 12px;
            font-weight: bold;
        }
        
        .press-cat .columns{
            border: 1px solid #A0A0A0;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .press-item-title{
            font-size: 16px;
            font-weight: bold;
            text-align: justify;
        }

}