/*default*/
.soyjoy , .pocari , .ionessense {
    background: #e5eaee;
    padding: 0px;
}
.soyjoy-color {
    background: #bc0344;
}
.pocari-sweat-color {
    background: #0376bc;
}
.ionesence-color {
    background: #02aedf;
}
.sub-menu-product .soyjoy-color , .sub-menu-product .pocari-sweat-color , .sub-menu-product .ionesence-color {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    position: relative;
    text-align: center;
}
.sub-menu-product a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.sub-menu-product .active-menu  {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    /*left: 45%;*/
    left: calc((100% - 30px)/2);
}
.sub-menu-product .soyjoy-color .active-menu {
    border-top: 15px solid #bc0344;
}
.sub-menu-product .pocari-sweat-color .active-menu {
    border-top: 15px solid #0376bc;
}
.sub-menu-product .ionesence-color .active-menu {
    border-top: 15px solid #02aedf;
}
/*.sub-menu-product .pocari-sweat-color:after , .sub-menu-product .soyjoy-color:after , .sub-menu-product .ionesence-color:after {*/
    /*content: url("../../img/product/icon-down.png");*/
    /*width: 17px;*/
    /*height: 10px;*/
    /*position: absolute;*/
    /*bottom: 25px;*/
    /*left: 48%;*/
/*}*/
.product-desc {
    padding: 55px 30px 0px;
}
.product-detail {
    margin-bottom: 40px;
}
.product-detail .product-desc p {
    font-size: 24px;
}
.product-desc-img {
    padding-right: 0px;
    text-align: right;
}
.variant-title {
    font-size: 30px;
    font-weight: bold;
    color: #323232;
}
.product-variant {
    background: #ffffff;
    margin-bottom: 55px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.product-variant .variant-title {
    display: inline-block;
    margin-bottom: 0px;
}
.product-variant .line {
    width: 140px;
    height: 1px;
    background: #323232;
}
.product-variant .variant-display {
    margin-top: 50px;
}
.variant-display > .columns > .small-2.columns {
    padding: 0px;
}
.variant-name {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.variant-name > li {
    font-size: 16px;
    color: #4c4c4c;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e1e1e1;
}
.variant-name > li:last-child {
    border-bottom: none;
}
.product-link {
    background: #b22024;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: 85px;
    margin-right: 28px;
}
.product-button:hover {
    /*transition: all 0.2s ease-in-out 0s;*/
    /*transform:scale(1.2);*/
    font-weight: bold;
}
.product-link a , .product-link a:hover , .product-link a:focus {
    font-size: 24px;
    color: #ffffff;
    background: transparent;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    text-align: left;
}
.product-link a:hover {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.product-link .product-button {
    display: inline-block;
    position: relative;
}
.product-link .product-button:before {
    content: url("../../img/product/icon-plus.png");
    width: 28px;
    height: 28px;
    position: absolute;
    left: -30px;
    bottom: 20%;
}
/*end default*/
/*soyjoy*/
.soyjoy .product-detail .product-desc {
    background-color: #bc0344;
    color: #ffffff;
}
.soyjoy .banner {
    position: relative;
    z-index: 2;
    height: auto;
    padding-bottom: 50px;
}
.soyjoy .product-detail {
    /*z-index: 1;*/
    margin-top: -100px;
}
/*end soyjoy*/
/*pocari sweat*/
.pocari .product-detail .product-desc {
    background-color: #0376bc;
    color: #FFF;
}
.pocari .banner {
    position: relative;
    z-index: 0;
}
.pocari .product-detail .product-desc {
    background-color: #0376bc;
    color: #FFF;
}
.pocari .product-detail {
}
.pocari .product-link {
    background: #0376bc;
    margin-right: 28px;
}
/*end pocari sweat*/
/*ionessense*/
.ionessense .banner {
    position: relative;
    z-index: 2;
}

.ionessense .banner .product-menu , .ionessense .banner .sub-menu-product {
    position: absolute;
    top: 0px;
}

.ionessense .product-detail .product-desc {
    background-color: #45a2c0;
    color: #FFF;
}
.ionessense .product-detail {
    z-index: 1;
    margin-top: -19px;
}
.ionessense .product-desc .title p , .pocari .product-desc .title p {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0px;
}
.ionessense .product-desc .title p .sub-title {
    font-weight: normal;
}
.ionessense .product-desc {
    padding-top: 45px;
}
.ionessense .product-link {
    background: #1c8db2;
    margin-right: 28px;
}
.ionessense .product-variant {
    background: transparent;
    margin-bottom: 55px;
}
/*end ionessense*/

@media screen and (max-width: 1366px) {
    .product-detail .product-desc p {
        font-size: 20px;
        line-height: 1.3;
    }
    .sub-menu-product img {
        width: 90px;
    }
}
@media screen and (max-width: 1024px) {
    .product-menu .soyjoy-color, .product-menu .pocari-sweat-color, .product-menu .ionesence-color {
        font-size: 14px;
    }
    .product-menu .pocari-sweat-color::after, .product-menu .soyjoy-color::after, .product-menu .ionesence-color::after {
        bottom: 18px;
    }
}
@media screen and (max-width: 640px) {
    .product-desc-img {
        padding-left: 0;
    }
    .product-desc-img img {
        height: auto!important;
    }
    .product-variant .variant-display {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .ionessense .product-desc .title p, .pocari .product-desc .title p {
        font-size: 18px;
    }
    .product-detail .product-desc p {
        font-size: 16px;
    }
    .product-link a, .product-link a:hover, .product-link a:focus {
        font-size: 18px;
    }
    .variant-title {
        font-size: 18px;
    }
    .variant-name > li {
        font-size: 14px;
    }
    .banner .sub-menu-product {
        padding-left: 0;
    }
    .banner .sub-menu-product .medium-2.medium-offset-3.small-4 {
        padding-left: 0;
    }



}