.no-left-padd {
    padding-left: 0;
}
.search-content {
    background: #e5eaee;
}
.search-content .title {
    padding: 0px;
    margin-top: 40px;
}
.search-content .title p {
    font-size: 36px;
    color: #4d5a64;
    text-align: center;
}
.search-content .search-bar {
    background: #1566a0;
    color: #ffffff;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 70px;
}
.search-content .refine > form {
    position: relative;
}
.search-content .refine > form input {
    margin-bottom: 0px;
    font-size: 14px;
    color: #4d5a64;
}
.search-content .refine > form button {
    position: absolute;
    bottom: 0px;
    right: -14px;
}
.search-content .each {
    margin-bottom: 48px;
}
.search-content .each .title p {
    font-size: 16px;
    font-weight: bold;
    color: #2f92d9;
    text-align: left;
}
.search-content .each .desc p {
    font-family: "myriad pro", sans-serif;
    font-size: 14px;
    color: #3f4951;
}

@media screen and (max-width: 640px) {
    .search-content .title p {
        font-size: 26px;
    }
    .search-bar > .columns {
        font-size: 18px;
    }
    .search-content .search-bar {
        margin-bottom: 15px;
    }
    .search-content .title {
        margin-top: 0;
    }
}