body {
    font-family: 'open_sans', sans-serif;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../../fonts/roboto-medium-webfont.eot');
    src: url('../../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('../../fonts/roboto-medium-webfont.woff') format('woff'),
    url('../../fonts/roboto-medium-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../../fonts/roboto-thin-webfont.eot');
    src: url('../../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/roboto-thin-webfont.woff2') format('woff2'),
    url('../../fonts/roboto-thin-webfont.woff') format('woff'),
    url('../../fonts/roboto-thin-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans';
    src: url('../../fonts/opensans-regular-webfont.eot');
    src: url('../../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.aligner {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.Aligner-item--fixed {
    flex: 0 0 auto;
    /*max-width: 50%;*/
}
.Aligner-item {
    flex: 1 1 0%;
}
.off-canvas-content, .off-canvas-content {
    box-shadow: none;
}
.containingBlock {
    display: table;
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
    /*height: ;*/
}
.containingBlock .containingBlock-desc {
    display: table-cell;
    vertical-align: middle;
}
.containingBlock .containingBlock-desc p {
    /*color: #FFFFFF;*/
}
.footer{
    font-family: arial, sans-serif;
    background: #0b2b3e;
    color: white;
    padding: 40px 70px;
    font-size: 13px;
}

.footer span{
    color: #085785;
}

.header{
    -webkit-box-shadow: 0px 0px 15px -3px #000;
    box-shadow: 0px 0px 15px -3px #000;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 0 !important;
}
/*sticky*/
.sticky.is-stuck {
    /*max-width: 1920px;*/
    width: 100%;
    margin-top: 0px!important;
    background-color: #FFFFFF;
    position: fixed;
}
/*end sticky*/
.top-menu{
    height: inherit;
}

.top-menu li{
    height: inherit;
}

.top-menu li a{
    color: #1ba2e8;
    font-size: 10px;
    font-family: 'open-sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.top-menu.menu.vertical > li {
    padding: 5px;
}
.top-header .small-7 {
    border-right: 1px solid #cdd4e9;
    padding-bottom: 5px;
    padding-top: 5px;
}
.main-logo {
    max-width: 192px;
    width: 100%;
}
.search{
    background: #c2cce6;
    background-image: url("../images/search_icon.png");
    background-position:  90% center;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: white;
}

.search:focus{
    background: #c2cce6;
    background-image: url("../images/search_icon.png");
    background-position:  90% center;
    background-repeat: no-repeat;
    color: white;
}

.search::-webkit-input-placeholder{
    color: white;
}
.search:-moz-placeholder{
    color: white;
}
.search::-moz-placeholder{
    color: white;
}
.search:-ms-input-placeholder{
    color: white;
}
/*menu lang*/
.menu.top-menu .dropdown.menu.lang .is-dropdown-submenu-parent.is-down-arrow > a::after {
    border-color: #0a0a0a transparent transparent;
    right: 4px;
    top: 2px;
}
.menu.top-menu .dropdown.menu.lang .menu.submenu.is-dropdown-submenu.first-sub.vertical > li > a:hover {
    font-weight: bold;
}
.menu.top-menu .dropdown.menu.lang .is-dropdown-submenu-parent.is-down-arrow::after {
    border-color: transparent;
}
.menu.top-menu .dropdown.menu.lang .menu.submenu.is-dropdown-submenu.first-sub.vertical {
    background: #fff;
    border: 1px solid #ffffff;
}
.menu.top-menu .dropdown.menu.lang .is-dropdown-submenu-parent.is-down-arrow a {
    padding: 3px;
}
.menu.top-menu .dropdown.menu.lang a {
    color: #484848;
    font-size: 12px;
    font-weight: bold;
}
.menu.top-menu .dropdown.menu.lang a > .id {
    background: url("../../img/icon-bahasa.jpg");
    width: 29px;
    height: 17px;
}
.dropdown.menu.lang > .has-submenu.is-dropdown-submenu-parent.is-down-arrow > .menu.submenu.is-dropdown-submenu.first-sub.vertical , .dropdown.menu.lang .menu.submenu.is-dropdown-submenu.first-sub.vertical > li.is-submenu-item.is-dropdown-submenu-item {
    min-width: 66px!important;
}
/*end menu lang*/
.bottom-header .small-7{
    background: #ffffff;
    border-right: 1px solid #cdd4e9;
}

.bottom-menu li a , .bottom-menu li{
    color: #4d5a64;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 10px;
}
.bottom-menu li.has-submenu.is-dropdown-submenu-parent.is-down-arrow {
    padding-right: 30px;
}
.bottom-menu {
    float: right;
}
.dropdown.menu.bottom-menu > li > a:hover , .dropdown.menu.bottom-menu > li:hover{
    /*font-weight: bold;*/
}
.menu.submenu.is-dropdown-submenu.first-sub.vertical {
    background: #ffffff;
    border: 1px solid #2f92d9;
}
.menu.submenu.is-dropdown-submenu.first-sub.vertical > li {
    border-bottom: 1px solid #2f92d9;
}
.menu.submenu.is-dropdown-submenu.first-sub.vertical > li:last-of-type {
    border-bottom: none;
}
.menu.submenu.is-dropdown-submenu.first-sub.vertical > li > a:hover {
    /*font-weight: bold;*/
    color: #000;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
    border-color: #ffffff transparent transparent;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid inset inset;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #4d5a64 transparent transparent;
    position: absolute;
    top: 18px;
    right: 16px;
}
.bottom-header .small-5{
    background: #ffffff;
    font-size: 12px;
    font-weight: bold;
    color: #4d5a64;
}
.custom-content {
    position: relative;
    margin-top: 115px;
}

.title-bar{
    background: #2f92d9;
}

.off-canvas{
    background: #ffffff;
    height: 100%;
}

.off-canvas a{
    color: #2f92d9;
    text-transform: uppercase;
}

.off-canvas .vertical li{
    border-bottom: 1px solid #2f92d9;
    width: 90%;
    margin: auto;
    background: #ffffff;
}

.logo-mobile {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.off-canvas a:focus{
    border: none;
}

.off-canvas .medium-horizontal{
    width: 80%;
    margin: auto;
}

/*back to top*/
.scroll-top-wrapper {
    position: relative;
    opacity: 0.5;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background: #888 url("../../img/about-us/icon-back-to-top.jpg") repeat scroll 0% 0%;
    color: #EEE;
    width: 152px;
    height: 57px;
    line-height: 48px;
    left: calc((100% - 152px)/2);
    bottom: 0px;
    padding-top: 0px;
}
.scroll-top-wrapper:hover {
    background-color: #505050;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.5;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/*end back to top*/

@media screen and  (max-width: 1366px) {
    .menu-home {
        width: 25px;
    }
    .menu > li:not(.menu-text) > a {
        padding: 0.7rem 5px;
    }
    .main-logo {
        max-width: 192px;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .top-menu > li:not(.menu-text) > a{
        padding: 0.7rem 0.2rem;
    }

    .bottom-menu{
        float: none;
    }

    .bottom-menu li a {
        font-size: 12px;
    }

    .bottom-header .small-5{
        padding-top: 5px;
    }

}

@media screen and (max-width: 1024px) {

    .bottom-menu > li:not(.menu-text) > a{
        padding: 0.8rem 0.7rem;
    }

    .bottom-menu li a {
        font-size: 11px;
    }
    .bottom-menu li a, .bottom-menu li {
        font-size: 11px;
    }
    .top-header .small-7 {
        padding-top: 15px;
    }
    .bottom-header .small-5 {
        font-size: 11px;
    }
    .menu > li > a > img {
        width: 25px;
    }
    .top-menu.menu.vertical > li {
        padding: 0px;
    }
    .bottom-menu li.has-submenu.is-dropdown-submenu-parent.is-down-arrow {
        padding-right: 20px;
    }
    .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow::after {
        top: 23px;
        right: 8px;
    }
    .bottom-menu li {
        padding-right: 0px;
    }
    .custom-content {
        margin-top: 110px;
    }
    .main-logo {
        width: 120px;
    }
}

@media screen and (max-width: 840px) {

    .bottom-menu > li:not(.menu-text) > a{
        padding: 1rem 0.35rem;
    }

    .bottom-menu li a {
        font-size: 11px;
    }

}

@media screen and  (max-width: 720px){
    .show-for-small-only {
        display: block !important; }
    .hide-for-small-only {
        display: none !important; }
}

@media screen and (max-width: 640px) {
    .custom-content {
        margin-top: 0px;
    }
    .comment-otsuka > .comment-right {
        text-align: center;
    }
    .orbit-bullets {
        left: 0!important;
        margin-left: 0;
    }
    .footer{
        height: auto!important;
        padding: 20px 45px 10px;
        text-align: center;
    }
    .footer.large-3 {
        padding-bottom: 40px;
    }
    .s-search {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 16px;
        float: right;
    }
    .off-canvas .medium-horizontal {
        width: 90%;
        margin-bottom: 20px;
    }
    /*menu*/
    .is-open-left {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    .off-canvas.position-left {
        left: -100%;
        top: 0;
        width: 100%;
        max-width: 100%;
    }
    .menu.nested {
        margin-left: 0;
    }
    .title-bar-title a {
        color: #ffffff;
    }
    .title-bar {
        position: relative;
        padding: 0.6rem 0.5rem;
    }
    .title-bar .navbar-form {
        position: absolute;
        bottom: 1px;
        right: 16px;
    }
    .title-bar .navbar-form input {
        margin-bottom: 5px;
        height: 2rem;
        font-size: 14px ;
    }
    a[href="contact-us"] {
        font-size: 10px;
        border-right: 1px solid;
    }
    .dropdown.menu.lang {
        margin: 0 10px;
    }
    .dropdown.menu.lang a {
        font-size: 10px;
    }
    .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow::after {
        top: 14px;
    }
    .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow a {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem ;
    }
    /*end menu*/
}
@media  screen and (max-width: 320px) {
    .menu > li:not(.menu-text) > a {
        padding: 0.7rem 0px;
    }
    a[href="contact-us"] {
        padding-right: 6px!important;
    }
    .menu > li > a > img {
        width: 20px;
    }
}

