body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.nopadd {
    padding: 0;
}
.top-bar {
    background: #ffffff;
    border-bottom: 2px solid #b01c33;
    padding: 0;
}
.top-bar .top-bar-title {
    padding: 15px 50px;
}
.top-bar .menu {
    background: #FFFFFF;
    text-transform: uppercase;
}

.top-bar-right .menu {
    padding-right: 10px;
}

.top-bar a {
    font-size: 14px;
    color: #1c619f;
}
.top-bar .top-bar-left {
    margin-left: 35px;
}
.top-bar .top-bar-left a.active {
    font-weight: 700;
    border-bottom: 5px solid #b01c33;
}
.top-bar .top-bar-left a:hover {
    font-weight: 700;
    text-decoration: none;
}
.top-bar-left .menu {
    z-index: 11;
    /*display: table;*/
}
.top-bar-left .menu a {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 5px solid transparent;
}
.top-bar-right label {
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: #8a8da5;
    display: block;
}
.top-bar-right .menu > li {
    vertical-align: bottom;
    padding-bottom: 12px;
}
ul.lang {
    margin-right: 1.25rem;
    padding-bottom: 5px;
    background: #FFFFFF;
}
.lang > li {
    display: inline-block;
}
.lang a > img {
    border: 2px solid #b3c3e5;
    border-radius: 25px;
    width: 22px;
}
.lang a.active > img {
    width: 25px;
    border-color: #2953a8;
}
.search {
    padding: 0 50px;
}
.search button {
    padding: 0 0 5px 0;
    background: transparent;
    width: 100%;
}
.search .fa-search {
    font-size: 22px;
    color: #b2e4fe;
}
.search button:hover , .search button:focus {
background: transparent;
}
.search .dropdown-pane {
    top: 85px!important;
    left: 0!important;
    width: 100%;
}
.search input {
    float: right;
    max-width: 50%;
}
/*footer*/
footer {
    font-size: 14px;
    font-weight: 300;
    background: #0b2b3e;
    color: #ffffff;
    padding: 25px 50px;
}
footer > .row > .columns {
    display: table;
}
footer > .row > .columns > .row {
    display: table-cell;
    vertical-align: middle;
}
footer .copyright {
    padding-left: 0;
}
footer .copyright p {
    margin-bottom: 0;
}
footer .social-media {
    text-align: center;
}
footer .social-media p {
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 8px;
    text-transform: uppercase;
}
footer .social-media .menu {
    display: inline-block;
}
footer .social-media .menu > li {
    padding: 0 5px;
}
footer .social-media .menu > li > a {
    background: #b6cce0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.7rem;
}
footer .fa {
    margin-right: 0!important;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #0b2b3e;
    font-size: 20px;
}
footer .foot-link {
    padding-right: 0;
}
footer .foot-link .menu {
    float: right;
}
footer .foot-link a {
    color: #FFFFFF;
}

/*general content*/
.title {
    border-bottom: 1px solid #1c609f;
}
.title > h2 {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    color: #2e4773;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
}
.title > h2:before {
    content: "\a0";
    display: block;
    /*padding: 2px 0;*/
    line-height: 1px;
    border-bottom: 6px solid #1c609f;
    position: absolute;
    bottom: -6px;
    width: 100%;
}
.custom-left .title {
    margin-left: 50px;
}
.otsuka-staff img{
    width: 100%;
    margin-left: 15px;
}


.cbp-hrmenu {
    width: 100%;
}

/* general ul style */
.cbp-hrmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu .cbp-hrsub-inner {
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
    padding: 1em 0;
}

.cbp-hrmenu > ul > li > a {
    font-weight: 700;
    padding: 1em 2em;
    color: #999;
    display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
    color: #47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
    color: #fff;
    background: #47a3da;
}



/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    /*display: none;*/
    position: absolute;
    width: 100%;
    left: 0;
    /*z-index: -9999;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s;transition: all .5s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07132e+0,4a6cc1+100 */
    background: rgb(7,19,46); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,19,46,1) 0%, rgba(74,108,193,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(7,19,46,1) 0%,rgba(74,108,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(7,19,46,1) 0%,rgba(74,108,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07132e', endColorstr='#4a6cc1',GradientType=0 ); /* IE6-9 */
}

.cbp-hrsub ul{
    background: transparent;
}

.cbp-hrmenu a:hover .cbp-hrsub{
    display: block;
}

.cbp-hropen .cbp-hrsub {
    /*display: block;*/
    visibility: visible;
    padding-bottom: 3em;
    opacity: 1;
    z-index: 20;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
    padding: 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
    line-height: 1em;
    color: #ffffff;
    border-left: 3px solid transparent;
    -webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;
}

.cbp-hrmenu .cbp-hrsub-inner > div a:hover{
    color: #41e0f8;
    font-weight: 700;
    border-left: 3px solid white;
}

.cbp-hrsub h4 {
    color: #ffffff;
    padding: 2em 0 0.6em;
    margin: 0;
    font-size: 160%;
    font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {

    .cbp-hrmenu {
        font-size: 80%;
    }

}

@media screen and (max-width: 43em) {

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

    .cbp-hrmenu > ul,
    .cbp-hrmenu .cbp-hrsub-inner {
        width: 100%;
        padding: 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu > ul > li {
        display: block;
        border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu > ul > li > a {
        display: block;
        padding: 1em 3em;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

}

@media screen and (max-width: 36em) {
    .cbp-hrmenu .cbp-hrsub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}

@media screen and (max-width: 1366px) {
    body {
        font-size: 14px;
    }
    footer {
        font-size: 12px;
    }
    .custom-content {
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .top-bar .top-bar-title {
        padding: 15px 20px;
        margin-right: 20px;
    }

    .top-bar .top-bar-left {
        margin-left: 0;
    }

    .top-bar-left .menu a {
        padding: 10px;
        font-size: 14px;
    }

    .search {
        padding: 0;
    }

    .top-bar-right .menu > li {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (width: 1024px){

    .top-bar-right .menu > li {
        padding: 0;
        vertical-align: middle;
    }

    ul.lang {
        margin: 0;
    }

    .top-bar .top-bar-title {
        margin-right: 0;
        padding: 15px 10px;
    }

    .top-bar .top-bar-left {
        margin-left: 0;
    }

    .top-bar-left .menu a {
        padding: 6px;
        font-size: 12px;
    }

    .top-bar-right {
        float: left;
    }

    .search {
        padding: 0;
    }

    .top-bar-right .menu {
        padding-right: 0;
    }
}

@media screen and (max-width: 63.9375em) {

    .off-canvas.position-right{
        background: white;
    }

    .title-bar .menu{
        display: inline-block;
    }

    ul.lang {
        margin-right: 0;
        padding-bottom: 5px;
        background: #FFFFFF;
    }

    ul.lang ~ label{
        display: none;
    }

    .menu-icon {
        vertical-align: top;
        margin-top: 4px;
    }

    .title-bar .small-5{
        padding-top: 20px;
    }

    .menu-icon::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background: #005ca9;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #005ca9,0 14px 0 #005ca9;
    }

    .title-bar {
        position: relative;
        background: #ffffff;
        text-align: center;
        border-bottom: 2px solid #b01c33;
    }
    .title-bar > .menu-icon {
        width: 30px;
        position: absolute;
        right: 13px;
        top: calc((100% - 16px) / 2);
    }
    .title-bar-title {
        padding: 0;
    }

    .vertical.dropdown.menu {
        background: #ffffff;
    }
    .menu.vertical > li {
        display: block;
        border-bottom: 1px solid #2f92d9;
    }

    .title > h2{
        font-size: 20px;
    }

    footer .foot-link .menu{
        float: none;
    }

    footer .copyright{
        text-align: center;
        color: #00aeef;
    }

    footer, footer .social-media p{
        font-size: 14px;
    }

    .flipster__item {
        vertical-align: top;
    }

}

@media screen and (max-width: 640px) {
    .menu-icon::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background: #005ca9;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #005ca9,0 14px 0 #005ca9;
    }
    .title-bar {
        position: relative;
        background: #ffffff;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid #b01c33;
    }
    .title-bar > .menu-icon {
        width: 30px;
        position: absolute;
        right: 13px;
        top: calc((100% - 16px) / 2);
    }
    .title-bar-title {
        padding: 0;
    }

    ul.lang {
        margin-left: 0;
    }

    .medium-8 {
        width: 100%;
        padding: 0;
    }
    .medium-offset-2 {
        margin-left: 0;
    }
    .small-nopadd {
        padding: 0;
    }
    .custom-left .title {
        margin-left: 20px;
    }
    .title > h2 {
        font-size: 16px;
    }
    .vertical.dropdown.menu {
        background: #ffffff;
    }
    .menu.vertical > li {
        display: block;
        border-bottom: 1px solid #2f92d9;
    }

    .menu.vertical > li a{
        color: #1c619f;
    }
    footer, footer .social-media p{
        font-size: 12px;
    }
}