/* Tiny Scrollbar */
#scrollbar1 { width: 100%; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: auto; height: 170px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../../img/career/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 12px; }
#scrollbar1 .track { background: transparent url(../../img/career/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:12px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../../img/career/bg-scrollbar-thumb-y.png) no-repeat 0% 100%; height: 27px!important; width: 26px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../../img/career/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
