{% block frontend_content %}
    <html>
    <body>
    <div>
        <p>Kepada Customer Care PT Amerta Indah Otsuka,</p>
        <p>Berikut data yang masuk ke form Contact Us: </p>
        <p>Nama : {{ name }}</p>
        <p>Email : {{ email }}</p>
        <p>Phone : {{ phone }}</p>
        <p>Fax : {{ fax }}</p>
        <p>Message : {{ msg }}</p>
    </div>
    </body>
    </html>
{% endblock %}