{% block frontend_content %}
    Dear {{ name }}, <br/><br/>
    Terima kasih atas pertanyaan, saran dan kritik yang Anda sampaikan.<br/>
    Tim Customer Care kami akan menindaklajuti permintaan Anda dengan segera selama <i>office hour</i> (Senin - Jumat, pukul 08.00 - 17.00).<br/><br/>
    Salam,<br/><br/><br/>
    Tim Customer Care PT Amerta Indah Otsuka
{% endblock %}