{% block frontend_content %}
    <html>
    <body>
    <div>
        <p>Kepada Tim {{ factory }} Factory PT Amerta Indah Otsuka,</p>
        <p>Berikut data yang masuk ke form pendaftaran kunjungan pabrik: </p>
        <p>Nama : {{ name }}</p>
        <p>Kunjungan ke pabrik : {{ factory }}</p>
        <p>Institusi : {{ institution }}</p>
        <p>Total Visitor : {{ visitor }}</p>
        <p>Email : {{ email }}</p>
        <p>Landline : {{ landline }}</p>
        <p>Mobile : {{ mobile }}</p>
        <p>Message : {{ message }}</p>
    </div>
    </body>
    </html>
{% endblock %}