{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/product.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="ionessense columns">
        <div class="columns banner text-center">
            <img src="{{ base_url() }}/assets/img/product/ionproduk.png"/>
            <div class="columns sub-menu-product" data-equalizer="menu-ionessense">
                <div class="medium-2 medium-offset-3 small-4 columns">
                    <a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat">
                        <div class="columns pocari-sweat-color" data-equalizer-watch="menu-ionessense">
                            <img src="{{ base_url() }}assets/img/product/icon-brand-pocarisweat.png"/>
                        </div>
                    </a>
                </div>
                <div class="medium-2 small-4 columns">
                    <a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy">
                        <div class="columns soyjoy-color" data-equalizer-watch="menu-ionessense">
                            <img src="{{ base_url() }}assets/img/product/icon-brand-soyjoy.png"/>
                        </div>
                    </a>
                </div>
                <div class="medium-2 small-4 end columns">
                    <a href="{{ base_url() }}{{ current_lang }}/brand/ionessence">
                        <div class="columns ionesence-color" data-equalizer-watch="menu-ionessense">
                            <img src="{{ base_url() }}assets/img/product/icon-brand-ionessence.png"/>
                            <span class="active-menu"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns product-detail" data-equalizer="product-detail">
                <div class="medium-6 columns">
                    <div class="columns product-desc animatedParent" data-sequence="300" data-equalizer-watch="product-detail">
                        <div class="title  animated fadeInUp" data-id="1">
                            <p>IONESSENCE</p>
                            <div style="width: 110px; height: 3px;background: #ffffff;margin-top: 23px;margin-bottom: 15px"></div>
                        </div>
                        <p class="animated fadeInUp" data-id="2">{{ lang('txt_ionessence02') }}</p>
                    </div>
                </div>
                <div class="medium-6 columns animatedParent">
                    <div class="columns product-desc-img animated fadeInUp delay-250">
                        <img src="{{ base_url() }}/assets/img/product/ionessence.jpg" data-equalizer-watch="product-detail">
                    </div>
                </div>
            </div>
            <div class="columns">
            {% for detail in campaign_ionessence %}
                <div class="columns">
                    <div class="product-variant animatedParent">
                        <a href="{{ detail.link }}"><img class="animated fadeInUp" data-interchange="[{{ base_url() }}media/campaign/{{ detail.image_s }}, small], [{{ base_url() }}media/campaign/{{ detail.image_m }}, medium], [{{ base_url() }}media/campaign/{{ detail.image }}, large]"></a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="columns">
                <div class="columns">
                    <div class="columns product-link">
                        <div class="product-button">
                            <a href="https://ionessence.co.id/" target="_blank" class="button">GO TO <br/>PRODUCT WEBSITE</a>
                            <div style="border-bottom: 4px solid #ffffff ; width: 60px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
