{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/vendor/jquery.jscrollpane.css') | raw }}
    {{ asset_css('custom/main_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <section class="brand-banner brand-ban-ionessence">
        <figure>
            <img src="{{base_url()}}assets/css/images/brand-ionessence.jpg">
        </figure>
    </section>
    <!-- //brand-banner -->
    <div class="space20"></div>

    <div id="main" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <section class="brand-box-banner">
                        <article class="text-blue-light">
                            <p>{{ lang('ionessence_header') }}</p>
                        </article>
                        <figure>
                            <img src="{{base_url()}}assets/css/images/brand-banner3.jpg">
                        </figure>
                    </section>
                    <!-- //brand-box-banner -->

                    <div class="brand-post">
                        <h5 class="title-xss">{{ lang('ionessence_title') }}</h5>
                        <p>{{ lang('ionessence_story_1') }}</p>
                        <p>{{ lang('ionessence_story_2') }}</p>
                        <p>{{ lang('ionessence_story_3') }}</p>
                        <div class="space30"></div>
                        <h5 class="title-xss">NUTRITION FACT</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-showbrand brand-ionessence">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-centered">
                        <div class="row">
                            <figure class="brand-logo-ionessence col-md-3">
                                <img src="{{base_url()}}assets/css/images/logo-ionessence.png" alt="">
                            </figure>

                            <div class="prod-brand col-md-4">
                                <ul class="js-prodBrand default">
                                    {% for ionessence in ionessence_products %}
                                        <li id="brand{{ ionessence.id }}">
                                            <img src="{{ base_url() }}media/product/nutrition/{{ ionessence.image }}" alt="">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="prod-brand-desc col-md-5">

                                <div class="prod-content">
                                    <div class="tabs-content-container">
                                        {% for ionessence in ionessence_products %}
                                            <div class="tabs-content brand{{ ionessence.id }}">
                                                <h4><span>Informasi Nilai Gizi</span></h4>

                                                <div class="tb-nutrient">
                                                    {{ ionessence.desc }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //hero-showbrand -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="brand-post">
                        <h5 class="title-xss">{{ lang('lack_of_imf') }}</h5>
                        <p>{{ lang('lack_of_imf_detail') }}</p>
                        <div class="space30"></div>

                        <h5 class="title-xss"><p>{{ lang('ionessence_advantage') }}</p></h5>
                        <p>{{ lang('ionessence_advantage_detail_1') }}</p>
                        <p>{{ lang('ionessence_advantage_detail_2') }}</p>
                    </div>

                    <div class="btn-visit-prod blue-light">
                        <a href="https://ionessence.co.id/" target="_blank"><span>{{ lang('ionessence_web') }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
{{ parent() }}
{{ asset_js('custom/libs.min.js') | raw }}
{{ asset_js('custom/jquery.mousewheel.min.js') | raw }}
{{ asset_js('custom/jquery.jscrollpane.min.js') | raw }}
{{ asset_js('custom/global_new.js') | raw }}
{% endblock %}