{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/product.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="pocari columns">
        <div class="columns sub-menu-product" data-equalizer="menu-ionessense">
            <div class="medium-2 medium-offset-3 small-4 columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat">
                    <div class="columns pocari-sweat-color" data-equalizer-watch="menu-ionessense">
                        <img src="{{ base_url() }}assets/img/product/icon-brand-pocarisweat.png">
                        <span class="active-menu"></span>
                    </div>
                </a>
            </div>
            <div class="medium-2 small-4 columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy">
                    <div class="columns soyjoy-color" data-equalizer-watch="menu-ionessense">
                        <img src="{{ base_url() }}assets/img/product/icon-brand-soyjoy.png">
                    </div>
                </a>
            </div>
            <div class="medium-2 small-4 end columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/ionessence">
                    <div class="columns ionesence-color" data-equalizer-watch="menu-ionessense">
                        <img src="{{ base_url() }}assets/img/product/icon-brand-ionessence.png">
                    </div>
                </a>
            </div>
        </div>
        <div class="columns banner text-center">
            <img data-interchange="[{{ base_url() }}/assets/img/product/banner-pocari-sweat-small-new.png, small], [{{ base_url() }}/assets/img/product/banner-pocari-sweat-medium-new.png, medium], [{{ base_url() }}/assets/img/product/banner-pocari-sweat-new.png, large]">
        </div>
        <div class="row">
            <div class="columns product-detail" data-equalizer="product-detail">
                <div class="medium-6 small-12 columns">
                    <div class="columns product-desc animatedParent" data-sequence="300" data-equalizer-watch="product-detail">
                        <div class="animated fadeInUp" data-id="1">
                            <div class="title">
                                <p>Pocari Sweat</p>
                                <div style="width: 110px; height: 3px;background: #ffffff;margin-top: 23px;margin-bottom: 15px"></div>
                            </div>
                            <p class="animated fadeInUp" data-id="2">{{ lang('txt_pocari02') }}</p>
                        </div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns animatedParent">
                    {% for detail in campaign_pocari %}
                    <div class="columns product-desc-img  animated fadeInUp delay-250">
                        <a href="{{ detail.link }}" target="_blank"><img class="" src="{{ base_url() }}media/campaign/{{ detail.image }}" data-equalizer-watch="product-detail"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="columns">
                <div class="columns">
                    <div class="product-variant columns">
                        <div class="medium-6 columns variant-display">
                            <div class="small-up-7 columns animatedParent" data-sequence="200" data-equalizer="product">
                                <div class="small-2 columns animated fadeInUp" data-id="1"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-sachet-15g-new-right.png"></div>
                                <div class="small-2 columns animated fadeInUp" data-id="2"><img src="{{ base_url() }}/assets/img/product/variant/sachet-37gr.png"></div>
                                <div class="small-2 columns animated fadeInUp" data-id="3"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-kaleng-330ml-new.png"></div>
                                <div class="small-2 columns animated fadeInUp" data-id="4"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-350ml-new.png"> </div>
                                <div class="small-2 columns animated fadeInUp" data-id="5"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-500ml-new.png"> </div>
                                <div class="small-2 columns animated fadeInUp" data-id="6"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-900ml-new.png"> </div>
                                <div class="small-2 columns animated fadeInUp" data-id="7"><img src="{{ base_url() }}/assets/img/product/variant/pocari-variant-2L.png"> </div>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="columns">
                                <p class="variant-title">{{ lang('txt_pocari03') }}</p>
                                <div class="line"></div>
                                <ul class="variant-name medium-6 end columns animatedParent" data-sequence="100">
                                    <li class="animated fadeInUp" data-id="1">Sachet 15 gr</li>
                                    <li class="animated fadeInUp" data-id="2">Sachet 37 gr</li>
                                    <li class="animated fadeInUp" data-id="3">Kaleng 330 ml</li>
                                    <li class="animated fadeInUp" data-id="4">PET 350 ml</li>
                                    <li class="animated fadeInUp" data-id="5">PET 500 ml</li>
                                    <li class="animated fadeInUp" data-id="6">PET 900 ml</li>
                                    <li class="animated fadeInUp" data-id="7">PET 2 L</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="columns">
                    <div class="columns product-link">
                        <div class="product-button">
                            <a href="http://www.pocarisweat.co.id/" target="_blank" class="button">GO TO <br/>PRODUCT WEBSITE</a>
                            <div style="border-bottom: 4px solid #ffffff ; width: 60px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
