{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/vendor/jquery.jscrollpane.css') | raw }}
    {{ asset_css('custom/main_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <section class="brand-banner">
        <figure>
            <img src="{{ base_url() }}/assets/css/images/brand-pocari.jpg">
        </figure>
    </section>
    <!-- //brand-banner -->

<div id="main" role="main">
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="brand-box-banner">
                <article>
                    <p>{{ lang('pocari_header') }}</p>
                </article>
                <figure>
                    <img src="{{ base_url() }}/assets/css/images/brand-banner.jpg">
                </figure>
            </section>
            <!-- //brand-box-banner -->

            <div class="brand-post">
                <h5 class="title-xss">{{ lang('pocari_title') }}</h5>
                <p>{{ lang('pocari_story_1') }}</p>
                <p>{{ lang('pocari_story_2') }}</p>
                <p>{{ lang('pocari_story_3') }}</p>
                <p>{{ lang('pocari_story_4') }}</p>
                <div class="space30"></div>

                <h5 class="title-xss">Nutrition fact </h5>
            </div>
        </div>
    </div>
</div>

<div class="hero-showbrand">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1 col-centered">
<figure class="brand-logo js-trigerFirstTab">
    <a href="#"><img src="{{ base_url() }}/assets/css/images/logo-pocari.png" alt=""></a>
</figure>

<div class="prod-brand col-md-7">
    <ul class="js-prodBrand">
    {% for pocari in pocari_products %}
        <li id="brand{{ pocari.id }}">
            <img src="{{ base_url() }}media/product/nutrition/{{ pocari.image }}" alt="">
        </li>
    {% endfor %}
    </ul>
</div>

<div class="prod-brand-desc col-md-5">
<div class="prod-content">
<div class="tabs-content-container">

<div class="tabs-content">
    <h4 class="no-line"><span>KEMASAN</span></h4>
    <div class="tb-default">
        <table class="table tb-brand-default">
            <tr>
                <td><a href="" data-brand="brand1" class="js-brandTrigger">Sachet 15 gr</a></td>
                <td><a href="" data-brand="brand5" class="js-brandTrigger">PET 500 ml</a></td>
            </tr>
            <tr>
                <td><a href="" data-brand="brand2" class="js-brandTrigger">Sachet 37 gr</a></td>
                <td><a href="" data-brand="brand6" class="js-brandTrigger">PET 900 ml</a></td>
            </tr>
            <tr>
                <td><a href="" data-brand="brand3" class="js-brandTrigger">Kaleng 330 ml</a></td>
                <td><a href="" data-brand="brand7" class="js-brandTrigger">PET 2 L</a></td>
            </tr>
            <tr>
                <td><a href="" data-brand="brand4" class="js-brandTrigger">PET 350 ml</a></td>
            </tr>
        </table>
        <span class="small-notif">*Klik kemasan untuk melihat detail informasi</span>
    </div>
</div>
<!-- tabs-content -->
{% for pocari in pocari_products %}
<div class="tabs-content brand{{ pocari.id }}">
    <h4><span>Informasi Nilai Gizi</span></h4>

    <div class="tb-nutrient">
        {{ pocari.desc }}
    </div>
</div>
{% endfor %}
</div>
<!-- //tabs-content-container -->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- //hero-showbrand -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="brand-post">
                <h5 class="title-xss">{{ lang('what_is_ion_title') }}</h5>
                <p>{{ lang('what_is_ion') }}</p>
                <div class="space30"></div>

                <h5 class="title-xss">{{ lang('pocari_for_body') }}</h5>
                <p>{{ lang('pocari_for_body_detail') }}</p>
            </div>

            <div class="btn-visit-prod">
                <a href="http://www.pocarisweat.co.id/" target="_blank"><span>{{ lang('pocari_sweat_web') }}</span></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block frontend_js %}
{{ parent() }}
{{ asset_js('custom/libs.min.js') | raw }}
{{ asset_js('custom/jquery.mousewheel.min.js') | raw }}
{{ asset_js('custom/jquery.jscrollpane.min.js') | raw }}
{{ asset_js('custom/global_new.js') | raw }}
{% endblock %}