{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/vendor/bootstrap/bootstrap.css') | raw }}
    {{ asset_css('custom/vendor/animate.min.css') | raw }}
    {{ asset_css('custom/vendor/jquery.jscrollpane.css') | raw }}
    {{ asset_css('custom/main_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <section class="brand-banner">
        <figure>
            <img src="{{base_url()}}assets/css/images/brand-soyjoy.jpg">
        </figure>
    </section>
    <!-- //brand-banner -->

    <div id="main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <section class="brand-box-banner red">
                    <article>
                        <p>{{ lang('soyjoy_header') }}</p>
                    </article>
                    <figure>
                        <img src="{{base_url()}}assets/css/images/brand-banner2.jpg">
                    </figure>
                </section>
                <!-- //brand-box-banner -->

                <div class="brand-post">
                    <h5 class="title-xss">{{ lang('soyjoy_title') }}</h5>
                    <p>{{ lang('soyjoy_story_1') }}</p>
                    <p>{{ lang('soyjoy_story_2') }}</p>
                    <p>{{ lang('soyjoy_story_3') }}</p>
                    <p>{{ lang('soyjoy_story_4') }}</p>
                    <div class="space30"></div>

                    <h5 class="title-xss">Nutrition fact </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-showbrand brand-soyjoy">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1 col-centered">
    <div class="col-md-7 prod-brand-soyjoy">
        <figure class="brand-logo-soyjoy js-trigerFirstTab">
            <a href="#"><img src="{{base_url()}}assets/css/images/logo-soyjoy.png" alt=""></a>
        </figure>
        <div class="prod-brand">

            <ul class="js-prodBrand">
            {% for soyjoy in soyjoy_products %}
                <li id="brand{{ soyjoy.id }}">
                    <img src="{{ base_url() }}media/product/nutrition/{{ soyjoy.image }}" alt="">
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="prod-brand-desc col-md-5">
    <div class="prod-content soyjoy-prod-content">

    <div class="tabs-content-container">

    <div class="tabs-content">
        <h4><span>Varian Rasa</span></h4>
        <div class="tb-default">
            {% for soyjoy in soyjoy_products %}
            <div class="col-xs-6 soyjoy-item" style="padding-left: 0;">
                <a href="javascript:void(0);" data-brand="brand{{soyjoy.id}}" class="js-brandTrigger">{{soyjoy.name}}</a>
            </div>
            {% endfor %}
            <div style="clear:both;"></div>
            <!-- <table class="table tb-brand-default">
                <tr>
                    <td><a href="brand-soyjoy-selected-1.html" data-brand="brand1" class="js-brandTrigger">Strawberry</a></td>
                    <td><a href="brand-soyjoy-selected-4.html" data-brand="brand4" class="js-brandTrigger">Howthorn Berry</a></td>
                </tr>
                <tr>
                    <td><a href="brand-soyjoy-selected-2.html" data-brand="brand2" class="js-brandTrigger">Raisin Almond</a></td>
                    <td><a href="brand-soyjoy-selected-5.html" data-brand="brand5" class="js-brandTrigger">Almond and Chocholate</a></td>
                </tr>
                <tr>
                    <td><a href="brand-soyjoy-selected-3.html" data-brand="brand3" class="js-brandTrigger">Banana</a></td>
                    <td></td>
                </tr>
            </table> -->
            <span class="small-notif">*Klik kemasan untuk melihat detail informasi</span>
        </div>
    </div>

    {% for soyjoy in soyjoy_products %}

        <div class="tabs-content brand{{ soyjoy.id }}">
            <h4><span>Informasi Nilai Gizi</span></h4>

            <div class="tb-nutrient">
                {{ soyjoy.desc }}
            </div>
        </div>
    {% endfor %}

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- //hero-showbrand -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="brand-post">
                    <h5 class="title-xss">{{ lang('what_is_lowgi_title') }}</h5>
                    <p>{{ lang('what_is_lowgi') }}</p>
                    <div class="space30"></div>

                    <h5 class="title-xss">{{ lang('soyjoy_advantage') }}</h5>
                    <p>{{ lang('soyjoy_advantage_detail_1') }}</p>
                    <p>{{ lang('soyjoy_advantage_detail_2') }}</p>
                </div>

                <div class="btn-visit-prod red">
                    <a href="http://www.soyjoy.co.id/home" target="_blank"><span>{{ lang('soyjoy_web') }}</span></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- //main -->
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('custom/libs.min.js') | raw }}
    {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4b1bKwY-EX4Jl46J4eNz83Te-g8okhgY&callback=initMap"></script>#}
    {{ asset_js('custom/jquery.mousewheel.min.js') | raw }}
    {{ asset_js('custom/jquery.jscrollpane.min.js') | raw }}
    {{ asset_js('custom/global_new.js') | raw }}
{% endblock %}
