{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/product.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="soyjoy columns">
        <div class="columns sub-menu-product" data-equalizer="menu-ionessense">
            <div class="medium-2 medium-offset-3 small-4 columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/pocari-sweat"  data-equalizer-watch="menu-ionessense">
                <div class="columns pocari-sweat-color">
                        <img src="{{ base_url() }}assets/img/product/icon-brand-pocarisweat.png">
                </div>
                </a>
            </div>
            <div class="medium-2 small-4 columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/soyjoy" data-equalizer-watch="menu-ionessense">
                    <div class="columns soyjoy-color">
                            <img src="{{ base_url() }}assets/img/product/icon-brand-soyjoy.png">
                        <span class="active-menu"></span>
                    </div>
                </a>
            </div>
            <div class="medium-2 small-4 end columns">
                <a href="{{ base_url() }}{{ current_lang }}/brand/ionessence" data-equalizer-watch="menu-ionessense">
                    <div class="columns ionesence-color">
                            <img src="{{ base_url() }}assets/img/product/icon-brand-ionessence.png">
                    </div>
                </a>
            </div>
        </div>
        <div class="columns banner text-center">
            {#<img data-interchange="[{{ base_url() }}/assets/img/product/banner-soyjoy.png, small], [{{ base_url() }}/assets/img/product/banner-soyjoy-medium.png, medium], [{{ base_url() }}/assets/img/product/banner-soyjoy.png, large]">#}
            <img src="{{ base_url() }}assets/img/product/banner-soyjoy.png"/>
        </div>
        <div class="row">
            <div class="columns product-detail" data-equalizer="product-detail">
                <div class="medium-6 columns">
                    <div class="columns product-desc animatedParent" data-equalizer-watch="product-detail">
                        <p class="animated fadeInUp"><b>SOYJOY</b> {{ lang('txt_soyjoy01') }}</p>
                    </div>
                </div>
                <div class="medium-6 columns animatedParent">
                {% for detail in campaign_soyjoy %}
                    <div class="columns product-desc-img animated fadeInUp delay-250">
                        <a href="{{ detail.link }}" target="_blank"><img src="{{ base_url() }}media/campaign/{{ detail.image }}" data-equalizer-watch="product-detail"></a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="columns">
                <div class="columns">
                <div class="product-variant columns">
                    <div class="medium-6 columns variant-display animatedParent" data-sequence="200">
                        <div class="columns">
                            <div class="small-1 columns">&nbsp;</div>
                            <div class="small-2 columns animated fadeInUpShort" data-id="1"><img src="{{ base_url() }}/assets/img/product/variant/soyjoy-variant-stroberry.png"></div>
                            <div class="small-2 columns animated fadeInUpShort" data-id="2"><img src="{{ base_url() }}/assets/img/product/variant/soyjoy-variant-raisin-almond.png"> </div>
                            <div class="small-2 columns animated fadeInUpShort" data-id="3"><img src="{{ base_url() }}/assets/img/product/variant/soyjoy-variant-banana.png"> </div>
                            <div class="small-2 columns animated fadeInUpShort" data-id="4"><img src="{{ base_url() }}/assets/img/product/variant/soyjoy-variant-hawthorn-berry.png"> </div>
                            <div class="small-2 columns animated fadeInUpShort" data-id="5"><img src="{{ base_url() }}/assets/img/product/variant/soyjoy-almond-and-chocolate.png"> </div>
                            <div class="small-1 columns">&nbsp;</div>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="columns">
                            <p class="variant-title">{{ lang('txt_soyjoy02') }}</p>
                            <div class="line"></div>
                            <ul class="variant-name medium-6 end columns animatedParent" data-sequence="100">
                                <li class="animated fadeInUp" data-id="1">Strawberry</li>
                                <li class="animated fadeInUp" data-id="2">Raisin Almond</li>
                                <li class="animated fadeInUp" data-id="3">Banana</li>
                                <li class="animated fadeInUp" data-id="4">Hawthorn Berry</li>
                                <li class="animated fadeInUp" data-id="5">Almond & Chocolate</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="columns">
                <div class="columns">
                    <div class="columns product-link">
                        <div class="product-button">
                            <a href="http://www.soyjoy.co.id/home" target="_blank" class="button">GO TO <br/>PRODUCT WEBSITE</a>
                            <div style="border-bottom: 4px solid #ffffff ; width: 60px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
