{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    <link href="{{ base_url() }}assets/css/custom/lifeatotsuka.css" rel="stylesheet">
{% endblock %}

{% block frontend_content %}
    <div class="lifeatotsuka animatedParent">
        <div class="banner-lifeatotsuka">
            <div class="title-page animated fadeInUp">
                <div>
                    LIFE<br/>
                    AT OTSUKA
                    <div class="line-desc" style=""></div>
                </div>
            </div>
            {{ lao_banner }}
        </div>
        <div class="row">
            <div class="lifeatotsuka-desc">
                <div class="large-12 medium-12 small-12 columns" >
                    <div class="top-border-desc"></div>
                    <div class="title">
                        {{ page_content }}
                    </div>
                    <img class="line-colour" src="{{ base_url() }}/assets/img/lifeatotsuka/line-lifeatotsuka.jpg">
                </div>
            </div>
        </div>
        <br><br>

        <div id="wrapper-story-list">
        {% for story_item in stories %}
        <div class="row line-hr" {{ loop.first ? 'id="story-clone-base"' : '' }}>
            <div class="lifeatotsuka-testimony-list">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="large-3  medium-3  small-12 columns" style="padding-right: 0">
                        <div class="wrapper-img-testimony">
                            <div class="img-testimony">
                                <img class="img-testimony-lifeatotsuka" src="{{ base_url()~story_item.get_photo_path() }}/{{ story_item.photo }}" alt="{{ story_item.name }}">
                            </div>
                            <div class="text-testimony">
                                <p class="name-testimony">
                                    {{ story_item.name }}
                                </p>
                                <p class="address-testimony">
                                    {{ story_item.job }}, {{ story_item.location }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if current_lang == 'en' %}
                    <div class="large-9 medium-9  small-12 columns lifeatotsuka-wrapper-testimony">
                        <div class="large-4  medium-5  small-12 columns">
                            <p class="lead-content">{{ story_item.story_lead_en }}</p>
                        </div>
                        <div class="large-8  medium-7  small-12 columns">
                            <div class="lao-content">{{ story_item.story_en }}</div>
                            <p class="hour"></p>
                        </div>
                    </div>
                    {% endif %}
                    {% if current_lang == 'id' %}
                    <div class="large-9 medium-9  small-12 columns lifeatotsuka-wrapper-testimony">
                        <div class="large-4  medium-5  small-12 columns">
                            <p class="lead-content">{{ story_item.story_lead_id }}</p>
                        </div>
                        <div class="large-8  medium-7  small-12 columns">
                            <div class="lao-content">{{ story_item.story_id }}</div>
                            <p class="hour"></p>
                        </div>
                    </div>    
                    {% endif %}
                </div>
            </div>
        </div>
        <hr/>
        <br>
        {% endfor %}
        </div>

        <div class="row">
            <div id="btn-loadmore" class="lifeatotsuka-box-blue" style="cursor: pointer">
                <div class="large-12 medium-12 small-12 columns colour-lifeatotsuka-load">
                    <p class="title lifeatotsuka-load">
                        LOAD
                        <br>
                        MORE
                        <br>
                        STORIES
                        </p></a>
                </div>
            </div>
        </div>
        <br>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock frontend_content %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    <script type="text/javascript">
        var curr_page = 1;
        var total_page = {{ story_page }};
        var per_page = {{ per_page }};

        if(total_page <= per_page){
            $('#btn-loadmore').remove();
        }else{
            $("#btn-loadmore").click(function(){
                loadmore();
            });
        }
        function loadmore()
        {
            $.ajax({
                type: 'post',
                url: "{{ base_url()~current_lang }}/lifeatotsuka/list",
                data: {
                    next_offset: curr_page
                },
                success: function (response) {
                    var data = $.parseJSON(response);
                    // render story HTML
                    for (idx=0; idx<data.length; idx++) {
                        var new_obj = $('#story-clone-base').clone();
                        new_obj.removeAttr('id');
                        var new_obj_img = new_obj.find('img.img-testimony-lifeatotsuka');
                        var new_obj_name = new_obj.find('p.name-testimony');
                        var new_obj_addr = new_obj.find('p.address-testimony');
                        var new_obj_lead = new_obj.find('p.lead-content');
                        var new_obj_content = new_obj.find('div.lao-content');
                        new_obj_img.attr('src', '{{ base_url() }}media/lao-photo/'+data[idx].photo).attr('alt', data[idx].name);
                        new_obj_name.html(data[idx].name);
                        new_obj_addr.html(data[idx].job+', '+data[idx].location);
                        new_obj_lead.html(data[idx].story_lead);
                        new_obj_content.html(data[idx].story);
                        $('#wrapper-story-list').append(new_obj);
                    }
                    curr_page++;
                    if (curr_page >= total_page) {
                        $('#btn-loadmore').remove();
                    }
                }
            });
        }
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}