{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {#{{ asset_css('custom/jquery.ui.all.css') | raw }}#}
    {{ asset_css('custom/factory_tour.css') | raw }}
    {{ asset_css('custom/dp_calendar.css') | raw }}
    {{ asset_css('custom/demo.css') | raw }}

{% endblock %}
 {% block frontend_head_js %}
     {{ parent() }}
     {{ asset_js('jquery-ui-1.12.0.js') | raw }}
     {{ asset_js('date.js') | raw }}
     {{ asset_js('jquery.dp_calendar.js') | raw }}
 {% endblock %}
{% block frontend_content %}
<div class="factory">
<div class="banner animatedParent animateOnce">
    <img src="{{ base_url() }}/assets/img/factory-tour/factory-banner.jpg"/>
    <div class="banner-desc animated fadeInUpShort">
        <p>EXPLORION<br/>TOUR</p>
        <hr/>
    </div>
</div>
<div class="row factory-detail">
    <div class="menu-factory">
        <div class="columns">
            <div class="medium-6 small-6 columns no-padd tabs-title is-active">
                <a href="{{ base_url()~current_lang }}/explorion-advanture" aria-selected="true">
                    <img src="{{ base_url() }}/assets/img/factory-tour/icon-explorion-adventure.png"/>
                    <div class="active"></div>
                </a>
            </div>
            <div class="medium-6 small-6 columns no-padd tabs-title">
                <a href="{{ base_url()~current_lang }}/factory-tour">
                    <img src="{{ base_url() }}/assets/img/factory-tour/icon-factory-tour.png"/>
                    <div class="active"></div>
                </a>
            </div>
        </div>
    </div>

    <div class="columns factory-detail">
        <div class="medium-12 columns">
            <a href="http://explorion.aio.co.id/" target="_blank"><img src="{{ base_url() }}/assets/img/factory-tour/banner-explorion-adventure.jpg"/></a>
        </div>
        <div class="medium-12 columns desc">
            <div class="columns no-padd sub-desc">
                <p>{{ lang('explorion_title') }}</p>
            </div>
            <div class="columns no-padd detail">
                <p>{{ lang('explorion_desc_1') }}</p>
                <p>{{ lang('explorion_desc_2') }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row visiting-form custom-padd">
    <div  class="title">
        <hr/>
        <p>SUKABUMI</p>
        <p>VISITING FORM</p>
    </div>
    <div class="visiting-detail">
        <ul class="tabs" data-tabs id="visiting-detail">
            <li class="tabs-title"><a href="#panel1" aria-selected="true">{{ lang('txt_tour01') }}</a></li>
            <li class="tabs-title  is-active"><a href="#panel2">{{ lang('txt_tour02') }}</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="visiting-detail">
            <div class="tabs-panel" id="panel1">
                <ol>
                    <li>{{ lang('txt_tourtnc01') }}</li>
                    <li>{{ lang('txt_tourtnc02') }}</li>
                    <li>{{ lang('txt_tourtnc03') }}</li>
                    <li>{{ lang('txt_tourtnc04') }}</li>
                    <li>{{ lang('txt_tourtnc05') }}</li>
                    <li>{{ lang('txt_tourtnc06') }}</li>
                    <li>{{ lang('txt_tourtnc07') }}</li>
                </ol>
                <p style="color: #ffffff;background: #01b2e5;display: inline-block;padding: 10px 20px 10px 60px;margin-left: -27px">{{ lang('txt_tourtnc13') }}</p>
                <ol>
                    <li>{{ lang('txt_tourtnc08') }}</li>
                    <li>{{ lang('txt_tourtnc09') }}</li>
                    <li>{{ lang('txt_tourtnc10') }}</li>
                    <li>{{ lang('txt_tourtnc11') }}</li>
                    <li>{{ lang('txt_tourtnc12') }}</li>
                </ol>
            </div>
            <div class="tabs-panel  is-active" id="panel2">
                <div class="row">
                    <div class="medium-8 medium-offset-2 small-12 columns">
                        {#step 1#}
                        <p id="calendar-mandatory-info" class="sub-desc">{{ lang('txt_tour10') }}</p>
                        <div id='calendar' class="sukabumi"></div>
                        {#step 2#}
                        <form role="form" id="registration-form" enctype="multipart/form-data" action="" name="registration-form" method="post" class="hide">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour01') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <input type="hidden" name="factory" value="sukabumi" />
                                    <input type="hidden" name="visit_date_full" id="visit-date-full" value="" />
                                    <input type="hidden" name="visit_date" id="visit-date" value="" />
                                    <input type="hidden" name="visit_shift" id="visit-shift" value="" />
                                    <span id="label-visit-date"></span>
                                    <span id="label-visit-shift"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour02') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    Sukabumi
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour03') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <input id="name" name="name" type="text" placeholder="{{ lang('txt_form_tour03') }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour04') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <input id="institution" name="institution" type="text" placeholder="{{ lang('txt_form_tour04') }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour05') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <input id="visitor" name="visitor" type="number" placeholder="{{ lang('txt_form_tour05_01') }}" min="20" max="100">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="alamat" class="text-right middle">{{ lang('txt_form_tour06') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <textarea id="address" name="address" rows="2" name="alamat" class="large-12 columns" placeholder=""  minlength="20" maxlength="150" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="alamat" class="text-right middle">{{ lang('txt_form_tour07') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <div class="small-6 columns no-padd">
                                        <input id="landline" name="landline" type="tel" placeholder="Tel" required>
                                    </div>
                                    <div class="small-6 columns no-padd">
                                        <input id="mobile" name="mobile" type="tel" placeholder="Hp" style="float: right" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour08') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{ lang('txt_form_tour08') }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="alamat" class="text-right middle">{{ lang('txt_form_tour09') }}</label>
                                </div>
                                <div class="small-1 columns">:</div>
                                <div class="small-8 columns">
                                    <textarea id="message" rows="2" name="message" class="large-12 columns" placeholder="{{ lang('txt_form_tour09') }}" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-6 medium-offset-6 small-12 columns captcha-factory">
                                    <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                </div>
                            </div>
                                <button id="btn-register" onclick="">SEND</button>
                                <button onclick="goBack()">BACK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% for error in err_msg %}
        <div>{{ error }}</div>
    {% endfor %}
</div>
<div class="gallery-visit">
    <div class="row custom-padd">
        <div class="medium-3 small-3 columns no-padd">
            <div class="title">
                <p>GALLERY</p>
                <p>EXPLORION<br/>TOUR</p>
                <hr/>
            </div>
            <div class="see-gallery">
                <a class="button" href="{{ base_url() }}{{ current_lang }}/gallery-detail">CLICK HERE<br/>TO SEE ALL GALLERY</a>
            </div>
        </div>
        <div class="medium-9 small-9 columns">
            <a href="{{ base_url() }}{{ current_lang }}/gallery-detail"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/gallery.jpg"></a>
        </div>
    </div>
    <div class="show-for-small-only">
        {% block back_to_top %}
            {{ parent() }}
        {% endblock back_to_top %}
    </div>
</div>
{% if (flag) %}
    <div id="factoryModal" class="reveal" data-reveal>
        <button class="close-reveal-modal" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>Terima kasih, data anda akan kami proses. Untuk jadwal kunjungan, akan kami informasikan lebih lanjut</p>
    </div>
{% endif %}


{% endblock %}
{% block frontend_js %}
{{ parent() }}
{{ asset_js('jquery.maskedinput.js') | raw }}
{{ asset_js('css3-animate-it.js') }}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    function goBack() {
        $("#registration-form").addClass("hide");
        $("#calendar").removeClass("hide");
        $("body, html").animate({
            scrollTop: jQuery('#registration-form').offset().top - 300
        });
    }
    jQuery('#calendar').on('click', 'li.slot', function(){
        var shift = jQuery(this).data('shift'),
            date_selected = $.fn.dp_calendar.date_selected,
            date_mysql_format = date_selected.getFullYear()+'-'+(date_selected.getMonth()*1+1)+'-'+date_selected.getDate(),
            date_display = $.fn.dp_calendar.regional["lang_{{ current_lang }}"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_{{ current_lang }}"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
            chosen_date = $.fn.dp_calendar.regional["lang_id"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_id"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
            label_shift='';
        jQuery('#visit-date').val(date_mysql_format);
        switch (date_selected.getDay()) {
            case 5:
                if (shift == 1) {
                    label_shift = '08.30 WIB - 09.00 WIB';
                } else if (shift == 2) {
                    label_shift = '{{ lang('txt_tour09') }}';
                } else if (shift == 3) {
                    label_shift = '13.00 WIB - 13.00 WIB';
                }
                break;
            default:
                if (shift == 1) {
                    label_shift = '08.30 WIB - 09.00 WIB';
                } else if (shift == 2) {
                    label_shift = '10.00 WIB - 11.00 WIB';
                } else if (shift == 3) {
                    label_shift = '13.00 WIB - 13.00 WIB';
                }
        }
        jQuery('#visit-shift').val(shift);
        jQuery('#visit-date-full').val(chosen_date);
        jQuery('#label-visit-date').text(date_display);
        jQuery('#label-visit-shift').text(' | '+label_shift);
        jQuery('#calendar').addClass('hide');
        jQuery('#calendar-mandatory-info').addClass('hide');
        jQuery('#registration-form').removeClass('hide');
        jQuery("body, html").animate({ 
            scrollTop: jQuery('#registration-form').offset().top - 300
        }, 600);
    });

    var events_array = [];
    {% for schedule in factory_schedules %}
        events_array.push({
            startDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
            endDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
            title: "{{ schedule.institution_name }}",
            shift: {{ schedule.shift }}
        });
    {% endfor %}

    jQuery("#calendar").dp_calendar({
        events_array: events_array
    },'{{ current_lang }}');

    {% if (flag) %}
    $('#factoryModal').foundation('open');
    {% endif %}

    jQuery(function($){
        $("#landline").mask("(099)-999-9999?9");
        $("#mobile").mask("(0899)-9999-999?9");
    });

    {% block back_to_top_js %}
    {{ parent() }}
    {% endblock back_to_top_js %}
</script>

{% endblock %}