{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/dp_calendar.css') | raw }}
    {{ asset_css('custom/factory_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left factory-tour">
        <div class="title">
            <h2>EXPLORION tour</h2>
        </div>
        <div class="background">
            <img src="{{ base_url() }}/assets/css/images/banner-explorion.jpg" alt="" title=""/>
        </div>
    </div>
    <div class="expanded row principal">
        <div class="large-6 large-centered">
            <div class="sub-title">
                {{ lang('explorion_sub_title') }}
            </div>
            <div class="detail">
               {{ lang('explorion_detail') }}
            </div>
        </div>
    </div>
    <div class="expanded row explorion">
    {% for explorion in factory_explorion %}
        <div class="explorion-adventure">
            <div class="explorion-item">
                <div class="top-content">
                    <div class="large-8 large-centered">
                        <div class="title">
                            {{ explorion.title | upper }}
                        </div>
                        <div class="sub-title">
                            {{ explorion.headline }}
                        </div>
                    </div>
                </div>
                <div class="middle-content">
                    <div>
                        <img src="{{ base_url() }}media/factorytour/{{ explorion.image }}" alt="" title="{{ explorion.title }}"/>
                    </div>
                    <div class="explorion-button">
                        <a href="#calendar-wrapper" id="source-{{ explorion.id }}" class="button">{{ lang('explorion_reg_tour') }} <span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span></a>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="large-8 large-centered">
                        <div class="large-6 columns">
                            <div class="detail">
                                {{ explorion.content1 }}
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="detail">
                                {{ explorion.content2 }}
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="expanded row calendar" id="calendar-wrapper">
        <div id="visiting-form">
            <div class="large-6 large-centered">
                <div id="form-title">{{ lang('explorion_form') }}</div>
                <div class="menu-centered">
                    <ul class="menu tabs tabs-explore" data-tabs id="explorion-menu">
                        <li class="tabs-title is-active" id="tnc-tab-label"><a href="#calendar-item" aria-selected="true">{{ lang('explorion_reg') }}</a></li>
                        <li class="tabs-title" id="reg-tab-label"><a href="#terms-explorion">{{ lang('explorion_tnc') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tabs-content" data-tabs-content="explorion-menu">
            <div class="tabs-panel" id="terms-explorion">
                <div class="large-6 large-centered calendar-terms">
                    <ol>
                        <li>Factory tour terbuka untuk sekolah, universitas, ataupun institusi lainnya, pengunjung minimum kelas 3 sekolah dasar.</li>
                        <li>Pengunjung sehat, tidak terkena penyakit dan suhu tubuh tidak melebihi 37.50C ketika berkunjung.</li>
                        <li>Proses produksi sewaktu-waktu dapat berhenti maka proses produksi tidak dapat diperlihatkan secara langsung namun hanya diperlihatkan melalui video.</li>
                        <li>Sabtu/Minggu/Hari libur nasional tidak menerima kunjungan.</li>
                        <li>Kapasitas pengunjung min. 20 orang max. 100 orang.</li>
                        <li>Pengunjung berpakaian rapi dan sopan dan tidak menggunakan sandal.</li>
                        <li>Ketersediaan tanggal dan jam kunjungan yang telah Anda ajukan sebelumnya, akan kami konfirmasikan terlebih dahulu. Apabila jam dan tanggal tidak tersedia, Anda bisa mengubah tanggal dan jam tersebut untuk menyesuaikan.</li>
                    </ol>
                    <div class="terms-title">
                        <strong>Pada saat berkunjung, pengunjung di mohon untuk:</strong>
                    </div>
                    <ol>
                        <li>Tidak merokok di dalam lingkungan pabrik.</li>
                        <li>Tidak membuang sampah di sembarangan tempat.</li>
                        <li>Tidak mengambil foto/video di koridor proses produksi.</li>
                        <li>Mengikuti petunjuk pemandu selama kunjungan demi menjamin keselamatan pengunjung.</li>
                        <li>Tidak membawa turun dari bus makanan dan minuman ke dalam lingkungan pabrik.</li>
                    </ol>
                </div>
            </div>
            <div class="tabs-panel is-active" id="calendar-item">
                <div class="large-6 large-centered calendar-wrapper">
                    <ul class="tabs tabs-register" data-tabs id="example-tabs">
                        <li class="tabs-title is-active" id="sukabumi-menu"><a href="#sukabumi" aria-selected="true">Sukabumi</a></li>
                        <li class="tabs-title" id="kejayan-menu"><a href="#kejayan">Kejayan</a></li>
                    </ul>
                    <div class="tabs-content" data-tabs-content="example-tabs">
                        <div class="tabs-panel" id="kejayan">
                            <div id='calendar' class="calendar_kejayan"></div>
                            <form role="form" id="registration-form" enctype="multipart/form-data" action="" name="registration-form2" method="post" class="hide">
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-left middle">{{ lang('txt_form_tour01') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns view-data" data-equalizer-watch="form-sukabumi">
                                        <input type="hidden" name="factory" value="kejayan" />
                                        <input type="hidden" name="visit_date_full" id="visit-date-full" value="" />
                                        <input type="hidden" name="visit_date" id="visit-date" value="" />
                                        <input type="hidden" name="visit_shift" id="visit-shift" value="" />
                                        <label id="label-visit-date" class="middle"></label>
                                        <label id="label-visit-shift"></label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour02') }}</label>
                                    </div>
                                    <div class="large-9 columns view-data" data-equalizer-watch="form-sukabumi">
                                        <label class="middle">Kejayan</label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour03') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="name" name="name" type="text" placeholder="{{ lang('txt_form_tour03') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour04') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="institution" name="institution" type="text" placeholder="{{ lang('txt_form_tour04') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour05') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="visitor" name="visitor" type="number" placeholder="{{ lang('txt_form_tour05_01') }}" min="20" max="100">
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns address-wrapper" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour06') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <textarea id="address" name="address" rows="2" name="alamat" class="large-12 columns" placeholder=""  minlength="20" maxlength="150" required></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour07') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <div class="small-6 columns no-padd" style="padding-left: 0">
                                            <input id="landline" name="landline" type="tel" placeholder="Tel" required>
                                        </div>
                                        <div class="small-6 columns no-padd" style="padding: 0">
                                            <input id="mobile" name="mobile" type="tel" placeholder="Hp" style="float: right" required>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour08') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{ lang('txt_form_tour08') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns address-wrapper" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour09') }}</label>
                                    </div>
                                    <div class="large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <textarea id="message" rows="2" name="message" class="large-12 columns" placeholder="{{ lang('txt_form_tour09') }}" required></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="medium-6 medium-offset-6 small-12 columns captcha-factory">
                                        <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="large-9 columns form-wrap">
                                        <div class="form-button">
                                            <button class="button back-button" onclick="goBack()"><span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span>{{ lang('explorion_schedule2') }} </button>
                                        </div>
                                        <div class="form-button">
                                            <button id="btn-register" onclick=" " class="button">{{ lang('explorion_sbmt_form') }} <span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span></button>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </form>
                        </div>
                        <div class="tabs-panel is-active" id="sukabumi" >
                            <div id='calendar2' class="calendar_sukabumi"></div>
                            <form role="form" id="registration-form2" enctype="multipart/form-data" action="" name="registration-form2" method="post" class="hide">
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-left middle">{{ lang('txt_form_tour01') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns view-data" data-equalizer-watch="form-sukabumi">
                                        <input type="hidden" name="factory" value="sukabumi" />
                                        <input type="hidden" name="visit_date_full" id="visit-date-full-sukabumi" value="" />
                                        <input type="hidden" name="visit_date" id="visit-date-sukabumi" value="" />
                                        <input type="hidden" name="visit_shift" id="visit-shift-sukabumi" value="" />
                                        <label id="label-visit-date-sukabumi" class="middle"></label>
                                        <label id="label-visit-shift-sukabumi"></label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour02') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns view-data" data-equalizer-watch="form-sukabumi">
                                        <label class="middle">Sukabumi</label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour03') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="name-sukabumi" name="name" type="text" placeholder="{{ lang('txt_form_tour03') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour04') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="institution-sukabumi" name="institution" type="text" placeholder="{{ lang('txt_form_tour04') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour05') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="visitor-sukabumi" name="visitor" type="number" placeholder="{{ lang('txt_form_tour05_01') }}" min="20" max="100">
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns address-wrapper" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour06') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <textarea id="address-sukabumi" name="address" rows="2" name="alamat" class="large-12 columns" placeholder=""  minlength="20" maxlength="150" required></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour07') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <div class="small-6 columns no-padd" style="padding-left: 0">
                                            <input id="landline-sukabumi" name="landline" type="tel" placeholder="Tel" required>
                                        </div>
                                        <div class="small-6 columns no-padd" style="padding: 0">
                                            <input id="mobile-sukabumi" name="mobile" type="tel" placeholder="Hp" style="float: right" required>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns" data-equalizer-watch="form-sukabumi">
                                        <label for="middle-label" class="text-right middle">{{ lang('txt_form_tour08') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <input id="email-sukabumi" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{ lang('txt_form_tour08') }}" required>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-3 columns address-wrapper" data-equalizer-watch="form-sukabumi">
                                        <label for="alamat" class="text-right middle">{{ lang('txt_form_tour09') }}</label>
                                    </div>
                                    <div class="small-12 large-9 columns" data-equalizer-watch="form-sukabumi">
                                        <textarea id="message-sukabumi" rows="2" name="message" class="large-12 columns" placeholder="{{ lang('txt_form_tour09') }}" required></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="row">
                                    <div class="medium-6 medium-offset-6 small-12 columns captcha-factory">
                                        <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-3 columns">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="large-9 columns form-wrap">
                                        <div class="form-button">
                                            <button class="button back-button" onclick="goBack2()"><span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span>{{ lang('explorion_schedule2') }} </button>
                                        </div>
                                        <div class="form-button">
                                            <button id="btn-register-sukabumi" onclick=" " class="button">{{ lang('explorion_sbmt_form') }} <span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span></button>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row gallery">
        <div class="large-4 columns">
            <div class="explain">
                <div class="large-9 large-offset-3 columns">
                    <div class="sub-title">
                        {{ lang('galeri_title') }}
                    </div>
                    <div class="explaination">
                        {{ lang('galeri_detail') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="large-7 columns">
            <div class="explorion-gallery" data-equalizer="gallery">
                {% set n = 1 %}
                {% for i in 1..7 %}
                    {% if i is odd %}
                        <div class="small-6 medium-3 columns no-padding odd-item" data-equalizer-watch="gallery">
                            <a href="{{ base_url() }}{{ current_lang }}/gallery-detail">
                                <div class="gallery-item" style="background: url('{{ base_url() }}media/gallery/{{ latest_album[i].filename }}') center no-repeat; background-size: 150%;">
                                        {#<img src="{{ base_url() }}media/gallery/{{ latest_album[i].filename }}" alt="" title=""/>#}
                                </div>
                            </a>
                        </div>
                    {% else %}
                        {% set n = n + 1 %}
                        <div class="small-6 medium-3 columns no-padding" data-equalizer-watch="gallery">
                            <div class="gallery-item">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <a href="#">
                                    <img src="{{ pic_obj[i-n]['images']['standard_resolution']['url']}}" alt="{{ pic_obj[i-n]['caption']['text'] }}"/>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class=" small-6 medium-3 columns no-padding">
                    <div class="gallery-item">
                        <a href="{{ base_url() }}{{ current_lang }}/gallery-detail">
                            <img src="{{ base_url() }}/assets/css/images/full-gallery-{{ current_lang }}.jpg" alt="" title=""/>
                        </a>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>

{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    {{ asset_js('css3-animate-it.js') }}
    {{ asset_js('jquery-ui-1.12.0.js') | raw }}
    {{ asset_js('date.js') | raw }}
    <script>
        $jadwal = "<div class='calendar_title'>{{ lang('explorion_schedule') }}</div>";
        $note = "<div class='medium-12 small-12 columns' style='text-align: left; font-size: 12px; color: #8191ae;'><p>{{ lang('explorion_note') }} :</p></div>";
    </script>
    {{ asset_js('jquery.dp_calendar_new.js') | raw }}
    <script>
        function goBack() {
            $("#registration-form").addClass("hide");
            $("#calendar").removeClass("hide");
            $(".tabs-register").removeClass("hide");
            $(".tabs-explore").removeClass("hide");
            $("body, html").animate({
                scrollTop: jQuery('#registration-form').offset().top - 300
            });
        }

        function goBack2() {
            $("#registration-form2").addClass("hide");
            $("#calendar2").removeClass("hide");
            $(".tabs-register").removeClass("hide");
            $(".tabs-explore").removeClass("hide");
            $("body, html").animate({
                scrollTop: jQuery('#registration-form2').offset().top - 300
            });
        }

        $('#source-2').click(function(){
            $("#kejayan").addClass("is-active");
            $("#sukabumi").removeClass("is-active");
            $("#kejayan-menu").addClass("is-active");
            $("#sukabumi-menu").removeClass("is-active");
            $("#sukabumi-label").attr("aria-selected",false);
            $("#kejayan-label").attr("aria-selected",true);
            $("body, html").animate({
                scrollTop: jQuery('#kejayan').offset().top - 300
            });
        });

        $('#source-1').click(function(){
            $("#kejayan").removeClass("is-active");
            $("#sukabumi").addClass("is-active");
            $("#kejayan-menu").removeClass("is-active");
            $("#sukabumi-menu").addClass("is-active");
            $("#kejayan-label").attr("aria-selected",false);
            $("#sukabumi-label").attr("aria-selected",true);
            $("body, html").animate({
                scrollTop: jQuery('#sukabumi').offset().top - 300
            });
        });

        $( window ).load(function() {
            jQuery('#calendar').on('click', 'li.slot', function(){
                var shift = jQuery(this).data('shift'),
                        date_selected = $.fn.dp_calendar.date_selected,
                        date_mysql_format = date_selected.getFullYear()+'-'+(date_selected.getMonth()*1+1)+'-'+date_selected.getDate(),
                        date_display = $.fn.dp_calendar.regional["lang_{{ current_lang }}"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_{{ current_lang }}"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
                        chosen_date = $.fn.dp_calendar.regional["lang_id"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_id"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
                        label_shift='';
                jQuery('#visit-date').val(date_mysql_format);
                switch (date_selected.getDay()) {
                    case 5:
                        if (shift == 1) {
                            label_shift = '09.00 WIB - 11.00 WIB';
                        } else if (shift == 2) {
                            label_shift = '{{ lang('txt_tour09') }}';
                        } else if (shift == 3) {
                            label_shift = '13.00 WIB - 15.00 WIB';
                        }
                        break;
                    default:
                        if (shift == 1) {
                            label_shift = '09.00 WIB - 11.00 WIB';
                        } else if (shift == 2) {
                            label_shift = '11.00 WIB - 13.00 WIB';
                        } else if (shift == 3) {
                            label_shift = '13.00 WIB - 15.00 WIB';
                        }
                }
                jQuery('#visit-shift').val(shift);
                jQuery('#visit-date-full').val(chosen_date);
                jQuery('#label-visit-date').text(date_display);
                jQuery('#label-visit-shift').html(' <span>|</span> '+label_shift);
                jQuery('#calendar').addClass('hide');
                jQuery('#calendar-mandatory-info').addClass('hide');
                $(".tabs-register").addClass("hide");
                $(".tabs-explore").addClass("hide");
                jQuery('#registration-form').removeClass('hide');
                jQuery("body, html").animate({
                    scrollTop: jQuery('#registration-form').offset().top - 300
                }, 600);
            });

            var events_array = [];
            {% for schedule in factory_schedules %}
            events_array.push({
                startDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
                endDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
                title: "{{ schedule.institution_name }}",
                shift: {{ schedule.shift }}
            });
            {% endfor %}

            jQuery("#calendar").dp_calendar({
                events_array: events_array
            },'{{ current_lang }}');

            jQuery('#calendar2').on('click', 'li.slot', function(){
                var shift = jQuery(this).data('shift'),
                        date_selected = $.fn.dp_calendar.date_selected,
                        date_mysql_format = date_selected.getFullYear()+'-'+(date_selected.getMonth()*1+1)+'-'+date_selected.getDate(),
                        date_display = $.fn.dp_calendar.regional["lang_{{ current_lang }}"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_{{ current_lang }}"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
                        chosen_date = $.fn.dp_calendar.regional["lang_id"].dayNames[date_selected.getDay()]+', '+date_selected.getDate()+' '+$.fn.dp_calendar.regional["lang_id"].monthNames[date_selected.getMonth()]+' '+date_selected.getFullYear(),
                        label_shift='';
                jQuery('#visit-date-sukabumi').val(date_mysql_format);
                switch (date_selected.getDay()) {
                    case 5:
                        if (shift == 1) {
                            label_shift = '08.30 WIB - 09.00 WIB';
                        } else if (shift == 2) {
                            label_shift = '{{ lang('txt_tour09') }}';
                        } else if (shift == 3) {
                            label_shift = '13.00 WIB - 14.00 WIB';
                        }
                        break;
                    default:
                        if (shift == 1) {
                            label_shift = '08.30 WIB - 09.00 WIB';
                        } else if (shift == 2) {
                            label_shift = '10.00 WIB - 11.00 WIB';
                        } else if (shift == 3) {
                            label_shift = '13.00 WIB - 14.00 WIB';
                        }
                }
                jQuery('#visit-shift-sukabumi').val(shift);
                jQuery('#visit-date-full-sukabumi').val(chosen_date);
                jQuery('#label-visit-date-sukabumi').text(date_display);
                jQuery('#label-visit-shift-sukabumi').html(' <span>|</span> '+label_shift);
                jQuery('#calendar2').addClass('hide');
                jQuery('#calendar-mandatory-info').addClass('hide');
                $(".tabs-register").addClass("hide");
                $(".tabs-explore").addClass("hide");
                jQuery('#registration-form2').removeClass('hide');
                jQuery("body, html").animate({
                    scrollTop: jQuery('#registration-form2').offset().top - 300
                }, 600);
            });

            var events_array_sukabumi = [];
            {% for schedule in explore_schedules %}
            events_array_sukabumi.push({
                startDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
                endDate: new Date({{ schedule.visit_date | date('Y') }}, {{ schedule.visit_date | date('m')-1 }}, {{ schedule.visit_date | date('d') }}),
                title: "{{ schedule.institution_name }}",
                shift: {{ schedule.shift }}
            });
            {% endfor %}


            jQuery("#calendar2").dp_calendar({
                events_array: events_array_sukabumi
            },'{{ current_lang }}');


            if($(window).width()>1023){
                var test = jQuery('.calendar_sukabumi').height();
                jQuery('.dp_calendar .large-3').css('height',test);
            }

        });
        
        jQuery(function($){
            $("#landline").mask("(099)-999-9999?9");
            $("#mobile").mask("(0899)-9999-999?9");
            $("#landline-sukabumi").mask("(099)-999-9999?9");
            $("#mobile-sukabumi").mask("(0899)-9999-999?9");
        });
    </script>

{% endblock %}
