{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/factory.css') | raw }}
{% endblock %}
 {% block frontend_head_js %}
     {{ parent() }}
 {% endblock %}
{% block frontend_content %}
    <div class="factory">
        <div class="banner animatedParent animateOnce">
            <img src="{{ base_url() }}/assets/img/factory-tour/factory-banner.jpg"/>
            <div class="banner-desc animated fadeInUpShort">
                <p>FACTORY<br/>TOUR</p>
                <hr/>
            </div>
        </div>
        <div class="row factory-detail" data-equalizer="factory-detail">
            <div class="medium-4 columns" data-equalizer-watch="factory-detail">
                <div class="medium-10 end columns">
                {% for sideimage in factory_sideimages %}
                    <div class="medium-12 small-4 columns factory-gallery"><img src="{{ base_url() }}media/factorytour/{{ sideimage.filename }}"> </div>
                {% endfor %}
                </div>
            </div>
            <div class="medium-8 columns" style="padding-right: 1.875rem;">
                <div class="desc" data-equalizer-watch="factory-detail">
                {% for data in factory_data %}
                    <p>{{ data.title }}</p>
                    <p>{{ data.content }}</p>
                    <div class="youtube">
                        {% for link in factory_data %}
                            {% if link.link == '' %}
                                <img src="{{ base_url() }}/media/press-room/grand-launching-explorion.jpg"/>
                            {% else %}
                                <iframe width="770" height="433" src="{{ data.link }}" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row explorion custom-padd animatedParent animateOnce" data-sequence="500">
        {% for detail in explorion %} 
            <div class="medium-6 columns animated fadeInUp" data-id="1">
                <img src="{{ base_url() }}media/explorion/{{ detail.image }}">
            </div>
            <div class="medium-6 columns animated fadeInUp" data-id="2">

                <div class="title">
                    <p>EXPLORION<br/>
                    <span>{{ detail.title }}</span></p>
                </div>
                <div style="border-bottom: 1px solid #657079; margin-bottom: 20px"></div>
                <div class="desc">
                    <p>{{ detail.content }}</p>
                </div>
                <a href="{{ detail.link }}" class="button" target="_blank">{{ lang('txt_tour04') }}</a>
            
            </div>
        {% endfor %}
        </div>
        <div class="row visiting-form custom-padd">
            <div  class="title">
                <hr/>
                <p>VISITING</p>
                <p>FORM</p>
            </div>
            <div class="visiting-detail">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title"><a href="#panel1" aria-selected="true">{{ lang('txt_tour01') }}</a></li>
                    <li class="tabs-title  is-active"><a href="#panel2">{{ lang('txt_tour02') }}</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel" id="panel1">
                        <ol>
                            <li>{{ lang('txt_tourtnc01') }}</li>
                            <li>{{ lang('txt_tourtnc02') }}</li>
                            <li>{{ lang('txt_tourtnc03') }}</li>
                            <li>{{ lang('txt_tourtnc04') }}</li>
                            <li>{{ lang('txt_tourtnc05') }}</li>
                            <li>{{ lang('txt_tourtnc06') }}</li>
                            <li>{{ lang('txt_tourtnc07') }}</li>
                        </ol>
                        <p style="color: #ffffff;background: #01b2e5;display: inline-block;padding: 10px 20px 10px 60px;margin-left: -27px">Pada saat berkunjung, pengunjung di mohon untuk:</p>
                        <ol>
                            <li>{{ lang('txt_tourtnc08') }}</li>
                            <li>{{ lang('txt_tourtnc09') }}</li>
                            <li>{{ lang('txt_tourtnc10') }}</li>
                            <li>{{ lang('txt_tourtnc11') }}</li>
                            <li>{{ lang('txt_tourtnc12') }}</li>
                        </ol>
                    </div>
                    <div class="tabs-panel  is-active" id="panel2">
                        <div class="row">
                            <div class="medium-8 small-12 columns">
                                <form role="form" id="registration-form" enctype="multipart/form-data" action="" name="registration-form" method="post">
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Kunjungan ke</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input type="radio" class="factory-place" data-id="sukabumi" name="factory" value="Sukabumi" id="pabrik-sukabumi"><label for="kunjungan-pabrik-sukabumi">{{ lang('txt_tour06') }}</label>
                                            <input type="radio" class="factory-place" data-id="kejayaan" name="factory" value="Kejayan" id="pabrik-kejayaan"><label for="kunjungan-pabrik-kejayaan">{{ lang('txt_tour05') }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Nama Lengkap</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input id="name" name="name" type="text" placeholder="Nama Lengkap" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Nama Institusi</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input id="institution" name="institution" type="text" placeholder="Nama Institusi" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Jumlah Peserta</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input id="visitor" name="visitor" type="number" placeholder="Jumlah peserta 20-100" min="20" max="100">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">Alamat</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <textarea id="address" name="address" rows="2" name="alamat" class="large-12 columns" placeholder=""  minlength="20" maxlength="150" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">No Telephone & Hp</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <div class="small-6 columns no-padd">
                                                <input id="landline" name="landline" type="tel" placeholder="Tel" required>
                                            </div>
                                            <div class="small-6 columns no-padd">
                                                <input id="mobile" name="mobile" type="tel" placeholder="Hp" style="float: right" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="middle-label" class="text-right middle">Email</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <input id="email" name="email" type="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="alamat" class="text-right middle">Pesan & Keterangan</label>
                                        </div>
                                        <div class="small-1 columns">:</div>
                                        <div class="small-8 columns">
                                            <textarea id="message" rows="2" name="message" class="large-12 columns" placeholder="Pesan & Keterangan" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="medium-6 medium-offset-6 small-12 columns captcha-factory">
                                            <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                        </div>
                                    </div>
                                    <button id="btn-register" onclick="">SEND</button>
                                </form>
                            </div>
                            <div class="medium-4 columns">
                                <div id="sukabumi" class="map">
                                    <p>{{ lang('txt_tour06') }}</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.0277160903825!2d106.78864881436583!3d-6.766474868048572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ccfa13a625f7%3A0x1ee561a0b6d96208!2sAmerta+Indah+Otsuka!5e0!3m2!1sen!2sid!4v1457007187123" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div id="kejayaan" class="map">
                                    <p>{{ lang('txt_tour05') }}</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.834484992937!2d112.84214261437559!3d-7.700904578404511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7cfb1eb92f31d%3A0xe519b17f6dd13a46!2sPT+Amerta+Indah+Otsuka(+Pocari+Sweat!5e0!3m2!1sen!2sid!4v1457006929076" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for error in err_msg %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
        <div class="gallery-visit">
            <div class="row custom-padd">
                <div class="medium-3 small-3 columns no-padd">
                    <div class="title">
                        <p>GALLERY</p>
                        <p>FACTORY<br/>TOUR</p>
                        <hr/>
                    </div>
                    <div class="see-gallery">
                        <a class="button" href="{{ base_url() }}{{ current_lang }}/gallery-detail">CLICK HERE<br/>TO SEE ALL GALLERY</a>
                    </div>
                </div>
                <div class="medium-9 small-9 columns">
                    <a href="{{ base_url() }}{{ current_lang }}/gallery-detail"><img src="{{ base_url() }}/assets/img/factory-tour/gallery/gallery.jpg"></a>
                </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
        {% if (flag) %}
            <div id="factoryModal" class="reveal" data-reveal>
                <button class="close-reveal-modal" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Terima kasih, data anda akan kami proses. Untuk jadwal kunjungan, akan kami informasikan lebih lanjut</p>
            </div>
        {% endif %}

                    
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    {{ asset_js('css3-animate-it.js') }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">

        {% if (flag) %}
        $('#factoryModal').foundation('open');
        {% endif %}
            
        jQuery(function($){
            $("#landline").mask("(099)-999-9999?9");
            $("#mobile").mask("(0899)-9999-999?9");
        });

    $('.factory-place').change(function (event) {
        var id = $(this).data('id');
        $('#' + id).removeClass('map').siblings().addClass('map');
    });

        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
    
{% endblock %}