{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/jquery.bxslider.css') | raw }}
    {{ asset_css('custom/gallery.css') | raw }}
{% endblock %}
{% block frontend_meta_twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Gallery Factory Tour Life At Otsuka" />
    <meta name="twitter:description" content="Bergabunglah dengan Otsuka dan bawa perubahan yang lebih baik untuk kesehatan di seluruh dunia." />
    <meta name="twitter:url" content="http://athena.microad.co.id/aio.co.id/id/gallery-detail" />
    <meta name="twitter:image" content="{{ base_url() }}/assets/img/gallery/banner-gallery.jpg" />
{% endblock %}

    {% block frontend_meta_facebook %}
        <meta property="og:url"           content="http://athena.microad.co.id/aio.co.id/id/gallery-detail" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Gallery Factory Tour Life At Otsuka" />
        <meta property="og:description"   content="Bergabunglah dengan Otsuka dan bawa perubahan yang lebih baik untuk kesehatan di seluruh dunia." />
        <meta property="og:image"         content="{{ base_url() }}/assets/img/gallery/banner-gallery.jpg" />
    {% endblock %}
{% block frontend_content %}
    <div class="columns gallery-detail">
        <div class="columns banner">
            {% for banner in banners %}
            <div class="medium-7 small-10 columns banner-text animatedParent">
                <div class="medium-9 medium-offset-3 small-12 columns animated fadeInLeft">
                    <div class="columns banner-title">
                        <p>{{ banner.title }}</p>
                        <div style="width: 80%;border-bottom: 2px solid #bdbdbd"></div>
                        <p class="lead-title">Mereka yang telah mengunjungi kami</p>
                    </div>
                </div>
            </div>
            <div class="medium-5 small-12 columns banner-img">
                <img src="{{ base_url() }}/media/gallery/{{ banner.banner }}">
            </div>
            {% endfor %}
        </div>
        <!-- //Testimonial
        <div class="columns testimonial">
            <div class="row animatedParent">
                <p class="title animated fadeInLeft">Testimonial</p>
                <div style="width: 100px;border-bottom: 5px solid #000;margin-bottom: 30px"></div>

                <div class="columns gallery-testimonial-slide">
                    {% for testimony in testimonies %}
                    <div class="columns slide">
                        <div class="columns gallery-content">
                            <div class="medium-3 small-12 columns gallery-pic">
                                <img src="{{ base_url() }}/media/gallery/{{ testimony.image }}">
                            </div>
                            <div class="medium-9 small-12 columns gallery-desc">
                                <div class="title">
                                    <p>{{ testimony.name }}</p>
                                </div>
                                <div class="from">
                                    <p>{{ testimony.institution }}</p>
                                </div>
                                <div class="comment">
                                    {{ testimony.testimony }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="text-align: center">
                    <img style="width: 100%" src="{{ base_url() }}/assets/img/gallery/devider.jpg">
                </div>
            </div>
        </div>
        -->
        <div class="columns testimonial gallery-group">
            <div class="row animatedParent">
                <p class="title animated fadeInUp">Gallery</p>
                <div style="width: 100px;border-bottom: 5px solid #000;margin-bottom: 30px"></div>

                <div class="columns gallery-from-slide">
                    {% for album in albums %}
                    <div class="columns slide">
                        <div class="columns gallery-content">
                            {% for image in images %}
                                {% if album.id == image.id_album %}
                                <input type="hidden" id="id_album" name="id_album" value="{{ image.id_album }}">
                                <img src="{{ base_url() }}/media/gallery/{{ image.filename }}" class="list-album" data-photo-id="{{ image.id_album }}">
                                {% endif %}
                            {% endfor %}
                            <div class="title">
                                <p>{{ album.name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="columns gallery-view">
            <div class="row" data-equalizer="gallery-view-title">
            {% set id_album = "" %}
            {% for album in albums %}
                {% if loop.first %}
                    {% set id_album = album.id %}
                <div class="medium-6 small-12 columns animatedParent" data-equalizer-watch="gallery-view-title">
                    <div style="width: 110px; border-bottom: 1px solid #000;margin-top: 20px"></div>
                    <div class="title animated fadeInUp">
                        <p>{{ album.name }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
                <div class="medium-6 small-12 columns" style="position: relative" data-equalizer-watch="gallery-view-title">
                    <div class="columns" style="position: absolute;bottom: 40px;">
                        <div class="medium-2 small-6 columns facebook-share">
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-share-button" data-href="http://athena.microad.co.id/aio.co.id/id/gallery-detail" data-layout="button_count"></div>
                        </div>
                        <div class="medium-2 small-6 end columns twitter-share">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://athena.microad.co.id/aio.co.id/id/gallery-detail">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns gallery-view-detail">
            <div class="row">
                <div class="medium-8 small-12 columns display-gallery">
                    <ul class="columns gallery-from-detail">
                    {% for image in image_list %}
                        {% if image.id_album == id_album %}
                        <li class="columns"><img src="{{ base_url() }}media/gallery/{{ image.filename }}" id="large-image"/></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="medium-4 small-12 end columns">
                    <div class="columns thumb-banner" id="bx-pager">
                    {% for key, image in image_list %}
                        {% if image.id_album == id_album %}
                        <a data-slide-index="{{ image.seq-1 }}" class="thumb-slide" id="img-thumb"><img class="medium-6 small-3 columns" src="{{ base_url() }}media/gallery/thumbnail/{{ image.filename }}" id="thumb-image" data-photo-thumb="{{ image.filename }}"/></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns gallery-comment">
            <div class="row">
                <div class="columns">
                    <div class="columns detail animatedParent"  data-sequence='500'>
                        <div class="columns animated fadeInUp" data-id='1'>
                            <div style="width: 155px;border-bottom: 1px solid #000000;margin-top: 60px;margin-bottom: 30px"></div>
                            <p class="title" style="margin-bottom: 30px">COMMENTS</p>
                        </div>
                        <div class="columns">
                            <div class="medium-5 small-12 columns s-no-padd textarea">
                                <form role="form" id="comment-form" enctype="multipart/form-data" action="" name="comment-form" method="post" >
                                    <div class="row">
                                        <div class="medium-10 small-12 s-no-padd columns">
                                            <input id="name" name="name" type="text" placeholder="Nama Lengkap" required>
                                            <textarea id="message" name="message" rows="8" placeholder="Message" required></textarea>
                                            {#<div class="g-recaptcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>#}
                                            <div class="row">
                                                <div class="medium-12 small-12 columns captcha">
                                                    <div class="g-recaptcha position-captcha" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                                </div>
                                            </div>
                                            <button style="color: #2f92d9;font-size: 12px;font-weight: bold;float: right;padding: 10px 0px 10px 10px">SEND</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="medium-7 columns">
                                {% for comment in comments %}
                                <div class="columns comment-each animated fadeInUp" data-id='2'>
                                    <div class="medium-12 columns comment-name">
                                        <p>{{ comment.name }} <span>| {{ comment.created_at|date('d F, Y H:i') }}</span></p>
                                        <div class="comment-detail">
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') | raw }}
    {{ asset_js('jquery.bxslider.min.js') | raw }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.gallery-testimonial-slide').bxSlider({
                slideWidth: 400,
                minSlides: 1,
                maxSlides: 3,
                moveSlides: 1,
                slideMargin: 0,
                pager: false,
                infiniteLoop: false,
                hideControlOnEnd: true
            });
            $('.gallery-from-slide').bxSlider({
                slideWidth: 400,
                minSlides: 1,
                maxSlides: 3,
                moveSlides: 1,
                slideMargin: 10,
                pager: false,
                infiniteLoop: false,
                hideControlOnEnd: true
            });
            $('.gallery-from-detail').bxSlider({
                pagerCustom: '#bx-pager'
            });
            
            $( ".list-album" ).click(function() {
                var currid = $(this).data('photo-id');
                var result_thumb = "";
                var result = "";
                    $.ajax({
                        type: "GET",
                        url: "{{ base_url()~current_lang }}/change-image?id="+currid, // get-city?id="+str,
                        data: currid
                        }).done(function( res ) {
                            data_photo = $.parseJSON(res);
                            $.each(data_photo,function(i,item){
                               result_thumb += "<a data-slide-index='"+i+"' id='img-thumb' class='thumb-slide' data-photo-thumb='"+ item.name +"'><img class='medium-6 small-3 columns' src='{{ base_url() }}media/gallery/thumbnail/"+ item.name+"' id='thumb-image'/></a>";
                            });
                            $(".thumb-banner").html(result_thumb);
                            $( "li.columns" ).empty();
                            $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+data_photo[0].name+"'/>");
                            
                            var idn = $(".thumb-slide").data('slide-index');
                            var nData = data_photo.length;
                            $( ".thumb-slide" ).click(function() {
                               var currimg = $(this).data('photo-thumb');
                               $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+currimg+"'/>");
                               idn = $(this).data('slide-index');
                            });
                                                          
                            $( ".bx-next" ).click(function() {
                                if(idn < nData-1){
                                    $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+data_photo[idn+1].name+"'/>");
                                    idn = idn + 1;
                                }else{
                                    $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+data_photo[0].name+"'/>");
                                    idn = 0;
                                }
                            });
                           
                            $( ".bx-prev" ).click(function() {
                                if(idn > 0){
                                    $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+data_photo[idn-1].name+"'/>");
                                    idn = idn - 1;
                                }else{
                                    $( "li.columns" ).html("<img src='{{ base_url() }}media/gallery/"+data_photo[nData-1].name+"'/>");
                                    idn = nData - 1;
                                }
                            });
                           
                        });
                    });
            
        });
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
