{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/career_new.css') | raw }}
{% endblock %}
{% block frontend_meta_facebook %}
<meta property="og:url"                content="http://aio.co.id/id/home" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Karir di Otsuka" />
<meta property="og:description"        content="Lowongan Kerja di Otsuka" />
<meta property="og:image"              content="" />
{% endblock %}
{% block frontend_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=387528301585839";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="expanded row custom-left career">
        <div class="row banner">
            <div class="medium-7 columns end nopadd">
                <img src="{{ base_url() }}/assets/css/images/career_banner.jpg"/>
            </div>
            <div class="medium-5 medium-offset-7 columns nopadd banner-desc">
                <div class="medium-10 columns end">{{ lang('career_title') }}</div>
            </div>
            <div class="medium-12 columns title">
                <h2>{{ lang('career_join') }}</h2>
            </div>
        </div>
        <div class="medium-8 medium-offset-2 end columns nopadd custom-content form-section">
            <div class="row">
                <div class="medium-12 columns small-nopadd">
                    <div class="columns title-section">
                        {{ lang('career_desc') }}
                    </div>
                </div>
                <div class="daftar-lowongan">
                    <div class="row collapse lowongan-detail" data-equalizer="lowongan" data-equalize-on="medium">
                        <div class="medium-3 columns tabs-header">
                            <ul class="tabs vertical" id="example-vert-tabs" data-tabs data-equalizer-watch="lowongan">
                                <div class="daftar-title">{{ lang('career_list') }}</div>
                            {% for career in career_detail %}
                                <li class="tabs-title {{ loop.first ? 'is-active' : '' }}"><a href="#panel{{ career.id }}v" aria-selected="true">{{ career.name }}</a></li>
                            {% endfor %}
                                <div class="medium-12 columns sosmed-wrapper">
                                    <ul class="sosmed">
                                        <li>{{ lang('career_share') }} :</li>
                                        <li><div class="share-button-fb btn btn-success clearfix" data-href="{{ base_url() }}"><span class="share-facebook"><img src="{{ base_url() }}/assets/css/images/fb_icon.png"/></span></div></li>
                                        <li><div><span class="share-linkedin"><a className="fa fa-linkedin share-base share-linked-in spacing-left-5" onclick="window.open('https://www.linkedin.com/cws/share?url={{ base_url()~current_lang }}/career-new')"><img src="{{ base_url() }}/assets/css/images/in_icon.png"/></a></span></div></li>
                                        
                                    </ul>
                                </span>
                                </div>
                            </ul>
                        </div>
                        <div class="medium-9 columns tabs-desc" data-equalizer-watch="lowongan">
                            <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                            {% for detail in career_detail %}
                                <div class="tabs-panel {{ loop.first ? 'is-active' : '' }}" id="panel{{ detail.id }}v">
                                    <div class="career-title">
                                        <div class="medium-4 large-6 columns">
                                            <p>{{ detail.name }}</p>
                                            <p>{{ lang('career_location') }} : {{ detail.location }}</p>
                                        </div>
                                        <div class="medium-8 large-6 columns">
                                            <p>{{ lang('career_time') }} : {{ detail.date | date('jS F Y') }}</p>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="medium-12 columns career-req">
                                        <span>Requirements : </span>
                                        {#<ul>
                                            <li>Bachelor's Degree, Education MIPA (Chemistryl, Biology, Physics) or equivalent</li>
                                            <li>Age max. 26 years old</li>
                                            <li>Required language: English (Active)</li>
                                            <li>Minimum height 163cm with propotional weigh</li>
                                            <li>Willing to works at Cicurug Sukabumi</li>
                                        </ul>#}
                                        {{ detail.req }}
                                       
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            {% endfor %}
                                <div class="career-button">
                                    <a href="#applying-form" class="button">{{ lang('career_proceed') }} <img src="{{ base_url() }}/assets/css/images/fill-form.png"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row formulir">
        <div class="medium-8 medium-offset-2 end columns nopadd custom-content form-section">
            <div class="row">
                <div class="daftar-lowongan">
                    <div class="row collapse" data-equalizer="formulir" data-equalize-on="medium">
                        <div class="medium-3 columns formulir-title" data-equalizer-watch="formulir">
                            <div class="daftar-title">{{ lang('career_form') }}</div>
                            <img src="{{ base_url() }}/assets/css/images/ornamen-form.png"/>
                        </div>
                        <div class="medium-9 columns form-desc" data-equalizer-watch="formulir">
                            <form role="form" id="applying-form" enctype="multipart/form-data" action="" name="applying-form" method="POST" class="large-12 columns">
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                                </div>
                                <div class="medium-12 columns">
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_position') }}
                                            </div>
                                            <div class="medium-10 columns">
                                                <select name="application_position" id="posisi" required>
                                                {% for career in career_detail %}
                                                    <option value="{{ career.name }}">{{ career.name }}</option>
                                                {% endfor %}
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </select>
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_fullname') }}
                                            </div>
                                            <div class="medium-10 columns">
                                                <input name="application_name" type="text" placeholder="{{ lang('career_name') }}" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_pob') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <input name="application_place" type="text" placeholder="{{ lang('career_pob2') }}" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_dob') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <input id="date" name="application_date" type="text" placeholder="dd/mm/yyyy" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_gender') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <select name="application_sex" required>
                                                    <option value="laki-laki">{{ lang('career_gd_male') }} </option>
                                                    <option value="perempuan">{{ lang('career_gd_female') }}</option>
                                                </select>
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                Status 
                                            </div>
                                            <div class="medium-10 columns">
                                                <select name="application_status" required>
                                                    <option value="belum-menikah">{{ lang('career_st_single') }}</option>
                                                    <option value="menikah">{{ lang('career_st_married') }}</option>
                                                    <option value="cerai">{{ lang('career_st_widower') }}</option>
                                                </select>
                                                <span class="form-error">
                                                  it's required.
                                                </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_address') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <textarea name="application_address" aria-describedby="exampleHelpText" required></textarea>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_city') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <input name="application_city" type="text" placeholder="kota" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_country') }} 
                                            </div>
                                            <div class="medium-10 columns">
                                                <select name="application_country" required>
                                                    <option value="Indonesia">Indonesia</option>
                                                </select>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                {{ lang('career_hp') }}
                                            </div>
                                            <div class="medium-10 columns">
                                                <input name="application_mobile" type="tel" id="mobile" placeholder="(08XX)-XXXX-XXXX" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-2 columns">
                                                Email 
                                            </div>
                                            <div class="medium-10 columns">
                                                <input name="application_email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="yourname@yourdomain.com" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <div class="medium-10 medium-offset-2 no-padding columns upload-file" style="position: relative">
                                            <div class="large-6 columns no-padding">
                                                {#<input type="file" name="cv_file" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" accept="application/pdf, application/msword"/>#}
                                                <input class="inputfile inputfile-6" id="file-7" type="file" class="upload" name="cv_file" accept="application/pdf, application/msword" data-max-size="2097152" required/>
                                                <label for="file-7"><span id="filedrag">{{ lang('career_upload') }} </span> <strong><img src="{{ base_url() }}/assets/css/images/icon-upload.png"/> </strong></label>
                                                <br/><span>{{ lang('career_file') }}: .doc, .docx, .pdf (max 2MB)</span>
                                                {% if status == 'yes' %}
                                                <div>{{ error_message }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="large-6 columns captcha">
                                                <div class="g-recaptcha position-captcha" data-callback="recaptchaCallback" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                                <input type="hidden" name="recaptcha" data-rule-recaptcha="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="medium-6 columns">

                                </div>
                                <div class="career-button">
                                    <button id="submitBtn" onclick="send();" class="button" type="submit" disabled value="Submit">
                                        {{ lang('txt_kirim') }} <span><img src="{{ base_url() }}/assets/css/images/read-more.png"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if (flag == true) %}
    <div class="reveal" id="exampleModal1" data-reveal>
        <p>Your application has been submitted. Thanks!</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {#<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url="{{ base_url()~current_lang }}/career-new"></script>#}
    <script>
        {#console.log('{{ base_url()~current_lang }}/career-new');#}
        function recaptchaCallback() {
            $('#submitBtn').removeAttr('disabled');
        };

        $(".tabs-title a").click(function () {
            //this is change select value 1
            $('#posisi').val($(this).text()).trigger('change');
        });

//        var placeholder = 'File Upload Here.';
//        $('.fake-file input').attr('value', placeholder);
//
//        $('.fake-file input').focus(function(){
//            if($(this).val() === placeholder){
//                $(this).attr('value', '');
//            }
//        });
//
//        $('.fake-file input').blur(function(){
//            if($(this).val() ===''){
//                $(this).attr('value', placeholder);
//            }
//        });

        (function() {

            // getElementById
            function $id(id) {
                return document.getElementById(id);
            }


            // output information
            function Output(msg) {
                $('#filedrag').html('');
                var m = $id("filedrag");
                m.innerHTML = msg + m.innerHTML;
            }


            // file drag hover
            function FileDragHover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.target.className = (e.type == "dragover" ? "hover" : "");
            }


            // file selection
            function FileSelectHandler(e) {

                // cancel event and hover styling
                FileDragHover(e);

                // fetch FileList object
                var files = e.target.files || e.dataTransfer.files;

                // process all File objects
                for (var i = 0, f; f = files[i]; i++) {
                    ParseFile(f);
                }

            }
            // output file information
            function ParseFile(file) {

                Output(
                        file.name
                );

            }


            // initialize
            function Init() {

                var fileselect = $id("fileselect"),
                        filedrag = $id("filedrag");
//                        submitbutton = $id("submitbutton");

                // file select
//                fileselect.addEventListener("change", FileSelectHandler, false);

                // is XHR2 available?
                var xhr = new XMLHttpRequest();
                if (xhr.upload) {

                    // file drop
                    filedrag.addEventListener("dragover", FileDragHover, false);
                    filedrag.addEventListener("dragleave", FileDragHover, false);
                    filedrag.addEventListener("drop", FileSelectHandler, false);
//                    filedrag.style.display = "block";

                    // remove submit button
//                    submitbutton.style.display = "none";
                }

            }

            // call initialization file
            if (window.File && window.FileList && window.FileReader) {
                Init();
            }


        })();

        ( function ( document, window, index )
        {
            var inputs = document.querySelectorAll( '.inputfile' );
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label	 = input.nextElementSibling,
                        labelVal = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {
                    var fileName = '';
                    if( this.files && this.files.length > 1 )
                        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                    else
                        fileName = e.target.value.split( '\\' ).pop();

                    if( fileName )
                        label.querySelector( 'span' ).innerHTML = fileName;
                    else
                        label.innerHTML = labelVal;
                });

                // Firefox bug fix
                input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
                input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
            });
        }( document, window, 0 ));
        $('#exampleModal1').foundation('open');

        //facebook
        $('.share-button-fb').click(function(e){
            e.preventDefault();
            FB.ui(
                    {
                        method: 'feed',
                        link: $(this).data('href')
                    });
        });
        jQuery(function($){
            $("#date").mask("99/99/9999", {placeholder: "dd/mm/yyyy"});
            $("#mobile").mask("(0899)-9999-999?9");
        });
//
//        $('.custom-upload input[type=file]').change(function(){
//            $(this).next().find('input').val($(this).val());
//        });

        $( window ).resize(function() {
//            banner

            if($(window).width() > 1023)
            {
                var banner = $('.banner').height();
                var bannerDesc = $('.banner-desc').height();
                var paddBanner = (banner - bannerDesc) / 2;
//            daftar lowongan
                var lowongan = $('.tabs-header').height();
                $('.tabs-desc > .tabs-content').css('height',lowongan);
//            formulir
                var formulir = $('.form-desc').height();
                $('.form-desc > form').css('height',formulir);
//            $('.custom-upload input[type=file]').change(function(){
//                $(this).next().find('input').val($(this).val());
//            });

//            $('.fake-file input').css('height',$('.fileUpload span img').height());
//            document.getElementById("uploadBtn").onchange = function () {
//                document.getElementById("uploadFile").value = this.value;
//            };
            }

            if (screen.width > 640) {
                $('.banner-desc').css('padding-top', paddBanner);
            } else {
                $('.banner-desc').css('padding-top', (banner - bannerDesc - 15));
            }
        });
        $(window).trigger('resize');

        function send(){
//            $('#exampleModal1').foundation('open');
        }

    </script>

{% endblock %}
