{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    {{ asset_css('custom/animations.css') | raw }}
    {{ parent() }}
    {{ asset_css('custom/tinyscrollbar.css') | raw }}
    {{ asset_css('custom/career.css') | raw }}
{% endblock %}
   {% block frontend_meta_twitter %}
       <meta name="twitter:card" content="summary">
       <meta property="og:title" content="Life At Otsuka" />
       <meta property="og:description" content="Bergabunglah dengan Otsuka dan bawa perubahan yang lebih baik untuk kesehatan di seluruh dunia." />
       <meta property="og:url" content="http://athena.microad.co.id/aio.co.id/id/career" />
       <meta property="og:image" content="{{ base_url() }}assets/img/career/otsuka_career_02.jpg" />
   {% endblock %}

    {% block frontend_meta_facebook %}
        <meta property="og:url"           content="http://athena.microad.co.id/aio.co.id/id/career" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Life At Otsuka" />
        <meta property="og:description"   content="Bergabunglah dengan Otsuka dan bawa perubahan yang lebih baik untuk kesehatan di seluruh dunia." />
        <meta property="og:image"         content="{{ base_url() }}assets/img/career/otsuka_career_02.jpg" />
    {% endblock %}
{% block frontend_content %}
    <div class="career">
        <div class="small-12 columns banner">
            {% for career in career_content %}
                <a href="{{ base_url() }}{{ current_lang }}/lifeatotsuka"><img src="{{ base_url() }}media/career/{{career.image}}"></a>
            {% endfor %}
        </div>
        <div class="row">
            <div class="columns socmed">
                <div class="large-2 small-6 small-offset-3 large-centered columns">
                    <div class="small-6 columns">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-share-button" data-href="http://athena.microad.co.id/aio.co.id/id/career" data-layout="button_count"></div>
                    </div>
                    <div class="small-6 columns">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </div>
                <hr class="large-11 large-centered columns"/>
            </div>
            <div class="columns career-description">
                <div class="large-6 columns">
                    <div class="large-12 columns">
                        <div class="list-desc">
                            <div class="title"><p>{{ lang('txt_career01') }}</p></div>
                            <div class="detail"><p>{{ lang('txt_career02') }}</p></div>
                        </div>
                        <div class="list-desc">
                            <div class="title"><p>{{ lang('txt_career03') }}</p></div>
                            <div class="detail"><p>{{ lang('txt_career04') }}</p></div>
                        </div>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="large-12 columns">
                        <div class="list-desc">
                            <div class="title"><p>{{ lang('txt_career05') }}</p></div>
                            <div class="detail"><p>{{ lang('txt_career06') }}</p></div>
                        </div>
                        <div class="list-desc">
                            <div class="title"><p>{{ lang('txt_career07') }}</p></div>
                            <div class="detail"><p>{{ lang('txt_career08') }}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns vacancy-and-apply animatedParent">
            <div class="row">
                <div class="columns">
                    <div class="vertical menu" data-magellan>
                        <div class="large-6 medium-6 small-6 columns text-center left">
                            <a href="#list-of-vacancy"><p>VACANCY</p><div class="icon-bottom"></div></a>
                        </div>
                        <div class="large-6 medium-6 small-6 columns text-center right">
                            <a href="#applying-form"><p>APPLYING FORM</p><div class="icon-bottom"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 35px;"></div>
            <div class="banner animated fadeInUp">
                <img src="{{ base_url() }}/assets/img/career/banner-career-vacancy.jpg">
            </div>
            <div class="row">
                <hr/>
                <div style="height: 40px"></div>
                <div class="sections">
                    <section id="list-of-vacancy" data-magellan-target="list-of-vacancy">
                        <div class="columns list-of-vacancy">
                            <div class="large-3 columns left animatedParent">
                                <hr class="large-4 end columns" style="margin: 0 auto 10px;border-color: #000!important;"/>
                                <div class="columns title animated fadeInUp">
                                    <p>LIST OF <br/><span>VACANCY</span></p>
                                </div>
                            </div>
                            <div class="large-9 columns right">
                                <div class="desc"><p>{{ lang('txt_career09') }}</p></div>
                                <div class="desc-2"><p>{{ lang('txt_career10') }}</p></div>
                                <div class="large-12 columns">
                                    <div id="scrollbar1" class="hide-for-small-only">
                                        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                        <div class="viewport">
                                            <div class="large-10 medium-10 small-10 columns overview">
                                                <ul class="accordion list-of-vacancy" data-accordion data-options="allowAllClosed: true">
                                                    {% for career in career_detail %}
                                                        <li class="accordion-item {{ career.id }}" data-accordion-item>
                                                            <a class="accordion-title">
                                                                <div class="title-vacancy">
                                                                    <p>{{ career.name }} - <span>{{ career.level }}.</span></p>
                                                                </div>
                                                                <div class="sub-title-vacancy">
                                                                    <p>{{ lang('txt_career11') }}: {{ career.location }} - <span>{{ lang('txt_career12') }}: {{ career.date }}</span></p>
                                                                </div>
                                                            </a>
                                                            <div class="accordion-content" data-tab-content>
                                                                <div class="coumns">
                                                                    {{ career.req }}
                                                                </div>
                                                                <div class="columns" style="text-align: right">
                                                                    <a href="#applying-form" class="btn-apply" data-job-position="{{ career.name }}">APPLY</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="scrollbar2" class="show-for-small-only">
                                        <div class="large-10 medium-10 small-10 columns overview">
                                            <ul class="accordion list-of-vacancy" data-accordion data-options="allowAllClosed: true">
                                                {% for career in career_detail %}
                                                    <li class="accordion-item {{ career.id }}" data-accordion-item>
                                                        <a class="accordion-title">
                                                            <div class="title-vacancy">
                                                                <p>{{ career.name }} - <span>{{ career.level }}.</span></p>
                                                            </div>
                                                            <div class="sub-title-vacancy">
                                                                <p>{{ lang('txt_career11') }}: {{ career.location }} - <span>{{ lang('txt_career12') }}: {{ career.date }}</span></p>
                                                            </div>
                                                        </a>
                                                        <div class="accordion-content" data-tab-content>
                                                            <div class="coumns">
                                                            {{ career.req }}
                                                            </div>
                                                            <div class="columns" style="text-align: right">
                                                                <a href="#applying-form" class="btn-apply" data-job-position="{{ career.name }}">APPLY</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div style="clear:both;height: 70px;"></div>
                    <hr style="border-width: 0px 0px 2px;"/>
                    <div style="clear:both;height: 70px;"></div>
                    <section id="applying-form" data-magellan-target="applying-form">
                        <div class="columns applying-form">
                            <div class="large-3 columns left animatedParent">
                                <div class="columns title animated fadeInUp">
                                    <p>APPLYING <br/><span>FORM</span></p>
                                </div>
                                <hr class="large-4 end columns" style="margin: 0 auto 10px;border-color: #000!important;"/>
                            </div>
                            <div class="large-9 small-12 columns right"style="background-color: #1c8db2">

                                {% if (flag == true) %}
                                    {% include "popup.twig" %}
                                {% else %}
                                <form role="form" id="applying-form" enctype="multipart/form-data" action="" name="applying-form" method="POST" class="large-12 columns">
                                    <div class="large-10 small-12 end columns">
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Posisi</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 end small-8 columns">
                                                <select name="application_position" id="job-title" class="large-12 columns">
                                                {% for career in career_detail %}
                                                    <option value="{{ career.name }}">{{ career.name }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Nama Lengkap</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 end small-8 columns">
                                                <input name="application_name" class="large-12 columns" required>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Tempat Lahir</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 end small-8 columns">
                                                <input name="application_place" class="large-12 columns" required>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Tanggal Lahir</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <div class="large-12 columns">
                                                    <input name="application_date" class="large-12 columns" placeholder="dd/mm/yyyy" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Jenis Kelamin</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <fieldset class="large-12 columns">
                                                    <input name="application_sex" type="radio" name="jenis-kelamin" value="laki-laki" id="jk-laki-laki" required checked><label for="jk-laki-laki">Laki-laki</label>
                                                    <input name="application_sex" type="radio" name="jenis-kelamin" value="Perempuan" id="jk-perempuan" required><label for="jk-perempuan">Perempuan</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Status</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <fieldset class="large-12 columns">
                                                    <input name="application_status" type="radio" value="belum-menikah" id="st-belum-menikah" required checked><label for="st-belum-menikah">Belum Menikah</label>
                                                    <input name="application_status" type="radio" value="menikah" id="st-menikah" required><label for="st-menikah">Menikah</label>
                                                    <input name="application_status" type="radio" value="cerai" id="st-cerai" required><label for="st-cerai">Janda/Duda</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Alamat</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <textarea name="application_address" class="large-12 columns" placeholder="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Kota</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <input name="application_city" class="large-12 columns" required>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Negara</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <select name="application_country" class="large-12 columns">
                                                    <option value="Indonesia">Indonesia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>No Handphone</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <input name="application_mobile" type="tel" id="mobile" class="large-12 columns" required>
                                            </div>
                                        </div>
                                        <div class="fill columns">
                                            <div class="large-2 large-offset-1 medium-2 medium-offset-1 small-3 columns">
                                                <label>Email</label>
                                            </div>
                                            <div class="large-1 medium-1 small-1 columns"><label>:</label></div>
                                            <div class="large-8 medium-8 small-8 end columns">
                                                <input name="application_email" type="email" class="large-12 columns" placeholder="yourname@yourdomain.com" required>
                                            </div>
                                        </div>
                                        <div class="fill large-6 large-offset-4 medium-6 medium-offset-4 small-12 end columns">
                                            <div class="large-5 medium-5 small-5 columns">
                                                <label>Upload File / Document</label>
                                            </div>
                                            <div class="large-7 end columns" style="margin-bottom: -14px;">
                                                <div class="large-12 columns custom-upload">
                                                    <input type="file" name="cv_file" accept="application/pdf, application/msword" required/>

                                                    <div class="fake-file">
                                                        <input disabled="disabled" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="font-size:10px; padding-top:-10px;color: #ffffff"><i>File type: .doc, .docx, .pdf (max 2 MB)</i></div>
                                            <div class="fill columns">
                                                <div class="medium-6 small-12 columns">
                                                    &nbsp;
                                                </div>
                                                <div class="medium-6 end small-12 columns">
                                                    <div class="g-recaptcha" style="position: relative;" data-sitekey="6LcOtBwTAAAAAMr8p2x6uA0BsIscnHqIiqmqHc07"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fill columns" style="text-align: right">
                                            <button class="send" type="send">SEND</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="show-for-small-only">
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {{ parent() }}
    {{ asset_js('css3-animate-it.js') }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    {{ asset_js('jquery.tinyscrollbar.js') | raw }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">

        jQuery(function($){
            $("#date").mask("99/99/9999", {placeholder: "dd/mm/yyyy"});
            $("#mobile").mask("(0899)-9999-999?9");
        });


        $(document).ready(function()
        {
            $('#scrollbar1').tinyscrollbar({ trackSize:170 , thumbSize:27 });
            var $scrollbar1 = $("#scrollbar1");
            $scrollbar1.tinyscrollbar();
            var $func_scrollbar_update = function(){
                var scrollbar1 = $scrollbar1.data("plugin_tinyscrollbar");
                scrollbar1.update();
            }
            $('[data-accordion]').on('down.zf.accordion', function() {
                setTimeout($func_scrollbar_update, 501);
            });
            $('[data-accordion]').on('up.zf.accordion', function() {
                setTimeout($func_scrollbar_update, 501);

            });
        });

        $('.custom-upload input[type=file]').change(function(){
            $(this).next().find('input').val($(this).val());
        });
//        popup
        $('form').submit(function(){
            $('#submitModal').foundation('reveal', 'open');
        });
//        end popup
        
        $( ".btn-apply" ).click(function() {
            var currpos = $(this).data('job-position');
            document.getElementById("job-title").value = currpos;
        });

        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{% endblock %}
