{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/career_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left career">
        <div class="row banner">
            <div class="medium-7 columns end nopadd">
                <img src="{{ base_url() }}/assets/css/images/career_banner.jpg"/>
            </div>
            <div class="medium-6 medium-offset-6 columns nopadd banner-desc">
                <div class="medium-8 columns end">Mari bergabung dengan PT Amerta Indah Otsuka & bersama membawa perubahan untuk masa depan yang lebih sehat. </div>
            </div>
            <div class="medium-12 columns title">
                <h2>Bergabung Dengan Kami</h2>
            </div>
        </div>
        <div class="medium-8 medium-offset-2 end columns nopadd custom-content form-section">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="columns title-section">
                        <p>PT. Amerta Indah Otsuka adalah bagian dari Otsuka Pharmaceutical Co., Ltd dengan produk terkemuka seperti Pocari Sweat dan SOYJOY. Otsuka memberikan apresiasi bagi orang-orang yang mempunyai keinginan untuk maju dan berani melakukan perubahan yang lebih baik.</p>
                    </div>
                </div>
                <div class="daftar-lowongan">
                    <div class="row collapse">
                        <div class="medium-3 columns tabs-header">
                            <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
                                <div class="daftar-title">DAFTAR <br/>LOWONGAN</div>
                            {% for career in career_detail %}
                                <li class="tabs-title {{ loop.first ? 'is-active' : '' }}"><a href="#panel{{ career.id }}v" aria-selected="true">{{ career.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="medium-9 columns tabs-desc">
                            <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                            {% for detail in career_detail %}
                                <div class="tabs-panel {{ loop.first ? 'is-active' : '' }}" id="panel{{ detail.id }}v">
                                    <div class="career-title">
                                        <div class="medium-9 columns">
                                            <p>{{ detail.level }}</p>
                                            <p>Lokasi: {{ detail.location }}</p>
                                        </div>
                                        <div class="medium-3 columns">
                                            <p>Batas Waktu: {{ detail.date }}</p>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="medium-12 columns career-req">
                                        <span>Requirements :</span>
                                        {#<ul>
                                            <li>Bachelor's Degree, Education MIPA (Chemistryl, Biology, Physics) or equivalent</li>
                                            <li>Age max. 26 years old</li>
                                            <li>Required language: English (Active)</li>
                                            <li>Minimum height 163cm with propotional weigh</li>
                                            <li>Willing to works at Cicurug Sukabumi</li>
                                        </ul>#}
                                        {{ detail.req }}
                                        Send your CV to:
                                        <span class="email">srahayu@aio.co.id</span> or <span class="email">asyarifatunisa@aio.co.id</span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row formulir">
        <div class="medium-8 medium-offset-2 end columns nopadd custom-content form-section">
            <div class="row">
                <div class="daftar-lowongan">
                    <div class="row collapse" data-equalizer="formulir">
                        <div class="medium-3 columns formulir-title" data-equalizer-watch="formulir">
                            <div class="daftar-title">FORMULIR <br/>PENDAFTARAN</div>
                            <img src="{{ base_url() }}/assets/css/images/ornamen-form.png"/>
                        </div>
                        <div class="medium-9 columns form-desc" data-equalizer-watch="formulir">
                            <form role="form" id="applying-form" enctype="multipart/form-data" action="" name="applying-form" method="POST" class="large-12 columns">
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                                </div>
                                <div class="medium-6 columns">
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Posisi <span>*</span>
                                            </div>
<<<<<<< HEAD
                                            <div class="medium-8 columns select">
                                                <select id="select" required>
                                                    <option value="volvo">Posisi 1</option>
                                                    <option value="saab">Posisi 2</option>
=======
                                            <div class="medium-8 columns">
                                                <select name="application_position" required>
                                                {% for career in career_detail %}
                                                    <option value="{{ career.name }}">{{ career.name }}</option>
                                                {% endfor %}
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                                </select>
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Nama Lengkap <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="nama" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input name="application_name" type="text" placeholder="nama" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Tempat Lahir <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="tempat lahir" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input name="application_place" type="text" placeholder="tempat lahir" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Tanggal Lahir <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="tanggal lahir" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input id="date" name="application_date" type="text" placeholder="dd/mm/yyyy" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Jenis Kelamin <span>*</span>
                                            </div>
<<<<<<< HEAD
                                            <div class="medium-8 columns select">
                                                <select id="select" required>
                                                    <option value="volvo">Pria</option>
                                                    <option value="saab">Wanita</option>
=======
                                            <div class="medium-8 columns">
                                                <select name="application_sex" required>
                                                    <option value="pria">Pria</option>
                                                    <option value="wanita">Wanita</option>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                                </select>
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Status <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="status" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                            </div>
                                            <div class="medium-8 columns" style="position: relative">
                                                <div class="fileUpload">
                                                    <span style="display: block;float: right"><img src="{{ base_url() }}/assets/css/images/icon-upload.png"/></span>
                                                    <input id="uploadBtn" type="file" class="upload" />

                                                    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                                                </div>
=======
                                                <select name="application_status" required>
                                                    <option value="belum-menikah">Belum Menikah</option>
                                                    <option value="menikah">Menikah</option>
                                                    <option value="cerai">Janda/Duda</option>
                                                </select>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="medium-6 columns">
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Alamat <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="alamat" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <textarea name="application_address" aria-describedby="exampleHelpText" required></textarea>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Kota <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="kota" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input name="application_city" type="text" placeholder="kota" aria-describedby="exampleHelpText" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Negara <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="negara" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <select name="application_country" required>
                                                    <option value="Indonesia">Indonesia</option>
                                                </select>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                No Telepon <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="no telepon" aria-describedby="exampleHelpText" required pattern="text">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input name="application_mobile" type="tel" id="mobile" placeholder="(08XX)-XXXX-XXXX" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                    <div class="small-12 columns">
                                        <label>
                                            <div class="medium-4 columns">
                                                Email <span>*</span>
                                            </div>
                                            <div class="medium-8 columns">
<<<<<<< HEAD
                                                <input type="text" placeholder="email" aria-describedby="exampleHelpText" required pattern="email">
                                                    <span class="form-error">
                                                      it's required.
                                                    </span>
=======
                                                <input name="application_email" type="email" placeholder="yourname@yourdomain.com" required>
                                            <span class="form-error">
                                              it's required.
                                            </span>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <button class="button" type="submit" value="Submit">
<<<<<<< HEAD
                                    <div class="medium-12 columns submit-form">
                                        <div class="medium-9 columns nopadd">
                                            <a href="#">Kirim Lamaran Kerja</a>
                                        </div>
                                        <div class="medium-3 columns nopadd">
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </div>
=======
                                <div class="medium-12 columns submit-form">
                                    <div class="medium-9 columns nopadd">
                                        {#<a href="#">Kirim Lamaran Kerja</a>#}
                                        <button type="send">Kirim Lamaran Kerja</button>
                                    </div>
                                    <div class="medium-3 columns nopadd">
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
>>>>>>> 5abfc7aa9ef2aeb7deec40fc22dfa890f0b3e35f
                                    </div>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('jquery.maskedinput.js') | raw }}
    <script>
        jQuery(function($){
            $("#date").mask("99/99/9999", {placeholder: "dd/mm/yyyy"});
            $("#mobile").mask("(0899)-9999-999?9");
        });
        
        $( window ).load(function() {
//            banner
            var banner = $('.banner').height();
            var bannerDesc = $('.banner-desc').height();
            var paddBanner = (banner - bannerDesc) / 2;
            $('.banner-desc').css('padding-top', paddBanner);
//            daftar lowongan
            var lowongan = $('.tabs-header').height();
            console.log(lowongan);
            $('.tabs-desc > .tabs-content').css('height',lowongan);
//            formulir
            var formulir = $('.form-desc').height();
            $('.form-desc > form').css('height',formulir);
//            $('.custom-upload input[type=file]').change(function(){
//                $(this).next().find('input').val($(this).val());
//            });
            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("uploadFile").value = this.value;
            };
        });
    </script>

{% endblock %}
