{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/lifeatotsuka_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left career">
        <div class="medium-12 columns title">
            <h2>Life At Amerta Indah Otsuka</h2>
        </div>
        <div class="row banner">
            <div class="medium-12 columns end nopadd">
                <img src="{{ base_url() }}/assets/css/images/banner-lifeatotsuka.jpg"/>
                <div class="medium-4 columns banner-desc">
                    Semangat & Nilai Positif Menghasilkan Senyum Keberhasilan
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row">
        <div class="medium-8 medium-offset-2 end columns custom-content" data-equalizer="direktur">
            <h2>Visi Kepemimpinan</h2>
            {% for vision in leadership_vision %}
                <div class="medium-6 columns" data-equalizer-watch="direktur">
                    <img src="{{ base_url() }}media/lao-photo/{{ vision.image }}" alt="{{ vision.name }}"/>
                </div>
                <div class="medium-6 columns presiden-quote" data-equalizer-watch="direktur" style="position: relative;background: #FFFFFF">
                    <div>
                        <div class="quote-content">
                            <p>"Kami secara kontinyu menciptakan diferensiasi dan melakukan lebih banyak inovasi hanya untuk membuat kami terlihat berbeda. Sepanjang perjalanan, kami terus berupaya mencoba menemukannya, kami mendedikasikan semua usaha dan waktu semata-mata hanya pada apa yang Otsuka bisa lakukan. Tentunya, demi kesehatan dunia yang lebih baik."</p>
                            <span>{{ vision.name }}, {{ vision.position }}</span>
                        </div>
                    </div>
                    <div class="ornamen" style=""></div>
                </div>
            {% endfor %}
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <h2>Filosopi Perusahaan</h2>
            <div class="title-section">
                <p>Kami berupaya keras dalam memanfaatkan aset dan keterampilan khusus untuk mengembangkan keberagaman solusi ilmiah yang berkontribusi demi kehidupan masyarakat dunia dalam bentuk produk yang inovatif dan kreatif. Dengan ini, kami ingin menumbuhkan iklim dan budaya perusahaan yang dinamis yang mencerminkan visi kami sebagai  perusahaan yang sehat.</p>
            </div>
            <div class="row">
            {% for philosophy in leadership_philosophy %}
                <div class="medium-4 columns">
                    <img src="{{ base_url() }}media/lao-photo/{{ philosophy.image }}" alt="{{ philosophy.title }}"/>
                    <div class="caption">{{ philosophy.title }}</div>
                </div>
            {% endfor %}
                {#<div class="medium-4 columns">
                    <img src="{{ base_url() }}/assets/css/images/bent-giant-cedar.jpg" alt="filosopi otsuka"/>
                    <div class="caption">Bent Giant Cedar</div>
                </div>
                <div class="medium-4 columns">
                    <img src="{{ base_url() }}/assets/css/images/floating-stones.jpg" alt="filosopi otsuka"/>
                    <div class="caption">Floating Stones</div>
                </div>#}
            </div>
            <div class="desc">
                <p>Monumen ini mewakili perwujudan filosofi Otsuka yang mengingatkan akan tempat kelahiran Otsuka di Tokushima dan menunjukkan pentingnya menjadi Kreatif dan Berpikir Terbuka terhadap ide-ide baru.</p>
            </div>
            <div class="row">
                <h2>Kesempatan yang setara</h2>
                <div class="title-section">
                    <p class="text-left">Keberagaman adalah awal dari Inovasi Sebagai individu, karyawan kami memiliki keunikan dan potensi yang berbeda-beda. PT Amerta Indah Otsuka senantiasa menghargai keberagaman, memberikan kesempatan yang sama bagi setiap individu tanpa memandang usia, jenis kelamin, agama, ras, dan kebangsaan untuk terus berkembang. Dengan semangat inilah, para karyawan PT Amerta Indah Otsuka bekerja secara profesional.</p>
                </div>
            </div>
            <div class="row">
                <h2>Kehidupan kerja di Otsuka</h2>
                <div class="title-section">
                    <p class="text-left">Karyawan merupakan aset utama kami, Untuk itu, kami senantiasa berusaha memberikan yang terbaik bagi karyawan dalam bentuk apresiasi ataupun fasilitas yang menunjang pekerjaan. Melalui program Talent Management, setiap karyawan diberi kesempatan untuk mengembangkan diri sesuai dengan potensinya. Tak hanya itu, PT Amerta Indah Otsuka juga membantu meningkatkan kualitas karyawannya dengan memberikan training khusus hingga beasiswa ke luar negeri.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row cerita-mereka">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="medium-12 columns">
                <div class="columns">
                    <div class="columns title">Cerita Mereka</div>
                </div>
            </div>
            <div class="medium-12 columns">
                <div class="row testimoni">
                    <div class="medium-10 medium-offset-1 end columns">
                        <p>Saya mulai bekerja di PT. Amerta Indah Otsuka pada bulan Juni 2013 sebagai IT Programmer Staff. Pertama masuk, saya sudah terkesan dengan suasana kerjanya menyenangkan. Karena PT Amerta Indah Otsuka adalah pengalaman bekerja saya yang pertama, banyak sekali hal yang saya pelajari di sini, termasuk bagaimana mencari solusi saat menghadapi masalah. Atasan yang adil dan bijaksana juga berperan besar dalam proses bekerja saya karena mereka tak hanya berperan sebagai mentor tetapi juga teman.</p>
                        <p>Tak ada kesan muram yang memberi kesan ‘serius’, yang mengintimidasi di lingkungan kantor PT Amerta Indah Otsuka. Suasana bekerja selalu hangat dan ceria dan hubungan dengan karyawan lain juga sangat erat dan kekeluargaan. Kegiatan keakraban yang diadakan PT Amerta Indah Otsuka mendorong karyawan untuk berkembang dan terbiasa mengutarakan pendapatnya dengan cara yang positif sehingga suasana kerja bisa terus menantang sekaligus nyaman.</p>
                    </div>
                    <div class="medium-12 columns" data-equalizer="story">
                        <div class="medium-3 columns each-story" data-equalizer-watch="story">
                            <div>
                                <img src="{{ base_url() }}/assets/css/images/hermawan-setyanto.jpg" alt="hermawan setyanto"/>
                                <div class="columns bio">
                                    <p>Hermawan Setyanto</p>
                                    <p>New Channel Development Executive, Jakarta</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="medium-3 columns each-story" data-equalizer-watch="story">
                            <div>
                                <img src="{{ base_url() }}/assets/css/images/tisya-rizka-aristia.jpg" alt="tisya rizka"/>
                                <div class="columns bio">
                                    <p>Tisya Rizka Aristia</p>
                                    <p>Tax Department, Jakarta</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="medium-3 columns each-story" data-equalizer-watch="story">
                            <div>
                                <img src="{{ base_url() }}/assets/css/images/marsha-hafiamsa-wasisto.jpg" alt="marsha hafiamsa"/>
                                <div class="columns bio">
                                    <p>Marsha Hafiamsa Wasisto</p>
                                    <p>IT Business Application, Jakarta</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="medium-3 columns each-story" data-equalizer-watch="story">
                            <div>
                                <img src="{{ base_url() }}/assets/css/images/jonathan-lukasanto.jpg" alt="jonathan lukasanto"/>
                                <div class="columns bio">
                                    <p>Jonathan Lukasanto</p>
                                    <p>Key Account Development, Jakarta</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-12 columns bergabung">
            <a href="#">
                <div class="medium-3 medium-centered columns">
                Bergabung dengan kami
                </div>
            </a>
        </div>
    </div>
    <div class="expanded row cerita" data-equalizer="cerita">
        <div class="medium-8 medium-offset-2 end columns custom-content">
            <div class="medium-12 columns">
                <div class="columns">
                    <div class="columns title">Cerita Mereka</div>
                </div>
            </div>
            <div class="row collapse" data-equalizer="cerita-tab">
                <div class="medium-12 columns cerita-wrap" data-equalizer-watch="cerita-tab">
                    <ul class="tabs" id="example-vert-tabs" data-tabs data-equalizer-watch="cerita-tab">
                        <li class="medium-3 columns tabs-title is-active">
                            <a href="#panel1v" aria-selected="true" data-equalizer-watch="cerita">
                                <div>
                                    <img src="{{ base_url() }}/assets/css/images/hermawan-setyanto.jpg" alt="hermawan setyanto"/>
                                    <div class="columns bio">
                                        <p>Hermawan Setyanto</p>
                                        <p>New Channel Development Executive, Jakarta</p>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </a>
                        </li>
                        <li class="medium-3 columns tabs-title">
                            <a href="#panel2v" data-equalizer-watch="cerita">
                                <div>
                                    <img src="{{ base_url() }}/assets/css/images/tisya-rizka-aristia.jpg" alt="tisya rizka"/>
                                    <div class="columns bio">
                                        <p>Tisya Rizka Aristia</p>
                                        <p>Tax Department, Jakarta</p>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </a>
                        </li>
                        <li class="medium-3 columns tabs-title">
                            <a href="#panel3v" data-equalizer-watch="cerita">
                                <div>
                                    <img src="{{ base_url() }}/assets/css/images/marsha-hafiamsa-wasisto.jpg" alt="marsha hafiamsa"/>
                                    <div class="columns bio">
                                        <p>Marsha Hafiamsa Wasisto</p>
                                        <p>IT Business Application, Jakarta</p>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </a>
                        </li>
                        <li class="medium-3 columns tabs-title">
                            <a href="#panel4v" data-equalizer-watch="cerita">
                                <img src="{{ base_url() }}/assets/css/images/jonathan-lukasanto.jpg" alt="jonathan lukasanto"/>
                                <div class="columns bio">
                                    <p>Jonathan Lukasanto</p>
                                    <p>Key Account Development, Jakarta</p>
                                </div>
                                <div style="clear: both"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="medium-12 columns">
                    <div class="tabs-content" data-tabs-content="example-vert-tabs">
                        <div class="tabs-panel is-active" id="panel1v">
                            <p>Saya sudah satu tahun bekerja di PT. Amerta Indah Otsuka. Bekerja di perusahaan kelas dunia seperti PT. Amerta Indah Otsuka bukan hanya membanggakan tetapi juga mendorong saya untuk selalu semangat bekerja agar bisa menggapai impian. Selain lingkungan bekerja yang nyaman, rekan kerja yang menyenangkan, juga banyak ilmu yang saya dapatkan, misalnya bagaimana cara bernegosiasi yang cermat dan menguntungkan semua pihak. Saya termotivasi sekali bekerja di sini.</p>
                            <p>Ketika seseorang mencari pekerjaan, kebanyakan parameter yang digunakan adalah penghasilan, jenjang karir, dan fasilitas. Menurut saya, poin-poin tadi terpenuhi dengan baik di PT. Amerta Indah Otsuka. Selain itu, setiap karyawan mendapat banyak keuntungan yang tidak hanya dari segi finansial tetapi juga dalam bentuk pembentukan karakter yang akan menunjang karir.</p>
                        </div>
                        <div class="tabs-panel" id="panel2v">
                            <p>Sudah 3 Tahun 8 bulan saya bergabung dengan keluarga besar PT. Amerta Indah Otsuka. Awal bergabung, saya hanya anak magang selama 2 bulan di Tax Department. Awalnya saya sangat kesulitan mengimbangi ritme kerjanya yang serba harus cepat, sigap, cekatan dan teliti. Karena saya hanya anak magang yang memang belum pernah terjun ke dunia kerja. Kaget? Pasti. Bagaimana saya harus bisa menyelesaikan pekerjaan yang di percayakan kepada saya? bagaimana apabila saya melakukan kesalahan dalam mengerjakannya?</p>
                            <p>Disinilah saya merasa beruntung karena memiliki rekan-rekan kerja yang siap membantu dan membimbing saya. Seluruh karyawan PT. Amerta Indah Otsuka akan siap membantu apabila saya mengalami kesulitan, tidak segan-segan untuk membagi ilmu. Menerima masukan dari siapapun selama kita memiliki dasar yang kuat. Tidak pernah pelit ilmu, karena dengan senang hati akan mengajari. Pekerjaan tidak akan terasa berat apabila mendapatkan suasana kerja yang nyaman dan menyenangkan. Karena alasan ini jugalah saya memutuskan untuk menerima kesempatan untuk menjadi anggota keluarga besar PT. Amerta Indah Otsuka sebagai karyawan.</p>
                        </div>
                        <div class="tabs-panel" id="panel3v">
                            <p>Saya mulai bekerja di PT. Amerta Indah Otsuka pada bulan Juni 2013 sebagai IT Programmer Staff. Pertama masuk, saya sudah terkesan dengan suasana kerjanya menyenangkan. Karena PT Amerta Indah Otsuka adalah pengalaman bekerja saya yang pertama, banyak sekali hal yang saya pelajari di sini, termasuk bagaimana mencari solusi saat menghadapi masalah. Atasan yang adil dan bijaksana juga berperan besar dalam proses bekerja saya karena mereka tak hanya berperan sebagai mentor tetapi juga teman.</p>
                            <p>Tak ada kesan muram yang memberi kesan ‘serius’, yang mengintimidasi di lingkungan kantor PT Amerta Indah Otsuka. Suasana bekerja selalu hangat dan ceria dan hubungan dengan karyawan lain juga sangat erat dan kekeluargaan. Kegiatan keakraban yang diadakan PT Amerta Indah Otsuka mendorong karyawan untuk berkembang dan terbiasa mengutarakan pendapatnya dengan cara yang positif sehingga suasana kerja bisa terus menantang sekaligus nyaman.</p>
                        </div>
                        <div class="tabs-panel" id="panel4v">
                            <p>Tahun pertama saya di PT.Amerta Indah Otsuka menjadi pengalaman yang berkesan dan membuat saya berdedikasi pada pekerjaan. PT.Amerta Indah Otsuka adalah tempat dimana saya bisa berkontribusi bagi kesuksesan perusahaan dengan cara bekerja dengan tim yang terbaik, dengan keleluasaan dalam mengeksplorasi ide-ide seru yang kemudian direalisasikan dalam proyek-proyek kami.</p>
                            <p>Saya bergabung dengan Program Key Account Development pada tahun 2014. Dengan cepat saya merasa sangat tertantang. Pekerjaan ini memberi kesempatan bagi saya untuk banyak belajar mengenai hal-hal baru. Tidak hanya tentang Key Account, tapi juga bagaimana Marketing bisa sukses bekerja dengan tim digital, tenaga pemasaran, berkolaborasi dengan berbagai pihak, bernegosiasi, dan sebagainya.</p>
                            <p>Hanya di PT.Amerta Indah Otsuka  dimana semua orang mendapat kesempatan yang sama untuk mengutarakan pendapat dan kami memanfaatkannya untuk selalu berusaha menjalankan visi terbaik yang kami miliki dan mengembangkan cara-cara baru untuk kesuksesan bersama.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>
        $( window ).load(function() {
        });
    </script>

{% endblock %}
