{% extends "pages/views/template_frontend_new.twig" %}

{% block frontend_css %}
    {{ parent() }}
    {{ asset_css('custom/lifeatotsuka_new.css') | raw }}
{% endblock %}
{% block frontend_content %}
    <div class="expanded row custom-left career">
        <div class="medium-12 columns title">
            <h2>LIFE AT AMERTA INDAH OTSUKA</h2>
        </div>
        <div class="row banner">
            <div class="medium-12 columns end nopadd">
                <img src="{{ base_url() }}/assets/css/images/banner-lifeatotsuka.jpg"/>
                <div class="medium-4 small-10 columns banner-desc">
                    <div class="desc-content">
                        {{ lang('lao_title') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row">
        <div class="medium-8 medium-offset-2 end columns custom-content" data-equalizer="direktur" data-equalize-on="large">
            <h2>{{ lang('lao_vision') }}</h2>
            {% for vision in leadership_vision %}
                <div class="large-6 columns" data-equalizer-watch="direktur">
                    {#<img src="{{ base_url() }}media/lao-photo/{{ vision.image }}" alt="{{ vision.name }}"/>#}
                    <img src="{{ base_url() }}/assets/css/images/prayugo-gunawan.jpg"/>
                </div>
                <div class="large-6 columns presiden-quote" data-equalizer-watch="direktur" style="position: relative;background: #FFFFFF">
                    <div>
                        <div class="quote-content">
                            {{ lang('lao_msg') }}
                            <span>{{ vision.name }}, {{ vision.position }}</span>
                        </div>
                    </div>
                    <div class="ornamen" style=""></div>
                </div>
            {% endfor %}
        </div>
        <div class="medium-8 medium-offset-2 end columns custom-content lao-filosofi">
            <h2>{{ lang('lao_filosofi2') }}</h2>
            <div class="title-section">
                {{ lang('lao_filosofi') }}
            </div>
            <div class="row">
            {% for philosophy in leadership_philosophy %}
                <div class="medium-4 columns">
                    <img style="width: 100%" src="{{ base_url() }}media/lao-photo/{{ philosophy.image }}" alt="{{ philosophy.title }}"/>
                    <div class="caption">{{ philosophy.title }}</div>
                </div>
            {% endfor %}
                {#<div class="medium-4 columns">
                    <img src="{{ base_url() }}/assets/css/images/bent-giant-cedar.jpg" alt="filosopi otsuka"/>
                    <div class="caption">Bent Giant Cedar</div>
                </div>
                <div class="medium-4 columns">
                    <img src="{{ base_url() }}/assets/css/images/floating-stones.jpg" alt="filosopi otsuka"/>
                    <div class="caption">Floating Stones</div>
                </div>#}
            </div>
            <div class="desc">
                {{ lang('lao_desc') }}
            </div>
            <div class="row sub-title">
                <h2>{{ lang('lao_title2') }}</h2>
                <div class="title-section">
                    {{ lang('lao_desc2') }}
                </div>
            </div>
            <div class="row sub-title">
                <h2>{{ lang('lao_title3') }}</h2>
                <div class="title-section">
                    {{ lang('lao_desc3') }}
                </div>
            </div>
        </div>
    </div>
    <div class="expanded row cerita" data-equalizer="cerita">
        <div class="medium-8 medium-offset-2 end columns custom-content ">
            <div class="medium-12 columns">
                <div class="columns">
                    <div class="columns title">{{ lang('lao_story') }}</div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="row collapse show-for-medium">
                <div class="medium-12 columns cerita-wrap">
                    <ul class="tabs" id="example-vert-tabs" data-tabs>
                    {% for lao in lao_data %}
                        <li class="medium-3 columns tabs-title {{ loop.first ? 'is-active' : '' }}">
                            <a href="#panel{{ lao.count }}v" aria-selected="true" data-equalizer-watch="cerita">
                                <div>
                                    <img src="{{ base_url() }}media/lao-photo/{{ lao.photo }}" alt="{{ lao.name }}"/>
                                    <div class="columns bio">
                                        <p>{{ lao.name }}</p>
                                        <p>{{ lao.job }}, {{ lao.location }}</p>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="medium-12 columns ">
                    <div class="tabs-content" data-tabs-content="example-vert-tabs">
                    {% for lao in lao_data %}
                        <div class="tabs-panel {{ loop.first ? 'is-active' : '' }}" id="panel{{ lao.count }}v">
                            <img class="quote" src="{{ base_url() }}/assets/img/home/quote.jpg"/>
                            <p>{{ lao.story }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row collapse hide-for-medium">
                <ul class="accordion" data-accordion>
                    {% for lao in lao_data %}
                        <li class="accordion-item {{ loop.first ? 'is-active' : '' }}" data-accordion-item>
                            <a href="#" class="accordion-title">{{ lao.name }}</a>
                            <div class="accordion-content" data-tab-content>
                                <div>
                                    <div class="text-center">
                                        <img src="{{ base_url() }}media/lao-photo/{{ lao.photo }}" alt="{{ lao.name }}"/>
                                    </div>
                                    <div class="columns bio">
                                        <p>{{ lao.name }}</p>
                                        <p>{{ lao.job }}, {{ lao.location }}</p>
                                        <div class="lao-story">
                                            {{ lao.story }}
                                        </div>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <!-- ... -->
                </ul>
            </div>
            <div class="lao-button">
                <a href="{{ base_url() }}{{ current_lang }}/career-new" class="button">{{ lang('lao_join') }} <span><img src="{{ base_url() }}/assets/css/images/explorion-arrow.png" alt="" title=""/></span></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {{ parent() }}
    <script>
        $( window ).load(function() {
        });
    </script>

{% endblock %}
